[Desktop Entry]
Exec=kcmshell5 kcm_colors
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kcm_colors
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=40

Name=Colors
Name[az]=Rənglər
Name[ca]=Colors
Name[de]=Farben
Name[es]=Colores
Name[eu]=Koloreak
Name[fr]=Couleurs
Name[it]=Colori
Name[nl]=Kleuren
Name[nn]=Fargar
Name[pt]=Cores
Name[pt_BR]=Cores
Name[ro]=Culori
Name[sl]=Barve
Name[sv]=Färger
Name[uk]=Кольори
Name[x-test]=xxColorsxx

Comment=Choose color scheme
Comment[az]=Rəng sxemini seçmək
Comment[ca]=Trieu l'esquema de color
Comment[de]=Farbschema auswählen
Comment[es]=Escoger un esquema de color
Comment[eu]=Hautatu kolore-antolaera
Comment[fr]=Choisissez le schéma de couleurs
Comment[it]=Scegli lo schema di colori
Comment[nl]=Kleurenschema kiezen
Comment[nn]=Vel fargeoppsett
Comment[pt]=Escolher o esquema de cores
Comment[pt_BR]=Escolha o esquema de cores
Comment[ro]=Alege schema de culori
Comment[sl]=Izberite barvno shemo
Comment[sv]=Välj färgschema
Comment[uk]=Вибір схеми кольорів
Comment[x-test]=xxChoose color schemexx


X-KDE-Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[az]=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme rənglər, rənglər, sxem, kontrast, Widget rəngləri, Rəng sxemi, rəng tərzi, rəng mövzusu
X-KDE-Keywords[ca]=colors,esquema,contrast,colors d'estris,esquema de color,estil de color, tema de color
X-KDE-Keywords[de]=Farben,Schema,Kontrast,Farbschema,Elemente
X-KDE-Keywords[es]=colores,esquema,contraste,colores de los widgets,colores de los elementos gráficos,esquema de color,estilo de color,tema de color
X-KDE-Keywords[eu]=koloreak,antolaera,kontrastea,trepeten koloreak,kolore-antolaera,kolore-estilo, kolorearen gaia
X-KDE-Keywords[fr]=couleurs, couleurs, thème, contraste, couleurs des composants graphiques, schéma de couleur, style de couleur, thème de couleurs
X-KDE-Keywords[it]=colori,schema,contrasto,colore degli oggetti,schema di colore,stile colore,tema colore
X-KDE-Keywords[nl]=colors,colours, kleuren,scheme,schema,contrast,Widget colors,Widgetkleuren,Color Scheme,kleurschema,kleurstijl,kleurthema
X-KDE-Keywords[nn]=fargar,oppsett,kontrast,elementfargar,fargeoppsett,fargestil,fargetema
X-KDE-Keywords[pt]=cores,esquema,contraste,cores do elemento gráfico,esquema de cores,estilo de cores,tema de cores
X-KDE-Keywords[pt_BR]=cor,cores,esquema,contraste,Cores do widget,Esquema de cores,estilo de cores,tema de cores
X-KDE-Keywords[ro]=culori,culoare,schemă,contrast,culori controale,schema de culori,stil culori,tematică culori,temă culori
X-KDE-Keywords[sl]=barve,sheme,kontrast,gradnik,barve gradnikov,barvne sheme,barvni slog,barvna tema
X-KDE-Keywords[sv]=färger,schema,kontrast,Komponentfärger,Färgschema,färgstil,färgtema
X-KDE-Keywords[uk]=кольори,кольори,схема,контраст,кольори віджетів,схема кольорів,стиль кольорів,тема кольорів,colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[x-test]=xxcolorsxx,xxcoloursxx,xxschemexx,xxcontrastxx,xxWidget colorsxx,xxColor Schemexx,xxcolor stylexx,xxcolor themexx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
