[Desktop Entry]
Exec=kcmshell5 kcm_colors
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kcm_colors
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=40

Name=Colors
Name[az]=Rənglər
Name[ca]=Colors
Name[cs]=Barvy
Name[da]=Farver
Name[de]=Farben
Name[en_GB]=Colours
Name[es]=Colores
Name[et]=Värvid
Name[eu]=Koloreak
Name[fi]=Värit
Name[fr]=Couleurs
Name[hu]=Színek
Name[ia]=Colores
Name[it]=Colori
Name[ko]=색상
Name[nl]=Kleuren
Name[nn]=Fargar
Name[pl]=Kolory
Name[pt]=Cores
Name[pt_BR]=Cores
Name[ro]=Culori
Name[ru]=Цвета
Name[sk]=Farby
Name[sl]=Barve
Name[sv]=Färger
Name[tg]=Рангҳо
Name[uk]=Кольори
Name[vi]=Màu
Name[x-test]=xxColorsxx
Name[zh_CN]=颜色

Comment=Choose color scheme
Comment[az]=Rəng sxemini seçmək
Comment[ca]=Trieu l'esquema de color
Comment[cs]=Vyberte barevné schéma
Comment[da]=Vælg farveskema
Comment[de]=Farbschema auswählen
Comment[en_GB]=Choose colour scheme
Comment[es]=Escoger un esquema de color
Comment[et]=Värviskeemi valimine
Comment[eu]=Hautatu kolore-antolaera
Comment[fi]=Valitse väriteema
Comment[fr]=Choisissez le schéma de couleurs
Comment[hu]=Színséma kiválasztása
Comment[ia]=Selige schema de color
Comment[it]=Scegli lo schema di colori
Comment[ko]=색 배열 선택
Comment[nl]=Kleurenschema kiezen
Comment[nn]=Vel fargeoppsett
Comment[pl]=Wybierz zestaw kolorów
Comment[pt]=Escolher o esquema de cores
Comment[pt_BR]=Escolha o esquema de cores
Comment[ro]=Alege schema de culori
Comment[ru]=Выбор цветовой схемы
Comment[sk]=Vybrať farebnú schému
Comment[sl]=Izberite barvno shemo
Comment[sv]=Välj färgschema
Comment[uk]=Вибір схеми кольорів
Comment[vi]=Chọn quy hoạch màu
Comment[x-test]=xxChoose color schemexx
Comment[zh_CN]=选择配色方案


X-KDE-Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[az]=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme rənglər, rənglər, sxem, kontrast, Widget rəngləri, Rəng sxemi, rəng tərzi, rəng mövzusu
X-KDE-Keywords[ca]=colors,esquema,contrast,colors de giny,esquema de color,estil de color, tema de color
X-KDE-Keywords[da]=farver,tema,kontrast,widget-farver,farvetema,farvestil,farveskema
X-KDE-Keywords[de]=Farben,Schema,Kontrast,Farbschema,Elemente
X-KDE-Keywords[en_GB]=colours,scheme,contrast,Widget colours,Colour Scheme,colour style,colour theme
X-KDE-Keywords[es]=colores,esquema,contraste,colores de los widgets,colores de los elementos gráficos,esquema de color,estilo de color,tema de color
X-KDE-Keywords[et]=värv,värvid,skeem,kontrast,vidina värvid,värviskeem,värvistiil,värviteema
X-KDE-Keywords[eu]=koloreak,antolaera,kontrastea,trepeten koloreak,kolore-antolaera,kolore-estilo, kolorearen gaia
X-KDE-Keywords[fi]=värit,teema,kontrasti,elementtivärit,väriteema,värityyli,värimalli
X-KDE-Keywords[fr]=couleurs, couleurs, thème, contraste, couleurs des composants graphiques, schéma de couleur, style de couleur, thème de couleurs
X-KDE-Keywords[hu]=színek,színek,séma,kontraszt,widgetszínek,Színséma,színstílus,színtéma
X-KDE-Keywords[ia]=colores,colores,schema,contrasto,colores de Widget,Schema de Color,stilo de color, thema de color
X-KDE-Keywords[it]=colori,schema,contrasto,colore degli oggetti,schema di colore,stile colore,tema colore
X-KDE-Keywords[ko]=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme,색,색 배열,고대비
X-KDE-Keywords[nl]=colors,colours, kleuren,scheme,schema,contrast,Widget colors,Widgetkleuren,Color Scheme,kleurschema,kleurstijl,kleurthema
X-KDE-Keywords[nn]=fargar,oppsett,kontrast,elementfargar,fargeoppsett,fargestil,fargetema
X-KDE-Keywords[pl]=kolory,schemat,kontrast,kolory elementów interfejsu,zestaw kolorów,styl kolorów,motyw kolorów
X-KDE-Keywords[pt]=cores,esquema,contraste,cores do elemento gráfico,esquema de cores,estilo de cores,tema de cores
X-KDE-Keywords[pt_BR]=cor,cores,esquema,contraste,Cores do widget,Esquema de cores,estilo de cores,tema de cores
X-KDE-Keywords[ro]=culori,culoare,schemă,contrast,culori controale,schema de culori,stil culori,tematică culori,temă culori
X-KDE-Keywords[ru]=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme,цвет,цвета,схема,контраст,цвета виджета,цветовая схема,цветовой стиль,цветовая тема
X-KDE-Keywords[sk]=farba,farby,schéma,kontrast,farby widgetov,farebná schéma,farebný štýl,farebná téma
X-KDE-Keywords[sl]=barve,sheme,kontrast,gradnik,barve gradnikov,barvne sheme,barvni slog,barvna tema
X-KDE-Keywords[sv]=färger,schema,kontrast,Komponentfärger,Färgschema,färgstil,färgtema
X-KDE-Keywords[uk]=кольори,кольори,схема,контраст,кольори віджетів,схема кольорів,стиль кольорів,тема кольорів,colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[vi]=color,colours,màu,sắc,scheme,quy hoạch,contrast,tương phản,Widget colors, màu phụ kiện,Color Scheme,quy hoạch màu,color style,kiểu cách màu,color theme,chủ đề màu
X-KDE-Keywords[x-test]=xxcolorsxx,xxcoloursxx,xxschemexx,xxcontrastxx,xxWidget colorsxx,xxColor Schemexx,xxcolor stylexx,xxcolor themexx
X-KDE-Keywords[zh_CN]=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme,颜色,配色方案,对比度,部件颜色,颜色方案,颜色风格,颜色主题

Categories=Qt;KDE;X-KDE-settings-looknfeel;
