[Desktop Entry]
Name=Plasma Windowed
Comment=Run Plasmoids as simple applications

Exec=plasmawindowed %u
Terminal=false
Hidden=true
Icon=plasma
Type=Application
X-DBUS-StartupType=Unique
InitialPreference=1
