[Desktop Entry]
Comment=Desktop Design Language
Comment[ca]=Llenguatge de disseny d'escriptori
Comment[ca@valencia]=Llenguatge de disseny d'escriptori
Comment[cs]=Jazyk pro návrh pracovní plochy
Comment[da]=Sprog til skrivebordsdesign
Comment[de]=Sprache für die Entwicklung der Arbeitsfläche
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας
Comment[es]=Lenguaje de diseño del escritorio
Comment[eu]=Mahaigaina diseinatzeko lengoaia
Comment[fi]=Työpöydän design-kieli
Comment[fr]=Langue de conception du bureau
Comment[gl]=Linguaxe de deseño do escritorio
Comment[hu]=Munkaasztal tervezési nyelv
Comment[ia]=Linguage de dessigno de scriptorio
Comment[kk]=Үстелді құрастыру тілі
Comment[ko]=데스크톱 디자인 언어
Comment[nb]=Språk for skrivebordsdesign
Comment[nds]=Schriefdisch-Utleggspraak
Comment[nl]=Ontwerptaal van het bureaublad
Comment[pa]=ਡੈਸਕਟਾਪ ਡਿਜ਼ਾਇਨ ਭਾਸ਼ਾ
Comment[pl]=Język projektowania pulpitu
Comment[pt]=Linguagem de Desenho do Ecrã
Comment[pt_BR]=Linguagem de desenho da área de trabalho
Comment[sk]=Jazyk dizajnu plochy
Comment[sl]=Jezik zasnove namizja
Comment[sr]=Језик дизајна површи
Comment[sr@ijekavian]=Језик дизајна површи
Comment[sr@ijekavianlatin]=Jezik dizajna površi
Comment[sr@latin]=Jezik dizajna površi
Comment[sv]=Konstruktionsspråk för skrivbord
Comment[tr]=Masaüstü Tasarım Dili
Comment[uk]=Мова розробки для стільниці
Comment[x-test]=xxDesktop Design Languagexx
Comment[zh_CN]=桌面设计语言
Comment[zh_TW]=桌面設計語言
Encoding=UTF-8
Keywords=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate,
Keywords[ca]=Escriptori, Espai de treball, Aparença, Aparença i comportament, Sortida, Bloqueig, Suspensió, Aturada, Hibernació,
Keywords[ca@valencia]=Escriptori, Espai de treball, Aparença, Aparença i comportament, Eixida, Bloqueig, Suspensió, Parada, Hibernació,
Keywords[da]=Skrivebord, Desktop, Arbejdsområde, Udseende, log ud, Lås, Suspendér, Nedlukning, dvale,
Keywords[de]=Desktop,Arbeitsfläche,Erscheinungsbild,Erscheinungsbild und Verhalten,Abmelden,Sperren,Ruhezustand,Tiefschlaf,Herunterfahren
Keywords[el]=Επιφάνεια εργασίας, Χώρος εργασίας, Εμφάνιση, Όψη και Αίσθηση, Αποσύνδεση, Κλείδωμα, Αναστολή, Τερματισμός, Νάρκη,
Keywords[es]=Escritorio, Espacio de trabajo, Apariencia, Aspecto visual, Cerrar sesión, Bloquear, Suspender, Apagar, Hibernar,
Keywords[eu]=Mahaigaina, laneko eremua, itxura, itxura eta izaera, saioa-bukatu, giltzatu, blokeatu, eseki, itzali, hibernatu.
Keywords[fi]=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate, Työpöytä, Työtila, Ulkoasu, Ulkoasu ja tuntuma, Kirjaudu ulos, Lukitse, Valmiustila, Sammuta, Lepotila
Keywords[fr]=Bureau, Espace de travail, apparence, sensation, déconnexion, verrouillage, suspension, arrêt, hibernation
Keywords[gl]=Escritorio, Espazo de traballo, Aparencia, Aparencia e Comportamento, Saír, Trancar, Bloquear, Suspender, Apagar, Hibernar
Keywords[hu]=Asztal, Munkaterület, Megjelenés, Kinézet, Kijelentkezés, Zárolás, Felfüggesztés, Leállítás, Hibernálás
Keywords[ia]=Scriptorio, Spatio de labor, Apparentia, Semblantia, Abandono,Bloco,Suspension, Claude, Hiberna,
Keywords[kk]=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate,
Keywords[ko]=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate,데스크톱,작업공간,모양,로그아웃,잠금,대기모드,종료,끄기,최대절전모드
Keywords[nb]=Skrivebord, Arbeidsflate, Utseende, Utseende og oppførsel, Logg ut, Lås, Hvile, Slå av, Dvale,
Keywords[nds]=Schreifdisch,Arbeitrebeet,Utsehn,Bedenen,afmellen,afsluten,utsetten,infreren,utmaken
Keywords[nl]=Bureaublad, werkruimte, uiterlijk, uiterlijk en gedrag, afmelden, vergrendelen, onderbreken, afsluiten, slapen,
Keywords[pl]=Pulpit, Przestrzeń robocza, Wygląd, Wygląd i Odczucia, Wylogowanie, Zablokowanie , Wstrzymanie, Zamknięcie, Hibernowanie,
Keywords[pt]=Ecrã, Área de Trabalho, Aparência, Aparência e Comportamento, Encerrar, Bloquear, Suspender, Desligar, Hibernar,
Keywords[pt_BR]=Área de trabalho, Espaço de trabalho, Aparência, Aparência e Comportamento, Encerrar sessão, Bloquear, Suspender, Desligar, Hibernar,
Keywords[sk]=Plocha, pracovná plocha, vzhľad, nastavenie, odhlásenie, zamknutie, uspanie, vypnutie, hibernácia,
Keywords[sl]=Namizje, delovni prostor, videz, videz in občutek, odjava, zaklep, pripravljenost, izklop, mirovanje,
Keywords[sr]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање
Keywords[sr@ijekavian]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање
Keywords[sr@ijekavianlatin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje
Keywords[sr@latin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje
Keywords[sv]=Skrivbord, Arbetsyta, Utseende, Utseende och känsla, Utloggning, Lås, Viloläge, Avstängning, Dvala,
Keywords[tr]=Masaüstü, Çalışma Alanı, Görünüm, Bak ve Hisset, Çık, Kilitle, Askıya Al, Kapat, Uyku,
Keywords[uk]=стільниця;робочий;простір;вигляд;поведінка;вихід;блокування;призупинення;призупинка;присипляння;вимикання;Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[x-test]=xxDesktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate,xx
Keywords[zh_TW]=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate,
Name=Look and Feel
Name[ca]=Aspecte i comportament
Name[ca@valencia]=Aspecte i comportament
Name[cs]=Vzhled a dojem
Name[da]=Udseende og fremtoning
Name[de]=Erscheinungsbild und Verhalten
Name[el]=Όψη και αίσθηση
Name[es]=Aspecto visual
Name[eu]=Itxura eta Izaera
Name[fi]=Ulkoasu ja tuntuma
Name[fr]=Apparence
Name[gl]=Aparencia e comportamento
Name[hu]=Megjelenés
Name[ia]=Semblantia
Name[kk]=Сыртқы көрнісі
Name[ko]=모습과 느낌
Name[nb]=Utseende og oppførsel
Name[nds]=Utsehn un Bedenen
Name[nl]=Uiterlijk en gedrag
Name[pa]=ਦਿੱਖ ਅਤੇ ਮਹਿਸੂਸ
Name[pl]=Wygląd i odczucia
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência e comportamento
Name[ro]=Aspect și comportament
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sr]=Изглед и осећај
Name[sr@ijekavian]=Изглед и осећај
Name[sr@ijekavianlatin]=Izgled i osećaj
Name[sr@latin]=Izgled i osećaj
Name[sv]=Utseende och känsla
Name[tr]=Bakın ve Hissedin
Name[uk]=Вигляд і поведінка
Name[x-test]=xxLook and Feelxx
Name[zh_CN]=观感
Name[zh_TW]=外觀與感覺
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.lookandfeel
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
