[Desktop Entry]
Comment=Breeze Desktop Design Language by the KDE VDG
Comment[ca]=Llenguatge de disseny d'escriptori Brisa pel VDG del KDE
Comment[cs]=Jazyk pro návrh pracovní plochy Breeze od KDE VDG
Comment[de]=Breeze-Arbeitsflächendesign der KDE VG
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας Breeze από το KDE VDG
Comment[en_GB]=Breeze Desktop Design Language by the KDE VDG
Comment[es]=Lenguaje de diseño del escritorio Breeze, por el VDG de KDE
Comment[fi]=Työpöydän design-kieli Breeze KDE VDG:ltä
Comment[hu]=Breeze asztali designnyelv a KDE VDG-től
Comment[lt]=Breeze darbastalio dizaino kalba, kurią sukūrė KDE VDG
Comment[nb]=Breeze-språk for skrivebordsutforming  fra KDE-gruppa for visuell design
Comment[nl]=Breeze ontwerptaal van het bureaublad door KDE VDG
Comment[pl]=Język projektowania pulpitu Bryza stworzony przez KDE VDG
Comment[pt_BR]=Linguagem de desenho da área de trabalho por KDE VDG
Comment[ru]=Оформление рабочей среды Breeze от KDE VDG
Comment[sk]=Jazyk dizajnu plochy vánok od KDE VDG
Comment[sl]=Sapica, oblikovalni jezik namizja avtorjev KDE VDG
Comment[sr]=Језик дизајна површи Поветарац од КДЕ‑ВДГ‑а
Comment[sr@ijekavian]=Језик дизајна површи Поветарац од КДЕ‑ВДГ‑а
Comment[sr@ijekavianlatin]=Jezik dizajna površi Povetarac od KDE VDG‑a
Comment[sr@latin]=Jezik dizajna površi Povetarac od KDE VDG‑a
Comment[sv]=Breeze-konstruktionsspråk för skrivbord av KDE VDG
Comment[uk]=Мова компонування стільниці Breeze, створена KDE VDG
Comment[x-test]=xxBreeze Desktop Design Language by the KDE VDGxx
Comment[zh_CN]=KDE 视觉设计组设计的 Breeze 桌面设计语言
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[ca]=Escriptori;Espai de treball;Aparença;Aparença i comportament;Sortida;Bloqueig;Suspensió;Aturada;Hibernació;
Keywords[de]=Desktop;Arbeitsfläche;Erscheinungsbild;Erscheinungsbild und Verhalten;Abmelden;Sperren;Ruhezustand;Tiefschlaf;Herunterfahren;
Keywords[en_GB]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[es]=Escritorio;Espacio de trabajo;Apariencia;Aspecto;Cerrar sesión;Bloquear;Suspender;Apagar;Hibernar;
Keywords[fi]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;Työpöytä;Työtila;Ulkoasu;Ulkoasu ja tuntuma;Kirjaudu ulos;Lukitse;Valmiustila;Sammuta;Lepotila;
Keywords[nl]=Bureaublad;Werkruimte;Uiterlijk;Uiterlijk en gedrag;Afmelden;Vergrendelen;Onderbreken;Afsluiten;Slapen;
Keywords[pl]=Pulpit;Przestrzeń robocza;Wygląd;Wygląd i Odczucia;Wylogowanie;Zablokowanie;Wstrzymanie;Zamknięcie;Hibernowanie;
Keywords[pt_BR]=Área de trabalho;Espaço de trabalho;Aparência;Aparência e Comportamento;Encerrar sessão;Bloquear;Suspender;Desligar;Hibernar;
Keywords[sk]=Plocha;pracovná plocha;vzhľad;nastavenie;odhlásenie;zamknutie;uspanie;vypnutie;hibernácia;
Keywords[sl]=Namizje;delovni prostor;videz;videz in občutek;odjava;zaklep;pripravljenost;izklop;mirovanje;
Keywords[sr]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavian]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavianlatin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[sr@latin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[uk]=стільниця;робочий;простір;вигляд;поведінка;вихід;блокування;призупинення;призупинка;присипляння;вимикання;Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[x-test]=xxDesktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;xx
Name=Breeze
Name[ar]=نسيم
Name[ca]=Brisa
Name[cs]=Breeze
Name[da]=Breeze
Name[de]=Breeze
Name[el]=Breeze
Name[en_GB]=Breeze
Name[es]=Brisa
Name[fi]=Breeze
Name[fr]=Brise
Name[hu]=Breeze
Name[id]=Angin
Name[ko]=Breeze
Name[lt]=Breeze
Name[nb]=Breeze
Name[nds]=Breeze
Name[nl]=Breeze
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=Breeze
Name[ru]=Breeze
Name[sk]=Vánok
Name[sl]=Sapica
Name[sr]=Поветарац
Name[sr@ijekavian]=Поветарац
Name[sr@ijekavianlatin]=Povetarac
Name[sr@latin]=Povetarac
Name[sv]=Breeze
Name[uk]=Breeze
Name[x-test]=xxBreezexx
Name[zh_CN]=微风
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.breeze.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
