[Unit]
Description=KDE Plasma Workspace
Requires=plasma-workspace.service window-manager.service
#launcher.service
Wants=kwalletd.service indexer.service
#BindsTo=ksmserver.service

[Install]
Alias=workspace.target
