[Unit]
Description=KDE Plasma Workspace Core
Wants=plasmashell.service kwin_x11.service kcminit.service kded.service kcminit-phase1.service
Requires=ksmserver.service
BindsTo=ksmserver.service
