[Unit]
Description=KDE Plasma Workspace
Requires=plasmashell.service kwin.service ksmserver.service
#launcher.service
Wants=kwalletd.service indexer.service
#BindsTo=ksmserver.service

[Install]
Alias=workspace.target
