[Desktop Entry]
Name=Clipboard
Name[ar]=الحافظة
Name[ast]=Cartafueyu
Name[az]=Mübadilə buferi
Name[bs]=Klipbord
Name[ca]=Porta-retalls
Name[ca@valencia]=Porta-retalls
Name[cs]=Schránka
Name[da]=Udklipsholder
Name[de]=Zwischenablage
Name[el]=Πρόχειρο
Name[en_GB]=Clipboard
Name[es]=Portapapeles
Name[et]=Lõikepuhver
Name[eu]=Arbela
Name[fi]=Leikepöytä
Name[fr]=Presse-papiers
Name[gl]=Portapapeis
Name[he]=לוח העתקה
Name[hu]=Vágólap
Name[ia]=Area de transferentia
Name[id]=PapanKlip
Name[is]=Klippispjald
Name[it]=Appunti
Name[ja]=クリップボード
Name[ko]=클립보드
Name[lt]=Iškarpinė
Name[lv]=Starpliktuve
Name[ml]=ക്ലിപ്ബോര്‍ഡ്
Name[nb]=Utklippstavle
Name[nds]=Twischenaflaag
Name[nl]=Klembord
Name[nn]=Utklippstavle
Name[pa]=ਕਲਿੱਪਬੋਰਡ
Name[pl]=Schowek
Name[pt]=Área de Transferência
Name[pt_BR]=Área de transferência
Name[ro]=Clipboard
Name[ru]=Буфер обмена
Name[sk]=Schránka
Name[sl]=Odložišče
Name[sr]=клипборд
Name[sr@ijekavian]=клипборд
Name[sr@ijekavianlatin]=klipbord
Name[sr@latin]=klipbord
Name[sv]=Klippbord
Name[tg]=Ҳофизаи муваққатӣ
Name[tr]=Pano
Name[uk]=Буфер обміну
Name[vi]=Bảng nháp
Name[x-test]=xxClipboardxx
Name[zh_CN]=剪贴板
Name[zh_TW]=剪貼簿
Comment=Provides access to the clipboard history
Comment[ar]=اطّلع على تاريخ الحافظة
Comment[az]=Mübadilə buferi tarixçəsinə girirşi təmin edir
Comment[ca]=Proporciona accés a l'historial del porta-retalls
Comment[ca@valencia]=Proporciona accés a l'historial del porta-retalls
Comment[cs]=Poskytuje přístup k historii schránky
Comment[da]=Giver adgang til udklipsholderens historik
Comment[de]=Ermöglicht den Zugriff auf den Verlauf der Zwischenablage
Comment[el]=Παρέχει πρόσβαση στο ιστορικό του προχείρου
Comment[en_GB]=Provides access to the clipboard history
Comment[es]=Proporciona acceso al historial del portapapeles
Comment[et]=Lõikepuhvri ajaloo kasutamine
Comment[eu]=Arbeleko historiara sarbidea ematen du
Comment[fi]=Tarjoaa pääsyn leikepöydän historiaan
Comment[fr]=Donne accès à l'historique du presse-papiers
Comment[gl]=Fornece acceso ao historial do portapapeis.
Comment[hu]=Hozzáférést nyújt a vágólap előzményeihez
Comment[ia]=Forni accesso al chronologia del area de transferentia
Comment[id]=Menyediakan akses ke histori papan-klip
Comment[it]=Fornisce l'accesso alla cronologia degli appunti
Comment[ko]=클립보드 기록 표시
Comment[lt]=Suteikia prieigą prie iškarpinės istorijos
Comment[ml]=ക്ലിപ് ബോര്‍ഡ് ചരിത്രം പരിശോധിക്കാനുള്ള അനുമതി നല്‍കുന്നു
Comment[nl]=Biedt toegang tot de geschiedenis van klembord
Comment[nn]=Få tilgang til utklippstavle­loggen
Comment[pa]=ਕਲਿੱਪਬੋਰਡ ਅਤੀਤ ਲਈ ਪਹੁੰਚ ਦਿੰਦਾ ਹੈ
Comment[pl]=Zapewnia dostęp do historii schowka
Comment[pt]=Oferece o acesso ao histórico da área de transferência
Comment[pt_BR]=Fornece acesso ao histórico da área de transferência
Comment[ro]=Oferă acces la istoricul clipboard-ului
Comment[ru]=Предоставляет доступ к журналу буфера обмена
Comment[sk]=Poskytuje prístup k histórii schránky
Comment[sl]=Ponuja dostop do zgodovine odložišča
Comment[sr]=Приступ историјату клипборда
Comment[sr@ijekavian]=Приступ историјату клипборда
Comment[sr@ijekavianlatin]=Pristup istorijatu klipborda
Comment[sr@latin]=Pristup istorijatu klipborda
Comment[sv]=Ger tillgång till klippbordshistoriken
Comment[tr]=Pano geçmişine erişim sağlar
Comment[uk]=Надає доступ до журналу буфера обміну даними
Comment[vi]=Cho phép truy cập lịch sử bảng nháp
Comment[x-test]=xxProvides access to the clipboard historyxx
Comment[zh_CN]=提供对剪贴板历史的访问
Comment[zh_TW]=提供剪貼簿歷史紀錄的存取。

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/clipboard.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop
