[Desktop Entry]
Name=Clipboard
Name[ca]=Porta-retalls
Name[es]=Portapapeles
Name[hu]=Vágólap
Name[nl]=Klembord
Name[sk]=Schránka
Name[sl]=Odložišče
Name[sv]=Klippbord
Name[uk]=Буфер обміну
Name[x-test]=xxClipboardxx
Comment=Provides access to the clipboard history.
Comment[ca]=Proporciona accés a l'historial del porta-retalls.
Comment[es]=Proporciona acceso al historial del portapapeles.
Comment[hu]=Hozzáférést nyújt a vágólap előzményeihez.
Comment[nl]=Biedt toegang tot de geschiedenis van klembord.
Comment[sk]=Poskytuje prístup k histórii schránky.
Comment[sl]=Ponuja dostop do zgodovine odložišča.
Comment[sv]=Ger tillgång till klippbordshistoriken.
Comment[uk]=Надає доступ до журналу буфера обміну даними.
Comment[x-test]=xxProvides access to the clipboard history.xx

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/clipboard.qml
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

