[Desktop Entry]
Name=Clipboard
Name[ast]=Cartafueyu
Name[bs]=Klipbord
Name[ca]=Porta-retalls
Name[ca@valencia]=Porta-retalls
Name[cs]=Schránka
Name[da]=Udklipsholder
Name[de]=Zwischenablage
Name[el]=Πρόχειρο
Name[en_GB]=Clipboard
Name[es]=Portapapeles
Name[et]=Lõikepuhver
Name[fi]=Leikepöytä
Name[fr]=Presse-papiers
Name[gl]=Portapapeis
Name[he]=לוח העתקה
Name[hu]=Vágólap
Name[id]=Papan Klip
Name[is]=Klippispjald
Name[it]=Appunti
Name[ja]=クリップボード
Name[ko]=클립보드
Name[lt]=Iškarpinė
Name[nb]=Utklippstavle
Name[nds]=Twischenaflaag
Name[nl]=Klembord
Name[nn]=Utklippstavle
Name[pa]=ਕਲਿੱਪਬੋਰਡ
Name[pl]=Schowek
Name[pt]=Área de Transferência
Name[pt_BR]=Área de transferência
Name[ru]=Буфер обмена
Name[sk]=Schránka
Name[sl]=Odložišče
Name[sr]=клипборд
Name[sr@ijekavian]=клипборд
Name[sr@ijekavianlatin]=klipbord
Name[sr@latin]=klipbord
Name[sv]=Klippbord
Name[tr]=Pano
Name[uk]=Буфер обміну
Name[x-test]=xxClipboardxx
Name[zh_CN]=剪贴板
Name[zh_TW]=剪貼簿
Comment=Provides access to the clipboard history.
Comment[ast]=Forne accesu a la historia del cartafueyu.
Comment[bs]=Omogućava pristup historiji klipborda.
Comment[ca]=Proporciona accés a l'historial del porta-retalls.
Comment[ca@valencia]=Proporciona accés a l'historial del porta-retalls.
Comment[cs]=Poskytuje přístup k historii schránky.
Comment[da]=Giver adgang til udklipsholder-historikken.
Comment[de]=Ermöglicht den Zugriff auf den Verlauf der Zwischenablage.
Comment[el]=Παρέχει πρόσβαση στο ιστορικό του προχείρου.
Comment[en_GB]=Provides access to the clipboard history.
Comment[es]=Proporciona acceso al historial del portapapeles.
Comment[et]=Lõikepuhvri ajaloo kasutamine.
Comment[fi]=Tarjoaa pääsyn leikepöydän historiaan.
Comment[fr]=Donne accès à l'historique du presse-papiers.
Comment[gl]=Fornece acceso ao historial do portapapeis.
Comment[he]=היסטוריית לוח העתקה וגזירה
Comment[hu]=Hozzáférést nyújt a vágólap előzményeihez.
Comment[id]=Menyediakan akses ke riwayat papan klip.
Comment[is]=Gefur aðgang að ferilskrá klippispjalds.
Comment[it]=Fornisce l'accesso allo storico degli appunti.
Comment[ja]=クリップボード履歴を見られるようにします。
Comment[ko]=클립보드 기록을 표시합니다.
Comment[lt]=Suteikia prieigą prie iškarpinės istorijos.
Comment[nb]=Gir tilgang til historie for utklippstavle.
Comment[nds]=Gifft Togriep op de Twischenaflaag-Vörgeschicht
Comment[nl]=Biedt toegang tot de geschiedenis van klembord.
Comment[nn]=Gjev tilgang til utklippstavleloggen.
Comment[pa]=ਕਲਿੱਪਬੋਰਡ ਅਤੀਤ ਲਈ ਪਹੁੰਚ ਦਿੰਦਾ ਹੈ।
Comment[pl]=Zapewnia dostęp do historii schowka.
Comment[pt]=Oferece o acesso ao histórico da área de transferência.
Comment[pt_BR]=Fornece acesso ao histórico da área de transferência.
Comment[ru]=Предоставляет доступ к журналу буфера обмена
Comment[sk]=Poskytuje prístup k histórii schránky.
Comment[sl]=Ponuja dostop do zgodovine odložišča.
Comment[sr]=Приступ историјату клипборда
Comment[sr@ijekavian]=Приступ историјату клипборда
Comment[sr@ijekavianlatin]=Pristup istorijatu klipborda
Comment[sr@latin]=Pristup istorijatu klipborda
Comment[sv]=Ger tillgång till klippbordshistoriken.
Comment[tr]=Pano geçmişine erişim sağlar.
Comment[uk]=Надає доступ до журналу буфера обміну даними.
Comment[x-test]=xxProvides access to the clipboard history.xx
Comment[zh_CN]=提供对剪贴板历史的访问。
Comment[zh_TW]=提供剪貼簿歷史紀錄的存取。

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/clipboard.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop
