[Desktop Entry]
Name=Paste
Type=Service
Icon=edit-paste
Comment=Creates a widget from the contents of the clipboard

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_paste
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.paste
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

