[Desktop Entry]
Type=Application
Name=Desktop Shell Scripting Console
Name[ar]=طرفية برمجة صدفة سطح المكتب
Name[bg]=Конзола на работната среда за изпълнение на скриптове
Name[ca]=Consola de creació de scripts de l'intèrpret d'ordres d'escriptori
Name[ca@valencia]=Consola de creació de scripts de l'intèrpret d'ordres d'escriptori
Name[es]=Consola de scripts para el escritorio
Name[eu]=Mahaigaineko oskol-gidoietarako kontsola
Name[he]=מסוף סקריפטים למעטפת שולחן העבודה
Name[it]=Console desktop per gli script della shell
Name[ka]=სამუშაო მაგიდის გარსის სკრიპტების კონსოლი
Name[lt]=Darbalaukio apvalkalo scenarijų rašymo pultas
Name[nl]=Bureaubladconsole voor shell-scripts
Name[pt_BR]=Console da área de trabalho para shell scripts
Name[sl]=Desktop Shell Scripting Console
Name[sv]=Skrivbordets skalskriptsterminal
Name[tr]=Masaüstü Kabuk Betik Yazımı Konsolu
Name[uk]=Консоль скриптів оболонки стільниці
Name[x-test]=xxDesktop Shell Scripting Consolexx
Name[zh_CN]=桌面外壳脚本控制台
Name[zh_TW]=桌面殼層文稿主控台
NoDisplay=true
Icon=plasmashell
