[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Autumn
Name[cs]=Podzim
Name[de]=Herbst
Name[es]=Otoño
Name[fr]=Automne
Name[mr]=शरद ऋतु
Name[nl]=Herfst
Name[pt]=Outono
Name[pt_BR]=Outono
Name[sk]=Jeseň
Name[sv]=Höst
Name[uk]=Осінь
Name[x-test]=xxAutumnxx
Type=Service
Icon=java

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.autumn
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
