[Desktop Entry]
Name=DONT TRANSLATE TEST ONLY
Name[ca]=DONT TRANSLATE TEST ONLY
Name[es]=DONT TRANSLATE TEST ONLY
Name[ka]=DONT TRANSLATE TEST ONLY
Name[nl]=NIET VERTALEN ALLEEN TESTEN
Name[sl]=DONT TRANSLATE TEST ONLY
Name[sv]= 
Name[tr]=DONT TRANSLATE TEST ONLY
Name[uk]=DONT TRANSLATE TEST ONLY
Name[x-test]=xxDONT TRANSLATE TEST ONLYxx
Comment=DONT TRANSLATE TEST ONLY
Comment[ca]=DONT TRANSLATE TEST ONLY
Comment[es]=DONT TRANSLATE TEST ONLY
Comment[ka]=DONT TRANSLATE TEST ONLY
Comment[nl]=NIET VERTALEN ALLEEN TESTEN
Comment[sl]=DONT TRANSLATE TEST ONLY
Comment[sv]= 
Comment[tr]=DONT TRANSLATE TEST ONLY
Comment[uk]=DONT TRANSLATE TEST ONLY
Comment[x-test]=xxDONT TRANSLATE TEST ONLYxx
Exec=xterm
Icon=xorg
Terminal=false
Type=Application
Categories=Game;
