[Desktop Entry]
Name=DONT TRANSLATE TEST ONLY
Name[bg]=ДА НЕ СЕ ПРЕВЕЖДА, САМО ТЕСТВАНЕ
Name[ca]=DONT TRANSLATE TEST ONLY
Name[ca@valencia]=DONT TRANSLATE TEST ONLY
Name[es]=DONT TRANSLATE TEST ONLY
Name[eu]=DONT TRANSLATE TEST ONLY
Name[fr]=DONT TRANSLATE TEST ONLY
Name[he]=DONT TRANSLATE TEST ONLY
Name[it]=DONT TRANSLATE TEST ONLY
Name[ka]=DONT TRANSLATE TEST ONLY
Name[lt]=DONT TRANSLATE TEST ONLY
Name[nl]=NIET VERTALEN ALLEEN TESTEN
Name[pl]=DONT TRANSLATE TEST ONLY
Name[sl]=DONT TRANSLATE TEST ONLY
Name[sv]= 
Name[tr]=DONT TRANSLATE TEST ONLY
Name[uk]=DONT TRANSLATE TEST ONLY
Name[x-test]=xxDONT TRANSLATE TEST ONLYxx
Name[zh_CN]=DONT TRANSLATE TEST ONLY
Comment=DONT TRANSLATE TEST ONLY
Comment[bg]=ДА НЕ СЕ ПРЕВЕЖДА, САМО ТЕСТВАНЕ
Comment[ca]=DONT TRANSLATE TEST ONLY
Comment[ca@valencia]=DONT TRANSLATE TEST ONLY
Comment[es]=DONT TRANSLATE TEST ONLY
Comment[eu]=DONT TRANSLATE TEST ONLY
Comment[fr]=DONT TRANSLATE TEST ONLY
Comment[he]=DONT TRANSLATE TEST ONLY
Comment[it]=DONT TRANSLATE TEST ONLY
Comment[ka]=DONT TRANSLATE TEST ONLY
Comment[lt]=DONT TRANSLATE TEST ONLY
Comment[nl]=NIET VERTALEN ALLEEN TESTEN
Comment[pl]=DONT TRANSLATE TEST ONLY
Comment[sl]=DONT TRANSLATE TEST ONLY
Comment[sv]= 
Comment[tr]=DONT TRANSLATE TEST ONLY
Comment[uk]=DONT TRANSLATE TEST ONLY
Comment[x-test]=xxDONT TRANSLATE TEST ONLYxx
Comment[zh_CN]=DONT TRANSLATE TEST ONLY
Exec=xterm
Icon=xorg
Terminal=false
Type=Application
Categories=Game;
