[Desktop Entry]
Name=Date and Time
Name[ar]=التاريخ والوقت
Name[as]=তাৰিখ আৰু সময়
Name[ast]=Data y hora
Name[az]=Tarix və Vaxt
Name[be@latin]=Data j čas
Name[bg]=Дата и час
Name[bn]=তারিখ এবং সময়
Name[bn_IN]=তারিখ ও সময়
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[cs]=Datum a čas
Name[csb]=Datum ë czas
Name[da]=Dato og klokkeslæt
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία και ώρα
Name[en_GB]=Date and Time
Name[eo]=Dato kaj Tempo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[fy]=Datum en tiid
Name[ga]=Dáta agus Am
Name[gl]=Data e hora
Name[gu]=તારીખ અને સમય
Name[he]=תאריך ושעה
Name[hi]=तारीख़ और समय
Name[hne]=तारीक अउ समय
Name[hr]=Datum i vrijeme
Name[hu]=Dátum és idő
Name[ia]=Data e Tempore
Name[id]=Tanggal dan Waktu
Name[is]=Dagur og tími
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[kk]=Күні мен уақыты
Name[km]=កាល​បរិច្ឆេទ និង​ពេលវេលា
Name[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Name[ko]=날짜와 시간
Name[ku]=Dîrok û Dem
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mai]=दिनाँक आ समय
Name[mk]=Датум и време
Name[ml]=തീയതിയും സമയവും 
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nds]=Datum un Tiet
Name[nl]=Datum en tijd
Name[nn]=Dato og klokkeslett
Name[or]=ତାରିଖ ଏବଂ ସମୟ
Name[pa]=ਮਿਤੀ ਅਤੇ ਟਾਈਮ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[si]=දිනය සහ වේලාව
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=датум и време
Name[sr@ijekavian]=датум и време
Name[sr@ijekavianlatin]=datum i vreme
Name[sr@latin]=datum i vreme
Name[ta]=Date and Time
Name[tg]=Сана ва вақт
Name[th]=วันและเวลา
Name[tr]=Tarih ve Saat
Name[ug]=چېسلا ۋە ۋاقىت
Name[uk]=Дата і час
Name[vi]=Ngày giờ
Name[wa]=Date eyet eure
Name[x-test]=xxDate and Timexx
Name[zh_CN]=日期和时间
Name[zh_TW]=日期與時間
Comment=Date and time by timezone
Comment[ar]=التاريخ والوقت بالمنطقة الزمنية
Comment[az]=Saat qurşağna uyğun tarix və vaxt
Comment[bg]=Настройки на датата и часа
Comment[bn]=টাইম-জোন অনুসারে তারিখ এবং সময়
Comment[bs]=Datum i vrijeme po vremenskoj zoni
Comment[ca]=Data i hora per zona horària
Comment[ca@valencia]=Data i l'hora per zona horària
Comment[cs]=Datum a čas podle časového pásma
Comment[csb]=Datum ë czas wedle czasowich conów
Comment[da]=Dato og klokkeslæt efter tidszone
Comment[de]=Datum und Zeit nach Zeitzone
Comment[el]=Ημερομηνία και ώρα ανά ζώνη ώρας
Comment[en_GB]=Date and time by timezone
Comment[eo]=Dato kaj tempo laŭ horzonoj
Comment[es]=Fecha y hora por zona horaria
Comment[et]=Kuupäev ja kellaaeg ajavööndi põhjal
Comment[eu]=Data eta ordua ordu-eremuaren arabera
Comment[fi]=Aika ja päiväys aikavyöhykkeittäin
Comment[fr]=Date et heure par fuseau horaire
Comment[fy]=Datum en tiid mei help fan tiidsône
Comment[ga]=Dáta agus am de réir creasa ama
Comment[gl]=Data e hora segundo o fuso horario
Comment[gu]=સમયવિસ્તાર વડે તારીખ અને સમય
Comment[he]=תאריך ושעה לפי אזור זמן
Comment[hi]=तारीख़ तथा समय समयक्षेत्र हिसाब से
Comment[hr]=Datum i vrijeme po vremenskoj zoni
Comment[hu]=Dátum és idő (időzónánként)
Comment[ia]=Data e tempore per fuso horari
Comment[id]=Tanggal dan waktu menurut zona-waktu
Comment[is]=Stillingar dagssetningar og klukku eftir tímabeltum
Comment[it]=Data e ora per fuso orario
Comment[ja]=タイムゾーンの日付と時刻
Comment[kk]=Уақыт белдеуінің күн мен уақыты
Comment[km]=កាលបរិច្ឆេទ និង​ពេលវេលា​តាម​តំបន់​ពេលវេលា
Comment[kn]=ಕಾಲವಲಯದಿಂದ ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Comment[ko]=시간대에 따른 날짜와 시간
Comment[lt]=Data ir laikas pagal laiko juostą
Comment[lv]=Datums un laiks pa laika joslām
Comment[mk]=Датум и време според временска зона
Comment[ml]=തീയതിയും സമയവും സമയമേഖലയനുസരിച്ചു്
Comment[mr]=वेळक्षेत्रा प्रमाणे दिनांक व वेळ
Comment[nb]=Dato og klokkeslett ved tidssone
Comment[nds]=Datum un Tiet na Tietrebeet
Comment[nl]=Datum en tijd per tijdzone
Comment[nn]=Dato og klokkeslett i ulike tidssoner
Comment[pa]=ਮਿਤੀ ਅਤੇ ਟਾਈਮ ਸਮਾਂ-ਖੇਤਰ ਰਾਹੀਂ
Comment[pl]=Ustawienia daty i czasu na podstawie strefy czasowej
Comment[pt]=Data e hora pelo fuso-horário
Comment[pt_BR]=Data e hora por fuso horário
Comment[ro]=Data și ora după fusul orar
Comment[ru]=Дата и время в различных часовых поясах
Comment[si]=වේලා කලාපය අනුව දිනය සහ වේලාව
Comment[sk]=Dátum a čas podľa časového pásma
Comment[sl]=Datum in čas po časovnih pasovih
Comment[sr]=Датум и време по временској зони
Comment[sr@ijekavian]=Датум и вријеме по временској зони
Comment[sr@ijekavianlatin]=Datum i vrijeme po vremenskoj zoni
Comment[sr@latin]=Datum i vreme po vremenskoj zoni
Comment[th]=วันและเวลาตามเขตเวลา
Comment[tr]=Zaman dilimine göre tarih ve saat
Comment[ug]=ۋاقىت رايونىغا ئاساسەن چېسلا ۋە ۋاقىت تەمىنلەيدۇ
Comment[uk]=Дата і час за часовими поясами
Comment[vi]=Ngày giờ theo múi giờ
Comment[wa]=Date et eure pa coisse ås eures
Comment[x-test]=xxDate and time by timezonexx
Comment[zh_CN]=根据时区提供日期和时间
Comment[zh_TW]=時區的日期和時間
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_time

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=time
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
