[Desktop Entry]
Name=Date and Time
Comment=Date and time by timezone
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_time

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=time
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
