[Desktop Entry]
Icon=preferences-desktop-theme-global

Type=Application
Exec=systemsettings kcm_lookandfeel
NoDisplay=true

Name=Global Theme
Name[ar]=سمة شاملة
Name[ast]=Estilu global
Name[az]=Qlobal Plasma Görünüşü
Name[ca]=Tema global
Name[cs]=Celkový motiv
Name[da]=Globalt tema
Name[de]=Globales Design
Name[en_GB]=Global Theme
Name[es]=Tema global
Name[et]=Globaalne teema
Name[eu]=Gai orokorra
Name[fi]=Yleisteema
Name[fr]=Thème global
Name[hi]=वैश्विक प्रसंग
Name[hsb]=Globalna tema
Name[hu]=Globális téma
Name[ia]=Thema Global
Name[id]=Tema Global
Name[it]=Tema globale
Name[ko]=전역 테마
Name[lt]=Visuotinis apipavidalinimas
Name[ml]=ആഗോള തീം
Name[nl]=Globaal thema
Name[nn]=Globalt tema
Name[pa]=ਗਲੋਬਲ ਥੀਮ
Name[pl]=Globalny wygląd
Name[pt]=Tema Global
Name[pt_BR]=Tema global
Name[ro]=Tematică globală
Name[ru]=Оформление рабочей среды
Name[sk]=Globálna téma
Name[sl]=Globalna tema
Name[sv]=Globalt tema
Name[ta]=பொதுவான தோற்றத்திட்டம்
Name[tg]=Мавзӯи умумӣ
Name[tr]=Küresel Tema
Name[uk]=Загальна тема
Name[vi]=Chủ đề toàn cục
Name[x-test]=xxGlobal Themexx
Name[zh_CN]=全局主题
