[Desktop Entry]
Name=Recent Files
Name[ast]=Ficheros d'apocayá
Name[az]=Sonuncu fayllar
Name[ca]=Fitxers recents
Name[cs]=Nedávné soubory
Name[da]=Nylige filer
Name[de]=Zuletzt geöffnete Dateien
Name[en_GB]=Recent Files
Name[es]=Archivos recientes
Name[et]=Viimati kasutatud failid
Name[eu]=Azken aldiko fitxategiak
Name[fi]=Viimeisimmät tiedostot
Name[fr]=Fichiers récents
Name[hu]=Legutóbbi fájlok
Name[ia]=Files recente
Name[it]=File recenti
Name[ko]=최근 파일
Name[lt]=Paskiausiai naudoti failai
Name[nl]=Recente bestanden
Name[nn]=Nyleg brukte filer
Name[pa]=ਤਾਜ਼ਾ ਫ਼ਾਇਲਾਂ
Name[pl]=Ostatnie pliki
Name[pt]=Ficheiros Recentes
Name[pt_BR]=Arquivos recentes
Name[ro]=Fișiere recente
Name[ru]=Последние файлы
Name[sk]=Nedávne súbory
Name[sl]=Zadnje datoteke
Name[sv]=Senaste filer
Name[tg]=Файлҳои охирон
Name[uk]=Нещодавні файли
Name[vi]=Tệp gần đây
Name[x-test]=xxRecent Filesxx
Name[zh_CN]=最近的文件
Icon=document-open-recent

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=recentdocuments
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
