[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=60

Name=Screen Locking
Name[ar]=يقفل الشاشة
Name[ca]=Bloqueig de la pantalla
Name[cs]=Uzamykání obrazovky
Name[da]=Låsning af skærm
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de la pantalla
Name[fi]=Näytön lukitseminen
Name[fr]=Verrouillage de l'écran
Name[hu]=Képernyőzárolás
Name[id]=Mengunci Layar
Name[ko]=화면 잠금
Name[lt]=Ekrano užrakinimas
Name[nb]=Skjermlåsing
Name[nds]=Schirm afsluten
Name[nl]=Scherm vergrendelen
Name[pl]=Blokowanie ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[ru]=Блокировщик экрана
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Comment=Screen Locking Timeouts
Comment[ca]=Temps d'espera pel bloqueig de la pantalla
Comment[cs]=Časová prodleva pro uzamykání obrazovky
Comment[da]=Tidsudløb for låsning af skærm
Comment[de]=Zeitüberschreitungen für Bildschirmsperre
Comment[el]=Χρονικά όρια κλειδώματος οθόνης
Comment[en_GB]=Screen Locking Timeouts
Comment[es]=Tiempo de espera del bloqueo de la pantalla
Comment[fi]=Näytön lukitsemisen viipeet
Comment[fr]=Délai de verrouillage de l'écran
Comment[hu]=Képernyőzárolás időtúllépés
Comment[id]=Waktu Mengunci Layar
Comment[ko]=화면 잠금 시간 제한
Comment[lt]=Ekrano užrakinimo delsimai
Comment[nb]=Tidsavbrudd for skjermlåsing
Comment[nds]=Schirmafsluttieden
Comment[nl]=Tijdslimieten van scherm vergrendelen
Comment[pl]=Czasy do zablokowania ekranu
Comment[pt]=Tempos-Limite de Bloqueio do Ecrã
Comment[pt_BR]=Tempo limite para bloqueio da tela
Comment[ru]=Настройка блокировщика экрана
Comment[sk]=Limity zamykania obrazovky
Comment[sl]=Časovna omejitev zaklepa zaslona
Comment[sr]=Прековремена закључавања екрана
Comment[sr@ijekavian]=Прековремена закључавања екрана
Comment[sr@ijekavianlatin]=Prekovremena zaključavanja ekrana
Comment[sr@latin]=Prekovremena zaključavanja ekrana
Comment[sv]=Tidsgränser för skärmlåsning
Comment[uk]=Часові параметри блокування екрана
Comment[x-test]=xxScreen Locking Timeoutsxx
Comment[zh_CN]=锁屏时间
