[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=60

Name=Screen Locking
Name[nl]=Scherm vergrendelen
Name[pl]=Blokowanie ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio da tela
Name[sk]=Zamykanie obrazovky
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Comment=Screen Locking Timeouts
Comment[nl]=Tijdslimieten van scherm vergrendelen
Comment[pl]=Czasy do zablokowania ekranu
Comment[pt]=Tempos-Limite de Bloqueio do Ecrã
Comment[pt_BR]=Tempo limite para bloqueio da tela
Comment[sk]=Limity zamykania obrazovky
Comment[sv]=Tidsgränser för skärmlåsning
Comment[uk]=Часові параметри блокування екрана
Comment[x-test]=xxScreen Locking Timeoutsxx
