[Desktop Entry]
Exec=plasma-shell --shut-up
X-DBUS-StartupType=Unique
Name=Plasma Desktop Workspace
Name[uk]=Робочий простір Плазми для комп’ютерів
Name[x-test]=xxPlasma Desktop Workspacexx
Type=Application
X-KDE-StartupNotify=false
X-DBUS-ServiceName=org.kde.plasma_shell
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
