[Desktop Entry]
Exec=plasma-shell --shut-up
X-DBUS-StartupType=Unique
Name=Plasma Desktop Workspace
Name[ca]=Espai de treball de l'escriptori Plasma
Name[ca@valencia]=Espai de treball de l'escriptori Plasma
Name[cs]=Pracovní plocha Plasma
Name[de]=Plasma-Arbeitsflächenbereich
Name[es]=Espacio de trabajo del escritorio Plasma
Name[fi]=Plasma-työpöytä
Name[ga]=Spás Oibre Deisce Plasma
Name[hr]=Plasma radno okruženje
Name[ia]=Spatio de labor de scriptorio de Plasma
Name[ko]=Plasma 데스크톱 작업 공간
Name[nb]=Arbeidsrom for Plasma skrivebord
Name[nds]=Plasma-Schriefdischarbeitrebeet
Name[nl]=Plasma Bureaublad Werkplek
Name[nn]=Arbeidsområde for Plasma-skrivebord
Name[pl]=Przestrzeń Robocza Pulpitu Plazmy
Name[pt]=Área de Trabalho do Plasma
Name[pt_BR]=Espaço de Trabalho Plasma
Name[sk]=Pracovná plocha Plasma
Name[sr]=Плазма, радни простор површи
Name[sr@ijekavian]=Плазма, радни простор површи
Name[sr@ijekavianlatin]=Plasma, radni prostor površi
Name[sr@latin]=Plasma, radni prostor površi
Name[sv]=Plasma arbetsområde för skrivbordet
Name[tr]=Plasma Masaüstü Çalışma Alanı
Name[uk]=Робочий простір Плазми для комп’ютерів
Name[x-test]=xxPlasma Desktop Workspacexx
Name[zh_TW]=Plasma 桌面工作空間
Type=Application
X-KDE-StartupNotify=false
X-DBUS-ServiceName=org.kde.plasma_shell
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
