[Desktop Entry]
Exec=plasmashell
X-DBUS-StartupType=Unique
Name=Plasma Desktop Workspace
Name[ar]=مساحة عمل سطح مكتب بلازما
Name[bs]=Radni prostor plazma radne površi
Name[ca]=Espai de treball de l'escriptori Plasma
Name[ca@valencia]=Espai de treball de l'escriptori Plasma
Name[cs]=Pracovní plocha Plasma
Name[da]=Plasma Desktop Workspace
Name[de]=Plasma-Arbeitsflächenbereich
Name[el]=Χώρος επιφάνειας εργασίας Plasma
Name[en_GB]=Plasma Desktop Workspace
Name[es]=Espacio de trabajo del escritorio Plasma
Name[et]=Plasma töölaua töötsoon
Name[eu]=Plasma mahaigainaren lanerako guneak
Name[fi]=Plasma-työpöytä
Name[fr]=Espace de travail Plasma
Name[ga]=Spás Oibre Deisce Plasma
Name[gl]=Espazo de traballo do escritorio Plasma
Name[he]=תחנת עבודה של שולחן העבודה Plasma
Name[hr]=Plasma radno okruženje
Name[hu]=Plazma asztali munkaterület
Name[ia]=Spatio de labor de scriptorio de Plasma
Name[id]=Ruang Kerja Desktop Plasma
Name[is]=Vinnurýmd Plasma skjáborðs
Name[it]=Spazio di lavoro del desktop di Plasma
Name[ja]=Plasma デスクトップワークスペース
Name[ko]=Plasma 데스크톱 작업 공간
Name[lt]=Plasma darbalaukio erdvė
Name[nb]=Arbeidsrom for Plasma skrivebord
Name[nds]=Plasma-Schriefdischarbeitrebeet
Name[nl]=Plasma Bureaublad Werkplek
Name[nn]=Arbeidsområde for Plasma-skrivebord
Name[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń Robocza Pulpitu Plazmy
Name[pt]=Área de Trabalho do Plasma
Name[pt_BR]=Espaço de Trabalho Plasma
Name[ru]=Рабочая среда Plasma
Name[sk]=Pracovná plocha Plasma
Name[sl]=Delovni prostor Plasma Desktop
Name[sr]=Плазма, радни простор површи
Name[sr@ijekavian]=Плазма, радни простор површи
Name[sr@ijekavianlatin]=Plasma, radni prostor površi
Name[sr@latin]=Plasma, radni prostor površi
Name[sv]=Plasma arbetsområde för skrivbordet
Name[tr]=Plasma Masaüstü Çalışma Alanı
Name[uk]=Робочий простір Плазми для комп’ютерів
Name[x-test]=xxPlasma Desktop Workspacexx
Name[zh_CN]=Plasma 桌面工作空间
Name[zh_TW]=Plasma 桌面工作空間
Type=Application
X-KDE-StartupNotify=false
X-DBUS-ServiceName=org.kde.plasmashell
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
