[Desktop Entry]
Name=Password dialog
Name[bs]=Dijalog za lozinku
Name[ca]=Diàleg de contrasenya
Name[ca@valencia]=Diàleg de contrasenya
Name[cs]=Dialog hesla
Name[da]=Adgangskodedialog
Name[de]=Passwort-Dialog
Name[el]=Διάλογος κωδικού πρόσβασης
Name[es]=Diálogo de contraseña
Name[et]=Paroolidialoog
Name[eu]=Pasahitzaren elkarrizketa-koadroa
Name[fi]=Salasanakysely
Name[fr]=Boîtes de dialogue de mot de passe
Name[gl]=Diálogo de contrasinal
Name[he]=חלון ססמאות
Name[hu]=Jelszóbeviteli ablak
Name[ia]=Dialogo de contrasigno
Name[it]=Finestra della password
Name[kk]=Паролін сұрау диалогы
Name[ko]=암호 대화 상자
Name[lt]=Slaptažodžio dialogas
Name[mr]=गुप्तशब्द संवाद
Name[nb]=Passorddialog
Name[nds]=Passwoort-Dialoog
Name[nl]=Wachtwoordvenster
Name[pa]=ਪਾਸਵਰਡ ਡਾਈਲਾਗ
Name[pl]=Okno dialogowe hasła
Name[pt]=Janela da senha
Name[pt_BR]=Diálogo de senha
Name[ro]=Dialog de introducere a parolei
Name[ru]=Диалог ввода пароля
Name[sk]=Dialóg hesla
Name[sl]=Pogovorno okno gesla
Name[sr]=Дијалог за лозинку
Name[sr@ijekavian]=Дијалог за лозинку
Name[sr@ijekavianlatin]=Dijalog za lozinku
Name[sr@latin]=Dijalog za lozinku
Name[sv]=Lösenordsdialogruta
Name[tr]=Parola iletişim kutusu
Name[ug]=ئىم سۆزلەشكۈسى
Name[uk]=Вікно для вводу пароля
Name[x-test]=xxPassword dialogxx
Name[zh_CN]=密码对话框
Name[zh_TW]=密碼對話框
Comment=Screen locker that provides a password dialog and an interface to switch the current user
Comment[bs]=Zaključavanje ekrana koje pruža dijaloški prozor za lozinku i interfejs za promjenutrenutnog korisnika
Comment[ca]=Bloqueig de pantalla que proporciona una diàleg de contrasenya i una interfície per commutar l'usuari actual
Comment[ca@valencia]=Bloqueig de pantalla que proporciona una diàleg de contrasenya i una interfície per commutar l'usuari actual
Comment[cs]=Zámek obrazovky poskytující dialog s heslem a rozhraní pro přepínání uživatelů
Comment[da]=Skærmlås som giver en adgangskodedialog og en brugerflade til at skifte aktuel bruger
Comment[de]=Bildschirmsperre mit einem Passwortdialog und der Möglichkeit, den aktuellen Benutzer zu wechseln
Comment[el]=Κλείδωμα οθόνης με διάλογο κωδικού πρόσβασης και μια διεπαφή για την εναλλαγή του τρέχοντος χρήστη
Comment[es]=Bloqueador de pantalla que proporciona un diálogo de contraseña y una interfaz para cambiar el usuario actual
Comment[et]=Ekraani lukustaja, mis pakub paroolidialoogi ja liidest aktiivse kasutaja vahetamiseks
Comment[eu]=Pasahitzaren elkarrizketa-koadro bat eta uneko erabiltzailez aldatzeko interfaze bat ematen dituen pantaila-blokeatzailea
Comment[fi]=Salasanakyselyn ja käyttäjävaihdon tarjoava näyttölukko
Comment[fr]=Outil de verrouillage d'écran fournissant une boîte de dialogue de mot de passe et une interface pour changer d'utilisateur
Comment[gl]=Bloqueador da pantalla que fornece un diálogo de contrasinal e unha interface para trocar de usuario
Comment[he]=נועל מסך שמאפשר חלון ססמה וממשק להחליף את המשתמש הנוכחי
Comment[hu]=Képernyőzároló, amely jelszó párbeszédablakot biztosít és egy felületet a jelenlegi felhasználó váltásához
Comment[ia]=Blocator de schermo que da un dialogo de contrasigno e uninterfacie pro commutar le usator currente
Comment[it]=Un bloccaschermo che fornisce una finestra per la password e un'interfaccia per cambiare utente
Comment[kk]=Экран бұғаттағышы паролді сұрау диалогын және пайдаланушыны ауыстыру интерфейсін келтіреді
Comment[ko]=암호 입력 및 사용자 전환 기능을 제공하는 잠금 화면
Comment[lt]=Ekrano užraktas, kuris pateikia slaptažodžio dialogą ir sąsają, kad pakeisti esamą naudotoją
Comment[mr]=स्क्रीन कुलूप जे पासवर्ड संवाद व तत्कालीन वापरकर्त्याला प्रवेश परवानगी विचारणारी चौकट
Comment[nb]=Skjermlåser som viser en passorddialog og et grensesnitt for å bytte gjeldende bruker
Comment[nds]=Schirmslott mit Passwoortdialoog un de Mööglichkeit, den aktuellen Bruker to wesseln
Comment[nl]=Schermvergrendeling die een wachtwoordvenster en een interface om naar de huidige gebruiker om te schakelen biedt
Comment[pa]=ਸਕਰੀਨ ਲਾਕਰ, ਜੋ ਕਿ ਪਾਸਵਰਡ ਡਾਈਲਾਗ ਤੇ ਮੌਜੂਦਾ ਯੂਜ਼ਰ ਨੂੰ ਬਦਲਣ ਲਈ ਇੰਟਰਫੇਸ ਦਿੰਦਾ ਹੈ।
Comment[pl]=Blokowanie ekranu, które zapewnia okno dialogowe hasła i interfejs do przełączania bieżącego użytkownika 
Comment[pt]=Bloqueio do ecrã que mostra uma janela de introdução da senha e para mudar o utilizador actual
Comment[pt_BR]=Bloqueador de sessão que fornece um diálogo de senha e uma interface para mudar o usuário atual
Comment[ro]=Blocare a ecranului ce oferă un dialog de parolă și o interfață pentru schimbarea utilizatorului curent
Comment[ru]=Блокировщик экрана, предоставляющий диалог ввода пароля и интерфейс для переключение текущего пользователя.
Comment[sk]=Zamykač obrazovky, ktorý poskytuje dialóg s heslom a rozhranie na prepnutie aktuálneho používateľa
Comment[sl]=Zaklep zaslona, ki ponuja pogovorno okno za geslo in vmesnik za zamenjavo trenutnega uporabnika
Comment[sr]=Закључавач екрана који пружа дијалог за лозинку и сучеље за мењање тренутног корисника
Comment[sr@ijekavian]=Закључавач екрана који пружа дијалог за лозинку и сучеље за мењање тренутног корисника
Comment[sr@ijekavianlatin]=Zaključavač ekrana koji pruža dijalog za lozinku i sučelje za menjanje trenutnog korisnika
Comment[sr@latin]=Zaključavač ekrana koji pruža dijalog za lozinku i sučelje za menjanje trenutnog korisnika
Comment[sv]=Skärmlåsning som tillhandahåller en lösenordsdialogruta och ett gränssnitt för att byta aktuell användare
Comment[tr]=Ekran kilitleyici, geçerli kullanıcıyı değiştirmek ve şifre girme iletişim kutusunu gösteren bir arayüz sunar
Comment[uk]=Блокувальник екрана з вікном пароля і інтерфейсом для перемикання поточного користувача
Comment[x-test]=xxScreen locker that provides a password dialog and an interface to switch the current userxx
Comment[zh_CN]=屏幕锁定程序提供密码对话框和切换当前用户的界面
Comment[zh_TW]=提供密碼保護與切換目前使用者功能的螢幕鎖定程式
Icon=system-lock-screen

X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.passworddialog
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Type=Service
