[Desktop Entry]
Name=Password dialog
Comment=Screen locker that provides a password dialog and an interface to switch the current user
Icon=system-lock-screen

X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.passworddialog
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Type=Service
