[Desktop Entry]
Name=Media Player
Comment=Media Player Controls
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.mediacontroller
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-DBusActivationService=org.mpris.MediaPlayer2.*
