[Desktop Entry]
Encoding=UTF-8
Name=System Tray
Name[ca]=Safata del sistema
Name[ca@valencia]=Safata del sistema
Name[de]=Systemabschnitt der Kontrollleiste
Name[es]=Bandeja del sistema
Name[fi]=Ilmoitusalue
Name[nl]=Systeemvak
Name[nn]=Systemtrau
Name[pl]=Tacka systemowa
Name[pt]=Bandeja do sistema
Name[pt_BR]=Área de notificação
Name[sk]=Systémová lišta
Name[sl]=Sistemska vrstica
Name[sr]=системска касета
Name[sr@ijekavian]=системска касета
Name[sr@ijekavianlatin]=sistemska kaseta
Name[sr@latin]=sistemska kaseta
Name[sv]=Systembricka
Name[uk]=Системний лоток
Name[x-test]=xxSystem trayxx
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.private.systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentType=Panel
#this is the internal implementation: can't be loaded directly
NoDisplay=true
