[Desktop Entry]
Name=Activities
Comment=List and switch between desktop activities
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-activities
X-KDE-Library=krunner_activities
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.activities
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
