[Desktop Entry]
Name=Activities
Name[ar]=الأنشطة
Name[ast]=Actividaes
Name[az]=İş Otaqları
Name[bg]=Дейности
Name[bs]=Motor aktivnosti
Name[ca]=Activitats
Name[ca@valencia]=Activitats
Name[cs]=Aktivity
Name[da]=Aktiviteter
Name[de]=Aktivitäten
Name[el]=Δραστηριότητες
Name[en_GB]=Activities
Name[es]=Actividades
Name[et]=Tegevused
Name[eu]=Jarduerak
Name[fa]=فعالیتها
Name[fi]=Aktiviteetit
Name[fr]=Activités
Name[ga]=Gníomhaíochtaí
Name[gl]=Actividades
Name[he]=פעילויות
Name[hr]=Aktivnosti
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[id]=Activities
Name[is]=Virknistjóri
Name[it]=Attività
Name[ja]=アクティビティ
Name[kk]=Белсенділіктер
Name[km]=សកម្មភាព
Name[ko]=활동
Name[lt]=Veiklos
Name[lv]=Aktivitātes
Name[mr]=कार्यपध्दती
Name[nb]=Aktiviteter
Name[nds]=Aktiviteten
Name[nl]=Activiteiten
Name[nn]=Aktivitetar
Name[pa]=ਸਰਗਰਮੀਆਂ
Name[pl]=Aktywności
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[ro]=Activități
Name[ru]=Комнаты
Name[sk]=Aktivity
Name[sl]=Dejavnosti
Name[sr]=активности
Name[sr@ijekavian]=активности
Name[sr@ijekavianlatin]=aktivnosti
Name[sr@latin]=aktivnosti
Name[sv]=Aktiviteter
Name[tg]=Фаъолиятҳо
Name[tr]=Etkinlikler
Name[ug]=پائالىيەتلەر
Name[uk]=Простори дій
Name[vi]=Hoạt động
Name[wa]=Activités
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Name[zh_TW]=活動
Comment=List and switch between desktop activities
Comment[ar]=اسرد أنشطة سطح المكتب وبدّل بينها
Comment[az]=İş Masasına aid İş Otaqlarının siyahısı və onlar arasında keçid
Comment[bg]=Списък и превключване между дейностите
Comment[bs]=Prikaz i prebacivanje između aktivnosti radne površine
Comment[ca]=Llista i commuta entre les activitats d'escriptori
Comment[ca@valencia]=Llista i commuta entre activitats d'escriptori
Comment[cs]=Zobrazení a přepínač aktivit pracovní plochy
Comment[da]=Vis og skift mellem skrivebordsaktiviteter
Comment[de]=Aktivitäten anzeigen und zwischen ihnen umschalten
Comment[el]=Εμφάνιση και εναλλαγή μεταξύ των δραστηριοτήτων της επιφάνειας εργασίας
Comment[en_GB]=List and switch between desktop activities
Comment[es]=Ver y cambiar entre las actividades de escritorio
Comment[et]=Töölauategevuste näitamine ja nende vahel lülitamine
Comment[eu]=Zerrendatu mahaigaineko jarduerak eta batetik bestera aldatu
Comment[fi]=Luettele aktiviteetit ja vaihda niiden välillä
Comment[fr]=Affiche les activités du bureau et permet d'en changer
Comment[gl]=Lista e cambia entre actividades o escritorio
Comment[he]=הצגה והחלפה בין פעילויות שולחן עבודה
Comment[hr]=Izlistaj i prebacuj između aktivnosti radne površine
Comment[hu]=Asztali aktivitások listázása és váltás közöttük
Comment[ia]=Lista e commuta inter activitates de scriptorio
Comment[id]=Daftar dan beralih antara aktivitas desktop
Comment[is]=Telur upp og skiptir milli skjáborðsvirkni
Comment[it]=Elenca e passa tra le attività del desktop
Comment[ja]=デスクトップアクティビティを一覧表示して切り替える
Comment[kk]=Белсенділіктерді тізімдеу және ауыстыру
Comment[km]=មើល ហើយ​ប្ដូរ​ប្លង់​ផ្ទៃតុ​សកម្ម​
Comment[ko]=데스크톱 활동을 보거나 바꾸기
Comment[lt]=Išvardyti ir perjungti tarp darbalaukio veiklų
Comment[lv]=Parādīt un pārslēgties starp virtuālajām darbvirsmām
Comment[mr]=वेगळ्या डेस्कटॉप कार्यपध्दतीवर जाण्यासाठी यादी दर्शवा व बदला
Comment[nb]=Vis og bytt mellom skrivebordsaktiviteter
Comment[nds]=Aktiv Schriefdischakschonen ankieken un wesseln
Comment[nl]=Bureaubladactiviteiten laten zien en er tussen schakelen
Comment[nn]=Vis og byt mellom skrivebordsaktiviteter
Comment[pa]=ਡੈਸਕਟਾਪ ਸਰਗਰਮੀਆਂ ਵੇਖੋ ਅਤੇ ਉਹਨਾਂ ਵਿੱਚ ਜਾਓ
Comment[pl]=Wypisuje aktywności pulpitu oraz przełącza pomiędzy nimi
Comment[pt]=Ver e mudar de actividades no ambiente de trabalho
Comment[pt_BR]=Lista e alterna entre as atividades da área de trabalho
Comment[ro]=Vizualizează și schimbă între activitățile biroului
Comment[ru]=Просмотр и переключение между комнатами
Comment[sk]=Vypísať a prepínať medzi aktivitami pracovnej plochy
Comment[sl]=Oglejte si namizne dejavnosti in preklopite med njimi
Comment[sr]=Приказ и пребацивање између активности површи
Comment[sr@ijekavian]=Приказ и пребацивање између активности површи
Comment[sr@ijekavianlatin]=Prikaz i prebacivanje između aktivnosti površi
Comment[sr@latin]=Prikaz i prebacivanje između aktivnosti površi
Comment[sv]=Visa och byt mellan skrivbordsaktiviteter
Comment[tr]=Listele ve masaüstü eylemleri arasında değiştir
Comment[ug]=ئۈستەلئۈستى پائالىيەتلىرى ئارىسىدىكى تىزىم ۋە ئالماشتۇرۇش
Comment[uk]=Перегляд і перемикання між просторами дій стільниці
Comment[vi]=Liệt kê và chuyển giữa các Hoạt động ở bàn làm việc
Comment[wa]=Fé l' djivêye eyet passer d' ene activité do scribanne a ene ôte
Comment[x-test]=xxList and switch between desktop activitiesxx
Comment[zh_CN]=显示和切换桌面活动
Comment[zh_TW]=列出並在桌面活動間切換
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-activities
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.activities
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
