[Desktop Entry]
Name=Battery & Brightness
Name[uk]=Акумулятор і яскравість дисплея
Name[x-test]=xxBattery & Brightnessxx
Comment=See the power status of your battery
Comment[uk]=Перегляньте стан заряду акумулятора
Comment[x-test]=xxSee the power status of your batteryxx
Encoding=UTF-8
Keywords=Power Management;Battery;System;Energy;
Keywords[uk]=Power Management;Battery;System;Energy;керування живленням;акумулятор;система;енергія;батарея;батарейка;живлення;
Keywords[x-test]=xxPower Management;Battery;System;Energy;xx

Icon=battery
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/batterymonitor.qml
X-Plasma-ConfigPlugins=powerdevilprofilesconfig,powerdevilactivitiesconfig,powerdevilglobalconfig
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Sebastian Kügler, Kai Uwe Broulik
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=sebas@kde.org, kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.battery
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
