[Desktop Entry]
Comment=Desktop view furniture
Comment[fr]=Présentation de la vue du bureau
Comment[mr]=डेस्कटॉप दृश्य फर्निचर
Comment[nl]=Meubilair voor weergave op het bureaublad
Comment[pl]=Umeblowanie widoku pulpitu
Comment[pt]=Componentes do ecrã
Comment[pt_BR]=Acessório de visualização da área de trabalho
Comment[sk]=Zobrazenie plochy nábytok
Comment[sv]=Visa skrivbordsmöbler
Comment[uk]=Компоненти для перегляду стільниці
Comment[x-test]=xxDesktop view furniturexx
Encoding=UTF-8
Keywords=
Name=Desktop
Name[bs]=Površ
Name[cs]=Pracovní plocha
Name[de]=Arbeitsfläche
Name[es]=Escritorio
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[mr]=डेस्कटॉप
Name[nl]=Bureaublad
Name[pl]=Pulpit
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Área de trabalho
Name[sk]=Plocha
Name[sv]=Skrivbord
Name[tr]=Masaüstü
Name[ug]=ئۈستەلئۈستى
Name[uk]=Стільниця
Name[x-test]=xxDesktopxx
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.desktop
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=layout.js
