[Desktop Entry]
Name=Fonts
Name[az]=Şriftlər
Name[ca]=Tipus de lletra
Name[de]=Schriftarten
Name[es]=Tipos de letra
Name[eu]=Letra-tipoak
Name[fr]=Polices
Name[it]=Caratteri
Name[nl]=Lettertypen
Name[nn]=Skrifter
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[sl]=Pisave
Name[sv]=Teckensnitt
Name[uk]=Шрифти
Name[x-test]=xxFontsxx

Comment=Configure user interface fonts
Comment[az]=İstifaadəçi interfeysi şriftlərini tənzimləmək
Comment[ca]=Configura els tipus de lletra de la interfície d'usuari
Comment[de]=Benutzerdefinierte Schriften einrichten
Comment[es]=Configurar los tipos de letra de la interfaz de usuario
Comment[eu]=Konfiguratu erabiltzaile-interfazeko letra-tipoak
Comment[fr]=Configurer les polices de caractères pour l'interface utilisateur
Comment[it]=Configura i caratteri dell'interfaccia utente
Comment[nl]=Lettertypen van gebruikersinterface configureren
Comment[nn]=Set opp skrifter for brukargrensesnittet
Comment[pt]=Configurar os tipos de letra da interface do utilizador
Comment[pt_BR]=Configurar as fontes da interface
Comment[ro]=Configurează fonturile interfeței cu utilizatorul
Comment[sl]=Nastavi pisave uporabniškega vmesnika
Comment[sv]=Anpassa teckensnitt för användargränssnitt
Comment[uk]=Налаштовування шрифтів у інтерфейсі користувача
Comment[x-test]=xxConfigure user interface fontsxx

Icon=preferences-desktop-font
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fonts
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
