[Desktop Entry]
Name=Fonts

Comment=Configure user interface fonts

Icon=preferences-desktop-font
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fonts
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
