[Desktop Entry]
Name=Look and Feel
Name[ar]=المظهر و الأحساس
Name[ca]=Aspecte i comportament
Name[ca@valencia]=Aspecte i comportament
Name[da]=Udseende og fremtoning
Name[de]=Erscheinungsbild und Verhalten
Name[el]=Όψη και αίσθηση
Name[en_GB]=Look and Feel
Name[es]=Aspecto visual
Name[eu]=Itxura eta Izaera
Name[fi]=Ulkoasu ja tuntuma
Name[fr]=Apparence
Name[gl]=Aparencia e comportamento
Name[hu]=Megjelenés
Name[ia]=Semblantia
Name[id]=Tampilan dan Rasa
Name[kk]=Сыртқы көрнісі
Name[ko]=모습과 느낌
Name[nds]=Utsehn un Bedenen
Name[nl]=Uiterlijk en gedrag
Name[pa]=ਦਿੱਖ ਅਤੇ ਮਹਿਸੂਸ
Name[pl]=Wygląd i odczucia
Name[ro]=Aspect și comportament
Name[ru]=Оформление
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sv]=Utseende och känsla
Name[tr]=Bakın ve Hissedin
Name[uk]=Вигляд і поведінка
Name[zh_CN]=观感
Name[zh_TW]=外觀與感覺
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_lookandfeel

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/LookAndFeel
X-KDE-PluginInfo-Version=1
