[Desktop Entry]
Type=Service
Name=Remote URL Change Notifier
Comment=Provides change notification for network folders
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=remotedirnotify
X-KDE-DBus-ModuleName=remotedirnotify
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
