[Desktop Entry]
Type=Service
Name=Remote URL Change Notifier
Name[ca]=Notificador de canvi d'URL remot
Name[cs]=Démon upozorňování na vzdálená URL
Name[de]=Überwachung für Dateien auf Fremdrechnern
Name[fi]=Etäverkko-osoitteiden muutosten ilmoitin
Name[hr]=Glasnik promjena na udaljenom URL-u
Name[ia]=Notificator remote de cambio de URL
Name[ko]=원격 URL 변경 알림이
Name[nb]=Påminner for endringer i eksterne URL-er
Name[nds]=Feern-URL-Ännernbescheed
Name[nl]=Notificatie van wijziging in URL-adres op afstand
Name[pl]=Powiadamianie o zmianie zdalnego adresu URL
Name[pt]=Notificador da Alteração de URLs Remotos
Name[pt_BR]=Notificador da alteração de URLs remotas
Name[sk]=Monitor zmien vzdialených URL
Name[sr]=Извештавач о изменама удаљених УРЛ‑ова
Name[sr@ijekavian]=Извјештавач о изменама удаљених УРЛ‑ова
Name[sr@ijekavianlatin]=Izvještavač o izmenama udaljenih URL‑ova
Name[sr@latin]=Izveštavač o izmenama udaljenih URL‑ova
Name[sv]=Underrättelse om ändring av fjärrwebbadresser
Name[tr]=Uzak Adres Değiştirme Bildiricisi
Name[uk]=Сповіщення про зміну віддаленої адреси (URL)
Name[x-test]=xxRemote URL Change Notifierxx
Name[zh_TW]=遠端網址變更通知程式
Comment=Provides change notification for network folders
Comment[bn]=নেটওয়ার্ক ফোল্ডার-এ পরিবর্তনের সূচনা দেয়
Comment[ca]=Proporciona notificacions de canvis en carpetes de xarxa
Comment[cs]=Poskytuje oznamování o změnách síťových složek
Comment[de]=Benachrichtigt den Anwender über Änderungen an Dateien in Netzwerkordnern.
Comment[eo]=Ĝi provizas atentigojn pri ŝanĝoj de retaj dosierujoj
Comment[fa]=هشدار تغییر را برای پوشه‌های شبکه ارائه میدهد
Comment[fi]=Tarjoaa ilmoituksia verkkokansioiden muutoksista
Comment[ga]=Cuireann sé in iúl duit nuair a athraíonn fillteán líonra
Comment[gu]=નેટવર્ક ફોલ્ડરો માટે ફેરફાર નોંધણી પૂરી પાડે છે
Comment[hi]=संजाल फ़ोल्डर्स के लिए परिवर्तन अधिसूचना प्रदान करता है
Comment[hr]=Omogućuje obavještavanje o promjenama na mrežnim mapama
Comment[ia]=Il forni notification de cambio pro dossieres de rete
Comment[ko]=네트워크 폴더의 변경 사항 알림
Comment[nb]=Gir endringsvarslinger for nettverksmapper
Comment[nds]=Stellt Bescheden över Ännern vun Nettwarkornern praat
Comment[nl]=Levert notificatie voor wijzigingen in netwerkmappen
Comment[pl]=Udostępnia powiadomienia o zmianach w katalogach sieciowych
Comment[pt]=Fornece notificações de alterações para as pastas de rede
Comment[pt_BR]=Fornece notificações de alterações para pastas de rede
Comment[sk]=Poskytuje upozornenia o zmenách sieťových priečinkov
Comment[sr]=Даје обавештења о изменама за мрежне фасцикле
Comment[sr@ijekavian]=Даје обавјештења о изменама за мрежне фасцикле
Comment[sr@ijekavianlatin]=Daje obavještenja o izmenama za mrežne fascikle
Comment[sr@latin]=Daje obaveštenja o izmenama za mrežne fascikle
Comment[sv]=Tillhandahåller ändringsunderrättelser för nätverkskataloger
Comment[tr]=Ağ klasörleri için değişiklik bildirimleri sağlar
Comment[uk]=Сповіщення про зміну стану мережевих тек
Comment[vi]=Cung cấp thông báo thay đổi cho các thư mục mạng
Comment[x-test]=xxProvides change notification for network foldersxx
Comment[zh_TW]=提供網路資料夾的變更通知
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=remotedirnotify
X-KDE-DBus-ModuleName=remotedirnotify
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
