[Desktop Entry]
Name=Wallpaper Images
Name[da]=Baggrundsbilleder
Name[es]=Imágenes de fondo del escritorio
Name[hu]=Háttérképek
Name[nl]=Achtergrondafbeeldingen
Name[pt]=Imagens do Papel de Parede
Name[sk]=Obrázky tapety
Name[sv]=Skrivbordsunderlägg
Name[uk]=Зображення шпалер
Name[x-test]=xxWallpaper Imagesxx
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_wallpaperimages

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=Wallpaper/Images
X-KDE-PluginInfo-Version=1
