[Desktop Entry]
Name=Language
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[cs]=Jazyk
Name[da]=Sprog
Name[de]=Sprache
Name[en_GB]=Language
Name[es]=Idioma
Name[eu]=Hizkuntza
Name[fi]=Kieli
Name[fr]=Langue
Name[gl]=Idioma
Name[id]=Bahasa
Name[it]=Lingua
Name[ko]=언어
Name[lt]=Kalba
Name[nl]=Taal
Name[nn]=Språk
Name[pl]=Język
Name[pt]=Língua
Name[pt_BR]=Idioma
Name[ru]=Язык
Name[sk]=Jazyk
Name[sv]=Språk
Name[uk]=Мова
Name[x-test]=xxLanguagexx
Name[zh_CN]=语言
Name[zh_TW]=語言

Icon=preferences-desktop-locale
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_translations
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
