[Desktop Entry]
Name=Language
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[es]=Idioma
Name[fr]=Langue
Name[id]=Language
Name[nl]=Taal
Name[pt]=Língua
Name[sv]=Språk
Name[uk]=Мова
Name[x-test]=xxLanguagexx
Name[zh_TW]=語言

Icon=preferences-desktop-locale
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_translations
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
