[SddmGreeterTheme]
Name=Breeze
Name[ar]=نسيم
Name[ast]=Breeze
Name[bs]=Breeze
Name[ca]=Brisa
Name[ca@valencia]=Brisa
Name[cs]=Breeze
Name[da]=Breeze
Name[de]=Breeze
Name[el]=Breeze
Name[en_GB]=Breeze
Name[es]=Brisa
Name[et]=Breeze
Name[fi]=Breeze
Name[fr]=Brise
Name[gl]=Breeze
Name[hu]=Breeze
Name[id]=Angin
Name[is]=Breeze
Name[it]=Brezza
Name[ja]=Breeze
Name[ko]=Breeze
Name[lt]=Breeze
Name[nb]=Breeze
Name[nds]=Breeze
Name[nl]=Breeze
Name[nn]=Breeze
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=Breeze
Name[ru]=Breeze
Name[sk]=Vánok
Name[sl]=Sapica
Name[sr]=Поветарац
Name[sr@ijekavian]=Поветарац
Name[sr@ijekavianlatin]=Povetarac
Name[sr@latin]=Povetarac
Name[sv]=Breeze
Name[tr]=Breeze
Name[uk]=Breeze
Name[x-test]=xxBreezexx
Name[zh_CN]=微风
Name[zh_TW]=微風
Description=Breeze Theme
Description[ar]=سمة النسيم
Description[ast]=Tema Breeze
Description[bs]=Breeze Tema
Description[ca]=Tema Brisa
Description[ca@valencia]=Tema Brisa
Description[cs]=Motiv Breeze
Description[da]=Breeze-temaet
Description[de]=Breeze-Design
Description[el]=Θέμα Breeze
Description[en_GB]=Breeze Theme
Description[es]=Tema Brisa
Description[et]=Breeze teema
Description[fi]=Breeze-teema
Description[fr]=Thème brise
Description[gl]=Tema Breeze
Description[he]=ערכת הנושא Breeze
Description[hu]=Breeze téma
Description[id]=Tema Angin
Description[is]=Breeze þema
Description[it]=Tema Brezza
Description[ja]=Breeze テーマ
Description[ko]=Breeze 테마
Description[lt]=Breeze apipavidalinimas
Description[nb]=Breeze-tema
Description[nds]=Breeze-Muster
Description[nl]=Thema Breeze
Description[nn]=Breeze-tema
Description[pl]=Wystrój Bryza
Description[pt]=Tema Brisa
Description[pt_BR]=Tema Breeze
Description[ru]=Тема «Breeze»
Description[sk]=Téma Vánok
Description[sl]=Tema Sapica
Description[sr]=Тема Поветарац
Description[sr@ijekavian]=Тема Поветарац
Description[sr@ijekavianlatin]=Tema Povetarac
Description[sr@latin]=Tema Povetarac
Description[sv]=Breeze-tema
Description[tr]=Breeze Teması
Description[uk]=Тема «Breeze»
Description[x-test]=xxBreeze Themexx
Description[zh_CN]=微风主题
Description[zh_TW]=微風主題
Author=David Edmundson
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=breeze.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
