[Desktop Entry]
Exec=plasma-shell
X-DBUS-StartupType=multi
Name=Plasma Desktop Workspace
Name[ar]=مساحة عمل بلازما
Name[ast]=Espaciu de trabayu del escritoriu Plasma
Name[be@latin]=Rabočy abšar stała „Plasma”
Name[bg]=Работно пространство Plasma
Name[bs]=Plazma radni prostor površi
Name[ca]=Espai de treball de l'escriptori Plasma
Name[ca@valencia]=Espai de treball de l'escriptori Plasma
Name[cs]=Pracovní plocha Plasma
Name[da]=Plasma Desktop Workspace
Name[de]=Plasma-Arbeitsflächenbereiche
Name[el]=Χώρος επιφάνειας εργασίας Plasma
Name[en_GB]=Plasma Desktop Workspace
Name[eo]=Plasma Labortabla laborspaco
Name[es]=Espacio de trabajo del escritorio Plasma
Name[et]=Plasma töölaua töötsoon
Name[eu]=Plasma mahaigain langunea
Name[fi]=Plasma-työpöytä
Name[fr]=Espace de travail du bureau Plasma
Name[fy]=Plasma buroblêd wurkromte
Name[ga]=Spás Oibre Deisce Plasma
Name[gl]=Espazo de traballo do escritorio Plasma
Name[gu]=પ્લાઝમા ડેસ્કટોપ વર્કસ્પેશ
Name[he]=סביבת העבודה של Plasma
Name[hi]=प्लाज्मा डेस्कटॉप कार्यस्थान
Name[hne]=प्लाज्मा डेस्कटाप काम करे के जगह
Name[hr]=Plasma radno okruženje
Name[hu]=Plazma munkaterület
Name[ia]=Spatio de labor de scriptorio de Plasma
Name[id]=Ruang Kerja Desktop Plasma
Name[is]=Vinnurýmd Plasma skjáborðs
Name[it]=Spazio di lavoro del desktop di Plasma
Name[ja]=Plasma デスクトップのワークスペース
Name[kk]=Plasma үстел жұмыс орны
Name[km]=តំបន់​ការងារ​ផ្ទៃតុ​របស់ប្លាស្មា
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ  ಕಾರ್ಯವ್ಯೋಮ (ವರ್ಕ್ ಸ್ಪೇಸ್)
Name[ko]=Plasma 데스크톱 작업 공간
Name[lt]=Plasma darbastalio erdvė
Name[lv]=Plasma darbvirsma
Name[ml]=പ്ലാസ്മ പണിയിടസ്ഥലം
Name[mr]=Plasma डेस्कटॉप कार्यक्षेत्र
Name[nb]=Arbeidsrom for Plasma skrivebord
Name[nds]=Plasma-Schriefdischarbeitrebeet
Name[nl]=Plasma Bureaublad Werkplek
Name[nn]=Arbeidsområde for Plasma-skrivebord
Name[or]=ପ୍ଲାଜମା ଡ଼େସ୍କଟପ କାର୍ଯ୍ୟସ୍ଥଳ
Name[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń pulpitu Plazmy
Name[pt]=Espaço do Ecrã do Plasma
Name[pt_BR]=Espaço de Trabalho Plasma
Name[ro]=Spațiu de lucru Plasma al biroului
Name[ru]=Рабочий стол Plasma
Name[si]=ප්ලාස්මා වැඩතල වැඩබිම
Name[sk]=Pracovná plocha Plasma
Name[sl]=Delovni prostor Plasma Desktop
Name[sr]=Плазма радни простор површи
Name[sr@ijekavian]=Плазма радни простор површи
Name[sr@ijekavianlatin]=Plasma radni prostor površi
Name[sr@latin]=Plasma radni prostor površi
Name[sv]=Plasma arbetsområde för skrivbordet
Name[ta]=Plasma Desktop Workspace
Name[te]=ప్లాస్మా రంగస్థల పనిప్రదేశము
Name[tg]=Муҳити мизи кории Plasma
Name[th]=ขอบเขตพื้นที่ใช้งานของพลาสมา
Name[tr]=Plasma Masaüstü Çalışma Alanı
Name[ug]=پلازما ئۈستەلئۈستى خىزمەت بوشلۇقى
Name[uk]=Робочий простір стільниці Плазми
Name[wa]=Espåce di boutaedje Sicribanne  di Plasma
Name[x-test]=xxPlasma Desktop Workspacexx
Name[zh_CN]=Plasma 桌面工作空间
Name[zh_TW]=Plasma 桌面工作空間
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0