[Desktop Entry]
Name=Status Notifier Information
Comment=Engine for applications' status information, based on the Status Notifier protocol.
Icon=preferences-desktop-notification

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_engine_statusnotifieritem
X-KDE-PluginInfo-Author=Matthieu Gallien
X-KDE-PluginInfo-Email=matthieu_gallien@yahoo.fr
X-KDE-PluginInfo-Name=statusnotifieritem
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
