[Desktop Entry]
Name=Status Notifier Information
Name[uk]=Відомості сповіщення про стан
Name[x-test]=xxStatus Notifier Informationxx
Comment=Engine for applications' status information, based on the Status Notifier protocol.
Comment[uk]=Рушій даних щодо стану програм, заснований на протоколі сповіщення про стан.
Comment[x-test]=xxEngine for applications' status information, based on the Status Notifier protocol.xx
Icon=preferences-desktop-notification

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_engine_statusnotifieritem
X-KDE-PluginInfo-Author=Matthieu Gallien
X-KDE-PluginInfo-Email=matthieu_gallien@yahoo.fr
X-KDE-PluginInfo-Name=statusnotifieritem
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
