[Desktop Entry]
Name=Application Style
Name[az]=Tətbiq Üslubu
Name[ca]=Estil de l'aplicació
Name[de]=Anwendungs-Stil
Name[es]=Estilo de las aplicaciones
Name[eu]=Aplikazioaren estiloa
Name[fr]=Style d'applications
Name[it]=Stile delle applicazioni
Name[nl]=Stijl van toepassing
Name[nn]=Program­stil
Name[pt]=Estilo das Aplicações
Name[pt_BR]=Estilo do aplicativo
Name[ro]=Stil aplicații
Name[sl]=Slog aplikacije
Name[sv]=Programstil
Name[uk]=Стиль вікон програм
Name[x-test]=xxApplication Stylexx
Comment=Configure application style and behavior
Comment[az]=Tətbiq üslubu və davranışlarını tənzimləmək
Comment[ca]=Configura l'estil i el comportament de les aplicacions
Comment[de]=Stil und Verhalten der Anwendungen einrichten
Comment[es]=Configurar el estilo y el comportamiento de las aplicaciones
Comment[eu]=Konfiguratu aplikazioaren estiloa eta jokabidea
Comment[fr]=Configurer le style et le comportement des applications
Comment[it]=Configura stile e comportamento dell'applicazione
Comment[nl]=Toepassingstijl en gedrag configureren
Comment[nn]=Set opp utsjånad og åtferd for program
Comment[pt]=Configurar o estilo e comportamento das aplicações
Comment[pt_BR]=Configurar o estilo e comportamento do aplicativo
Comment[ro]=Configurează stilul și comportamentul aplicațiilor
Comment[sl]=Nastavi slog aplikacije in obnašanje
Comment[sv]=Anpassa programstil och beteende
Comment[uk]=Налаштовування стилю і поведінки вікон програм
Comment[x-test]=xxConfigure application style and behaviorxx

Icon=preferences-desktop-theme-applications
Type=Service
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_style
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
