[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Icon=office-calendar
Type=Service
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.calendar
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Date and Time
