[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Name[ar]=التقويم
Name[ast]=Calendariu
Name[be@latin]=Kalandar
Name[bg]=Календар
Name[bn]=ক্যালেণ্ডার
Name[bn_IN]=বর্ষপঞ্জি
Name[bs]=Kalendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[cs]=Kalendář
Name[csb]=Kalãdôrz
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[fy]=Aginda
Name[ga]=Féilire
Name[gl]=Calendario
Name[gu]=કેલેન્ડર
Name[he]=לוח שנה
Name[hi]=कैलेन्डर
Name[hne]=कलेन्डर
Name[hr]=Kalendar
Name[hsb]=Protyka
Name[hu]=Naptár
Name[ia]=Calendario
Name[id]=Kalender
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[kn]=ದಿನಸೂಚಿ
Name[ko]=달력
Name[ku]=Salname
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mai]=कैलेंडर
Name[mk]=Календар
Name[ml]=കലണ്ടര്‍
Name[mr]=दिनदर्शिका
Name[nb]=Kalender
Name[nds]=Kalenner
Name[nl]=Kalender
Name[nn]=Kalender
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ro]=Calendar
Name[ru]=Календарь
Name[si]=දිනදර්ශනය
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=календар
Name[sr@ijekavian]=календар
Name[sr@ijekavianlatin]=kalendar
Name[sr@latin]=kalendar
Name[sv]=Kalender
Name[ta]=நாட்காட்டி
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[ug]=يىلنامە
Name[uk]=Календар
Name[vi]=Lịch
Name[wa]=Calindrî
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Icon=office-calendar
Type=Service
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.calendar
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.date
X-Plasma-StandAloneApp=true

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Date and Time
