[Desktop Entry]
Encoding=UTF-8
Name=Global Menu
Name[ca]=Menú global
Name[ca@valencia]=Menú global
Name[cs]=Globální nabídka
Name[da]=Global menu
Name[de]=Globales Menü
Name[el]=Καθολικό μενού
Name[en_GB]=Global Menu
Name[es]=Menú global
Name[eu]=Menu orokorra
Name[fi]=Yleisvalikko
Name[fr]=Menu global
Name[gl]=Menú global
Name[he]=תפריט גלובלי
Name[hu]=Globális menü
Name[it]=Menu globale
Name[lt]=Visuotinis meniu
Name[nl]=Globaal menu
Name[nn]=Global meny
Name[pa]=ਗਲੋਬਲ ਮੇਨੂ
Name[pl]=Menu globalne
Name[pt]=Menu Global
Name[pt_BR]=Menu global
Name[ru]=Меню приложения
Name[sk]=Globálne menu
Name[sl]=Splošni meni
Name[sr]=Глобални мени
Name[sr@ijekavian]=Глобални мени
Name[sr@ijekavianlatin]=Globalni meni
Name[sr@latin]=Globalni meni
Name[sv]=Global meny
Name[tr]=Genel Menü
Name[uk]=Загальне меню
Name[x-test]=xxGlobal Menuxx
Name[zh_CN]=全局菜单
Name[zh_TW]=全域選單
Comment=Classic menu for finding and starting applications
Comment[ca]=Menú clàssic per cercar i iniciar aplicacions
Comment[ca@valencia]=Menú clàssic per buscar i iniciar aplicacions
Comment[cs]=Klasická nabídka pro hledání a spouštění aplikací
Comment[de]=Klassisches Menü zum Suchen und Starten von Anwendungen
Comment[el]=Κλασσικό μενού για εύρεση και εκκίνηση εφαρμογών
Comment[en_GB]=Classic menu for finding and starting applications
Comment[es]=Menú clásico para encontrar y lanzar aplicaciones
Comment[eu]=Menu klasikoa aplikazioak aurkitu eta abiarazteko
Comment[fi]=Perinteinen ohjelmien haku- ja käynnistysvalikko
Comment[fr]=Menu classique pour trouver et lancer des applications
Comment[gl]=Menú clásico para atopar e iniciar aplicativos.
Comment[he]=תפריט קלסי למציאת יישומים והפעלתם
Comment[hu]=Klasszikus menü az alkalmazások kereséséhez és indításához
Comment[it]=Menu classico per trovare e avviare le applicazioni
Comment[lt]=Klasikinis meniu programų paieškai ir paleidimui
Comment[nl]=Klassiek menu voor zoeken en starten van toepassingen
Comment[nn]=Klassisk meny for å finna og starta program
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਲੱਭਣ ਤੇ ਸ਼ੁਰੂ ਕਰਨ ਲਈ ਕਲਾਸਿਕ ਮੇਨੂ
Comment[pl]=Klasyczne menu do znajdowania i uruchamiania aplikacji
Comment[pt]=Menu clássico para descobrir e iniciar as aplicações
Comment[pt_BR]=Menu clássico para encontrar e iniciar aplicativos
Comment[sk]=Klasická ponuka na hľadanie a spúšťanie aplikácií
Comment[sl]=Klasični meni za iskanje in zaganjanje programov
Comment[sr]=Класичан мени за налажење и покретање програма
Comment[sr@ijekavian]=Класичан мени за налажење и покретање програма
Comment[sr@ijekavianlatin]=Klasičan meni za nalaženje i pokretanje programa
Comment[sr@latin]=Klasičan meni za nalaženje i pokretanje programa
Comment[sv]=Klassisk meny för att hitta och starta program
Comment[tr]=Uygulamaları bulmak ve başlatmak için klasik menü
Comment[uk]=Класичне меню для пошуку і запуску програм
Comment[x-test]=xxClassic menu for finding and starting applicationsxx
Comment[zh_CN]=寻找和启动应用程序的经典菜单
Comment[zh_TW]=尋找並啟動應用程式的經典選單
Icon=show-menu
Type=Service
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.plasma.appmenu
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-Library=plasma_applet_appmenu

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Windows and Tasks
