[Desktop Entry]
Name=Places
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=user-home
Comment=Open devices and folder bookmarks
X-KDE-Library=krunner_placesrunner
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=kde@davidedmundson.co.uk
X-KDE-PluginInfo-Name=places
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
