[Desktop Entry]
Type=Service
Name=kuiserver
Exec=kuiserver
Comment=KDE's Progress Info UI server
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
