[Desktop Entry]
Type=Service
Name=kuiserver
Name[uk]=kuiserver
Name[x-test]=xxkuiserverxx
Exec=kuiserver
Comment=KDE's Progress Info UI server
Comment[uk]=Сервер графічного інтерфейсу інформації про поступ KDE
Comment[x-test]=xxKDE's Progress Info UI serverxx
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
