[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ksysguard
X-KDE-DBus-ModuleName=ksysguard
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=KSysguard
Name[ca]=KSysguard
Name[de]=KSysguard
Name[fi]=KSysguard
Name[ko]=KSysguard
Name[nds]=KSysguard
Name[nl]=KSysguard
Name[pl]=KSysguard
Name[pt]=KSysguard
Name[pt_BR]=KSysguard
Name[sk]=KSysguard
Name[sr]=К‑систембран
Name[sr@ijekavian]=К‑систембран
Name[sr@ijekavianlatin]=K‑sistembran
Name[sr@latin]=K‑sistembran
Name[sv]=KDE:s systemövervakare
Name[uk]=KSysguard
Name[x-test]=xxKSysguardxx
Comment=Launches KSysguard on Ctrl + Escape
Comment[ca]=Llança el KSysguard amb Ctrl + Esc
Comment[de]=Startet KSysguard mit Strg+Esc
Comment[fi]=Käynnistää KSysGuardin painamalla Ctrl+Esc
Comment[ko]=Ctrl+Esc 키를 눌렀을 때 KSysguard 실행
Comment[nds]=Röppt KSysGuard mit Strg + Utknieptast op
Comment[nl]=Start KSysguard bij Ctrl + Escape
Comment[pl]=Uruchamia KSysguard na Ctrl + Escape
Comment[pt]=Invoca o KSysguard com o Ctrl + Escape
Comment[pt_BR]=Carrega o KSysguard com o Ctrl + Escape
Comment[sk]=Spustí KSysGuard pomocou Ctrl + Escape
Comment[sr]=Покреће К‑систембран на Ctrl+Escape
Comment[sr@ijekavian]=Покреће К‑систембран на Ctrl+Escape
Comment[sr@ijekavianlatin]=Pokreće K‑sistembran na Ctrl+Escape
Comment[sr@latin]=Pokreće K‑sistembran na Ctrl+Escape
Comment[sv]=Startar KDE:s systemövervakare vid Ctrl+Esc
Comment[uk]=Запускає KSysguard у відповідь на натискання Ctrl + Esc
Comment[x-test]=xxLaunches KSysguard on Ctrl + Escapexx
