[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ksysguard
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=KSysguard
Name[ar]=مرقاب نظام.ك
Name[ast]=KSysguard
Name[az]=KSysguard
Name[bs]=KSysguard
Name[ca]=KSysguard
Name[ca@valencia]=KSysguard
Name[cs]=KSysGuard
Name[da]=KSysguard
Name[de]=KSysguard
Name[el]=KSysGuard
Name[en_GB]=KSysguard
Name[es]=KSysguard
Name[et]=KSysguard
Name[eu]=KSysguard
Name[fi]=KSysguard
Name[fr]=KSysGuard
Name[gl]=KSysguard
Name[he]=מנהל תהליכים
Name[hu]=KSysGuard
Name[ia]=KSysGuard
Name[id]=KSysguard
Name[is]=KDE kerfisvörður
Name[it]=Monitor di sistema
Name[ja]=KSysguard
Name[ko]=KSysguard
Name[lt]=KSysguard
Name[nb]=KSysguard
Name[nds]=KSysguard
Name[nl]=KSysguard
Name[nn]=KSysguard
Name[pa]=ਕੇ-ਸਿਸਗਾਰਡ
Name[pl]=Monitor Systemu
Name[pt]=KSysguard
Name[pt_BR]=KSysguard
Name[ro]=KSysguard
Name[ru]=Запуск системного монитора
Name[sk]=KSysguard
Name[sl]=KSysguard
Name[sr]=К‑систембран
Name[sr@ijekavian]=К‑систембран
Name[sr@ijekavianlatin]=K‑sistembran
Name[sr@latin]=K‑sistembran
Name[sv]=KDE:s systemövervakare
Name[tr]=KSysGuard
Name[uk]=KSysguard
Name[vi]=KSysguard
Name[x-test]=xxKSysguardxx
Name[zh_CN]=系统卫士
Name[zh_TW]=KSysguard
Comment=Launches KSysguard on Ctrl + Escape
Comment[ar]=يُطلِق مرقاب نظام.ك عند الضغط على Ctrl+Escape
Comment[az]=Ctrl + Escape-lə KSysguard-ı başladır
Comment[bs]=Pokreće KSysguard na Ctrl + Escape
Comment[ca]=Llança el KSysguard amb Ctrl + Esc
Comment[ca@valencia]=Llança KSysguard amb Ctrl + Esc
Comment[cs]=Při Ctrl+Esc spustí KSysguard
Comment[da]=Starter KSysguard med Ctrl + Escape
Comment[de]=Startet KSysguard mit Strg+Esc
Comment[el]=Εκτελεί το KSysguard με Ctrl + Escape
Comment[en_GB]=Launches KSysguard on Ctrl + Escape
Comment[es]=Lanza KSysguard al pulsar Ctrl + Escape
Comment[et]=KSysguardi käivitamine Ctrl+Escape vajutamisel
Comment[eu]=KSysguard jaurtitzen du Ktrl + Ihes sakatzean
Comment[fi]=Käynnistää KSysGuardin painamalla Ctrl+Esc
Comment[fr]=Lancer KSysguard avec Ctrl + Echap
Comment[gl]=Inicia KSysguard con Ctrl + Escape
Comment[he]=הפעל את מנהל התהליכים עם Ctrl + Escape
Comment[hu]=KSysguard futtatása a Ctrl+Esc megnyomásakor
Comment[ia]=Lancea KSysguard sur Ctrl + Escape
Comment[id]=Jalankan KSysguard dengan Ctrl + Escape
Comment[is]=Ræsir KSysguard kerfisvörðinn með Ctrl + Escape
Comment[it]=Avvia Monitor di sistema con Ctrl + Esc
Comment[ja]=KSysguard を Ctrl + Escape で起動する
Comment[ko]=Ctrl+Esc 키를 눌렀을 때 KSysguard 실행
Comment[lt]=Paleidžia KSysguard, paspaudus Vald + Gr (Ctrl + Esc)
Comment[nb]=Starter KSysGuard ved Ctrl+Escape
Comment[nds]=Röppt KSysGuard mit Strg + Utknieptast op
Comment[nl]=Start KSysguard bij Ctrl + Escape
Comment[nn]=Startar KSysGuard ved «Ctrl + Escape»
Comment[pa]=Ctrl + Escape ਨਾਲ ਕੇਸਿਸ-ਗਾਰਡ ਚੱਲਦਾ ਹੈ
Comment[pl]=Uruchamia Monitor Systemu na Ctrl + Escape
Comment[pt]=Invoca o KSysguard com o Ctrl + Escape
Comment[pt_BR]=Carrega o KSysguard com o Ctrl + Escape
Comment[ro]=Lansează KSysguard cu Ctrl + Escape
Comment[ru]=Запускает системный монитор при нажатии Ctrl+Esc
Comment[sk]=Spustí KSysGuard pomocou Ctrl + Escape
Comment[sl]=Zažene KSysguard ob pritisku Ctrl + Escape
Comment[sr]=Покреће К‑систембран на Ctrl+Escape
Comment[sr@ijekavian]=Покреће К‑систембран на Ctrl+Escape
Comment[sr@ijekavianlatin]=Pokreće K‑sistembran na Ctrl+Escape
Comment[sr@latin]=Pokreće K‑sistembran na Ctrl+Escape
Comment[sv]=Startar KDE:s systemövervakare vid Ctrl+Esc
Comment[tr]=Ctrl + Escape ile KSysguard başlatılır
Comment[uk]=Запускає KSysguard у відповідь на натискання Ctrl + Esc
Comment[vi]=Khởi chạy KSysguard khi ấn Ctrl + Escape
Comment[x-test]=xxLaunches KSysguard on Ctrl + Escapexx
Comment[zh_CN]=Ctrl + Escape 启动系统卫士
Comment[zh_TW]=用 Ctrl+Esc 啟動 KSysguard
