[Desktop Entry]
Name=PackageKit
Name[ar]=عُدّة الحزم
Name[ast]=PackageKit
Name[az]=PackageKit
Name[bs]=Paket opreme
Name[ca]=PackageKit
Name[ca@valencia]=PackageKit
Name[cs]=PackageKit
Name[da]=PackageKit
Name[de]=PackageKit
Name[el]=PackageKit
Name[en_GB]=PackageKit
Name[es]=PackageKit
Name[et]=PackageKit
Name[eu]=PackageKit
Name[fi]=PackageKit
Name[fr]=PackageKit
Name[gl]=PackageKit
Name[he]=ערכת חבילות
Name[hu]=PackageKit
Name[ia]=PackageKit (equipamento de pacchetto)
Name[id]=PackageKit
Name[is]=PackageKit
Name[it]=PackageKit
Name[ja]=PackageKit
Name[kk]=PackageKit
Name[ko]=PackageKit
Name[lt]=PackageKit
Name[nb]=PackageKit
Name[nds]=PackageKit
Name[nl]=PackageKit
Name[nn]=PackageKit
Name[pa]=ਪੈਕੇਜਕਿਟ
Name[pl]=PackageKit
Name[pt]=PackageKit
Name[pt_BR]=PackageKit
Name[ro]=PackageKit
Name[ru]=PackageKit
Name[sk]=PackageKit
Name[sl]=PackageKit
Name[sr]=Пакиџ‑кит
Name[sr@ijekavian]=Пакиџ‑кит
Name[sr@ijekavianlatin]=PackageKit
Name[sr@latin]=PackageKit
Name[sv]=PackageKit
Name[tr]=PackageKit
Name[uk]=PackageKit
Name[vi]=PackageKit
Name[x-test]=xxPackageKitxx
Name[zh_CN]=PackageKit
Name[zh_TW]=PackageKit
Comment=PackageKit Data Engine
Comment[ar]=محرّك بيانات عُدّة الحزم
Comment[ast]=Motor de datos de PackageKit
Comment[az]=PackageKit verilənlər mənbəyi
Comment[bs]=Pogon podataka za package kit
Comment[ca]=Motor de dades del PackageKit
Comment[ca@valencia]=Motor de dades de PackageKit
Comment[cs]=Datový nástroj PackageKit
Comment[da]=PackageKit datamotor
Comment[de]=Daten-Treiber PackageKit
Comment[el]=Μηχανή δεδομένων PackageKit
Comment[en_GB]=PackageKit Data Engine
Comment[es]=Motor de datos de PackageKit
Comment[et]=PackageKiti andmemootor
Comment[eu]=PackageKit datuen motorra
Comment[fi]=PackageKit-tietomoottori
Comment[fr]=Moteur de données de PackageKit
Comment[gl]=Motor de datos de PackageKit
Comment[he]=מנוע נתונים של PackageKit
Comment[hu]=PackageKit adatmotor
Comment[ia]=Motor de Datos (Data Engine) de PackageKit
Comment[id]=Mesin Data PackageKit
Comment[is]=Gagnavél fyrir PackageKit
Comment[it]=Motore di dati PackageKit
Comment[ja]=PackageKit データエンジン
Comment[kk]=PackageKit деректер тетігі
Comment[ko]=PackageKit 데이터 엔진
Comment[lt]=PackageKit duomenų variklis
Comment[nb]=PackageKit datamotor
Comment[nds]=PackageKit-Datenkarn
Comment[nl]=Pakketkit Gegevensengine
Comment[nn]=PackageKit-datamotor
Comment[pa]=PackageKit ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Silnik danych PackageKit
Comment[pt]=Motor de Dados do PackageKit
Comment[pt_BR]=Mecanismo de dados do PackageKit
Comment[ro]=Motor de date PackageKit
Comment[ru]=Источник данных PackageKit
Comment[sk]=Dátový engine PackageKit
Comment[sl]=Podatkovni pogon PackageKit
Comment[sr]=Датомотор Пакиџ‑кита
Comment[sr@ijekavian]=Датомотор Пакиџ‑кита
Comment[sr@ijekavianlatin]=Datomotor PackageKita
Comment[sr@latin]=Datomotor PackageKita
Comment[sv]=PackageKit-datagränssnitt
Comment[tr]=PackageKit Veri Motoru
Comment[uk]=Рушій даних PackageKit
Comment[vi]=Dụng cụ dữ liệu PackageKit
Comment[x-test]=xxPackageKit Data Enginexx
Comment[zh_CN]=PackageKit 数据引擎
Comment[zh_TW]=PackageKit 資料引擎
Icon=package-x-generic

Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_packagekit

X-KDE-PluginInfo-Author=Gregor Taetzner
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=packagekit
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL

