[KSplash Theme: Breeze]
Name = Breeze splash screen
Description = Swoosh
Version = 1.0
Author = David Edmundson <david edmundson at kde.org>
Homepage = http://www.kde.org

# Theme behaviour settings.
Engine = KSplashQML
