[Desktop Entry]
Name=Locations
Name[ar]=المواقع
Name[ast]=Allugamientos
Name[az]=Məkanlar
Name[be@latin]=Miescy
Name[bg]=Местоположения
Name[bn]=অবস্থান
Name[bn_IN]=অবস্থান
Name[bs]=Lokacije
Name[ca]=Ubicacions
Name[ca@valencia]=Ubicacions
Name[cs]=Umístění
Name[csb]=Dzejania
Name[da]=Placeringer
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[en_GB]=Locations
Name[eo]=Lokoj
Name[es]=Ubicaciones
Name[et]=Asukohad
Name[eu]=Kokalekuak
Name[fi]=Sijainnit
Name[fr]=Emplacements
Name[fy]=Lokaasjes
Name[ga]=Áiteanna
Name[gl]=Lugares
Name[gu]=સ્થળો
Name[he]=מיקומים
Name[hi]=स्थान
Name[hne]=जगह
Name[hr]=Lokacije
Name[hu]=Helyek
Name[ia]=Locationes
Name[id]=Lokasi
Name[is]=Staðsetningar
Name[it]=Posizioni
Name[ja]=場所
Name[kk]=Адрестер
Name[km]=ទីតាំង
Name[kn]=ಸ್ಥಳಗಳು
Name[ko]=위치
Name[ku]=Cih
Name[lt]=Vietos
Name[lv]=Vietas
Name[mk]=Локации
Name[ml]=സ്ഥാനങ്ങള്‍
Name[mr]=स्थान
Name[nb]=Steder
Name[nds]=Steden
Name[nl]=Locaties
Name[nn]=Adresser
Name[or]=ସ୍ଥାନଗୁଡ଼ିକ
Name[pa]=ਟਿਕਾਣੇ
Name[pl]=Położenia
Name[pt]=Locais
Name[pt_BR]=Localizações
Name[ro]=Locații
Name[ru]=Расположения
Name[si]=පිහිටුම
Name[sk]=Miesta
Name[sl]=Mesta
Name[sr]=локације
Name[sr@ijekavian]=локације
Name[sr@ijekavianlatin]=lokacije
Name[sr@latin]=lokacije
Name[ta]=Locations
Name[te]=స్థానములు
Name[tg]=Ҷойгиршавиҳо
Name[th]=ตำแหน่งที่อยู่
Name[tr]=Konumlar
Name[ug]=ئورنى
Name[uk]=Адреси
Name[vi]=Địa điểm
Name[wa]=Eplaeçmints
Name[x-test]=xxLocationsxx
Name[zh_CN]=位置
Name[zh_TW]=位置
Comment=File and URL opener
Comment[ar]=فاتح ملفات ووصلات
Comment[ast]=Abridor de ficheros y URLs
Comment[az]=Fayl və URL-ların açılması
Comment[be@latin]=Adčynieńnie fajłaŭ i adrasoŭ
Comment[bg]=Отваряне на файлове и адреси
Comment[bn_IN]=ফাইল ও URL প্রদর্শক
Comment[bs]=Otvarač datoteka i URL‑ova
Comment[ca]=Obre fitxers i URL
Comment[ca@valencia]=Obri fitxers i URL
Comment[cs]=Otvírač souborů a URL
Comment[csb]=Òtmëkôcz lopków ë adresół URL
Comment[da]=Fil- og URL-åbner
Comment[de]=Öffnet Dateien und Adressen
Comment[el]=Άνοιγμα αρχείων και URL
Comment[en_GB]=File and URL opener
Comment[eo]=Malfermas dosierojn kaj adresojn
Comment[es]=Visor de archivos y URL
Comment[et]=Faili ja URL-i avaja
Comment[eu]=Fitxategiak eta URLak irekitzea
Comment[fi]=Tiedostojen ja osoitteiden avaaja
Comment[fr]=Ouverture de fichiers et d'URL
Comment[fy]=Triem en URL-adres iepener
Comment[ga]=Osclóir Comhad agus URLanna
Comment[gl]=Abre ficheiros e URL
Comment[gu]=ફાઇલ અને URL ખોલનાર
Comment[he]=פותח קבצים וכתובות
Comment[hi]=फ़ाइल व यूआरएल खोलने वाला
Comment[hne]=फाइल अउ यूआरएल खोलइया
Comment[hr]=Otvarač datoteka i URL-ova
Comment[hu]=Fájlmegnyitó
Comment[ia]=Aperitor de file e de URL
Comment[id]=Pembuka File dan URL
Comment[is]=Opnun skráa og slóða
Comment[it]=Apertura di file e di URL
Comment[ja]=ファイルと URL を開きます
Comment[kk]=Файл мен URL ашқышы
Comment[km]=កម្មវិធី​បើក ឯកសារ និង URL
Comment[kn]=ಕಡತ ಮತ್ತು URL ತೆರೆಯುಗ
Comment[ko]=파일과 URL을 여는 도구
Comment[ku]=Vekera pel û URL'an
Comment[lt]=Failų ir URL atvėrimo įrankis
Comment[lv]=Datņu un URL atvērējs
Comment[mk]=Отворач на датотеки и адреси
Comment[ml]=ഫയല്‍, യുആര്‍എല്‍ തുറക്കുന്നതിനുള്ള സംവിധാനം
Comment[mr]=फाईल व URL ओपनर
Comment[nb]=Fil- og URL-åpner
Comment[nds]=Opmaker för Dateien un URLs
Comment[nl]=Openen van bestanden en URL-adressen
Comment[nn]=Opna filer og nettadresser
Comment[or]=ଫାଇଲ ଏବଂ URL ଖୋଲା
Comment[pa]=ਫਾਈਲ ਅਤੇ URL ਖੋਲ੍ਹਣ ਵਾਲਾ
Comment[pl]=Otwiera pliki i adresy URL
Comment[pt]=Abertura de ficheiros e URL's
Comment[pt_BR]=Abertura de arquivos e URLs
Comment[ro]=Deschizător de fișiere și URL-uri
Comment[ru]=Открытие файлов и ссылок
Comment[si]=ගොනු සහ URL විවෘතකරණය
Comment[sk]=Otváranie súborov a URL
Comment[sl]=Odpri datoteke in naslove URL
Comment[sr]=Отварач фајлова и УРЛ‑ова
Comment[sr@ijekavian]=Отварач фајлова и УРЛ‑ова
Comment[sr@ijekavianlatin]=Otvarač fajlova i URL‑ova
Comment[sr@latin]=Otvarač fajlova i URL‑ova
Comment[ta]=File and URL opener
Comment[te]=ఫైల్ మరియు URL తెరువునది
Comment[th]=ตัวเปิดแฟ้มและที่อยู่ URL
Comment[tr]=Dosya ve Adres açıcı
Comment[ug]=ھۆججەت ۋە URL ئاچقۇچ
Comment[uk]=Відкривання файлів і адрес URL
Comment[vi]=Trình mở tệp và URL
Comment[wa]=Droveu d' fitchî eyet d' adresses
Comment[x-test]=xxFile and URL openerxx
Comment[zh_CN]=文件和链接打开器
Comment[zh_TW]=檔案與網址開啟器
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=system-file-manager
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=locations
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
