[Desktop Entry]
Name=Calculator
Name[uk]=Калькулятор
Name[x-test]=xxCalculatorxx
Comment=Calculate expressions
Comment[uk]=Обчислення виразів
Comment[x-test]=xxCalculate expressionsxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=accessories-calculator
X-KDE-Library=krunner_calculatorrunner
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
