[Desktop Entry]
Name=Calculator
Name[ar]=آلة حاسبة
Name[ast]=Calculadora
Name[az]=Kalkulyator
Name[be@latin]=Kalkulatar
Name[bg]=Калкулатор
Name[bn]=ক্যালকুলেটর
Name[bn_IN]=ক্যালকুলেটর
Name[bs]=Kalkulator
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulátor
Name[csb]=Kalkùlator
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Αριθμομηχανή
Name[en_GB]=Calculator
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[eu]=Kalkulagailua
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[fy]=Rekkenmasine
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[gu]=કેલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=गणक
Name[hne]=केलकुलेटर
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[ia]=Calculator
Name[id]=Kalkulator
Name[is]=Reiknivél
Name[it]=Calcolatrice
Name[ja]=計算機
Name[kk]=Калькулятор
Name[km]=ម៉ាស៊ីន​គិត​លេខ
Name[kn]=ಲೆಕ್ಕಿಗ (ಕಾಲ್ಕುಲೇಟರ್)
Name[ko]=계산기
Name[ku]=Makîneya Hesaban
Name[lt]=Skaičiuotuvas
Name[lv]=Kalkulators
Name[mai]=कैलकुलेटर
Name[mk]=Калкулатор
Name[ml]=കാല്‍ക്കുലേറ്റര്‍
Name[mr]=गणनायंत्र
Name[nb]=Kalkulator
Name[nds]=Taschenreekner
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[or]=କାଲକୁଲେଟର
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[se]=Kalkuláhtor
Name[si]=ගණනය
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sr]=калкулатор
Name[sr@ijekavian]=калкулатор
Name[sr@ijekavianlatin]=kalkulator
Name[sr@latin]=kalkulator
Name[sv]=Miniräknare
Name[ta]=Calculator
Name[te]=గణనపరికరం
Name[tg]=Ҳисобкунак
Name[th]=เครื่องคิดเลข
Name[tr]=Hesap Makinesi
Name[ug]=ھېسابلىغۇچ
Name[uk]=Калькулятор
Name[uz]=Kalkulyator
Name[uz@cyrillic]=Калкулятор
Name[vi]=Máy tính bỏ túi
Name[wa]=Carculete
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Calculate expressions
Comment[ar]=احسب التعابير
Comment[ast]=Calcula espresiones
Comment[az]=İfadələrin hesablanması
Comment[be@latin]=Padlik vyrazaŭ.
Comment[bg]=Изчисления
Comment[bs]=Računajte izraze
Comment[ca]=Calcula expressions
Comment[ca@valencia]=Calcula expressions
Comment[cs]=Výpočet vzorců
Comment[csb]=Przeprowôdzanié rechòwaniô
Comment[da]=Beregn udtryk
Comment[de]=Berechnungen durchführen
Comment[el]=Υπολογισμός εκφράσεων
Comment[en_GB]=Calculate expressions
Comment[eo]=Kalkuli esprimojn
Comment[es]=Calcular expresiones
Comment[et]=Avaldiste arvutamine
Comment[eu]=Kalkulatu adierazpenak
Comment[fa]=محاسبه عبارات
Comment[fi]=Suorittaa laskutoimituksia
Comment[fr]=Calcule des expressions
Comment[fy]=Utdrukkings berekkenje
Comment[ga]=Áirigh sloinn
Comment[gl]=Calcula expresións
Comment[gu]=સૂત્રોની ગણતરી કરો
Comment[he]=חישוב ביטויים
Comment[hi]=एक्सप्रेशन्स गणना करें
Comment[hne]=एक्सप्रेसन्स गनना करव
Comment[hr]=Izračunaj izraze
Comment[hu]=Kifejezéseket kezelni tudó számológép
Comment[ia]=Calcula expressiones
Comment[id]=Kalkukasi ekspresi
Comment[is]=Reikna segðir
Comment[it]=Calcola le espressioni
Comment[ja]=数式を計算します
Comment[kk]=Өрнектерді есептеу
Comment[km]=គណនា​កន្សោម​​
Comment[kn]=ಕ್ರಮೋಕ್ತಿಗಳನ್ನು (ಎಕ್ಸ್ಪ್ರೆಶನ್) ಬಿಡಿಸು
Comment[ko]=수식 계산기
Comment[ku]=ravekirinên Hesabkirinê
Comment[lt]=Skaičiuoti išraiškas
Comment[lv]=Rēķina izteiksmes
Comment[mai]=एक्सप्रेशन्स गणना करू
Comment[mk]=Пресметувајте изрази
Comment[ml]=എക്സ്പ്രെഷനുകള്‍ കണക്കുകൂട്ടുക
Comment[mr]=एक्सप्रेशन्स गणना करा
Comment[nb]=Beregn uttrykk
Comment[nds]=Utdrück utreken
Comment[ne]=अभिव्यक्ति गणना गर्नुहोस्
Comment[nl]=Expressies berekenen
Comment[nn]=Grafisk kalkulator
Comment[or]=ଅଭିବ୍ୟକ୍ତିଗୁଡ଼ିକୁ ଗଣନା କରନ୍ତୁ
Comment[pa]=ਸਮੀਕਰਨ ਕੱਢੋ
Comment[pl]=Oblicza wyrażenia matematyczne
Comment[pt]=Calcular expressões
Comment[pt_BR]=Calcula expressões
Comment[ro]=Calculează expresii
Comment[ru]=Вычисление выражений
Comment[se]=Rehkenastte mattebihtáid
Comment[si]=ප්‍රකාශන ගණනය කරන්න
Comment[sk]=Výpočty na kalkulačke
Comment[sl]=Izračunaj izraze
Comment[sr]=Рачунајте изразе
Comment[sr@ijekavian]=Рачунајте изразе
Comment[sr@ijekavianlatin]=Računajte izraze
Comment[sr@latin]=Računajte izraze
Comment[sv]=Beräkna uttryck
Comment[ta]=Calculate expressions
Comment[te]=సమాసాలను గణించుము
Comment[th]=คำนวณนิพจน์
Comment[tr]=İfadeleri hesapla
Comment[ug]=ئىپادىنى ھېسابلا
Comment[uk]=Обчислення виразів
Comment[vi]=Tính biểu thức
Comment[wa]=Carcule des ratourneures
Comment[x-test]=xxCalculate expressionsxx
Comment[zh_CN]=计算表达式
Comment[zh_TW]=計算機表示式
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=accessories-calculator
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
