[Desktop Entry]
Name=Calculator
Comment=Calculate expressions
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=accessories-calculator
X-KDE-Library=krunner_calculatorrunner
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
