[Desktop Entry]
Name=Colors
Name[ca]=Colors
Name[es]=Colores
Name[nl]=Kleuren
Name[pt]=Cores
Name[sv]=Färger
Name[uk]=Кольори
Name[x-test]=xxColorsxx
Comment=Choose color scheme
Comment[ca]=Trieu l'esquema de color
Comment[es]=Escoger un esquema de color
Comment[nl]=Kleurenschema kiezen
Comment[pt]=Escolher o esquema de cores
Comment[sv]=Välj färgschema
Comment[uk]=Вибір схеми кольорів
Comment[x-test]=xxChoose color schemexx

Icon=preferences-desktop-color
Type=Service
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_colors
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
