[Desktop Entry]
Name=Window Information
Name[ar]=معلومات النافذة
Name[ast]=Información de ventana
Name[be@latin]=Źviestki z akna
Name[bg]=Данни за прозорци
Name[bn]=উইণ্ডো তথ্য
Name[bn_IN]=উইন্ডো সংক্রান্ড তথ্য
Name[bs]=podaci o prozorima
Name[ca]=Informació de les finestres
Name[ca@valencia]=Informació de les finestres
Name[cs]=Informace o okně
Name[csb]=Wëdowiédzô òknów
Name[da]=Vinduesinformation
Name[de]=Fensterinformationen
Name[el]=Πληροφορίες παραθύρου
Name[en_GB]=Window Information
Name[eo]=Fenestra Informo
Name[es]=Información de ventana
Name[et]=Akende teave
Name[eu]=Leihoari buruzko informazioa
Name[fi]=Ikkunatiedot
Name[fr]=Informations sur la fenêtre
Name[fy]=Finster ynformaasje
Name[ga]=Eolas Faoin Fhuinneog
Name[gl]=Información de xanelas
Name[gu]=વિન્ડો માહિતી
Name[he]=מידע על חלון
Name[hi]=विंडो जानकारी
Name[hne]=विंडो जानकारी
Name[hr]=Podaci o prozorima
Name[hu]=Ablakjellemzők
Name[ia]=Information de fenestra
Name[id]=Informasi Jendela
Name[is]=Gluggaupplýsingar
Name[it]=Informazioni sulle finestre
Name[ja]=ウィンドウの情報
Name[kk]=Терезенің мәліметі
Name[km]=ព័ត៌មាន​បង្អួច
Name[kn]=ಕಿಟಕಿ ಮಾಹಿತಿ
Name[ko]=창 정보
Name[ku]=Agahiya Paceyê
Name[lt]=Lango informacija
Name[lv]=Logu informācija
Name[mk]=Информации за прозорец
Name[ml]=വിന്‍ഡോ വിവരം
Name[mr]=चौकट माहिती
Name[nb]=Vindusinformasjon
Name[nds]=Finster-Informatschonen
Name[nl]=Vensterinformatie
Name[nn]=Vindaugsinformasjon
Name[or]=ୱିଣ୍ଡୋ ସୂଚନା
Name[pa]=ਵਿੰਡੋ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o oknie
Name[pt]=Informação das Janelas
Name[pt_BR]=Informações da janela
Name[ro]=Informații fereastră
Name[ru]=Сведения об окне
Name[si]=කවුළු තොරතුරු
Name[sk]=Informácie o oknách
Name[sl]=Podatki o oknih
Name[sr]=подаци о прозорима
Name[sr@ijekavian]=подаци о прозорима
Name[sr@ijekavianlatin]=podaci o prozorima
Name[sr@latin]=podaci o prozorima
Name[sv]=Fönsterinformation
Name[ta]=Window Information
Name[tg]=Сведения об окне
Name[th]=ข้อมูลของหน้าต่าง
Name[tr]=Pencere Bilgileri
Name[ug]=كۆزنەك ئۇچۇرى
Name[uk]=Інформація про вікна
Name[wa]=Informåcions sol finiesse
Name[x-test]=xxWindow Informationxx
Name[zh_CN]=窗口信息
Name[zh_TW]=視窗資訊
Comment=Information and management services for all available windows.
Comment[ar]=معلومات و خدمات الإدارة لجميع النوافذ المتاحة.
Comment[ast]=Información y servicios de xestión pa toles ventanes disponibles.
Comment[bg]=Данни и услуги за управление на всички налични прозорци.
Comment[bs]=Servisi za podatke i upravljanje svim dostupnim prozorima.
Comment[ca]=Serveis d'informació i gestió de totes les finestres disponibles.
Comment[ca@valencia]=Serveis d'informació i gestió de totes les finestres disponibles.
Comment[cs]=Informace a správa služeb pro všechna dostupná okna.
Comment[da]=Information og håndteringstjenester for alle tilgængelige vinduer.
Comment[de]=Informationen und Verwaltungsdienste für alle verfügbaren Fenster.
Comment[el]=Πληροφορίες υπηρεσιών διαχείρισης για όλα τα διαθέσιμα παράθυρα.
Comment[en_GB]=Information and management services for all available windows.
Comment[eo]=Informado kaj servmastrumado por ĉiuj disponeblaj fenestroj.
Comment[es]=Información y servicios de gestión para todas las ventanas disponibles.
Comment[et]=Teave kõikide akende kohta ja vastavad haldamisteenused.
Comment[eu]=Informazioa eta kudeaketa-zerbitzuak leiho erabilgarri guztientzat.
Comment[fi]=Tieto- ja hallintapalveluja kaikkille käytettävissä oleville ikkunoille.
Comment[fr]=Services d'informations et de gestion pour toutes les fenêtres disponibles.
Comment[fy]=Ynformaasje en behear tsjinsten foar alle beskikbere finsters.
Comment[gl]=Servizos de información e xestión de todas as xanelas dispoñíbeis.
Comment[he]=שירותי מידע וניהול עבור כל החלונות הזמינים.
Comment[hr]=Usluge informiranja i upravljanja za sve dostupne prozore
Comment[hu]=Jellemzők és kezelő szolgáltatások az összes elérhető ablakhoz.
Comment[ia]=Servicios de gestion e information pro omne fenestras disponibile.
Comment[id]=Layanan informasi dan manajemen untuk semua jendela yang tersedia.
Comment[is]=Upplýsinga- og stýringaþjónusta fyrir alla tiltæka glugga.
Comment[it]=Servizi di informazioni e gestione per tutte le finestre disponibili.
Comment[ja]=すべての利用可能なウィンドウ用の情報・管理サービスです。
Comment[kk]=Бүкіл бар терезелерінің мәліметі мен басқару қызметтері.
Comment[km]=ព័ត៌មាន​អំពី​សេវា និង​ការ​គ្រប់គ្រង​សម្រាប់​វីនដូ​ដែល​អាច​ប្រើ​បានទាំង​អស់ ។
Comment[kn]=ಲಭ್ಯವಿರುವ ಎಲ್ಲಾ ವಿಂಡೋಗಳಿಗಾಗಿನ ಮಾಹಿತಿ ಹಾಗು ನಿರ್ವಹಣಾ ಸೇವೆಗಳು.
Comment[ko]=사용 가능한 창에 대한 정보 및 관리 서비스입니다.
Comment[lt]=Informacija ir tvarkymo tarnybos visiems prieinamiems langams.
Comment[lv]=Informācija un pārvaldības servisi visiem pieejamajiem logiem.
Comment[mk]=Информации и менаџирање сервиси за сите достапни прозорци.
Comment[ml]=ലഭ്യമായ ജാലകങ്ങള്‍ക്കുള്ള വിവരണങ്ങളും നേതൃത്വ സേവനങ്ങളും. 
Comment[mr]=सर्व उपलब्ध चौकटींकरिता माहिती व व्यवस्थापन सेवा
Comment[nb]=Informasjon og styringstjenester for alle tilgjengelige vinduer.
Comment[nds]=Informatschonen un Pleegdeensten för all verföögbor Finstern
Comment[nl]=Informatie- en beheerservices voor alle beschikbare vensters.
Comment[nn]=Informasjon om og handteringstenester for alle tilgjengelege vindauge.
Comment[pa]=ਸਭ ਉਪਲੱਬਧ ਵਿੰਡੋਜ਼ ਲਈ ਜਾਣਕਾਰੀ ਅਤੇ ਪਰਬੰਧ ਸਰਵਿਸਾਂ
Comment[pl]=Informacje i usługi zarządzania dla wszystkich dostępnych okien.
Comment[pt]=Serviços de informação e gestão dos serviços para todas as janelas disponíveis.
Comment[pt_BR]=Informação e gerenciamento de serviços para todas as janelas disponíveis.
Comment[ro]=Servicii de informare și gestiune pentru toate ferestrele disponibile.
Comment[ru]=Информация и управление всеми доступными окнами.
Comment[si]=පවතින සියළු කවුළු සඳහා තොරතුරු හා පරිපාලන සේවා
Comment[sk]=Informačné a riadiace služby pre všetky dostupné okná.
Comment[sl]=Podatki o vseh razpoložljivih oknih in storitve za upravljanje oken.
Comment[sr]=Сервиси за податке и управљање свим доступним прозорима.
Comment[sr@ijekavian]=Сервиси за податке и управљање свим доступним прозорима.
Comment[sr@ijekavianlatin]=Servisi za podatke i upravljanje svim dostupnim prozorima.
Comment[sr@latin]=Servisi za podatke i upravljanje svim dostupnim prozorima.
Comment[sv]=Information om och hanteringstjänster för alla tillgängliga fönster.
Comment[tg]=Иттилоот ва идоракунии хизматҳо барои ҳамаи тирезаҳои дастрас.
Comment[th]=ข้อมูลรายละเอียดและบริการการจัดการต่าง ๆ สำหรับหน้าต่างที่มีใช้งานทั้งหมด
Comment[tr]=Kullanılabilir tüm pencereler için bilgi ve yönetim servisleri.
Comment[ug]=ئىشلەتكىلى بولىدىغان ھەممە كۆزنەكلەرنىڭ ئۇچۇرى ۋە باشقۇرۇش مۇلازىمەتلىرى
Comment[uk]=Відомості щодо служб і керування ними для всіх доступних вікон.
Comment[vi]=Thông tin và các dịch vụ quản lý cho tất cả các cửa sổ hiện hữu.
Comment[wa]=Informåcions eyet siervices di manaedjmint po tos les purneas k' i gn a.
Comment[x-test]=xxInformation and management services for all available windows.xx
Comment[zh_CN]=全部可用窗口的信息和管理服务
Comment[zh_TW]=所有可用的視窗的資訊與管理服務。
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_tasks

X-KDE-PluginInfo-Author=Robert Knight
X-KDE-PluginInfo-Email=robertknight@gmail.com
X-KDE-PluginInfo-Name=tasks
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
