[Desktop Entry]
Name=Window Information
Name[uk]=Інформація про вікна
Name[x-test]=xxWindow Informationxx
Comment=Information and management services for all available windows.
Comment[uk]=Відомості щодо служб і керування ними для всіх доступних вікон.
Comment[x-test]=xxInformation and management services for all available windows.xx
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_tasks

X-KDE-PluginInfo-Author=Robert Knight
X-KDE-PluginInfo-Email=robertknight@gmail.com
X-KDE-PluginInfo-Name=tasks
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
