[Desktop Entry]
Name=Dictionary
Name[ar]=قاموس
Name[as]=অভিধান
Name[ast]=Diccionariu
Name[az]=Lüğət
Name[be@latin]=Słoŭnik
Name[bg]=Речник
Name[bn]=অভিধান
Name[bn_IN]=অভিধান
Name[bs]=Rječnik
Name[ca]=Diccionari
Name[ca@valencia]=Diccionari
Name[cs]=Slovník
Name[csb]=Słowôrz
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[eo]=Vortaro
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fa]=واژه‌نامه
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[fy]=Wurdboek
Name[ga]=Foclóir
Name[gl]=Dicionario
Name[gu]=ડિક્શનરી
Name[he]=מילון
Name[hi]=शब्दकोश
Name[hne]=सब्दकोस
Name[hr]=Rječnik
Name[hu]=Szótár
Name[ia]=Dictionario
Name[id]=Kamus
Name[is]=Orðabók
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[km]=វចនានុក្រម
Name[kn]=ಶಬ್ದಕೋಶ 
Name[ko]=사전
Name[ku]=Ferheng
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[mai]=शब्दकोश
Name[mk]=Речник
Name[ml]=നിഘണ്ടു
Name[mr]=माहितीकोष
Name[nb]=Ordbok
Name[nds]=Wöörbook
Name[nl]=Woordenboek
Name[nn]=Ordbok
Name[or]=ଅଭିଧାନ
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[si]=ශබ්දකෝෂය
Name[sk]=Slovník
Name[sl]=Slovar
Name[sr]=речник
Name[sr@ijekavian]=рјечник
Name[sr@ijekavianlatin]=rječnik
Name[sr@latin]=rečnik
Name[ta]=அகராதி
Name[tg]=Луғат
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[vi]=Từ điển
Name[wa]=Motî
Name[x-test]=xxDictionaryxx
Name[zh_CN]=词典
Name[zh_TW]=字典
Comment=Look up word meanings
Comment[af]=Slaan woordbetekenisse na
Comment[ar]=ابحث عن معاني الكلمات
Comment[ast]=Gueta significaos de pallabres
Comment[az]=Söz və tərcümələrin mənalarını göstərmək
Comment[be@latin]=Pošuk značeńniaŭ słovaŭ
Comment[bg]=Търсене значението на думи
Comment[bn_IN]=শব্দের অর্থ অনুসন্ধান করুন
Comment[bs]=Potražite značenja riječi
Comment[ca]=Cerca els significats de paraules
Comment[ca@valencia]=Busca els significats de les paraules
Comment[cs]=Vyhledávání významu slov
Comment[da]=Slå ords betydning op
Comment[de]=Nachschlagen von Wortbedeutungen
Comment[el]=Αναζήτηση σημασίας λέξεων
Comment[en_GB]=Look up word meanings
Comment[eo]=Serĉi difinojn de vortoj
Comment[es]=Buscar significado de las palabras
Comment[et]=Sõna tähenduse otsimine
Comment[eu]=Bilatu hitzen esanahiak
Comment[fi]=Tarkista sanojen merkityksiä
Comment[fr]=Connaître la signification des mots
Comment[fy]=Sykje de wurdbetekenissen op
Comment[ga]=Aimsigh sainmhíniú ar fhocal
Comment[gl]=Buscar o significado de palabras.
Comment[gu]=શબ્દનાં અર્થો શોધો
Comment[he]=בדיקת משמעויות של מילים
Comment[hi]=शब्द का अर्थ देखें
Comment[hne]=सब्द के मायने देखव
Comment[hr]=Pretražite riječi i njihova značenja
Comment[hu]=Értelmező szótár
Comment[ia]=Cerca significato de parola
Comment[id]=Cari arti kata
Comment[is]=Flettu upp merkingu orða
Comment[it]=Cerca i significati delle parole
Comment[ja]=単語の意味を調べる
Comment[kk]=Сөздің мәнін қарастыру
Comment[km]=រក​មើល​អត្ថន័យ​របស់​ពាក្យ
Comment[kn]=ಪದಗಳ ಅರ್ಥಗಳಿಗನ್ನು ಹುಡುಕು
Comment[ko]=단어의 뜻 찾기
Comment[lt]=Žodžių reikšmių paieška
Comment[lv]=Atrod vārdu nozīmes
Comment[mk]=Побарајте за значења на зборовите
Comment[ml]=വാക്കുകളുടെ അര്‍ത്ഥങ്ങള്‍ നിഘണ്ടുവില്‍ തെരയുക
Comment[mr]=शब्दांचे अर्थ शोधण्याकरिता लुकअप
Comment[nb]=Slå opp betydningen av ord
Comment[nds]=Woortbedüden naslaan
Comment[ne]=शब्दको अर्थ हेर्नुहोस्
Comment[nl]=Zoek de betekenis van woorden op
Comment[nn]=Slå opp tydinga til ord
Comment[pa]=ਸ਼ਬਦ ਅਰਥ ਖੋਜ
Comment[pl]=Wyszukuje znaczenia słów
Comment[pt]=Procurar os significados das palavras
Comment[pt_BR]=Procurar os significados das palavras
Comment[ro]=Caută înțelesul cuvintelor
Comment[ru]=Показ значений слов или перевода
Comment[se]=Oza maid sátni máksá
Comment[si]=වදන් තේරුම් සෙවීම
Comment[sk]=Vyhľadávanie významov slov
Comment[sl]=Poišči pomene besed
Comment[sr]=Потражите значења речи
Comment[sr@ijekavian]=Потражите значења ријечи
Comment[sr@ijekavianlatin]=Potražite značenja riječi
Comment[sr@latin]=Potražite značenja reči
Comment[ta]=Look up word meanings
Comment[te]=పదము అర్ధాలను చూడుము
Comment[th]=ค้นหาความหมายของคำ
Comment[tr]=Sözcük anlamlarına bak
Comment[ug]=سۆز مەنىسىنى ئىزدە
Comment[uk]=Пошук значень слів
Comment[vi]=Tra nghĩa của từ
Comment[wa]=Cweri çou k' on mot vout dire
Comment[x-test]=xxLook up word meaningsxx
Comment[zh_CN]=查阅单词含义
Comment[zh_TW]=尋找單字的意義
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=accessories-dictionary
X-KDE-Library=plasma_engine_dict

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=dict
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=


