[Desktop Entry]
Icon=preferences-system-splash
Exec=kcmshell5 kcm_splashscreen
X-DocPath=kcontrol/splashscreen/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_splashscreen
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=100

Name=Splash Screen
Name[af]=Spat Skerm
Name[ast]=Pantalla Splash
Name[be]=Застаўка загрузкі
Name[be@latin]=Zastaŭka
Name[bg]=Начален екран
Name[bn]=স্প্ল্যাশ স্ক্রীণ
Name[br]=Skramm-degemer
Name[bs]=Uvodni ekran
Name[ca@valencia]=Pantalla d'inici
Name[csb]=Ekran na przëwitanié
Name[cy]=Sgrîn Croeso
Name[da]=Splashskærm
Name[de]=Startbildschirm
Name[el]=Αρχική οθόνη
Name[en_GB]=Splash Screen
Name[eo]=Salutŝildo
Name[es]=Pantalla anunciadora
Name[et]=Käivitusekraan
Name[eu]=Harrerako pantaila
Name[fa]=رنگ‌پاشی پرده
Name[fi]=Aloitusruutu
Name[fr]=Écran de démarrage
Name[fy]=Begjinskerm
Name[ga]=Splancscáileán
Name[gl]=Pantalla de benvida
Name[gu]=સ્પ્લેશ સ્ક્રિન
Name[he]=מצג פתיחה
Name[hi]=स्प्लैश स्क्रीन
Name[hne]=स्प्लैस स्क्रीन
Name[hr]=Pozdravni zaslon
Name[hsb]=Powitanka
Name[hu]=Nyitókép-témák
Name[ia]=Schermo de Splash
Name[id]=Layar Splash
Name[is]=Upphafsskjár
Name[it]=Schermata d'avvio
Name[ja]=スプラッシュスクリーン
Name[kk]=Бейнепердесі
Name[km]=អេក្រង់​ស្វាគមន៍
Name[kn]=ಸ್ಪ್ಲಾಷ್ ತೆರೆ
Name[ko]=시작 화면
Name[ku]=Splash Screen
Name[lt]=Pasveikinimo ekranas
Name[lv]=Šļaksta ekrāns
Name[mai]=स्प्लैश स्क्रीन
Name[mk]=Поздравен екран
Name[ml]=മുഖചിത്രം
Name[mr]=स्प्लॅश स्क्रीन
Name[ms]=Splash Screen 
Name[nds]=Startschirm
Name[ne]=स्प्लयास पर्दा
Name[nl]=Opstartscherm
Name[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[ro]=Ecran de întîmpinare
Name[ru]=Заставка
Name[si]=ස්ප්ලෑෂ් තිරය
Name[sk]=Úvodná obrazovka
Name[sl]=Pozdravno okno
Name[sv]=Startskärm
Name[ta]=தோன்றும் திரை
Name[te]=స్ప్లాష్ స్క్రీన్
Name[tg]=Пардаи боркунии экран
Name[th]=หน้าจอเริ่มการทำงาน
Name[tr]=Açılış ekranı
Name[ug]=ئېچىلىش ئېكرانى
Name[uk]=Вікно вітання
Name[uz]=Splesh oynasi
Name[uz@cyrillic]=Сплэш ойнаси
Name[vi]=Màn hình Chào mừng
Name[wa]=Waitroûle d' enondaedje
Name[zh_CN]=欢迎屏幕
Name[zh_TW]=啟動畫面
Comment=Splash Screen Theme
X-KDE-Keywords=splash screen,splash theme,startup
X-KDE-Keywords[bs]=čuvar zaslona,blijesak teme,pokretanje
X-KDE-Keywords[ca@valencia]=pantalla de benvinguda,tema de benvinguda,engegar
X-KDE-Keywords[da]=opstartsbillede,opstartsskærm,splash,opstartstema,opstart
X-KDE-Keywords[de]=Startbildschirm,Design
X-KDE-Keywords[el]=οθόνης εκκίνησης,θέμα εκκίνησης,έναρξη
X-KDE-Keywords[es]=pantalla de bienvenida,tema de bienvenida,inicio
X-KDE-Keywords[et]=tiitelkuva,tiitelkuva teema,käivitamine
X-KDE-Keywords[eu]=harrerako pantaila,harrerako gaia,abioa
X-KDE-Keywords[fi]=aloitusruutu,aloitusteema,käynnistys,käynnistysruutu,käynnistysteema
X-KDE-Keywords[fr]=écran de démarrage, thème de démarrage, démarrage
X-KDE-Keywords[ga]=splancscáileán,splancthéama,tosú,tosach
X-KDE-Keywords[gl]=pantalla de benvida, tema de benvida, inicio
X-KDE-Keywords[hu]=indítóképernyő,indítótéma,indulás
X-KDE-Keywords[ia]=schermo splash,thema de splash,initio
X-KDE-Keywords[it]=Schermata d'avvio,tema di avvio,avvio
X-KDE-Keywords[kk]=splash screen,splash theme,startup
X-KDE-Keywords[km]=អេក្រង់​ស្វាគមន៍ រូបរាង​ស្វាគមន៍ ចាប់ផ្ដើម
X-KDE-Keywords[ko]=splash screen,splash theme,startup,시작 화면,시작 테마,시작
X-KDE-Keywords[mr]=स्प्लॅश स्क्रीन, स्प्लॅश शैली, सुरुवात
X-KDE-Keywords[nds]=Startschirm,Startschirm-Muster,Hoochfohren
X-KDE-Keywords[nl]=splash-scherm,splash-thema,opstarten
X-KDE-Keywords[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ,ਸਪਲੈਸ਼ ਥੀਮ,ਸ਼ੁਰੂ,ਸ਼ੁਰੂਆਤ
X-KDE-Keywords[pl]=ekran powitalny,motyw ekranu powitalnego,uruchomienie
X-KDE-Keywords[ro]=ecran de întîmpinare,ecran de pornire,temă de întîmpinare,pornire
X-KDE-Keywords[ru]=splash screen,splash theme,startup,экранная заставка,тема заставки,запуск
X-KDE-Keywords[sk]=splash screen,splash theme,spustenie
X-KDE-Keywords[sl]=pozdravno okno,pozdravni zaslon,tema pozdravnega zaslona,zagon
X-KDE-Keywords[sv]=startskärm,starttema,start
X-KDE-Keywords[tr]=açılış ekranı,açılış ekranı teması,başlangıç,açılış,giriş
X-KDE-Keywords[uk]=splash screen,splash theme,startup,вікно,вітання,тема,запуск
X-KDE-Keywords[zh_CN]=splash screen,splash theme,startup,飞溅屏幕,启动画面,启动画面主题,飞溅屏幕主题,启动
X-KDE-Keywords[zh_TW]=splash screen,splash theme,startup
Categories=Qt;KDE;X-KDE-settings-looknfeel;
