[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=solidautoeject
X-KDE-DBus-ModuleName=solidautoeject
X-KDE-Kded-autoload=true
Name=Drive Ejector
Name[uk]=Вилучення дисків
Name[x-test]=xxDrive Ejectorxx
Comment=Automatically releases drives when their eject button is pushed
Comment[uk]=Автоматичне вилучення файли пристроїв, після натискання на них кнопки виштовхування
Comment[x-test]=xxAutomatically releases drives when their eject button is pushedxx
