[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=solidautoeject
X-KDE-DBus-ModuleName=solidautoeject
X-KDE-Kded-autoload=true
Name=Drive Ejector
Comment=Automatically releases drives when their eject button is pushed
