[Desktop Entry]
Name=privatepaste.com
Name[uk]=privatepaste.com
Name[x-test]=xxprivatepaste.comxx
Comment=Paste text with the PrivatePaste.com service
Comment[uk]=Вставка фрагментів тексту за допомогою служби PrivatePaste.com
Comment[x-test]=xxPaste text with the PrivatePaste.com servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=privatepastecom
X-KDE-PluginInfo-Author=Artur Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

