[Desktop Entry]
Name=Share Services
Name[ar]=خدمات المشاركة
Name[bg]=Услуги за споделяне
Name[bs]=Servisi dijeljenja
Name[ca]=Serveis de compartició
Name[ca@valencia]=Serveis de compartició
Name[cs]=Sdílené služby
Name[da]=Delingstjenester
Name[de]=Veröffentlichungsdienste
Name[el]=Υπηρεσίες κοινής χρήσης
Name[en_GB]=Share Services
Name[es]=Compartir servicios
Name[et]=Jagamisteenused
Name[eu]=Partekatze-zerbitzuak
Name[fi]=Jakamispalvelut
Name[fr]=Services de partage
Name[ga]=Seirbhísí Comhroinnt
Name[gl]=Servizos para compartir
Name[he]=שירותי שיתוף
Name[hi]=साझा सेवाएँ
Name[hr]=Servisi za dijeljenje
Name[hu]=Megosztási szolgáltatások
Name[ia]=Servicios compartite
Name[id]=Layanan Berbagi
Name[is]=Deila þjónustum
Name[it]=Servizi di condivisione
Name[ja]=サービスの共有
Name[kk]=Ортақтастыру қызметтер
Name[km]=ចែក​រំលែក​សេវា
Name[kn]=ಹಂಚಿಕೆ ಸೇವೆಗಳು
Name[ko]=공유 서비스
Name[lt]=Dalinimosi tarnybos
Name[lv]=Kopīgot servisus
Name[mr]=शेअर सेवा
Name[nb]=Dele-tjenester
Name[nds]=Praatstell-Deensten
Name[nl]=Services voor delen
Name[nn]=Del tenester
Name[pa]=ਸਾਂਝੀਆਂ ਸਰਵਿਸਾਂ
Name[pl]=Usługi współdzielenia
Name[pt]=Serviços de Partilha
Name[pt_BR]=Serviços de compartilhamento
Name[ro]=Servicii de partajare
Name[ru]=Обмен информацией
Name[sk]=Služby zdieľania
Name[sl]=Storitve za deljenje
Name[sr]=Сервиси дељења
Name[sr@ijekavian]=Сервиси дељења
Name[sr@ijekavianlatin]=Servisi deljenja
Name[sr@latin]=Servisi deljenja
Name[sv]=Delningstjänster
Name[th]=บริการที่ใช้งานร่วมกัน
Name[tr]=Paylaşım Servisleri
Name[ug]=مۇلازىمەتلەرنى ھەمبەھىرلە
Name[uk]=Служби оприлюднення
Name[wa]=Pårtaedjî siervices
Name[x-test]=xxShare Servicesxx
Name[zh_CN]=共享服务
Name[zh_TW]=分享服務
Comment=Engine to share content using different services
Comment[ar]=محرّك بمشاركة المحتوى باستخدام خدمات مختلفة
Comment[bg]=Споделяне на данни чрез различни услуги
Comment[bs]=Motor za dijeljenje sadržaja preko različitih servisa
Comment[ca]=Motor per compartir contingut utilitzant diferents serveis
Comment[ca@valencia]=Motor per compartir contingut utilitzant diferents serveis
Comment[cs]=Povolí sdílení obsahu pomocí různých služeb
Comment[da]=Motor til at dele indhold ved brug af forskellige tjenester
Comment[de]=Treiber für die Veröffentlichung von Inhalten über verschiedene Dienste
Comment[el]=Μηχανισμός για το μοίρασμα περιεχομένου χρησιμοποιώντας διαφορετικές υπηρεσίες
Comment[en_GB]=Engine to share content using different services
Comment[es]=Motor para compartir contenidos a través de diferentes servicios
Comment[et]=Eri teenuste kaudu sisu jagamise mootor
Comment[eu]=Hainbat zerbitzuren bidez edukia partekatzeko motorra
Comment[fi]=Moottori sisällön jakamiseen useissa palveluissa
Comment[fr]=Système de partage de contenus utilisant différents services
Comment[gl]=Motor para compartir contido mediante diversos servizos.
Comment[he]=מנוע לשיתוף תוכן באמצעות שירותים שונים
Comment[hr]=Mehanizam za dijeljenje sadržaja koristeći razne servise
Comment[hu]=Adatmodul tartalommegosztáshoz különböző szolgáltatások használatával
Comment[ia]=Motor pro compartir contento usante differente servicios
Comment[id]=Mesin untuk membagi konten menggunakan beragam layanan
Comment[is]=Kerfi til að deila efni með ýmsum þjónustum
Comment[it]=Motore per condividere del contenuto usando diversi servizi
Comment[ja]=様々なサービスを用いたコンテンツ共有エンジン
Comment[kk]=Түрлі қызметтер көмегімен мазмұның ортақ қылу тетігі
Comment[km]=ម៉ាស៊ីន​ដើម្បី​ចែករំលែក​មាតិកា​ ដោយ​ប្រើ​សេវា​ផ្សេងៗ​គ្នា
Comment[ko]=컨텐츠 공유 서비스
Comment[lt]=Turinio dalinimosi, naudojant įvairias tarnybas, modulis
Comment[lv]=Dzinējs satura kopīgošanai, izmantojot atšķirīgus servisus
Comment[mr]=विविध सेवा वापरुन मजकूर शेअर करण्याचे इंजिन
Comment[nb]=Motor for å dele innhold ved bruk av forskjellige tjenester
Comment[nds]=Programmkarn för Deensten för't Praatstellen vun Inholden
Comment[nl]=Engine om inhoud te delen met gebruik van verschillende services
Comment[nn]=Motor for å dela innhald ved bruk av ymse tenester
Comment[pa]=ਵੱਖ ਵੱਖ ਸਰਵਿਸਾਂ ਵਿੱਚ ਸਮਗੱਰੀ ਸਾਂਝੀ ਕਰਨ ਲਈ ਇੰਜਣ
Comment[pl]=Silnik do udostępniania zawartości przy użyciu rożnych usług
Comment[pt]=Um motor para partilhar conteúdos através de vários serviços
Comment[pt_BR]=Um mecanismo para compartilhar conteúdos usando diferentes serviços
Comment[ro]=Motor pentru partajarea conținutului folosind diferite servicii
Comment[ru]=Источник данных для обмена содержимым между людьми, используя различные интернет-службы
Comment[sk]=Nástroj na zdieľanie obsahu pomocou rôznych služieb
Comment[sl]=Pogon za deljenje vsebin prek različnih storitev
Comment[sr]=Мотор за дељење садржаја преко различитих сервиса
Comment[sr@ijekavian]=Мотор за дијељење садржаја преко различитих сервиса
Comment[sr@ijekavianlatin]=Motor za dijeljenje sadržaja preko različitih servisa
Comment[sr@latin]=Motor za deljenje sadržaja preko različitih servisa
Comment[sv]=Gränssnitt för att dela innehåll genom att använda olika tjänster
Comment[th]=กลไกการแลกเปลี่ยนเนื้อหาบนบริการที่แตกต่างกัน
Comment[tr]=Farklı servisleri kullanarak içerik paylaşmayı sağlayan motor
Comment[ug]=ئوخشىمىغان مۇلازىمەتلەرنى ئىشلىتىپ مەزمۇنلارنى ھەمبەھىرلەيدىغان ماتور
Comment[uk]=Рушій спільного використання даних різними службами
Comment[vi]=Cơ chế chia sẻ nội dung thông qua các dịch vụ
Comment[wa]=Moteur po pårtaedjî l' ådvins tot s' siervant d' diferins siervices
Comment[x-test]=xxEngine to share content using different servicesxx
Comment[zh_CN]=用不同服务共享内容的引擎
Comment[zh_TW]=用不同的服務來分享內容的引擎
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=document-share

X-KDE-Library=plasma_engine_share
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.dataengine.share
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
