[Desktop Entry]
Encoding=UTF-8
Keywords=
Icon=preferences-desktop-color
Name=Plain Color
Name[bs]=Obična boja
Name[ca]=Color pla
Name[ca@valencia]=Color pla
Name[cs]=Prostá barva
Name[da]=Almindelig farve
Name[de]=Einfarbig
Name[el]=Απλό χρώμα
Name[es]=Color sencillo
Name[eu]=Kolore bakarra
Name[fi]=Tasainen väri
Name[fr]=Couleur pleine
Name[gl]=Cor simple
Name[hu]=Egyszerű szín
Name[ia]=Color plan
Name[kk]=Жәй түсі
Name[ko]=단색
Name[nb]=Ren farge
Name[nds]=Eenfach Klöör
Name[nl]=Vlakke kleur
Name[nn]=Rein farge
Name[pa]=ਇੱਕ ਰੰਗ
Name[pl]=Zwykły kolor
Name[pt]=Cor Simples
Name[pt_BR]=Cor simples
Name[ro]=Culoare simplă
Name[sk]=Obyčajná farba
Name[sl]=Preprosta barva
Name[sr]=проста боја
Name[sr@ijekavian]=проста боја
Name[sr@ijekavianlatin]=prosta boja
Name[sr@latin]=prosta boja
Name[sv]=Enkel färg
Name[tr]=Düz Renk
Name[uk]=Звичайні кольорові
Name[x-test]=xxPlain Colorxx
Name[zh_CN]=纯色
Name[zh_TW]=普通顏色
Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.color
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
