[Desktop Entry]
Name=Color
Comment=A plain color or gradient
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_color
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=color
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

