[Desktop Entry]
Name=Plasma Shell
Name[ca]=Intèrpret d'ordres del Plasma
Name[de]=Plasma-Umgebung
Name[es]=Intérprete de Plasma
Name[fi]=Plasma-kuori
Name[hu]=Plasma felület
Name[nl]=Plasma Shell
Name[pt_BR]=Plasma Shell
Name[sk]=Plasma Shell
Name[sl]=Lupina za Plasmo
Name[sv]=Plasma-skal
Name[uk]=Оболонка Плазми
Name[x-test]=xxPlasma Shellxx
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_plasmashell

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/Shell
X-KDE-PluginInfo-Version=1
