[Desktop Entry]
Name=Plasma Shell
Name[ca]=Intèrpret d'ordres del Plasma
Name[cs]=Shell Plasmy
Name[de]=Plasma-Umgebung
Name[en_GB]=Plasma Shell
Name[es]=Intérprete de Plasma
Name[fi]=Plasma-kuori
Name[hu]=Plasma felület
Name[ko]=Plasma 셸
Name[nl]=Plasma Shell
Name[pl]=Powłoka plazmy
Name[pt]=Consola do Plasma
Name[pt_BR]=Plasma Shell
Name[ru]=Оболочка Plasma
Name[sk]=Plasma Shell
Name[sl]=Lupina za Plasmo
Name[sr]=Плазма шкољка
Name[sr@ijekavian]=Плазма шкољка
Name[sr@ijekavianlatin]=Plasma školjka
Name[sr@latin]=Plasma školjka
Name[sv]=Plasma-skal
Name[uk]=Оболонка Плазми
Name[x-test]=xxPlasma Shellxx
Name[zh_TW]=Plasma Shell
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_plasmashell

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/Shell
X-KDE-PluginInfo-Version=1
