[Desktop Entry]
Encoding=UTF-8
Name=Networking
Name[uk]=Робота у мережі
Name[x-test]=xxNetworkingxx
Comment=Network interface information
Comment[uk]=Інформація щодо інтерфейсів мережі
Comment[x-test]=xxNetwork interface informationxx
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network-workgroup
X-KDE-Library=plasma_engine_network

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=network
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

