[Desktop Entry]
Encoding=UTF-8
Name=Networking
Name[ar]=الشبكة
Name[ast]=Rede
Name[be@latin]=Sietka
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্কিং
Name[bn_IN]=নেটওয়ার্ক ব্যবস্থা
Name[bs]=Umrežavanje
Name[ca]=Treball en xarxa
Name[ca@valencia]=Treball en xarxa
Name[cs]=Síťové nástroje
Name[csb]=Séc
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Networking
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fi]=Verkkotyöskentely
Name[fr]=Réseau
Name[fy]=netwurkjen
Name[ga]=Líonrú
Name[gl]=Rede
Name[gu]=નેટવર્કિંગ
Name[he]=רשת
Name[hi]=नेटवर्किंग
Name[hne]=नेटवर्किंग
Name[hr]=Mreža
Name[hu]=Hálózatkezelő
Name[ia]=Networking (A proposito del rete)
Name[id]=Jaringan
Name[is]=Netvinnsla
Name[it]=Rete
Name[ja]=ネットワーキング
Name[kk]=Желі
Name[km]=ការ​តបណ្ដាញ
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워킹
Name[ku]=Têketina Torê
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mai]=नेटवर्किंग
Name[mk]=Мрежа
Name[ml]=ശൃംഖല
Name[mr]=नेटवर्कींग
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[nl]=Netwerken
Name[nn]=Nettverk
Name[or]=ନେଟୱର୍କିଙ୍ଗ
Name[pa]=ਨੈੱਟਵਰਕਿੰਗ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[si]=ජාලය
Name[sk]=Sieť
Name[sl]=Povezovanje
Name[sr]=умрежавање
Name[sr@ijekavian]=умрежавање
Name[sr@ijekavianlatin]=umrežavanje
Name[sr@latin]=umrežavanje
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[tg]=Шабака
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Робота у мережі
Name[wa]=Rantoelaedje
Name[x-test]=xxNetworkingxx
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=Network interface information
Comment[af]=Netwerk koppelvlak informasie
Comment[ar]=معلومات واجهة الشبكة
Comment[as]=নে'টৱৰ্ক সংযোগমাধ্যমৰ তথ্য
Comment[ast]=Información dinterfaz de rede
Comment[be]=Звесткі пра сеткавы інтэрфейс
Comment[be@latin]=Źviestki pra sietkavyja interfejsy
Comment[bg]=Данни за мрежовите интерфейси
Comment[bn]=নেটওয়ার্ক ইন্টারফেস সংক্রান্ত তথ্য
Comment[bn_IN]=নেটওয়ার্ক ইন্টারফেস সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an etrefasoù rouedad
Comment[bs]=Podaci o mrežnom sučelju
Comment[ca]=Informació de la interfície de xarxa
Comment[ca@valencia]=Informació de la interfície de xarxa
Comment[cs]=Informace o síťových rozhraních
Comment[csb]=Wëdowiédzô ò sécowim interfejse
Comment[cy]=Gwybodaeth rhyngwynebau rhwydwaith
Comment[da]=Information om netværksgrænseflade
Comment[de]=Informationen zu Netzwerkschnittstellen
Comment[el]=Πληροφορίες διεπαφών δικτύου
Comment[en_GB]=Network interface information
Comment[eo]=Informoj pri retinterfaco
Comment[es]=Información sobre la interfaz de red
Comment[et]=Võrguliideste info
Comment[eu]=Sare-interfazeari buruzko informazioa
Comment[fa]=اطلاعات واسط شبکه
Comment[fi]=Verkkoliityntöjen tiedot
Comment[fr]=Informations sur les interfaces réseau
Comment[fy]=Netwurkynterface-ynformaasje
Comment[ga]=Eolas faoin gcomhéadan líonra
Comment[gl]=Información da interface de rede
Comment[gu]=નેટવર્ક ઇન્ટરફેસ માહિતી
Comment[he]=מידע על ממשקי רשת
Comment[hi]=नेटवर्क इंटरफेस जानकारी
Comment[hne]=नेटवर्क इंटरफेस जानकारी
Comment[hr]=Podaci o mrežnom sučelju
Comment[hsb]=Informacija wo syćowych interfejsach
Comment[hu]=A hálózati kártyák jellemzői
Comment[ia]=Information de interfacie de rete
Comment[id]=Informasi antarmuka jaringan
Comment[is]=Upplýsingar um netkort
Comment[it]=Informazioni sulle interfacce di rete
Comment[ja]=ネットワークインターフェースの情報
Comment[ka]=ცნობები ქსელური ინტერფეისების შესახებ
Comment[kk]=Желі интерфейсінің мәліметі
Comment[km]=ព័ត៌មាន​ចំណុច​ប្រទាក់​បណ្ដាញ
Comment[kn]=ಜಾಲ ಸಂಪರ್ಕತಟಗಳ (ಇಂಟರ್ಫೇಸ್) ಮಾಹಿತಿ
Comment[ko]=네트워크 인터페이스 정보
Comment[ku]=Agahiyên navrûyên torê
Comment[lt]=Tinklo sąsajos informacija
Comment[lv]=Tīkla ierīču informācija
Comment[mai]=नेटवर्क इंटरफेस सूचना
Comment[mk]=Информации за мрежните интерфејси
Comment[ml]=ശൃഖലാ വിനിമയതലങ്ങളെക്കുറിച്ചുള്ള വിവരം
Comment[mr]=संजाळ दुवा माहिती
Comment[ms]=Maklumat antara muka rangkaian
Comment[nb]=Informasjon om nettverksgrensesnitt
Comment[nds]=Informatschoon över de Nettwark-Koppelsteden
Comment[ne]=सञ्जाल इन्टरफेस सूचना
Comment[nl]=Netwerkinterface-informatie
Comment[nn]=Informasjon om nettverksgrensesnitt
Comment[or]=ନେଟୱର୍କ ଅନ୍ତାରାପୃଷ୍ଠ ସୂଚନା
Comment[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ ਜਾਣਕਾਰੀ
Comment[pl]=Wyświetla informacje o interfejsach sieciowych
Comment[pt]=Informações sobre as interfaces de rede
Comment[pt_BR]=Informações da interface de rede
Comment[ro]=Afișează informații despre interfețele de rețea
Comment[ru]=Сведения о сетевых интерфейсах
Comment[se]=Fierbmalaktadiehtu
Comment[si]=ජාල මුහුණත් තොරතුරු
Comment[sk]=Informácie o sieťových rozhraniach
Comment[sl]=Podatki o omrežnih vmesnikih
Comment[sr]=Подаци о мрежним сучељима
Comment[sr@ijekavian]=Подаци о мрежним сучељима
Comment[sr@ijekavianlatin]=Podaci o mrežnim sučeljima
Comment[sr@latin]=Podaci o mrežnim sučeljima
Comment[sv]=Information om nätverksgränssnitt
Comment[ta]=பிணைய இடைமுகப்பு தகவல்
Comment[te]=నెట్వర్క్ ఇంటర్ ఫెస్ సమాచారం
Comment[tg]=Иттилооти воситаҳои шабака
Comment[th]=ข้อมูลแผงวงจรเครือข่าย
Comment[tr]=Ağ arayüz bilgisi
Comment[ug]=تور ئارايۈز ئۇچۇرلىرى
Comment[uk]=Інформація щодо інтерфейсів мережі
Comment[uz]=Tarmoq interfeyslari haqida maʼlumot
Comment[uz@cyrillic]=Тармоқ интерфейслари ҳақида маълумот
Comment[vi]=Thông tin giao diện mạng
Comment[wa]=Informåcion so l' eterface rantoele
Comment[xh]=Ulwazi lojongano lomsebenzi womnatha
Comment[x-test]=xxNetwork interface informationxx
Comment[zh_CN]=网络接口信息
Comment[zh_TW]=網路界面資訊
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network-workgroup
X-KDE-Library=plasma_engine_network

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=network
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

