[Desktop Entry]
# ctxt: plasma runner
Name=Windows
Name[uk]=Вікна
Name[x-test]=xxWindowsxx
Comment=List windows and desktops and switch them
Comment[uk]=Показує список вікон і стільниць і перемикає їх
Comment[x-test]=xxList windows and desktops and switch themxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-system-windows
X-KDE-Library=krunner_windows
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=windows
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
