[Desktop Entry]
Name=Free Space Notifier
Comment=Warns when running out of space on your home folder
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=freespacenotifier
X-KDE-DBus-ModuleName=freespacenotifier
X-KDE-Kded-autoload=true
