[Desktop Entry]
# ctxt: plasma data engine
Name=Power Management
Name[uk]=Керування живленням
Name[x-test]=xxPower Managementxx
Comment=Battery, AC, sleep and PowerDevil information.
Comment[uk]=Акумулятор, мережеве живлення, відомості щодо присипляння і PowerDevil.
Comment[x-test]=xxBattery, AC, sleep and PowerDevil information.xx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=preferences-system-power-management
X-KDE-Library=plasma_engine_powermanagement

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=powermanagement
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
