[Desktop Entry]
# ctxt: plasma data engine
Name=Power Management
Comment=Battery, AC, sleep and PowerDevil information.
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=preferences-system-power-management
X-KDE-Library=plasma_engine_powermanagement

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=powermanagement
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
