[Desktop Entry]
Name=im9.eu
Name[bs]=im9.eu
Name[ca]=im9.eu
Name[ca@valencia]=im9.eu
Name[cs]=im9.eu
Name[da]=im9.eu
Name[de]=im9.eu
Name[el]=im9.eu
Name[en_GB]=im9.eu
Name[es]=im9.eu
Name[et]=im9.eu
Name[eu]=im9.eu
Name[fi]=im9.eu
Name[fr]=im9.eu
Name[gl]=im9.eu
Name[he]=im9.eu
Name[hu]=im9.eu
Name[ia]=im9.eu
Name[id]=im9.eu
Name[is]=im9.eu
Name[it]=im9.eu
Name[ja]=im9.eu
Name[kk]=im9.eu
Name[ko]=im9.eu
Name[lt]=im9.eu
Name[nb]=im9.eu
Name[nds]=im9.eu
Name[nl]=im9.eu
Name[nn]=im9.eu
Name[pa]=im9.eu
Name[pl]=im9.eu
Name[pt]=im9.eu
Name[pt_BR]=im9.eu
Name[ro]=im9.eu
Name[ru]=im9.eu
Name[sk]=im9.eu
Name[sl]=im9.eu
Name[sr]=им9
Name[sr@ijekavian]=им9
Name[sr@ijekavianlatin]=im9
Name[sr@latin]=im9
Name[sv]=im9.eu
Name[tr]=im9.eu
Name[uk]=im9.eu
Name[x-test]=xxim9.euxx
Name[zh_CN]=im9.eu
Name[zh_TW]=im9.eu
Comment=Allows images to be shared using the im9.eu service
Comment[ar]=يسمح بمشاركة الصور عبر خدمة im9.eu
Comment[bs]=Dopušta dijeljenje slika preko servisa im9.eu
Comment[ca]=Permet la compartició d'imatges utilitzant el servei im9.eu
Comment[ca@valencia]=Permet la compartició d'imatges utilitzant el servei im9.eu
Comment[cs]=Povolí sdílení obrázků pomocí služby im9.eu
Comment[da]=Muliggør deling af billeder med tjenesten im9.eu
Comment[de]=Ermöglicht die Veröffentlichung von Bildern über den im9.eu-Dienst
Comment[el]=Επιτρέπει το μοίρασμα των εικόνων με την υπηρεσία im9.eu
Comment[en_GB]=Allows images to be shared using the im9.eu service
Comment[es]=Permite compartir imágenes a través del servicio im9.eu
Comment[et]=Piltide jagamine im9.eu teenuse kaudu
Comment[eu]=Irudiak im9.eu zerbitzuaren bidez partekatzeko aukera ematen du
Comment[fi]=Mahdollistaa kuvien jakamisen im9.eu-palvelussa
Comment[fr]=Permet le partage d'images à l'aide du service « im9.eu »
Comment[gl]=Permite compartir imaxes mediante o servizo im9.eu
Comment[he]=מאפשר שיתוף תמונות באמצעות השירות im9.eu
Comment[hu]=Képek megosztása az im9.eu szolgáltatás használatával
Comment[ia]=Il permitte imagines de esser compartite per usage de servicio im9.eu
Comment[id]=Memungkinkan gambar dibagi menggunakan layanan im9.eu
Comment[is]=Gerir kleift að deila myndum með im9.eu þjónustunni
Comment[it]=Abilita la condivisione di immagini con il servizio img9.eu
Comment[ja]=imgur のサービスを用いた画像の共有を有効にする
Comment[kk]=im9.eu қызметі көмегімен кескіндерді ортақ қылуды рұқсат ету
Comment[ko]=im9.eu로 그림을 공유합니다
Comment[lt]=Įjungia dalinimąsi nuotraukomis naudojant im9.eu tarnybą
Comment[nb]=Gjør det mulig å dele bilder via tjenesten im9.eu
Comment[nds]=Lett Di Biller över den Deenst "im9.eu" praatstellen
Comment[nl]=Staat het delen van afbeeldingen toe met gebruik van de service im9.eu
Comment[nn]=Gjer det mogleg å dela bilete via tenesta im9.eu
Comment[pa]=im9.eu ਸਰਵਿਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਚਿੱਤਰ ਸਾਂਝੇ ਕਰਨ ਲਈ ਸਹਾਇਕ
Comment[pl]=Udostępniania obrazy przy użyciu usługi im9.eu
Comment[pt]=Permite a partilha de imagens com o serviço do 'im9.eu'
Comment[pt_BR]=Permite o compartilhamento de imagens usando o serviço do im9.eu
Comment[ro]=Permite partajarea imaginilor cu serviciul im9.eu
Comment[ru]=Позволяет публиковать изображения на сервере im9.eu
Comment[sk]=Povolí zdieľanie obrázkov pomocou služby im9.eu
Comment[sl]=Omogoča deljenje slik prek storitve im9.eu
Comment[sr]=Дељење слика преко сервиса им9
Comment[sr@ijekavian]=Дијељење слика преко сервиса им9
Comment[sr@ijekavianlatin]=Dijeljenje slika preko servisa im9
Comment[sr@latin]=Deljenje slika preko servisa im9
Comment[sv]=Tillåter att bilder delas genom att använda tjänsten im9.eu
Comment[tr]=im9.eu hizmetini kullanarak resimleri paylaşmayı sağlar
Comment[uk]=Уможливлює оприлюднення зображень за допомогою служби im9.eu
Comment[x-test]=xxAllows images to be shared using the im9.eu servicexx
Comment[zh_CN]=用 im9.eu 服务共享图片
Comment[zh_TW]=允許使用 im9.eu 服務分享影像
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=image/*

X-KDE-PluginInfo-Name=im9
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop

