[Desktop Entry]
Name=im9.eu
Name[uk]=im9.eu
Name[x-test]=xxim9.euxx
Comment=Allows images to be shared using the im9.eu service
Comment[uk]=Уможливлює оприлюднення зображень за допомогою служби im9.eu
Comment[x-test]=xxAllows images to be shared using the im9.eu servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=image/*

X-KDE-PluginInfo-Name=im9
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

