[Desktop Entry]
Icon=preferences-system-users
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_users
X-KDE-ParentApp=kcontrol
X-KDE-Weight=40
X-KDE-System-Settings-Parent-Category=personalization
Name=Users
Name[ca]=Usuaris
Name[es]=Usuarios
Name[fr]=Utilisateurs
Name[hu]=Felhasználók
Name[nl]=Gebruikers
Name[pl]=Użytkownicy
Name[sv]=Användare
Name[uk]=Користувачі
Name[x-test]=xxUsersxx
Comment=Manage user accounts
Comment[ca]=Gestiona els comptes dels usuaris
Comment[es]=Gestión de las cuentas de usuario
Comment[fr]=Gérer les comptes d'utilisateurs
Comment[hu]=Felhasználói fiókok kezelése
Comment[nl]=Uw gebruikersaccounts beheren
Comment[pl]=Zarządzanie kontami użytkowników
Comment[sv]=Hantera användarkonton
Comment[uk]=Керування обліковими записами
Comment[x-test]=xxManage user accountsxx
X-KDE-Keywords=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,fingerprint,biometric
