[Desktop Entry]
Icon=preferences-system-users
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_users
X-KDE-ParentApp=kcontrol
X-KDE-Weight=40
X-KDE-System-Settings-Parent-Category=personalization
Name=Users
Name[ca]=Usuaris
Name[es]=Usuarios
Name[hu]=Felhasználók
Name[nl]=Gebruikers
Name[pl]=Użytkownicy
Name[sv]=Användare
Name[uk]=Користувачі
Name[x-test]=xxUsersxx
Comment=Manage user accounts
Comment[ca]=Gestiona els comptes dels usuaris
Comment[es]=Gestión de las cuentas de usuario
Comment[hu]=Felhasználói fiókok kezelése
Comment[nl]=Uw gebruikersaccounts beheren
Comment[pl]=Zarządzanie kontami użytkowników
Comment[sv]=Hantera användarkonton
Comment[uk]=Керування обліковими записами
Comment[x-test]=xxManage user accountsxx
X-KDE-Keywords=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp
X-KDE-Keywords[ca]=usuaris,comptes,imatge de perfil,foto de perfil,avatar,nom,contrasenya,contrasenyes,correu,correu electrònic,administrador,usuari administrador,root,perfil estàndard,perfil,supressió d'usuari,suprimeix compte,pfp
X-KDE-Keywords[es]=usuarios,cuentas,imagen de perfil,foto de perfil,avatar,nombre,contraseña,contraseñas,email,e-mail,correo,correo electrónico,administrador,usuario root,usuario normal,perfil,borrar usuario,borrar cuenta,pfp
X-KDE-Keywords[hu]=felhasználók,fiókok,profilkép,profilfotó,avatár,név,jelszó,jelszavak,email,e-mail,adminisztrátor,root felhasználó,standard felhasználó,profil,felhasználó törlése,fiók törlése,pfp
X-KDE-Keywords[nl]=gebruikers,accounts,profielplaatje,profielfoto,avatar,naam,wachtwoord,wachtwoorden,e-mail,beheerder,root-gebruiker,standaard gebruiker,profiel,gebruiker verwijderen,account verwijderen,pfp
X-KDE-Keywords[pl]=użytkownicy,konta,zdjęcie profilu,zdjęcie profilu,awatar,nazwa,hasło,hasła,email,e-mail,administrator,użytkownik administrujący,zwykły użytkownik,profil,usuń użytkownika,usuń konto,pfp
X-KDE-Keywords[sv]=användare,konton,profilbild,profilfoto,avatar,namn,lösenord,e-post,administratör,root-användare,standardanvändare,profil,ta bort användare,ta bort konto,pfp
X-KDE-Keywords[uk]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,користувачі,облікові записи,записи,зображення профілю,фото профілю,аватар,ім'я,назва,пароль,паролі,електронна пошта,адміністратор,користувач рут,стандартний користувач,профіль,вилучити користувача,вилучити обліковий запис,пфп,пеефпе
X-KDE-Keywords[x-test]=xxusersxx,xxaccountsxx,xxprofile picturexx,xxprofile photoxx,xxavatarxx,xxnamexx,xxpasswordxx,xxpasswordsxx,xxemailxx,xxe-mailxx,xxadministratorxx,xxroot userxx,xxstandard userxx,xxprofilexx,xxdelete userxx,xxdelete accountxx,xxpfpxx
