[Desktop Entry]
Exec=krunner
Name=KRunner
Name[ar]=مشغّل.ك
Name[bs]=KPokretač
Name[ca]=KRunner
Name[ca@valencia]=KRunner
Name[cs]=KRunner
Name[da]=KRunner
Name[de]=KRunner
Name[el]=KRunner
Name[en_GB]=KRunner
Name[es]=KRunner
Name[et]=KRunner
Name[eu]=KRunner
Name[fi]=KRunner
Name[fr]=KRunner
Name[gl]=KRunner
Name[hu]=KRunner
Name[id]=KRunner
Name[is]=KRunner
Name[it]=KRunner
Name[ja]=KRunner
Name[ko]=KRunner
Name[lt]=KRunner
Name[nb]=KRunner
Name[nds]=KRunner
Name[nl]=KRunner
Name[nn]=KRunner
Name[pa]=ਕੇਰਨਰ
Name[pl]=KRunner
Name[pt]=KRunner
Name[pt_BR]=KRunner
Name[ru]=KRunner
Name[sk]=KRunner
Name[sl]=KRunner
Name[sr]=К‑извођач
Name[sr@ijekavian]=К‑извођач
Name[sr@ijekavianlatin]=K‑izvođač
Name[sr@latin]=K‑izvođač
Name[sv]=Kör program
Name[tr]=KRunner
Name[uk]=KRunner
Name[x-test]=xxKRunnerxx
Name[zh_CN]=KRunner
Name[zh_TW]=KRunner
OnlyShowIn=KDE;
Type=Application
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.krunner
X-KDE-StartupNotify=false
X-KDE-autostart-phase=0
