[Desktop Entry]
Name=Hotplug Events
Comment=Tracks hot-pluggable devices as they appear and disappear.
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=drive-removable-media-usb
X-KDE-Library=plasma_engine_hotplug

X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=hotplug
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=

