[Desktop Entry]
Comment=Basic Power Management Operations
Icon=preferences-system-power-management
Name=PowerDevil
Type=Service
X-KDE-Library=krunner_powerdevil
X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=drf@kdemod.ath.cx
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=PowerDevil
X-KDE-PluginInfo-Version=1.0
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-ServiceTypes=Plasma/Runner
