[SddmGreeterTheme]
Name=Breeze
Name[ca]=Brisa
Name[es]=Brisa
Name[fi]=Breeze
Name[id]=Angin
Name[nds]=Breeze
Name[nl]=Breeze
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=Breeze
Name[sk]=Vánok
Name[sl]=Vetrič
Name[sv]=Breeze
Name[uk]=Breeze
Name[x-test]=xxBreezexx
Description=Breeze Theme
Description[ca]=Tema Brisa
Description[es]=Tema Brisa
Description[fi]=Breeze-teema
Description[id]=Tema Angin
Description[nds]=Breeze-Muster
Description[nl]=Thema Breeze
Description[pl]=Wystrój bryzy
Description[pt]=Tema Brisa
Description[pt_BR]=Tema Breeze
Description[sk]=Téma Vánok
Description[sl]=Tema Vetrič
Description[sv]=Breeze-tema
Description[uk]=Тема «Breeze»
Description[x-test]=xxBreeze Themexx
Author=David Edmundson
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=breeze.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
