[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Desktop Toolbox
Name[cs]=Nástroje plochy
Name[de]=Werkzeugkasten für die Arbeitsfläche
Name[es]=Caja de herramientas del escritorio
Name[fr]=Boîte à outils de bureau
Name[mr]=डेस्कटॉप साधने
Name[nl]=Bureaubladhulpmiddel
Name[pt]=Ferramentas da Área de Trabalho
Name[pt_BR]=Barra de ferramentas da área de trabalho
Name[sk]=Nástroje plochy
Name[sv]=Skrivbordsverktygslåda
Name[uk]=Набір інструментів для стаціонарних комп’ютерів
Name[x-test]=xxDesktop Toolboxxx
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.toolbox
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
