[Desktop Entry]
Name=User Accounts
Name[az]=İstifadəçi hesabları
Name[ca]=Comptes d'usuari
Name[es]=Cuentas de usuarios
Name[fr]=Comptes d'utilisateurs
Name[hu]=Felhasználói fiókok
Name[ia]=Contos de usator
Name[nl]=Gebruikersaccounts
Name[pl]=Konta użytkowników
Name[pt_BR]=Contas de usuários
Name[sl]=Uporabniški računi
Name[sv]=Användarkonton
Name[uk]=Облікові записи
Name[x-test]=xxUser Accountsxx
Comment=Manage users
Comment[az]=İstifaadəçiləri idarə edin
Comment[ca]=Gestiona els usuaris
Comment[es]=Gestión de usuarios
Comment[fr]=Gérer les utilisateurs
Comment[hu]=Felhasználók kezelése
Comment[ia]=Gere usatores
Comment[nl]=Gebruikers beheren
Comment[pl]=Zarządzanie użytkownikami
Comment[pt_BR]=Gerenciar usuários
Comment[sl]=Upravljaj uporabnike
Comment[sv]=Hantera användare
Comment[uk]=Керування користувачами
Comment[x-test]=xxManage usersxx
Icon=preferences-system-users
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_users
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
