[Desktop Entry]
Name=Dummy wallpaper (For test purpose, don't translate!)

X-KDE-PluginInfo-Name=Azul-openSUSE
X-KDE-PluginInfo-Author=openSUSE Artwork Team
X-KDE-PluginInfo-Email=opensuse-artwork@opensuse.org
X-KDE-PluginInfo-License=GPLv2


