[Desktop Entry]
Name=Device Information
Comment=Device data via Solid
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=drive-harddisk
X-KDE-Library=plasma_engine_soliddevice

X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=soliddevice
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

