[Desktop Entry]
Name=Device Information
Name[uk]=Інформація про пристрої
Name[x-test]=xxDevice Informationxx
Comment=Device data via Solid
Comment[uk]=Дані щодо пристроїв з Solid
Comment[x-test]=xxDevice data via Solidxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=drive-harddisk
X-KDE-Library=plasma_engine_soliddevice

X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=soliddevice
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

