[Desktop Entry]
Name=Weather
Comment=Weather data from multiple online sources
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=weather-clear
X-KDE-Library=plasma_engine_weather

X-KDE-PluginInfo-Author=Shawn Starr
X-KDE-PluginInfo-Email=shawn.starr@rogers.com
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

