[Desktop Entry]
Name=Application Job Information
Comment=Application job updates (via kuiserver)
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=tool-animator
X-KDE-Library=plasma_engine_applicationjobs

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=applicationjobs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
