[Desktop Entry]
Name=Application Job Information
Name[uk]=Відомості про завдання програми
Name[x-test]=xxApplication Job Informationxx
Comment=Application job updates (via kuiserver)
Comment[uk]=Оновлення завдань програми (через kuiserver)
Comment[x-test]=xxApplication job updates (via kuiserver)xx
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=tool-animator
X-KDE-Library=plasma_engine_applicationjobs

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=applicationjobs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
