[Desktop Entry]
Name=Application Job Information
Name[ar]=معلومات مهمّة التطبيق
Name[az]=Tətbiq Tapşırığı Məlumatları
Name[be@latin]=Źviestki pra zadańnie aplikacyi
Name[bs]=Podaci o poslovima programâ
Name[ca]=Informació de les tasques de les aplicacions
Name[ca@valencia]=Informació de les tasques de les aplicacions
Name[cs]=Informace o práci aplikace
Name[csb]=Wëdowiédzô ò robòce aplikacëjów
Name[da]=Information om programjob
Name[de]=Anwendungsaufgaben-Informationen
Name[el]=Πληροφορίες εργασιών εφαρμογών
Name[en_GB]=Application Job Information
Name[eo]=Aplikaĵaj Taskaj Informoj
Name[es]=Información de tarea de aplicación
Name[et]=Rakenduste tööde teave
Name[eu]=Aplikazioko lanei buruzko informazioa
Name[fi]=Sovellustyötiedot
Name[fr]=Informations sur les tâches d'applications en cours d'exécution
Name[fy]=Programma taak ynformaasje
Name[ga]=Eolas Faoi Jabanna Feidhmchláir
Name[gl]=Información de tarefas de aplicación
Name[gu]=કાર્યક્રમ કાર્ય માહિતી
Name[he]=מידע אודות עבודת יישום
Name[hi]=अनुप्रयोग कार्य जानकारी
Name[hne]=अनुपरयोग काम सूचना
Name[hr]=Informacije o poslovima aplikacija
Name[hu]=Az alkalmazások jellemzői
Name[ia]=Information de travalio de application
Name[id]=Informasi Job Aplikasi
Name[is]=Tilkynningar um verkefni forrita
Name[it]=Informazioni sui processi delle applicazioni
Name[ja]=アプリケーションのジョブ情報
Name[kk]=Қолданба тапсырмасының ақпараты
Name[km]=ព័ត៌មាន​ការងារ​របស់​កម្មវិធី
Name[kn]=ಅನ್ವಯ ಕಾರ್ಯ ಮಾಹಿತಿ
Name[ko]=프로그램 작업 정보
Name[ku]=Agahiyên Karê Sepanê
Name[lt]=Programos darbo informacija
Name[lv]=Programmas darba informācija
Name[ml]=പ്രയോഗ ജോലി അറിയിപ്പുകള്‍
Name[mr]=अनुप्रयोग कार्यविषयी माहिती
Name[nb]=Informasjon om programjobb
Name[nds]=Programm-Opgaavinformatschoon
Name[nl]=Programmataakmeldingen
Name[nn]=Informasjon om programjobb
Name[or]=ପ୍ରୟୋଗ କାର୍ଯ୍ୟ ସୂଚନା
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਜਾਬ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o zadaniu programu
Name[pt]=Informação da Tarefa da Aplicação
Name[pt_BR]=Informações da tarefa do aplicativo
Name[ro]=Informație despre sarcina aplicației
Name[ru]=Задания в приложениях
Name[si]=යෙදුම් කාර්‍යය තොරතුරු
Name[sk]=Informácie o aplikácii
Name[sl]=Informacije o poslih
Name[sr]=подаци о пословима програма̂
Name[sr@ijekavian]=подаци о пословима програма̂
Name[sr@ijekavianlatin]=podaci o poslovima programâ̂
Name[sr@latin]=podaci o poslovima programâ̂
Name[sv]=Information om programjobb
Name[ta]=பயன்பாட்டு பணி விவரம்
Name[th]=ข้อมูลงานของโปรแกรม
Name[tr]=Uygulama Görev Bilgileri
Name[ug]=پروگرامما خىزمەت ئۇچۇرى
Name[uk]=Відомості про завдання програми
Name[vi]=Thông tin về công việc của ứng dụng
Name[wa]=Pondants et djondants so les bouyes des programes
Name[x-test]=xxApplication Job Informationxx
Name[zh_CN]=程序任务信息
Name[zh_TW]=應用程式工作資訊
Comment=Application job updates (via kuiserver)
Comment[ar]=تحديثات مهمّة التطبيق (عبر kuiserver)
Comment[az]=Tətbiq Tapşırığı yenilənmələri (kuiserver ilə)
Comment[bs]=Ažuriranja programskih poslova (preko KUI‑servera)
Comment[ca]=Actualització de treballs d'aplicacions (via kuiserver)
Comment[ca@valencia]=Actualització de treballs d'aplicacions (via kuiserver)
Comment[cs]=Aktualizace úloh aplikací (pomocí kuiserver)
Comment[da]=Jobopdateringer for program (via kuiserver)
Comment[de]=Aktualisierung von Anwendungs-Aktionen (via kuiserver)
Comment[el]=Ενημέρωση εργασιών εφαρμογών (μέσω kuiserver)
Comment[en_GB]=Application job updates (via kuiserver)
Comment[eo]=Apikaĵaj taskoj ĝisdatigitaj (per kuiserver)
Comment[es]=Actualizaciones de la aplicación (vía kuiserver)
Comment[et]=Rakenduse töö uuendused (kuiserver'i kaudu)
Comment[eu]=Aplikazioko lanen eguneratzeak (kuiserver bidez)
Comment[fi]=Sovellustyöpäivitykset (kuiserver-palvelimen kautta)
Comment[fr]=Mise à jours des tâches d'application (via « kuiserver »)
Comment[fy]=Applikaasje taak fernijing (mei kuiserver) 
Comment[gl]=Actualización de tarefa da aplicación (mediante kuiserver)
Comment[he]=עידכוני עבודת יישום (באמצעות kuiserver)
Comment[hr]=Ažuriranja poslova aplikacija (preko kuiservera)
Comment[hu]=Feladatfrissítő (a kuiserveren keresztül)
Comment[ia]=Actualisationes de travalio de application (via kuiserver)
Comment[id]=Pembaruan job aplikasi (via kuiserver)
Comment[is]=Uppfærslutilkynningar um verkefni forrita (með kuiserver)
Comment[it]=Aggiornamenti sui processi delle applicazioni (con kuiserver)
Comment[ja]=アプリケーションジョブ更新 (kuiserver 経由)
Comment[kk]=Қолданба тапсырмасын жаңарту (kuiserver арқылы)
Comment[km]=បច្ចុប្បន្នភាព​​ការងារ​របស់​កម្មវិធី (តាមរយៈ kuiserver)
Comment[kn]=ಅನ್ವಯ ಕಾರ್ಯ ಅಪ್‌ಡೇಟ್‌ಗಳು (kuiserver ಮೂಲಕ)
Comment[ko]=프로그램 작업 업데이트 (kuiserver를 통하여)
Comment[lt]=Programų darbų atnaujinimai (per kuiserver)
Comment[lv]=Programmas darba atjauninājumu (izm. kuiserver)
Comment[mai]=अनुप्रयोग कार्य अद्यतन (kuiserver के द्वारा)
Comment[ml]=പ്രയോഗ ജോലിയിലെ മാറ്റങ്ങള്‍ (കൂയിസെര്‍വര്‍ വഴി)
Comment[mr]=अनुप्रयोग कार्य अद्ययावत माहिती (kuiserver द्वारे)
Comment[nb]=Programjobb-oppdateringer (via kuiserver)
Comment[nds]=Programmopgaav-Opfrischen (över »kuiserver«)
Comment[nl]=Applicatiejob bijwerken (via kuiserver)
Comment[nn]=Oppdateringar for programjobbar (gjennom kuiserver)
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਜਾਬ ਅੱਪਡੇਟ (kuiserver ਰਾਹੀਂ)
Comment[pl]=Wyświetla uaktualnienia zadania programu (przez kuiserver)
Comment[pt]=Actualizações das tarefas da aplicação (através do 'kuiserver')
Comment[pt_BR]=Atualizações de tarefas de aplicativos (via kuiserver)
Comment[ro]=Actualizări pentru sarcina aplicației (via kuiserver)
Comment[ru]=Обновления о заданиях в приложениях (данные от kuiserver)
Comment[si]=යෙදුම් කාර්‍ය යාවත්කාලීන (kuiserver වෙතින්)
Comment[sk]=Aktualizácie úloh aplikácií (pomocou kuiserver)
Comment[sl]=Obveščanje o poslih (prek programa KUIServer)
Comment[sr]=Ажурирања програмских послова (преко КУИ‑сервера)
Comment[sr@ijekavian]=Ажурирања програмских послова (преко КУИ‑сервера)
Comment[sr@ijekavianlatin]=Ažuriranja programskih poslova (preko KUIServera)
Comment[sr@latin]=Ažuriranja programskih poslova (preko KUIServera)
Comment[sv]=Uppdateringar av information om programjobb (via kuiserver)
Comment[th]=ปรับปรุงงานของโปรแกรม (ผ่านทาง kuiserver)
Comment[tr]=Uygulama görevi güncellemeleri (kuiserver ile)
Comment[ug]=پروگرامما ۋەزىپىسى يېڭىلاندى(kuiserver ئارقىلىق)
Comment[uk]=Оновлення завдань програми (через kuiserver)
Comment[vi]=Các cập nhật về công việc của ứng dụng (thông qua kuiserver)
Comment[wa]=Metaedjes a djoû des bouyes des programes (via kuiserver)
Comment[x-test]=xxApplication job updates (via kuiserver)xx
Comment[zh_CN]=提供程序任务更新信息(通过 kuiserver)
Comment[zh_TW]=應用程式工作更新（透過 kuiserver）
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=tool-animator
X-KDE-Library=plasma_engine_applicationjobs

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=applicationjobs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
