[Desktop Entry]
Name=Simplest Image Hosting
Name[ar]=أسهل استضافة للصور
Name[bg]=Simplest Image Hosting
Name[bs]=Simplest Image Hosting
Name[ca]=Simplest Image Hosting
Name[ca@valencia]=Simplest Image Hosting
Name[cs]=Simplest Image Hosting
Name[da]=Simplest Image Hosting
Name[de]=Simplest Image Hosting
Name[el]=Simplest Image Hosting
Name[en_GB]=Simplest Image Hosting
Name[es]=Simplest Image Hosting
Name[et]=Simplest Image Hosting
Name[eu]=Simplest Image Hosting
Name[fi]=Simplest Image Hosting
Name[fr]=Simplest Image Hosting
Name[gl]=Simplest Image Hosting
Name[he]=Simplest Image Hosting
Name[hr]=Simplest Image Hosting
Name[hu]=Simplest Image Hosting
Name[ia]=Simplest Image Hosting
Name[id]=Simplest Image Hosting
Name[is]=Simplest Image Hosting
Name[it]=Simplest Image Hosting
Name[ja]=Simplest Image Hosting
Name[kk]=Simplest Image Hosting
Name[km]=ការ​បង្ហោះរូបភាព​សាមញ្ញ​បំផុត
Name[ko]=Simplest Image Hosting
Name[lt]=Paprasčiausias nuotraukų talpinimas
Name[lv]=Simplest Image Hosting
Name[mr]=सिंप्लेस्ट प्रतिमा होस्टींग
Name[nb]=Simplest Image Hosting
Name[nds]=Simplest-Image-Hosting
Name[nl]=Simplest Image Hosting
Name[nn]=Simplest Image Hosting
Name[pa]=ਸੈਂਪਲਸਟ ਈਮੇਜ਼ ਹੋਸਟਿੰਗ
Name[pl]=Simplest Image Hosting
Name[pt]=Simplest Image Hosting
Name[pt_BR]=Simplest Image Hosting
Name[ro]=Cea mai simplă găzduire de imagini
Name[ru]=Simplest-Image-Hosting.net
Name[sk]=Simplest Image Hosting
Name[sl]=Simplest Image Hosting
Name[sr]=Симплест имејџ хостинг
Name[sr@ijekavian]=Симплест имејџ хостинг
Name[sr@ijekavianlatin]=Simplest Image Hosting
Name[sr@latin]=Simplest Image Hosting
Name[sv]=Simplest Image Hosting
Name[th]=บริการ Simplest Image Hosting
Name[tr]=Simplest Image Hosting
Name[ug]=Simplest Image Hosting
Name[uk]=Simplest Image Hosting
Name[wa]=Simplest Image Hosting
Name[x-test]=xxSimplest Image Hostingxx
Name[zh_CN]=Simplest Image Hosting
Name[zh_TW]=Simplest Image Hosting
Comment=Allows images to be shared using the Simplest Image Hosting service
Comment[ar]=يسمح بمشاركة الصور عبر خدمة أسهل استضافة للصور
Comment[bg]=Позволява споделяне на изображения чрез услугата Simplest Image Hosting
Comment[bs]=Dijeljenje slika preko servisa Simplest image hosting
Comment[ca]=Permet la compartició d'imatges utilitzant el servei «Simplest Image Hosting»
Comment[ca@valencia]=Permet la compartició d'imatges utilitzant el servei «Simplest Image Hosting»
Comment[cs]=Povolí sdílení obrázků pomocí služby Simplest Image Hosting
Comment[da]=Muliggør deling af billeder med tjenesten Simplest Image Hosting
Comment[de]=Ermöglicht die Veröffentlichung von Bildern über den simplest-image-hosting.net-Dienst
Comment[el]=Επιτρέπει την κοινή χρήση των εικόνων χρησιμοποιώντας την υπηρεσία Simplest Image Hosting
Comment[en_GB]=Allows images to be shared using the Simplest Image Hosting service
Comment[es]=Permite compartir imágenes a través del servicio de Simplest Image Hosting
Comment[et]=Piltide jagamine Simplest Image Hosting teenuse kaudu
Comment[eu]=Irudiak Simplest Image Hosting zerbitzuaren bidez partekatzeko aukera ematen du
Comment[fi]=Mahdollistaa kuvien jakamisen Simplest Image Hosting -palvelussa
Comment[fr]=Permet le partage d'images à l'aide du service « Simplest Image Hosting »
Comment[gl]=Permite compartir imaxes mediante o servizo Simplest Image Hosting
Comment[he]=מאפשר שיתוף תמונות באמצעות השירות Simplest Image Hosting
Comment[hr]=Omogućuje dijeljenje slika koristeći servis Simplest Image Hosting
Comment[hu]=Képek megosztása a Simple Image Hosting szolgáltatás használatával
Comment[ia]=Il permitte imagines de esser compartite  per usar le servicio Simplest Image Hosting
Comment[id]=Memungkinkan gambar dibagi menggunakan layanan Simplest Image Hosting
Comment[is]=Gerir kleift að deila myndum með Simplest Image Hosting þjónustunni
Comment[it]=Abilita la condivisione di immagini con il servizio Simplest Image Hosting
Comment[ja]=Simplest Image Hosting のサービスを用いたテキストの共有を有効にする
Comment[kk]=Simplest Image Hosting қызметі көмегімен кескіндерді ортақ қылуды рұқсат ету
Comment[km]=បើក​ការ​ចែករំលែក​រូបភាព​ ដោយ​ប្រើ​សេវា​បង្ហោះ​រូបភាព​សាមញ្ញ​បំផុត​
Comment[ko]=Simplest Image Hosting으로 그림을 공유합니다
Comment[lt]=Įjungia dalinimąsį nuotraukomis naudojant paprasčiausio nuotraukų talpinimo tarnybą
Comment[lv]=Ļauj kopīgot attēlus, izmantojot Simplest Image Hosting servisu
Comment[mr]=सिंप्लेस्ट प्रतिमा होस्टींग सेवा वापरुन प्रतिमा शेअर करतो
Comment[nb]=Gjør det mulig å dele bilder via tjenesten Simplest Image Hosting
Comment[nds]=Biller op "Simplest Image Hosting" praatstellen
Comment[nl]=Staat het delen van afbeeldingen toe met gebruik van de service Simplest Image Hosting
Comment[nn]=Gjer det mogleg å dela bilete via tenesta Simplest Image Hosting
Comment[pa]=ਸੈਂਪਲਸਟ ਈਮੇਜ਼ ਹੋਸਟਿੰਗ ਸਰਵਿਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਚਿੱਤਰ ਸਾਂਝੇ ਕਰਨ ਲਈ ਸਹਾਇਕ
Comment[pl]=Udostępniania obrazy przy użyciu usługi Simplest Image Hosting
Comment[pt]=Permite a partilha de imagens com o serviço do Simplest Image Hosting
Comment[pt_BR]=Permite o compartilhamento de imagens usando o serviço do Simplest Image Hosting
Comment[ro]=Permite ca imaginile să fie partajate folosind serviciul Simplest Image Hosting
Comment[ru]=Позволяет публиковать изображения на сервере Simplest Image Hosting
Comment[sk]=Povolí zdieľanie obrázkov pomocou služby Simplest Image Hosting
Comment[sl]=Omogoča deljenje slik prek storitve Simplest Image Hosting
Comment[sr]=Дељење слика преко сервиса Симплест имејџ хостинг
Comment[sr@ijekavian]=Дијељење слика преко сервиса Симплест имејџ хостинг
Comment[sr@ijekavianlatin]=Dijeljenje slika preko servisa Simplest Image Hosting
Comment[sr@latin]=Deljenje slika preko servisa Simplest Image Hosting
Comment[sv]=Tillåter att bilder delas genom att använda Simplest Image Hosting
Comment[tr]=Simplest Image Hosting servisini kullanarak resimleri paylaşmayı sağlar
Comment[ug]=رەسىملەرنى Simplest Image Hosting مۇلازىمىتىنى ئىشلىتىپ ھەمبەھىرلەشكە ئىجازەت
Comment[uk]=Уможливлює оприлюднення зображень за допомогою служби Simplest Image Hosting
Comment[vi]=Cho phép chia sẻ ảnh qua dịch vụ Simplet Image Hosting
Comment[wa]=Permete li pårtaedje d' imådjes e s' siervant do siervice Simplest Image Hosting
Comment[x-test]=xxAllows images to be shared using the Simplest Image Hosting servicexx
Comment[zh_CN]=用最简单的图片主机服务共享图片
Comment[zh_TW]=允許使用 Simplest Image Hosting 服務分享影像
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=image/*

X-KDE-PluginInfo-Name=simplestimagehosting
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

