[Desktop Entry]
# ctxt: plasma runner
Name=Bookmarks
Name[ar]=العلامات
Name[ast]=Marcadores
Name[az]=Əlfəcinlər
Name[bg]=Отметки
Name[bn]=বুকমার্ক
Name[bs]=Zabilješke
Name[ca]=Adreces d'interès
Name[ca@valencia]=Adreces d'interés
Name[cs]=Záložky
Name[csb]=Załóżczi
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[en_GB]=Bookmarks
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[fy]=Blêdwizers
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[gu]=બુકમાર્કો
Name[he]=סימניות
Name[hi]=पसंदीदा
Name[hr]=Oznake
Name[hu]=Könyvjelzők
Name[ia]=Marcatores de libro
Name[id]=Markah
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[kk]=Бетбелгілер
Name[km]=ចំណាំ​
Name[kn]=ಅಂಕನಗಳು (ಬುಕ್ ಮಾರ್ಕ್)
Name[ko]=책갈피
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mk]=Обележувачи
Name[ml]=അടയാളക്കുറിപ്പുകള്‍
Name[mr]=ओळखचिन्ह
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[si]=පොත්සලකුණු
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=обележивачи
Name[sr@ijekavian]=обележивачи
Name[sr@ijekavianlatin]=obeleživači
Name[sr@latin]=obeleživači
Name[sv]=Bokmärken
Name[tg]=Хатчӯбҳо
Name[th]=ที่คั่นหน้า
Name[tr]=Yer İmleri
Name[ug]=خەتكۈشلەر
Name[uk]=Закладки
Name[vi]=Dấu nhớ
Name[wa]=Rimarkes
Name[x-test]=xxBookmarksxx
Name[zh_CN]=书签
Name[zh_TW]=書籤
Comment=Find and open bookmarks
Comment[ar]=اعثر على العلامات وافتحها
Comment[ast]=Alcuentra y abre marcadores
Comment[az]=Əlfəcinləri tapmaq və açmaq
Comment[be@latin]=Pošuk i adčynieńnie zakładak.
Comment[bg]=Търсене и зареждане на отметки
Comment[bn]=বুকমার্ক খোঁজো এবং খোলো
Comment[bn_IN]=বুকমার্ক অনুসন্ধান করুন ও খুলুন
Comment[bs]=Nađite i otvorite zabilješku
Comment[ca]=Cerca i obre adreces d'interès
Comment[ca@valencia]=Busca i obri adreces d'interés
Comment[cs]=Najít a otevřít záložku
Comment[csb]=Malézë ë òtemkni załóżczi
Comment[da]=Find og åbn bogmærker
Comment[de]=Lesezeichen finden und aufrufen
Comment[el]=Αναζήτηση και άνοιγμα σελιδοδεικτών
Comment[en_GB]=Find and open bookmarks
Comment[eo]=Trovi kaj malfermi legosignon
Comment[es]=Buscar y abrir marcadores
Comment[et]=Järjehoidjate otsimine ja avamine
Comment[eu]=Bilatu eta ireki laster-markak
Comment[fi]=Etsi ja avaa kirjanmerkkejä
Comment[fr]=Trouver et ouvrir les signets
Comment[fy]=Sykje en iepenje blêdwizers
Comment[ga]=Aimsigh agus oscail leabharmharcanna
Comment[gl]=Atopar e abrir marcadores.
Comment[gu]=બુકમાર્ક્સ શોધો અને ખોલો
Comment[he]=חיפוש ופתיחת סימניות
Comment[hi]=पसंदीदा ढूंढें व खोलें
Comment[hne]=निसानी खोजो अउ खोलो
Comment[hr]=Pronađi i otvori oznake
Comment[hu]=Könyvjelzőmegnyitó
Comment[ia]=Trova e aperi marcatores de libro
Comment[id]=Temukan dan buka markah
Comment[is]=Finna og opna bókamerki
Comment[it]=Trova e apre i segnalibri
Comment[ja]=ブックマークを探して開きます
Comment[kk]=Бетбелгілерді тауып ашу
Comment[km]=រក​ និង​បើក​ចំណាំ
Comment[kn]=ಅಂಕನಗಳನ್ನು  (ಬುಕ್ ಮಾರ್ಕ್) ಹುಡುಕಿ ತೆರೆ
Comment[ko]=책갈피를 탐색하고 열기
Comment[ku]=Bijareyan bibîne û veke
Comment[lt]=Rasti ir atverti žymeles
Comment[lv]=Meklēt un atvērt grāmatzīmes
Comment[mk]=Пронајдете и отворете обележувачи
Comment[ml]=അടയാളക്കുറിപ്പുകള്‍ കണ്ടെത്തി തുറക്കുക
Comment[mr]=ओळखचिन्ह शोधा व उघडा
Comment[nb]=Søk etter og åpne bokmerker
Comment[nds]=Leestekens söken un opmaken
Comment[nl]=Bladwijzers vinden en openen
Comment[nn]=Finn og opna bokmerke
Comment[or]=ଚିହ୍ନିତ ସ୍ଥାନଗୁଡ଼ିକୁ ଖୋଜନ୍ତୁ ଏବଂ ଖୋଲନ୍ତୁ
Comment[pa]=ਬੁੱਕਮਾਰਕ ਖੋਜੋ ਅਤੇ ਖੋਲ੍ਹੋ
Comment[pl]=Wyszukuje i otwiera zakładki
Comment[pt]=Descobrir e abrir os favoritos
Comment[pt_BR]=Localiza e abre favoritos
Comment[ro]=Caută și deschide semne de carte
Comment[ru]=Закладки
Comment[si]=පොත්සලකුණු සොයා විවෘත කරන්න
Comment[sk]=Nájsť a otvoriť záložky
Comment[sl]=Najdi in odpri zaznamke
Comment[sr]=Нађите и отворите обележивач
Comment[sr@ijekavian]=Нађите и отворите обиљеживач
Comment[sr@ijekavianlatin]=Nađite i otvorite obilježivač
Comment[sr@latin]=Nađite i otvorite obeleživač
Comment[sv]=Sök efter och öppna bokmärken
Comment[ta]=Find and open bookmarks
Comment[te]=పేజిగుర్తులను కనుగొనుము మరియు తెరువుము
Comment[th]=ค้นหาและเปิดคั่นหน้า
Comment[tr]=Yer imlerini bul ve aç
Comment[ug]=خەتكۈشلەرنى ئىزدە ۋە ئاچ
Comment[uk]=Знайти і відкрити закладки
Comment[vi]=Tìm và mở dấu nhớ
Comment[wa]=Trover eyet drovi des rmarkes
Comment[x-test]=xxFind and open bookmarksxx
Comment[zh_CN]=查找并打开书签
Comment[zh_TW]=尋找並開啟書籤
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=bookmarks
X-KDE-PluginInfo-Author=Glenn Ergeerts, Marco Gulino
X-KDE-PluginInfo-Email=glenn.ergeerts@telenet.be, marco.gulino@gmail.com
X-KDE-PluginInfo-Name=bookmarks
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
