[Desktop Entry]
# ctxt: plasma runner
Name=Bookmarks
Comment=Find and open bookmarks
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=bookmarks
X-KDE-Library=krunner_bookmarksrunner
X-KDE-PluginInfo-Author=Glenn Ergeerts, Marco Gulino
X-KDE-PluginInfo-Email=glenn.ergeerts@telenet.be, marco.gulino@gmail.com
X-KDE-PluginInfo-Name=bookmarks
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
