[Desktop Entry]
Name=Wallpaper
Name[ca]=Fons d'escriptori
Name[cs]=Tapeta
Name[de]=Hintergrundbild
Name[en_GB]=Wallpaper
Name[es]=Fondo del escritorio
Name[fi]=Tausta
Name[hu]=Háttérkép
Name[ko]=배경 그림
Name[nb]=Tapet
Name[nl]=Achtergrondafbeelding
Name[pl]=Tapeta
Name[pt]=Papel de Parede
Name[pt_BR]=Papel de parede
Name[ru]=Обои
Name[sk]=Tapeta
Name[sl]=Slika ozadja
Name[sr]=Тапет
Name[sr@ijekavian]=Тапет
Name[sr@ijekavianlatin]=Tapet
Name[sr@latin]=Tapet
Name[sv]=Skrivbordsunderlägg
Name[uk]=Зображення тла
Name[x-test]=xxWallpaperxx
Name[zh_TW]=桌布
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_wallpaper

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/Wallpaper
X-KDE-PluginInfo-Version=1
