[Desktop Entry]
Name=Region & Language
Name[az]=Bölgə və Dil
Name[ca]=Regió i idioma
Name[ca@valencia]=Regió i idioma
Name[es]=Región e idioma
Name[nl]=Regio & taal
Name[tr]=Bölge ve Dil
Name[uk]=Регіон та мова
Name[x-test]=xxRegion & Languagexx
Comment=Set Language, Numeric, Currency and Time Formats
Comment[az]=Dil, say, valyuta və tarix formatlarının təyin edilməsi
Comment[ca]=Defineix l'idioma i el format numèric, monetari i horari
Comment[ca@valencia]=Establix l'idioma i el format numèric, monetari i horari
Comment[es]=Definir el idioma y los formatos numérico, de moneda y de hora
Comment[nl]=Formaten bij taal, numerieke getallen, munteenheid en tijd instellen
Comment[tr]=Dil, Sayı, Para Birimi ve Zaman Biçimlerini Ayarla
Comment[uk]=Встановлення мови, форматів запису чисел, грошових сум та часу
Comment[x-test]=xxSet Language, Numeric, Currency and Time Formatsxx

Icon=preferences-desktop-locale
Type=Application
Exec=systemsettings kcm_regionandlang
NoDisplay=true
