[Desktop Entry]
Name=Region & Language
Name[az]=Bölgə və Dil
Name[bg]=Език и регионални настройки
Name[ca]=Regió i idioma
Name[ca@valencia]=Regió i idioma
Name[es]=Región e idioma
Name[fi]=Alue ja kieli
Name[fr]=Pays et langue
Name[ia]=Region & Linguage
Name[it]=Regione e lingua
Name[ko]=지역과 언어
Name[nl]=Regio & taal
Name[pt]=Região & Língua
Name[pt_BR]=Região e idioma
Name[sl]=Regija in Jezik
Name[ta]=மொழியும் மண்டலமும்
Name[tr]=Bölge ve Dil
Name[uk]=Регіон та мова
Name[vi]=Vùng & ngôn ngữ
Name[x-test]=xxRegion & Languagexx
Name[zh_CN]=区域和语言
Comment=Set Language, Numeric, Currency and Time Formats
Comment[az]=Dil, say, valyuta və tarix formatlarının təyin edilməsi
Comment[bg]=Задаване на езикови настройки, метрични единици, валута, дата и час
Comment[ca]=Defineix l'idioma i el format numèric, monetari i horari
Comment[ca@valencia]=Establix l'idioma i el format numèric, monetari i horari
Comment[es]=Definir el idioma y los formatos numérico, de moneda y de hora
Comment[fi]=Aseta kieli sekä lukujen, valuutan ja ajan muotoilu
Comment[fr]=Définir la langue, le format numérique, de monnaie et d'heure
Comment[ia]=Fixa Formatos de Linguages, Numeric, de numerario e de tempore
Comment[it]=Imposta la lingua, i formati numerici, delle valute e dell'orario
Comment[ko]=언어, 숫자, 통화, 시간 형식 설정
Comment[nl]=Formaten bij taal, numerieke getallen, munteenheid en tijd instellen
Comment[pt]=Configurar a Língua e os Formatos Numéricos, Monetários e de Datas
Comment[pt_BR]=Defina o idioma e formatos númerico, monetário e de data/hora
Comment[sl]=Nastavi jezik, števila, valuta in oblike časa
Comment[ta]=எண்களும் பண மதிப்புகளும் நேரங்களும் எழுதப்படும் வித‍த்தையும், மொழிகளையும் அமையுங்கள்
Comment[tr]=Dil, Sayı, Para Birimi ve Zaman Biçimlerini Ayarla
Comment[uk]=Встановлення мови, форматів запису чисел, грошових сум та часу
Comment[vi]=Đặt ngôn ngữ, dạng thức số, tiền tệ và thời gian
Comment[x-test]=xxSet Language, Numeric, Currency and Time Formatsxx
Comment[zh_CN]=设置语言、数字、货币和时间格式

Icon=preferences-desktop-locale
Type=Application
Exec=systemsettings kcm_regionandlang
NoDisplay=true
