[Desktop Entry]
Name=Region & Language
Comment=Set Language, Numeric, Currency and Time Formats

Icon=preferences-desktop-locale
Type=Application
Exec=systemsettings kcm_regionandlang
NoDisplay=true
