[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ShareProvider
Comment=Plugin for Plasma Sharebin
Comment[ar]=ملحقة لبلازما Sharebin
Comment[ast]=Complementu pa Plasma Sharebin
Comment[bs]=Priključak za plazma korpu dijeljenja
Comment[ca]=Connector pel Sharebin del Plasma
Comment[ca@valencia]=Connector pel Sharebin del Plasma
Comment[cs]=Zásuvný modul pro Plasma Sharebin
Comment[da]=Plugin til Plasma Sharebin
Comment[de]=Modul für Plasma-Sharebin
Comment[el]=Πρόσθετο για το Plasma Sharebin
Comment[en_GB]=Plugin for Plasma Sharebin
Comment[es]=Complemento para Plasma Sharebin
Comment[et]=Plasma Sharebini plugin
Comment[eu]=Plasmaren Sharebin-erako plugina
Comment[fi]=Plasman Sharebin-liitännäinen
Comment[fr]=Module externe « Sharebin » pour Plasma
Comment[gl]=Extensión para o motor Sharebin de Plasma
Comment[he]=תוסף עבור Plasma Sharebin
Comment[hr]=Priključak za Plasma Sharebin
Comment[hu]=Bővítmény a Plasma Sharebinhez
Comment[ia]=Plugin pro Plasma Sharebin
Comment[id]=Plugin Plasma Sharebin
Comment[is]=Íforrit fyrir Plasma Sharebin
Comment[it]=Estensione per Sharebin di Plasma
Comment[ja]=Plasma Sharebin プラグイン
Comment[kk]=Pasma ортақ дерегінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ Sharebin ប្លាស្មា
Comment[ko]=Plasma Sharebin 설정
Comment[lt]=Plasma dalinimosi dėžės papildinys
Comment[lv]=Spraudnis priekš Plasma Sharebin
Comment[mr]=प्लाज्मा शेअरबिन करिता प्लगइन
Comment[nb]=Programtillegg for Plasma Sharebin
Comment[nds]=Moduul för "Plasma-Sharebin"
Comment[nl]=Plugin voor Plasma Sharebin
Comment[nn]=Programtillegg for Plasma Sharebin
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸ਼ੇਅਰਬਿਨ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka dla Sharebin plazmy
Comment[pt]='Plugin' para o Sharebin do Plasma
Comment[pt_BR]=Plugin para o Sharebin do Plasma
Comment[ro]=Modul pentru Plasma Sharebin
Comment[ru]=Расширение для Plasma Sharebin
Comment[sk]=Modul pre Plasma Sharebin
Comment[sl]=Vstavek za Plasma Sharebin
Comment[sr]=Прикључак за плазма корпу дељења
Comment[sr@ijekavian]=Прикључак за плазма корпу дијељења
Comment[sr@ijekavianlatin]=Priključak za plasma korpu dijeljenja
Comment[sr@latin]=Priključak za plasma korpu deljenja
Comment[sv]=Insticksprogram för Plasma Sharebin
Comment[th]=ส่วนเสริมสำหรับถังขยะร่วมกันของพลาสมา
Comment[tr]=Plasma PaylaşımKutusu için Eklenti
Comment[ug]=پلازما Sharebin ئۈچۈن قىستۇرما
Comment[uk]=Додаток до спільного ресурсу Плазми
Comment[wa]=Tchôke-divins pol batch di pårtaedje di Plasma
Comment[x-test]=xxPlugin for Plasma Sharebinxx
Comment[zh_CN]=Plasma 共享插件
Comment[zh_TW]=Plasma Sharebin 的外掛程式

[PropertyDef::X-KDE-PlasmaShareProvider-MimeType]
Type=QStringList

