[Desktop Entry]
Name=ShareProvider
Name[ast]=Fornidor de Servicios
Name[bg]=Доставчик на услуги за споделяне
Name[bs]=Dobavljač dijeljenja
Name[ca]=ShareProvider
Name[ca@valencia]=ShareProvider
Name[cs]=ShareProvider
Name[da]=Delingsudbyder
Name[de]=Veröffentlichungsanbieter
Name[el]=Πάροχος κοινής χρήσης
Name[en_GB]=ShareProvider
Name[es]=Compartir proveedor
Name[et]=ShareProvider
Name[eu]=Partekatze-hornitzailea
Name[fi]=ShareProvider
Name[fr]=Fournisseur de partages
Name[gl]=ShareProvider
Name[he]=ShareProvider
Name[hr]=ShareProvider
Name[hu]=ShareProvider
Name[ia]=Fornitor compartite
Name[is]=ShareProvider
Name[it]=Fornitore di condivisione
Name[ja]=ShareProvider
Name[kk]=Ортақтастыру қызметтер
Name[km]=ShareProvider
Name[ko]=ShareProvider
Name[lt]=ShareProvider
Name[lv]=ShareProvider
Name[mr]=सेवा पुरवठाकर्ता
Name[nb]=Dele-tjenester
Name[nds]=Apenmaakdeenstanbeder
Name[nl]=ShareProvider
Name[pa]=ShareProvider
Name[pl]=Dostawca udostępniania
Name[pt]=Fornecedor de Partilha
Name[pt_BR]=Provedor de compartilhamento
Name[ro]=FurnizorPartajare
Name[ru]=Служба обмена информацией
Name[sk]=Poskytovateľ zdieľania
Name[sl]=ShareProvider
Name[sr]=Добављач дељења
Name[sr@ijekavian]=Добављач дијељења
Name[sr@ijekavianlatin]=Dobavljač dijeljenja
Name[sr@latin]=Dobavljač deljenja
Name[sv]=Delningstjänst
Name[th]=ผู้ให้ใช้งานร่วมกัน
Name[tr]=SağlayıcıyıPaylaş
Name[ug]=ھەمبەھىر تەمىنلىگۈچى
Name[uk]=Служба оприлюднення
Name[wa]=Ahesseu d' pårtaedje
Name[x-test]=xxShareProviderxx
Name[zh_CN]=共享提供
Name[zh_TW]=分享服務提供者
Comment=Share Package Structure
Comment[ast]=Estructura Paquete Compartir
Comment[bs]=Struktura paketa dijeljenja
Comment[ca]=Estructura de paquet de compartició
Comment[ca@valencia]=Estructura de paquet de compartició
Comment[cs]=Struktura sdíleného balíčku
Comment[da]=Pakkestruktur for deling
Comment[de]=Paketstruktur bereitstellen
Comment[el]=Δομή πακέτου κοινής χρήσης
Comment[en_GB]=Share Package Structure
Comment[es]=Estructura del paquete de compartición
Comment[et]=Paketistruktuuri jagamine
Comment[eu]=Partekatze-paketearen egitura
Comment[fi]=Jaa pakettirakenne
Comment[fr]=Structure du paquet de partage
Comment[gl]=Estrutura de paquete Share
Comment[he]=Share Package Structure
Comment[hr]=Podijeli strukturu paketa
Comment[hu]=Csomagstruktúra megosztása
Comment[ia]=Share Package Structure (Structura de uso commun de pacchetto)
Comment[is]=Deila pakkauppbyggingu
Comment[it]=Struttura del pacchetto di condivisione
Comment[ja]=パッケージの構造を共有
Comment[kk]=Ортақ дестелер құрылымы
Comment[km]=ចែករំលែក​រចនាសម្ព័ន្ធ​កញ្ចប់
Comment[ko]=공유 패키지 구조
Comment[lt]=Dalinimosi paketo struktūra
Comment[lv]=Kopīgot pakotnes struktūru
Comment[mr]=शेर पॅकेज संरचना
Comment[nb]=Del pakkestruktur
Comment[nds]=Paketstruktuur praatstellen
Comment[nl]=Structuur van delen van pakketten
Comment[pa]=ਪੈਕੇਜ ਢਾਂਚਾ ਸਾਂਝਾ ਕਰੋਪੈਕੇਜ ਢਾਂਚਾ ਸਾਪੈਕੇਜ ਫਪੈਕੇਜ ਟਾ
Comment[pl]=Struktura pakietu udostępniania
Comment[pt]=Estrutura do Pacote da Partilha
Comment[pt_BR]=Estrutura do pacote de compartilhamento
Comment[ro]=Partajează structura pachetului
Comment[ru]=Структура пакета с параметрами службы обмена информацией
Comment[sk]=Štruktúra balíčka pre zdieľanie
Comment[sl]=Zgradba paketa Share
Comment[sr]=Структура пакета дељења
Comment[sr@ijekavian]=Структура пакета дијељења
Comment[sr@ijekavianlatin]=Struktura paketa dijeljenja
Comment[sr@latin]=Struktura paketa deljenja
Comment[sv]=Dela paketstruktur
Comment[th]=โครงสร้างแพกเกจที่ใช้ร่วมกัน
Comment[tr]=Paket Yapısını Paylaş
Comment[ug]=ھەمبەھىر بوغچا قۇرۇلمىسى
Comment[uk]=Структура спільних пакунків
Comment[wa]=Tcherpinte do pacaedje di pårtaedje
Comment[x-test]=xxShare Package Structurexx
Comment[zh_CN]=共享包结构
Comment[zh_TW]=分享套件結構
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_share
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Name=Plasma/ShareProvider
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.share
X-Plasma-PackageFileMimetypes=application/zip
