[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ShareProvider
Comment=Plugin for Plasma Sharebin

[PropertyDef::X-KDE-PlasmaShareProvider-MimeType]
Type=QStringList

