[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ShareProvider
Comment=Plugin for Plasma Sharebin
Comment[uk]=Додаток до спільного ресурсу Плазми
Comment[x-test]=xxPlugin for Plasma Sharebinxx

[PropertyDef::X-KDE-PlasmaShareProvider-MimeType]
Type=QStringList

