[Desktop Entry]
Encoding=UTF-8
Name=System Monitor
Name[uk]=Монітор системи
Name[x-test]=xxSystem Monitorxx
Comment=System status information
Comment[uk]=Інформація про стан системи
Comment[x-test]=xxSystem status informationxx
ServiceTypes=Plasma/DataEngine
Icon=utilities-system-monitor
Type=Service
X-KDE-Library=plasma_engine_systemmonitor

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=systemmonitor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
