[Desktop Entry]
Name=German Weather Service
Name[az]=Almaniya Hava Xidməti
Name[ca]=Servei meteorològic alemany
Name[es]=Servicio meteorológico alemán
Name[fr]=service de météorologie d'Allemagne
Name[hu]=Német Meteorológiai Szolgálat
Name[it]=Servizio meteorologico tedesco
Name[ko]=독일 기상 서비스
Name[nl]=Duitse weerdienst
Name[pt_BR]=Serviço Meteorológico Alemão
Name[sl]=Nemška vremenska služba
Name[sv]=Tyska vädertjänsten
Name[uk]=Німецька служба погоди
Name[x-test]=xxGerman Weather Servicexx
Comment=Weather forecast by German Weather Service
Comment[az]=Almaniya Hava Xidməti tərəfindən hava məlumatı
Comment[ca]=Previsió meteorològica del Servei meteorològic alemany
Comment[es]=Previsión meteorológica del servicio meteorológico alemán
Comment[fr]=Prévisions météorologiques par le service de météorologie d'Allemagne
Comment[hu]=Időjárás-előrejelzés a Német Meteorológiai Szolgálattól
Comment[it]=Previsioni meteo del servizio meteorologico tedesco
Comment[ko]=독일 기상 서비스의 일기 예보
Comment[nl]=Weersvoorspelling door Duitse weerdienst
Comment[pt_BR]=Previsão do tempo pelo Serviço Meteorológico Alemão
Comment[sl]=Vremenska napoved Nemške vremenske službe
Comment[sv]=Väderprognos av Tyska vädertjänsten
Comment[uk]=Прогноз погоди від Німецької служби погоди
Comment[x-test]=xxWeather forecast by German Weather Servicexx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_dwd
X-KDE-PluginInfo-Name=dwd
