[Desktop Entry]
Name=Hard Disk Space Usage
Name[ar]=استخدام مساحة القرص الصلب
Name[bs]=Iskorisenost Hard diska
Name[ca]=Ús d'espai de disc dur
Name[ca@valencia]=Ús d'espai de disc dur
Name[cs]=Využití místa na pevném disku
Name[da]=Brug af harddiskplads
Name[de]=Festplattenbelegung
Name[el]=Χρήση χώρου σκληρού δίσκου
Name[en_GB]=Hard Disk Space Usage
Name[es]=Espacio usado en el disco duro
Name[et]=Kõvaketta ruumikasutus
Name[eu]=Disko zurruneko espazioaren erabilera
Name[fi]=Kiintolevyjen tilankäyttö
Name[fr]=Utilisation de l'espace des disques dur
Name[gl]=Uso do espazo do disco duro
Name[he]=שימוש בדיסק
Name[hu]=Lemezterület használat
Name[ia]=Usage de spatio del disco dur
Name[id]=Penggunaan Ruang Hard Disk
Name[is]=Staða harðra diska
Name[it]=Spazio del disco fisso
Name[ja]=ハードディスク使用量
Name[kk]=Қатқыл дискідегі пайдаланған орын
Name[km]=ការ​ប្រើ​ប្រាស់​ទំហំ​ថាសរឹង
Name[ko]=하드디스크 공간 사용량
Name[lt]=Standžiojo disko vietos panaudojimas
Name[mr]=हार्ड डिस्क वापर
Name[nb]=Plassbruk for harddisk
Name[nds]=Fastplaat-Bruuk
Name[nl]=Ruimtegebruik van de harde schijf
Name[nn]=Plassbruk for harddisk
Name[pa]=ਹਾਰਡ ਡਿਸਕ ਥਾਂ ਵਰਤੋਂ
Name[pl]=Wykorzystanie dysku twardego
Name[pt]=Utilização do Disco Rígido
Name[pt_BR]=Uso do espaço do disco rígido
Name[ro]=Utilizarea spațiului pe discul dur
Name[ru]=Использование места на диске
Name[sk]=Využitie miesta na pevnom disku
Name[sl]=Uporaba prostora na trdem disku
Name[sr]=заузеће хард диска
Name[sr@ijekavian]=заузеће хард диска
Name[sr@ijekavianlatin]=zauzeće hard diska
Name[sr@latin]=zauzeće hard diska
Name[sv]=Utrymmesanvändning för hårddisk
Name[tr]=Sabit Disk Alanı Kullanımı
Name[uk]=Використання місця на диску
Name[vi]=Sử dụng không gian đĩa
Name[x-test]=xxHard Disk Space Usagexx
Name[zh_CN]=硬盘空间使用情况
Name[zh_TW]=硬碟空間使用量
Comment=An applet that monitors hard disk space usage and percentage
Comment[ar]=بُريْمج يراقب استخدام مساحة القرص الصلب ونسبته المئوية
Comment[bs]=Aplet koji prati  korištenje prostora na hard disku i postotak
Comment[ca]=Una miniaplicació que controla l'ús d'espai i el tant per cent al disc dur
Comment[ca@valencia]=Una miniaplicació que controla l'ús d'espai i el tant per cent en el disc dur
Comment[cs]=Aplet, jenž monitoruje zaplnění místa na disku
Comment[da]=En applet som overvåger brug af harddiskplads og procent ledig plads
Comment[de]=Ein Miniprogramm, das die Festplattenbelegung absolut und in Prozent überwacht
Comment[el]=Μικροεφαρμογή που εποπτεύει την ποσοτική και ποσοστιαία χρήση χώρου του σκληρού δίσκου
Comment[en_GB]=An applet that monitors hard disk space usage and percentage
Comment[es]=Una miniaplicación que monitoriza el uso y porcentaje del espacio en disco duro
Comment[et]=Kõvaketta ruumikasutust ja protsenti jälgiv aplett
Comment[eu]=Disko zurruneko espazioaren erabilera eta ehunekoa gainbegiratzen dituen aplikaziotxo bat
Comment[fi]=Näyttää levyjen tilan­käytön ja sen prosenttiosuuden
Comment[fr]=Une applet surveillant l'utilisation de l'espace des disques durs et donnant des pourcentages
Comment[gl]=Un trebello que vixía o espazo usado do disco duro e a porcentaxe
Comment[he]=ישומון להצגת סך השימוש בכוננים השונים
Comment[hu]=Egy kisalkalmazás, amely figyeli a merevlemez használatot és százalékot
Comment[ia]=Un applet que monitora usage e percentage de spatio de disco dur
Comment[id]=Sebuah applet yang memantau persentase dan penggunaan ruang hard disk
Comment[is]=Smáforrit sem fylgist með notkun harðra diska og prósentuhlutfalli á lausu plássi
Comment[it]=Un'applet che controlla l'uso dello spazio su disco fisso
Comment[ja]=ハードディスクの使用量とパーセンテージを監視するアプレット
Comment[kk]=Қатқыл дискідегі пайдаланған орын және пайызын бақылау аплеті
Comment[km]=អាប់ភ្លេត​ដែល​ត្រួតពិនិត្យ​​ការ​ប្រើប្រាស់​ និង​ភាគរយ​ទំហំ​ថាសរឹង
Comment[ko]=하드디스크 공간 사용량 및 비율을 보여 주는 애플릿
Comment[lt]=Programėlė, kuri stebi disko vietos panaudojimą ir procentinę dalį
Comment[mr]=हार्ड डिस्क वापर व टक्केवारी दर्शविणारे एप्लेट
Comment[nb]=Et miniprogram som overvåker bruk av plass på harddisk, og prosentvis
Comment[nds]=En Lüttprogramm, dat den Fastplaat-Bruuk afsluuts un in Perzent beluert
Comment[nl]=Een applet die het ruimtegebruik van de harde schijf volgt
Comment[nn]=Skjemelement som overvaker bruk av diskplass på harddisk, og viser som prosent
Comment[pa]=ਐਪਲਿਟ, ਜੋ ਕਿ ਹਾਰਡ ਡਿਸਕ ਵਲੋਂ ਵਰਤੀ ਥਾਂ ਅਤੇ ਫੀਸਦੀ ਦੀ ਨਿਗਰਾਨੀ ਕਰਦਾ ਹੈ
Comment[pl]=Monitoruje wykorzystaną przestrzeń i procent wykorzystania dysku twardego
Comment[pt]=Uma 'applet' que vigia a utilização e percentagem do disco
Comment[pt_BR]=Monitora o uso do espaço do disco rígido e a porcentagem
Comment[ro]=Miniaplicație ce monitorizează gradul de utilizare a discului dur
Comment[ru]=Мониторинг используемого дискового пространства
Comment[sk]=Applet, ktorý monitoruje použitie miesta na pevnom disku a percentá
Comment[sl]=Aplet, ki nadzoruje uporabo prostora na trdem disku
Comment[sr]=Аплет за надгледање заузећа хард диска
Comment[sr@ijekavian]=Аплет за надгледање заузећа хард диска
Comment[sr@ijekavianlatin]=Aplet za nadgledanje zauzeća hard diska
Comment[sr@latin]=Aplet za nadgledanje zauzeća hard diska
Comment[sv]=Ett miniprogram som övervakar hårddiskutrymme och procent
Comment[tr]=Sabit disk kullanımını izleyen ve yüzde olarak gösteren bir programcık
Comment[uk]=Аплет, який стежить за використанням місця на диску
Comment[vi]=Một ứng dụng nhỏ quản lý phần trăm sử dụng không gian đĩa
Comment[x-test]=xxAn applet that monitors hard disk space usage and percentagexx
Comment[zh_CN]=监视硬盘空间使用率的小程序
Comment[zh_TW]=監視硬碟空間使用量百分比的小程式

Type=Service
Icon=drive-harddisk

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/diskusage.qml
X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.diskusage
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-FormFactors=tablet,mediacenter,desktop
