[Desktop Entry]
Icon=preferences-desktop-cursors
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cursortheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=appearance
X-DocPath=kcontrol/cursortheme/index.html
X-KDE-Weight=70

Name=Cursors
Name[ar]=المؤشرات
Name[ast]=Cursores
Name[az]=Kursorlar
Name[ca]=Cursors
Name[cs]=Kurzory
Name[da]=Markører
Name[de]=Zeiger
Name[en_GB]=Cursors
Name[es]=Cursores
Name[et]=Kursorid
Name[eu]=Kurtsoreak
Name[fi]=Osoittimet
Name[fr]=Pointeurs
Name[hi]=कर्सर
Name[hu]=Kurzorok
Name[ia]=Cursores
Name[id]=Kursor
Name[it]=Puntatori
Name[ja]=カーソル
Name[ko]=커서
Name[lt]=Žymekliai
Name[ml]=ചൂണ്ടുവിരലുകൾ
Name[nl]=Cursors
Name[nn]=Peikarar
Name[pa]=ਕਰਸਰਾਂ
Name[pl]=Wskaźniki
Name[pt]=Cursores
Name[pt_BR]=Cursores
Name[ro]=Cursori
Name[ru]=Курсоры мыши
Name[sk]=Kurzory
Name[sl]=Kazalke
Name[sv]=Pekare
Name[ta]=சுட்டிக்குறிகள்
Name[tg]=Курсорҳои муш
Name[tr]=İmleçler
Name[uk]=Вказівники
Name[vi]=Con trỏ
Name[x-test]=xxCursorsxx
Name[zh_CN]=光标

Comment=Choose mouse cursor theme
Comment[ar]=اختر سِمة المؤشر
Comment[az]=Siçan kursoru mövzusunu seçmək
Comment[ca]=Trieu el tema del cursor del ratolí
Comment[cs]=Zvolte motiv ukazatele myši
Comment[da]=Vælg tema for musemarkøren
Comment[de]=Design für den Mauszeiger auswählen
Comment[en_GB]=Choose mouse cursor theme
Comment[es]=Escoger un tema de cursores para el ratón
Comment[et]=Hiirekursori teema valimine
Comment[eu]=Hautatu sagu-kurtsorearen itxura
Comment[fi]=Valitse hiiriosoitinteema
Comment[fr]=Choisissez le thème du pointeur de souris
Comment[hi]=माउस कर्सर प्रसंग चुनें 
Comment[hu]=Az egér kurzortémájának kiválasztása
Comment[ia]=Selige le thema de cursor de mus
Comment[id]=Memilih tema kursor mouse
Comment[it]=Scegli tema dei puntatori del mouse
Comment[ko]=마우스 커서 테마 선택
Comment[lt]=Pasirinkti pelės žymeklio apipavidalinimą
Comment[ml]=മൗസ് ചൂണ്ടുവിരൽ തീം തിരഞ്ഞെടുക്കുക
Comment[nl]=Muiscursorthema kiezen
Comment[nn]=Vel peikartema
Comment[pa]=ਮਾਊਸ ਕਰਸਰ ਥੀਮ ਚੁਣੋ
Comment[pl]=Wybierz zestaw wskaźników myszy
Comment[pt]=Escolher o tema de cursores do rato
Comment[pt_BR]=Escolha o tema do cursor do mouse
Comment[ro]=Alege tematica cursorului mausului
Comment[ru]=Выбор набора курсоров мыши
Comment[sk]=Vybrať tému kurzora myši
Comment[sl]=Izberite temo kazalke miši
Comment[sv]=Välj muspekartema
Comment[ta]=சுட்டிக்குறி திட்டத்தைத் தேர்ந்தெடுங்கள்
Comment[tg]=Мавзӯи курсори мушро интихоб намоед
Comment[tr]=Fare imleci temasını seçin
Comment[uk]=Вибір теми вказівника миші
Comment[vi]=Chọn chủ đề của con trỏ chuột
Comment[x-test]=xxChoose mouse cursor themexx
Comment[zh_CN]=选择鼠标光标主题

X-KDE-Keywords=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skin,Pointer Colors,Pointer Appearance,cursor skin,cursor style,cursor size,mouse style,pointer,
X-KDE-Keywords[ca]=Ratolí,Cursor,Tema,Aparença de cursor,Color de cursor,Tema de cursor,Tema de ratolí,Aparença de ratolí,Pell de ratolí,Colors d'apuntador,Aparença d'apuntador,pell de cursor,estil de cursor,mida de cursor,estil de ratolí,apuntador
X-KDE-Keywords[es]=Ratón,mouse,cursor,tema,aspecto del cursor,apariencia del cursor,color del cursor,tema de cursores,tema del ratón,aspecto del ratón,piel del ratón,colores del puntero,aspecto del puntero,piel del cursor,estilo del cursor,tamaño del cursor,estilo del ratón,puntero,
X-KDE-Keywords[hu]=Egér,Kurzor,Téma,Kurzormegjelenés,Kurzorszín,Kurzortéma,Egértéma,Egérmegjelenés,Egérfelszín,Mutatószínek,Mutató-megjelenés,kurzorfelszín,kurzorszílus,kurzorméret,egérstílus,mutató,
X-KDE-Keywords[nl]=Muis,Cursor,Thema,Uiterlijk van cursor,kleur van cursor,Thema van cursor,Thema van muis,uiterlijk van muis,Muisoppervlak,Kleuren van aanwijzer,Uiterlijk van aanwijzer,uiterlijk van cursor,cursorstijl,cursorgrootte, muisstijl,aanwijzer,
X-KDE-Keywords[pl]=Mysz,Kursor,Motyw,Wygląd kursora,Kolor kursora,Motyw kursora,Motyw myszy,Wygląd myszy,Skórka myszy,Kolory wskaźnika,Wygląd wskaźnika,skórka myszy,wygląd wskaźnika,rozmiar wskaźnika,styl myszy,wskaźnik
X-KDE-Keywords[sv]=Mus,Pekare,Tema,Utseende,Pekarfärg,Pekartema,Mustema,Musutseende,Musskal,Pekarfärger,Pekarutseende,färgskal,pekarstil,pekarstorlek,musstil,pekare
X-KDE-Keywords[uk]=миша,вказівник,тема,вигляд вказівника,колір вказівника,тема вказівника,тема миші,вигляд миші,стиль вказівника,розмір вказівника,стиль миші,Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,cursor skin,cursor style,cursor size,mouse style,pointer
X-KDE-Keywords[x-test]=xxMousexx,xxCursorxx,xxThemexx,xxCursor Appearancexx,xxCursor Colorxx,xxCursor Themexx,xxMouse Themexx,xxMouse Appearancexx,xxMouse Skinxx,xxPointer Colorsxx,xxPointer Appearancexx,xxcursor skinxx,xxcursor stylexx,xxcursor sizexx,xxmouse stylexx,xxpointerxx,
