# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: None

[Desktop Entry]
Name=File Search
Name[ar]=بحث الملفّات
Name[az]=Fayl axtarışı
Name[be]=Пошук файлаў
Name[bg]=Търсене на файлове
Name[ca]=Cerca de fitxers
Name[ca@valencia]=Busca de fitxers
Name[cs]=Hledání souboru
Name[da]=Filsøgning
Name[de]=Dateisuche
Name[el]=Αναζήτηση αρχείων
Name[en_GB]=File Search
Name[eo]=Dosierserĉo
Name[es]=Búsqueda de archivos
Name[eu]=Fitxategi bilatzea
Name[fi]=Tiedostohaku
Name[fr]=Recherche de fichiers
Name[ga]=Comhad Cuardaigh
Name[gl]=Busca de ficheiros
Name[he]=חיפוש קבצים
Name[hu]=Fájlkeresés
Name[ia]=Cerca de file
Name[id]=Pencarian File
Name[is]=Skráaleit
Name[it]=Ricerca file
Name[ja]=ファイル検索
Name[ka]=ფაილის ძებნა
Name[ko]=파일 검색
Name[lt]=Failų paieška
Name[lv]=Datņu meklēšana
Name[nb]=Filsøk
Name[nl]=Bestanden zoeken
Name[nn]=Filsøk
Name[pa]=ਫਾਇਲ ਖੋਜ
Name[pl]=Wyszukiwanie plików
Name[pt_BR]=Pesquisa de arquivos
Name[ro]=Căutare fișiere
Name[ru]=Поиск файлов
Name[sa]=सञ्चिका अन्वेषणम्
Name[sk]=Hľadanie súborov
Name[sl]=Iskanje datoteke
Name[sv]=Filsökning
Name[ta]=கோப்பு தேடல்
Name[th]=ค้นหาไฟล์
Name[tr]=Dosya Arama
Name[uk]=Пошук файлів
Name[zh_CN]=文件搜索
Name[zh_TW]=檔案搜尋
Type=Application
Icon=baloo
NoDisplay=true
