[Desktop Entry]
Name=Desktop Search
Name[ar]=بحث سطح المكتب
Name[bs]=Pretraga radne površine
Name[ca]=Cerca a l'escriptori
Name[ca@valencia]=Cerca a l'escriptori
Name[cs]=Vyhledávací služby
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση στην επιφάνεια εργασίας
Name[en_GB]=Desktop Search
Name[es]=Búsqueda de escritorio
Name[et]=Töölauaotsing
Name[fi]=Työpöytähaku
Name[fr]=Rechercher sur le bureau
Name[gl]=Busca no escritorio
Name[hu]=Asztali keresés
Name[id]=Pencarian Desktop
Name[is]=Skjáborðsleit
Name[it]=Ricerca desktop
Name[ja]=デスクトップ検索
Name[ko]=데스크톱 검색
Name[lt]=Darbalaukio paieška
Name[nb]=Skrivebordssøk
Name[nds]=Schriefdischsöök
Name[nl]=Bureaubladzoeken
Name[nn]=Skrivebordssøk
Name[pa]=ਡੈਸਕਟਾਪ ਖੋਜ
Name[pl]=Wyszukiwanie na pulpicie
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa no Desktop
Name[ru]=Поиск по меткам и содержимому
Name[sk]=Hľadanie na ploche
Name[sl]=Namizno iskanje
Name[sr]=претрага радне површи
Name[sr@ijekavian]=претрага радне површи
Name[sr@ijekavianlatin]=pretraga radne površi
Name[sr@latin]=pretraga radne površi
Name[sv]=Skrivbordssökning
Name[tr]=Masaüstü Araması
Name[uk]=Стільничний пошук
Name[x-test]=xxDesktop Searchxx
Name[zh_CN]=桌面搜索
Name[zh_TW]=桌面搜尋
Comment=Searches through files, emails and contacts
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=baloo
X-KDE-Library=krunner_baloosearchrunner
X-KDE-PluginInfo-Author=Vishesh Handa
X-KDE-PluginInfo-Email=me@vhanda.in
X-KDE-PluginInfo-Name=baloosearch
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
