[Desktop Entry]
Name=%{APPNAME} Weather Data Provider
Name[ca]=Proveïdor de dades meteorològiques per al %{APPNAME}
Name[ca@valencia]=Proveïdor de dades meteorològiques per al %{APPNAME}
Name[da]=%{APPNAME} vejrdata-udbyder
Name[de]=%{APPNAME}-Wetterdatenanbieter
Name[el]=%{APPNAME} Πάροχος δεδομένων καιρού
Name[en_GB]=%{APPNAME} Weather Data Provider
Name[es]=Proveedor de datos meteorológicos %{APPNAME}
Name[et]=%{APPNAME} ilmaandmete pakkuja
Name[eu]=%{APPNAME} eguraldi datuen hornitzailea
Name[fi]=%{APPNAME} -säätietojen tarjoaja
Name[fr]=%{APPNAME} Fournisseur de données météorologiques
Name[gl]=Provedor de datos meteorolóxicos %{APPNAME}
Name[he]=ספק מזג האוויר %{APPNAME}
Name[is]=%{APPNAME} veðurgagnaþjónusta
Name[it]=Fornitore di dati meteo di %{APPNAME}
Name[ko]=%{APPNAME} 날씨 데이터 공급자
Name[lt]=Orų informacija iš %{APPNAME}
Name[nl]=%{APPNAME} Leverancier van weergegevens
Name[nn]=%{APPNAME} vêrdataleverandør
Name[pa]=%{APPNAME} ਮੌਸਮ ਡਾਟਾ ਦੇਣ ਵਾਲਾ
Name[pl]=%{APPNAME} - dostawca danych pogodowych
Name[pt]=Fornecedor de Dados Meteorológicos do %{APPNAME}
Name[pt_BR]=Fornecedor de dados meteorológicos do %{APPNAME}
Name[sk]=%{APPNAME} poskytovateľ údajov počasia
Name[sl]=Ponudnik podatkov za vreme %{APPNAME}
Name[sr]=%{APPNAME} добављач података о метеоролошким условима
Name[sr@ijekavian]=%{APPNAME} добављач података о метеоролошким условима
Name[sr@ijekavianlatin]=%{APPNAME} dobavljač podataka o meteorološkim uslovima
Name[sr@latin]=%{APPNAME} dobavljač podataka o meteorološkim uslovima
Name[sv]=%{APPNAME} väderdataleverantör
Name[uk]=Засіб надання даних щодо погоди %{APPNAME}
Name[x-test]=xx%{APPNAME} Weather Data Providerxx
Name[zh_CN]=%{APPNAME} 天气数据提供商
Name[zh_TW]=%{APPNAME} 天氣資料提供者
Comment=Access to the weather data provider %{APPNAME}
Comment[ca]=Accés al proveïdor de dades meteorològiques per al {APPNAME}}
Comment[ca@valencia]=Accés al proveïdor de dades meteorològiques per al {APPNAME}}
Comment[da]=Adgang til vejrdata-udbyderen %{APPNAME}
Comment[de]=Zugriff auf den Wetterdatenanbieter %{APPNAME}
Comment[el]=Πρόσβαση στον πάροχο δεδομένων καιρού %{APPNAME}
Comment[en_GB]=Access to the weather data provider %{APPNAME}
Comment[es]=Acceso al proveedor de datos meteorológicos %{APPNAME}
Comment[et]=Ilmaandmete pakkuja  %{APPNAME} andmete kasutamine
Comment[eu]=Sarbidea eguraldi datuen hornitzaile honetara: %{APPNAME}
Comment[fi]=Pääsy säätietojen tarjoajaan %{APPNAME}
Comment[fr]=Accès au fournisseur de données météorologiques %{APPNAME}
Comment[gl]=Acceder ao provedor de datos meteorolóxicos %{APPNAME}.
Comment[he]=גישה למספק מזג האוויר %{APPNAME} 
Comment[is]=Aðgangur að veðurgagnaþjónustunni %{APPNAME}
Comment[it]=Accedi al fornitore di dati meteo di %{APPNAME}
Comment[ko]=날씨 데이터 공급자 %{APPNAME}에 접근
Comment[lt]=Apsilankyti pas orų informacijos teikėją %{APPNAME}
Comment[nl]=Toegang tot de leverancier van weergegevens %{APPNAME}
Comment[nn]=Tilgang til vêrdataleverandøren %{APPNAME}
Comment[pl]=Połącz się z dostawcą danych pogodowych %{APPNAME}
Comment[pt]=Acesso ao fornecedor de dados meteorológicos do %{APPNAME}
Comment[pt_BR]=Acesso ao fornecedor de dados meteorológicos do %{APPNAME}
Comment[sk]=Prístup k poskytovateľovi údajov počasia %{APPNAME}
Comment[sl]=Dostop do ponudnika podatkov za vreme %{APPNAME}
Comment[sr]=Приступ добављачу података о метеоролошким условима %{APPNAME}
Comment[sr@ijekavian]=Приступ добављачу података о метеоролошким условима %{APPNAME}
Comment[sr@ijekavianlatin]=Pristup dobavljaču podataka o meteorološkim uslovima %{APPNAME}
Comment[sr@latin]=Pristup dobavljaču podataka o meteorološkim uslovima %{APPNAME}
Comment[sv]=Åtkomst till väderdataleverantören %{APPNAME}
Comment[uk]=Доступ до засобу надання даних щодо погоди %{APPNAME}
Comment[x-test]=xxAccess to the weather data provider %{APPNAME}xx
Comment[zh_CN]=访问天气数据提供商 %{APPNAME}
Comment[zh_TW]=存取天氣資料提供者 %{APPNAME}
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_%{APPNAMELC}
X-KDE-PluginInfo-Name=%{APPNAMELC}
