[Desktop Entry]
Name=%{APPNAME} Weather Data Provider
Name[ca]=Proveïdor de dades meteorològiques de %{APPNAME}
Name[da]=%{APPNAME} vejrdata-udbyder
Name[de]=%{APPNAME}-Wetterdatenanbieter
Name[el]=%{APPNAME} Πάροχος δεδομένων καιρού
Name[en_GB]=%{APPNAME} Weather Data Provider
Name[es]=Proveedor de datos meteorológicos %{APPNAME}
Name[et]=%{APPNAME} ilmaandmete pakkuja
Name[eu]=%{APPNAME} eguraldi datuen hornitzailea
Name[fi]=%{APPNAME} -säätietojen tarjoaja
Name[gl]=Fornecedor de datos meteorolóxicos %{APPNAME}
Name[he]=ספק מזג האוויר %{APPNAME}
Name[hu]=%{APPNAME} időjárásadat-szolgáltató
Name[is]=%{APPNAME} veðurgagnaþjónusta
Name[it]=Fornitore di dati meteo di %{APPNAME}
Name[ko]=%{APPNAME} 날씨 데이터 공급자
Name[lt]=Orų informacija iš %{APPNAME}
Name[nl]=%{APPNAME} Leverancier van weergegevens
Name[pa]=%{APPNAME} ਮੌਸਮ ਡਾਟਾ ਦੇਣ ਵਾਲਾ
Name[pl]=%{APPNAME} - dostawca danych pogodowych
Name[ru]=Источник данных о погоде %{APPNAME}
Name[sk]=%{APPNAME} poskytovateľ údajov počasia
Name[sl]=Ponudnik podatkov za vreme %{APPNAME}
Name[sv]=%{APPNAME} väderdataleverantör
Name[tr]=%{APPNAME} Hava Durumu Veri Sağlayıcısı
Name[uk]=Засіб надання даних щодо погоди %{APPNAME}
Name[x-test]=xx%{APPNAME} Weather Data Providerxx
Comment=Access to the weather data provider %{APPNAME}
Comment[ca]=Accés al proveïdor de dades meteorològiques de %{APPNAME}
Comment[da]=Adgang til vejrdata-udbyderen %{APPNAME}
Comment[de]=Zugriff auf den Wetterdatenanbieter %{APPNAME}
Comment[el]=Πρόσβαση στον πάροχο δεδομένων καιρού %{APPNAME}
Comment[en_GB]=Access to the weather data provider %{APPNAME}
Comment[es]=Acceso al proveedor de datos meteorológicos %{APPNAME}
Comment[et]=Ilmaandmete pakkuja  %{APPNAME} andmete kasutamine
Comment[eu]=Sarbidea eguraldi datuen hornitzaile honetara: %{APPNAME}
Comment[fi]=Pääsy säätietojen tarjoajaan %{APPNAME}
Comment[gl]=Acceder ao fornecedor de datos meteorolóxicos %{APPNAME}.
Comment[he]=גישה למספק מזג האוויר %{APPNAME} 
Comment[hu]=Hpzzáférés a(z) %{APPNAME} időjárási adataihoz
Comment[is]=Aðgangur að veðurgagnaþjónustunni %{APPNAME}
Comment[it]=Accedi al fornitore di dati meteo di %{APPNAME}
Comment[ko]=날씨 데이터 공급자 %{APPNAME}에 접근
Comment[lt]=Apsilankyti pas orų informacijos teikėją %{APPNAME}
Comment[nl]=Toegang tot de leverancier van weergegevens %{APPNAME}
Comment[pl]=Połącz się z dostawcą danych pogodowych %{APPNAME}
Comment[ru]=Доступ к поставщику данных о погоде %{APPNAME}
Comment[sk]=Prístup k poskytovateľovi údajov počasia %{APPNAME}
Comment[sl]=Dostop do ponudnika podatkov za vreme %{APPNAME}
Comment[sv]=Åtkomst till väderdataleverantören %{APPNAME}
Comment[tr]=Hava durumu verileri sağlayıcısı %{APPNAME} erişimi
Comment[uk]=Доступ до засобу надання даних щодо погоди %{APPNAME}
Comment[x-test]=xxAccess to the weather data provider %{APPNAME}xx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_%{APPNAMELC}
X-KDE-PluginInfo-Name=%{APPNAMELC}
