[Desktop Entry]
GenericName=Color scheme editor
Name=KColorSchemeEditor
Comment=Plasma color scheme editor
Exec=kcolorschemeeditor
StartupNotify=true
Icon=preferences-desktop-color
Type=Application
Terminal=false
NoDisplay=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Settings;X-KDE-settings-looknfeel;
