[Desktop Entry]
GenericName=Color scheme editor
GenericName[az]=Rəng sxemləri redaktoru
GenericName[ca]=Editor de l'esquema de color
GenericName[es]=Editor de esquema de color
GenericName[eu]=Kolore-antolaeren editorea
GenericName[fr]=Éditeur de schémas de couleurs
GenericName[nl]=Bewerker van kleurenschema
GenericName[pt]=Editor de esquemas de cores
GenericName[pt_BR]=Editor de esquema de cores
GenericName[sl]=Urejevalnik barvnih shem
GenericName[sv]=Färgschemaeditor
GenericName[uk]=Редактор схем кольорів
GenericName[x-test]=xxColor scheme editorxx
Name=KColorSchemeEditor
Name[az]=KColorSchemeEditor
Name[ca]=KColorSchemeEditor
Name[es]=KColorSchemeEditor
Name[eu]=KColorSchemeEditor
Name[fr]=KColorSchemeEditor
Name[nl]=KColorSchemeEditor
Name[pt]=KColorSchemeEditor
Name[pt_BR]=KColorSchemeEditor
Name[sl]=KColorSchemeEditor
Name[sv]=Färgschemaeditor
Name[uk]=KColorSchemeEditor
Name[x-test]=xxKColorSchemeEditorxx
Comment=Plasma color scheme editor
Comment[az]=Plasma rəng sxemləri redaktoru
Comment[ca]=Editor de l'esquema de color del Plasma
Comment[es]=Editor de esquema de color de Plasma
Comment[eu]=Plasmaren kolore-antolaera editorea
Comment[fr]=Éditeur de schémas de couleurs de Plasma
Comment[nl]=Bewerker van kleurenschema van Plasma
Comment[pt]=Editor de esquemas de cores do Plasma
Comment[pt_BR]=Editor de esquema de cores do Plasma
Comment[sl]=Plasma urejevalnik barvnih shem
Comment[sv]=Plasma färgschemaeditor
Comment[uk]=Редактор схем кольорів Плазми
Comment[x-test]=xxPlasma color scheme editorxx
Exec=kcolorschemeeditor
StartupNotify=true
Icon=preferences-desktop-color
Type=Application
Terminal=false
NoDisplay=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Settings;X-KDE-settings-looknfeel;
