[Desktop Entry]
Name=Calendar
Name[uk]=Календар
Name[x-test]=xxCalendarxx
Comment=Calendar data engine
Comment[uk]=Рушій даних календаря
Comment[x-test]=xxCalendar data enginexx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=office-calendar
X-KDE-Library=plasma_engine_calendar

X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

