[Desktop Entry]
Encoding=UTF-8
Name=Network Monitor
Name[ar]=مرقاب الشبكة
Name[ast]=Monitor de rede
Name[bg]=Наблюдение на мрежата
Name[bs]=Nadzor mreže
Name[ca]=Controlador de la xarxa
Name[ca@valencia]=Controlador de la xarxa
Name[cs]=Monitor sítě
Name[da]=Netværksovervågning
Name[de]=Netzwerküberwachung
Name[el]=Επόπτης δικτύου
Name[en_GB]=Network Monitor
Name[es]=Monitor de red
Name[et]=Võrgujälgija
Name[eu]=Sareko monitorea
Name[fi]=Verkon käyttö
Name[fr]=Surveillance du réseau
Name[ga]=Monatóir an Líonra
Name[gl]=Vixilante da rede
Name[gu]=નેટવર્ક મોનિટર
Name[he]=מוניטור רשת
Name[hi]=नेटवर्क नरीक्षण
Name[hr]=Nadzornik mreže
Name[hu]=Hálózatfigyelő
Name[ia]=Monitor de Rete
Name[id]=Monitor Jaringan
Name[is]=Netkerfisvaktari
Name[it]=Monitor di rete
Name[ja]=ネットワークモニタ
Name[kk]=Желіні бақылау
Name[km]=ត្រួតពិនិត្យ​បណ្ដាញ
Name[kn]=ಜಾಲಬಂಧ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=네트워크 모니터
Name[lt]=Tinklo stebėjimo priemonė
Name[lv]=Tīkla monitors
Name[mr]=संजाळ नियंत्रक
Name[nb]=Nettverksovervåker
Name[nds]=Nettwark-Kieker
Name[nl]=Netwerkmonitor
Name[nn]=Nettverksovervaking
Name[pa]=ਨੈੱਟਵਰਕ ਨਿਗਰਾਨ
Name[pl]=Monitor sieci
Name[pt]=Monitor da Rede
Name[pt_BR]=Monitor da rede
Name[ro]=Monitor de rețea
Name[ru]=Сетевой монитор
Name[se]=Fierbmi
Name[si]=ජාල මොනිටරය
Name[sk]=Monitor siete
Name[sl]=Nadzornik omrežja
Name[sr]=надзор мреже
Name[sr@ijekavian]=надзор мреже
Name[sr@ijekavianlatin]=nadzor mreže
Name[sr@latin]=nadzor mreže
Name[sv]=Nätverksövervakning
Name[tg]=Монитори шабака
Name[th]=ติดตามการใช้งานเครือข่าย
Name[tr]=Ağ İzleyici
Name[ug]=تور كۆزەتكۈچ
Name[uk]=Монітор мережі
Name[wa]=Corwaitoe del rantoele
Name[x-test]=xxNetwork Monitorxx
Name[zh_CN]=网络监视器
Name[zh_TW]=網路監控
Comment=A network usage monitor
Comment[ar]=مرقاب لاستخدام الشبكة
Comment[ast]=Un monitor d'usu de rede
Comment[be@latin]=Nazirańnik zaniataści sietki
Comment[bg]=Наблюдение на изпозлването на мрежата
Comment[bs]=Nadgledanje upotrebe mreže
Comment[ca]=Un controlador d'ús de la xarxa
Comment[ca@valencia]=Un controlador d'ús de la xarxa
Comment[cs]=Monitor využití sítě
Comment[csb]=Mònitór brëkòwaniô sécë
Comment[da]=Overvågning af netværkstrafik
Comment[de]=Ein Überwachungsmonitor für Netzwerke
Comment[el]=Ένας επόπτης χρήσης του δικτύου
Comment[en_GB]=A network usage monitor
Comment[es]=Monitor de uso de la red
Comment[et]=Võrgukasutuse jälgija
Comment[eu]=Sarearen erabileraren monitorea
Comment[fi]=Näyttää verkon käytön
Comment[fr]=Surveillance de l'usage réseau
Comment[fy]=In netwurk brûkme monitor
Comment[ga]=Monatóir úsáide an líonra
Comment[gl]=Un vixilante do estado da rede
Comment[gu]=નેટવર્ક સ્થિતિ દેખરેખ
Comment[he]=משמש לניטור השימוש ברשת
Comment[hi]=नेटवर्क उपयोग मॉनीटर
Comment[hne]=नेटवर्क उपयोग देखइया
Comment[hr]=Nadzor korištenja mreže
Comment[hsb]=Monitor, kiž pokazuje wućeženosć syće
Comment[hu]=Kijelzi a hálózat állapotát
Comment[ia]=Un monitor de usage de rete
Comment[id]=Monitor penggunaan jaringan
Comment[is]=Eftirlit með notkun netsins
Comment[it]=Indica l'uso della rete
Comment[ja]=ネットワークの活動を監視します
Comment[kk]=Желі пайдалануын бақылау
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ​ការ​ប្រើ​បណ្ដាញ
Comment[kn]=ಜಾಲಬಂಧ ಬಳಕೆಯ ಮೇಲ್ವಿಚಾರಕ
Comment[ko]=네트워크 사용량 모니터
Comment[ku]=Temaşekerê rewşa torê
Comment[lt]=Tinklo naudojimo stebėtojas
Comment[lv]=Tīkla noslogojuma novērotājs
Comment[mk]=Монитор на користењето на мрежата
Comment[ml]= ശ്രംഖല ഉപയോഗം നിരീക്ഷകന്‍
Comment[mr]=संजाळ वापरणी नियंत्रक
Comment[nb]=En overvåker for nettverksbruk
Comment[nds]=En Kieker för den Nettwark-Bruuk
Comment[nl]=Toont het netwerkgebruik
Comment[nn]=Overvaking av nettverksbruk
Comment[or]=ଗୋଟିଏ ନେଟୱର୍କ ବ୍ୟବହାର ବିଧି ନିରିକ୍ଷକ
Comment[pa]=ਇੱਕ ਨੈੱਟਵਰਕ ਵਰਤੋਂ ਮਾਨੀਟਰ
Comment[pl]=Monitoruje wykorzystanie sieci
Comment[pt]=Um monitor da utilização da rede
Comment[pt_BR]=Um monitor de utilização da rede
Comment[ro]=Monitor de utilizare a rețelei
Comment[ru]=Монитор сетевой активности
Comment[si]=ජාල භාවිතය නිරික්‍ෂකය
Comment[sk]=Monitor využitia siete
Comment[sl]=Nadzornik uporabe omrežja
Comment[sr]=Надгледање употребе мреже
Comment[sr@ijekavian]=Надгледање употребе мреже
Comment[sr@ijekavianlatin]=Nadgledanje upotrebe mreže
Comment[sr@latin]=Nadgledanje upotrebe mreže
Comment[sv]=Övervakning av nätverksanvändning
Comment[ta]=பிணைய பயன்பாடு நோட்டம்
Comment[tg]=Состояние сервера Samba
Comment[th]=ตัวติดตามดูการใช้งานเครือข่าย
Comment[tr]=Bir ağ kullanımı izleyici
Comment[ug]=تور ئىشلىتىشنى كۆزەتكۈچ
Comment[uk]=Монітор використання мережі
Comment[wa]=On corwaitoe di l' eployaedje del rantoele
Comment[x-test]=xxA network usage monitorxx
Comment[zh_CN]=网络利用率监视器
Comment[zh_TW]=網路使用量監視器
Type=Service
Icon=network-workgroup

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/net.qml
X-Plasma-StandAloneApp=true

X-Plasma-ConfigPlugins=solid-actions,device_automounter_kcm

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.net
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-FormFactors=tablet,mediacenter,desktop
