[Desktop Entry]
Name=Network speed
Comment=System monitor Widget that shows the download and upload data rate
Type=Service
Icon=network-workgroup
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.systemmonitor
X-Plasma-RootPath=org.kde.plasma.systemmonitor

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.net
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=kde.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=System Information

[Config]
chartFace=org.kde.ksysguard.linechart
sensorIds=network/all/receivedDataRate,network/all/sentDataRate
totalSensor=
textOnlySensorIds=

[FaceConfig]
lineChartSmooth=true
