[Desktop Entry]
Name=Application Information
Name[uk]=Відомості щодо програм
Name[x-test]=xxApplication Informationxx
Comment=Information and launching of all applications in the app menu.
Comment[uk]=Відомості і запуск всіх програма з меню програм.
Comment[x-test]=xxInformation and launching of all applications in the app menu.xx
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_apps

X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=apps
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
