[Desktop Entry]
Name=Application Information
Name[ar]=معلومات التطبيقات
Name[az]=Tətbiq Məlumatları
Name[bn]=অ্যাপলিকেশন তথ্য
Name[bs]=Podaci o programima
Name[ca]=Informació de les aplicacions
Name[ca@valencia]=Informació de les aplicacions
Name[cs]=Informace o aplikaci
Name[csb]=Wëdowiédzô ò aplikacëji
Name[da]=Programinformation
Name[de]=Anwendungsinformationen
Name[el]=Πληροφορίες εφαρμογών
Name[en_GB]=Application Information
Name[eo]=Aplikaĵaj Informoj
Name[es]=Información de la aplicación
Name[et]=Rakenduse teave
Name[eu]=Aplikazioari buruzko informazioa
Name[fi]=Sovellustiedot
Name[fr]=Informations sur l'application
Name[fy]=Applikaasje ynformaasje
Name[ga]=Eolas faoi Fheidhmchláir
Name[gl]=Información da aplicación
Name[gu]=કાર્યક્રમ માહિતી
Name[he]=מידע אודות יישום
Name[hi]=अनुप्रयोग जानकारी
Name[hr]=Informacije o aplikacijama
Name[hu]=Az alkalmazások jellemzői
Name[ia]=Information de application
Name[id]=Informasi Aplikasi
Name[is]=Upplýsingar um forrit
Name[it]=Informazioni sull'applicazione
Name[ja]=アプリケーションの情報
Name[kk]=Қолданбаның ақпараты
Name[km]=ព័ត៌មាន​កម្មវិធី
Name[kn]=ಅನ್ವಯ ಮಾಹಿತಿ
Name[ko]=프로그램 정보
Name[lt]=Programos informacija
Name[lv]=Programmas informācija
Name[mk]=Информации за апликации
Name[ml]=അപ്ലിക്കേഷന്‍ വിവരം
Name[mr]=अनुप्रयोग माहिती
Name[nb]=Informasjon om program
Name[nds]=Programm-Informatschoon
Name[nl]=Programmainformatie
Name[nn]=Programinformasjon
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o programie
Name[pt]=Informação da Aplicação
Name[pt_BR]=Informações do aplicativo
Name[ro]=Informații despre aplicații
Name[ru]=Информация о приложениях
Name[si]=යෙදුම් තොරතුරු
Name[sk]=Informácie o aplikácii
Name[sl]=Informacije o programih
Name[sr]=подаци о програмима
Name[sr@ijekavian]=подаци о програмима
Name[sr@ijekavianlatin]=podaci o programima
Name[sr@latin]=podaci o programima
Name[tg]=Иттилооти барнома
Name[th]=ข้อมูลของโปรแกรม
Name[tr]=Uygulama Bilgileri
Name[ug]=پروگرامما ئۇچۇرى
Name[uk]=Відомості щодо програм
Name[vi]=Thông tin ứng dụng
Name[wa]=Pondants et djondants do programe
Name[x-test]=xxApplication Informationxx
Name[zh_CN]=应用程序信息
Name[zh_TW]=應用程式資訊
Comment=Information and launching of all applications in the app menu.
Comment[az]=Tətbiq menyusundan bütün tətbiqlər haqqında məlumat və onların başladılması.
Comment[bs]=Podaci o programima iz programskog menija i njihovo pokretanje.
Comment[ca]=Informació i llançament de totes les aplicacions en el menú d'aplicacions.
Comment[ca@valencia]=Informació i llançament de totes les aplicacions en el menú d'aplicacions.
Comment[cs]=Informace a spouštění všech aplikací v nabídce aplikací.
Comment[da]=Information og opstart af alle programmer i programmenuen.
Comment[de]=Informationen und Starten aller Anwendungen im Programmmenü.
Comment[el]=Πληροφορίες και εκτέλεση όλων των εφαρμογών στο μενού εφαρμογών.
Comment[en_GB]=Information and launching of all applications in the app menu.
Comment[es]=Información y ejecución de todas las aplicaciones en el menú de aplicaciones.
Comment[et]=Kõigi rakenduste menüü rakenduste teave ja käivitamine.
Comment[eu]=Aplikazio-menuko aplikazio guztiei buruzko informazioa eta haien abiaraztea.
Comment[fi]=Tietoja ja kaikkien sovellusten käynnistäminen sovellusvalikossa.
Comment[fr]=Informations et démarrage de toutes les applications du menu des applications.
Comment[fy]=Ynformaasje en útfiere fan alle applikaasjes yn it app menu.
Comment[gl]=Información e inicio de todas as aplicacións do menú.
Comment[he]=מידע והפעלה של כל היישומים בתפריט היישומים.
Comment[hr]=Informacije i pokretanja od svih aplikacija u izborniku aplikacija.
Comment[hu]=Az alkalmazásmenü alkalmazásainak indítása és jellemzőinek megjelenítése.
Comment[ia]=Information e lanceamento de omne applicationes in le menu de app
Comment[id]=Informasi dan meluncurkan semua aplikasi di menu aplikasi.
Comment[is]=Upplýsingar um og ræsing allra forrita í forritavalmyndinni.
Comment[it]=Informazioni e avvio di tutte le applicazioni nel loro menu.
Comment[ja]=アプリケーションメニューのすべてのアプリケーション用の情報・起動サービスです。
Comment[kk]=Қолданбаның мәзірінен барлық қолданбаларды жегу және олардын ақпараттары.
Comment[km]=ព័ត៌មាន និង​ការ​ចាប់ផ្ដើម​កម្មវិធី​ទាំងអស់​នៅ​ក្នុង​ម៉ឺនុយ​កម្មវិធី ។
Comment[kn]=App ಮೆನುವಿನಲ್ಲಿರುವ ಎಲ್ಲಾ ಅನ್ವಯಗಳ ಬಗೆಗಿನ ಮಾಹಿತಿ ಹಾಗು ಪ್ರಕ್ಷೇಪಣೆ(ಲಾಂಚಿಂಗ್).
Comment[ko]=프로그램 메뉴의 정보를 보고 실행할 수 있도록 합니다.
Comment[lt]=Visų programų informacija ir paleidimas programų meniu.
Comment[lv]=Visu programmu informācija un palaišana programmu izvēlnē.
Comment[mk]=Информации и стартување на сите апликации од менито за апликации
Comment[ml]=ആപ്പ് മെനുവിലെ അപ്ലിക്കേഷനുകളെകുറിച്ചുള്ള വിവരവും ലോഞ്ചിങ്ങും.
Comment[mr]=अनुप्रयोग मेन्यू मधील अनुप्रयोगांची माहिती व प्रक्षेपण
Comment[nb]=Informasjon og oppstart av alle programmer i programmenyen.
Comment[nds]=Infos över un opropen vun all Programmen binnen dat Programmmenü
Comment[nl]=Informatie en starten van alle programma's in het progmenu.
Comment[nn]=Informasjon og køyring av alle programma i programmenyen.
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਮੇਨ ਵਿੱਚ ਸਭ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਜਾਣਕਾਰੀ ਅਤੇ ਚਲਾਉਣਾ।
Comment[pl]=Uruchamia dowolne programy z menu i wraz z informacjami o nich.
Comment[pt]=Informação e lançamento de todas as aplicações no menu de aplicações.
Comment[pt_BR]=Informação e inicialização de todos os aplicativos no menu de aplicativos.
Comment[ro]=Informații și lansare de aplicații în meniul aplicațiilor.
Comment[ru]=Информация и запуск всех приложений из меню приложений.
Comment[si]=යෙදුම් මෙනුවේ ඇති සියළු යෙදුම් ආරම්භ කිරීමේ තොරතුරු
Comment[sk]=Informácie a spúšťanie všetkých aplikácií v ponuke aplikácie.
Comment[sl]=Informacije o vseh programih v meniju in njihovo zaganjanje.
Comment[sr]=Подаци о програмима из програмског менија и њихово покретање.
Comment[sr@ijekavian]=Подаци о програмима из програмског менија и њихово покретање.
Comment[sr@ijekavianlatin]=Podaci o programima iz programskog menija i njihovo pokretanje.
Comment[sr@latin]=Podaci o programima iz programskog menija i njihovo pokretanje.
Comment[th]=ข้อมูลและการเรียกใช้โปรแกรมทั้งหมดที่อยู่ในเมนูโปรแกรม
Comment[tr]=Uygulama menüsündeki tüm uygulamalar hakkında bilgiler ve uygulamaları çalıştırma.
Comment[ug]=ئۇچۇر كۆرسىتىدۇ ياكى تىزىملىكتىكى ھەممە پروگراممىلارنى ئىجرا قىلىدۇ
Comment[uk]=Відомості і запуск всіх програма з меню програм.
Comment[vi]=Thông tin và việc khởi chạy của tất cả các ứng dụng trong trình đơn ứng dụng.
Comment[wa]=Informåcions eyet enondaedje di tos les programes del dressêye des programes.
Comment[x-test]=xxInformation and launching of all applications in the app menu.xx
Comment[zh_CN]=应用菜单中的所有应用程序的信息和启动状态。
Comment[zh_TW]=列出資訊或啟動選單中所有應用程式
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_apps

X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=apps
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
