[Desktop Entry]
Name=Quicklaunch
Name[uk]=Швидкий запуск
Name[x-test]=xxQuicklaunchxx
Comment=Launch your favourite Applications
Comment[uk]=Запуск ваших улюблених програм
Comment[x-test]=xxLaunch your favourite Applicationsxx

Icon=fork
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_quicklaunch
X-KDE-PluginInfo-Author=Ingomar Wesp
X-KDE-PluginInfo-Email=ingomar@wesp.name
X-KDE-PluginInfo-Name=quicklaunch
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Required

