[Desktop Entry]
Name=Quicklaunch
Name[ar]=الإطلاق السريع
Name[ast]=Llanzamientu rápidu
Name[be@latin]=Aplet chutkaha ŭklučeńnia
Name[bg]=Бързо стартиране
Name[bs]=brzokret
Name[ca]=Quicklaunch
Name[ca@valencia]=Quicklaunch
Name[cs]=Rychlé spuštění
Name[csb]=Chùtczi zrëszôcz
Name[da]=Hurtigstart
Name[de]=Schnellstarter
Name[el]=Γρήγορη εκτέλεση
Name[en_GB]=Quicklaunch
Name[eo]=Rapidlanĉo
Name[es]=Lanzamiento rápido
Name[et]=Kiirkäivitaja
Name[eu]=Abiarazle bizkorra
Name[fi]=Pikakäynnistin
Name[fr]=Lancement rapide
Name[fy]=Fluchstarte
Name[ga]=Meardhúisigh
Name[gl]=Quicklaunch
Name[gu]=ઝડપીશરૂકરનાર
Name[he]=הפעלה מהירה
Name[hi]=क्विक-लांच
Name[hne]=क्विकलांच
Name[hr]=Brzo pokretanje
Name[hu]=Gyorsindító
Name[ia]=Quicklaunch (lancea rapidemente)
Name[id]=Peluncur Cepat
Name[is]=Flýtiræsing
Name[it]=Avvio rapido
Name[ja]=Quicklaunch
Name[kk]=Жедел жегу
Name[km]=ចាប់ផ្ដើម​រហ័ស
Name[kn]=ತಕ್ಷಣದ ಪ್ರಕ್ಷೇಪನೆ
Name[ko]=빠른 실행
Name[lt]=Greitas paleidimas
Name[lv]=Ātrā palaišana
Name[ml]=ക്വിക്ക്‌ലോഞ്ച്
Name[mr]=जलद प्रक्षेपण
Name[nb]=Hurtigstart
Name[nds]=Fixstart
Name[nl]=Snel starten
Name[nn]=Snøggstartar
Name[or]=Quicklaunch
Name[pa]=ਤੁਰੰਤ ਲਾਂਚ
Name[pl]=Szybkie uruchamianie
Name[pt]=Lançamento Rápido
Name[pt_BR]=Lançamento rápido
Name[ro]=Lansare rapidă
Name[ru]=Панель запуска
Name[si]=ක්‍ෂණික ආරම්භකය
Name[sk]=Rýchle spustenie
Name[sl]=Hitri zagon
Name[sr]=брзокрет
Name[sr@ijekavian]=брзокрет
Name[sr@ijekavianlatin]=brzokret
Name[sr@latin]=brzokret
Name[sv]=Snabbstart
Name[ta]=Quicklaunch
Name[te]=త్వరితప్రారంభము
Name[tg]=Оғози тез
Name[th]=เรียกใช้ด่วน
Name[tr]=Quicklaunch
Name[ug]=تېز ئىجرا قىلىش
Name[uk]=Швидкий запуск
Name[wa]=EnondeAbeye
Name[x-test]=xxQuicklaunchxx
Name[zh_CN]=快速启动
Name[zh_TW]=快速啟動
Comment=Launch your favourite Applications
Comment[ar]=أطلق تطبيقاتك المفضلة
Comment[ast]=Llanza aplicaciones favorites
Comment[be@latin]=Uklučaj svaje ŭlubionyja aplikacyi
Comment[bg]=Стартиране на любимите програми
Comment[bn_IN]=পছন্দসই অ্যাপ্লিকেশনগুলি আরম্ভ করুন
Comment[bs]=Pokrećite omiljene programe
Comment[ca]=Inicieu les aplicacions preferides
Comment[ca@valencia]=Inicieu les aplicacions preferides
Comment[cs]=Spouštěč oblíbených aplikací
Comment[csb]=Zrëszanié twòjich ùlëbionëch programów
Comment[da]=Start dine favoritprogrammer
Comment[de]=Ermöglicht den Aufruf Ihrer Lieblingsprogramme
Comment[el]=Εκτελέστε τις αγαπημένες σας εφαρμογές
Comment[en_GB]=Launch your favourite Applications
Comment[es]=Lanza sus aplicaciones favoritas
Comment[et]=Lemmikrakenduste käivitaja
Comment[eu]=Abiarazi gogoko aplikazioak
Comment[fi]=Käynnistä suosikkisovelluksesi
Comment[fr]=Lance vos applications préférées
Comment[fy]=Jo favorite programma's starte
Comment[ga]=Tosaigh na Feidhmchláir is ansa leat
Comment[gl]=Inicia os seus programas favoritos
Comment[gu]=તમને ગમતાં કાર્યક્રમો શરૂ કરો
Comment[he]=משמש להפעלת היישומים האהובים עליך
Comment[hi]=अपने पसंदीदा अनुप्रयोगों को प्रारंभ करें
Comment[hne]=अपन पसंद के अनुपरयोग ल चालू करव
Comment[hr]=Pokretanje vaših omiljenih aplikacija
Comment[hu]=Alkalmazásindító
Comment[ia]=Lancea tu applicationes favorite
Comment[id]=Jalankan Aplikasi Favorit Anda
Comment[is]=Flýtiræsing mest notuðu forrita
Comment[it]=Avvia le applicazioni preferite
Comment[ja]=お気に入りのアプリケーションを起動します
Comment[kk]=Қалаған қолданба жеккіші
Comment[km]=ចាប់ផ្ដើម​កម្មវិធី​សំណព្វ​របស់​អ្នក
Comment[kn]=ನಿಮ್ಮ ಅಚ್ಚುಮೆಚ್ಚಿನ ಅನ್ವಯಗಳನ್ನು ಪ್ರಕ್ಷೇಪಿಸಿ (ಲಾಂಚ್)
Comment[ko]=자주 실행하는 프로그램을 불러옵니다
Comment[ku]=Sepanên xwe yên bijarte bide Destpêkirin
Comment[lt]=Paleisti mėgstamiausias programas
Comment[lv]=Iecienīto programmu palaidējs
Comment[mk]=Стартувајте ги Вашите омилени апликации
Comment[ml]=നിങ്ങളുടെ പ്രിയപ്പെട്ട പ്രയോഗങ്ങള്‍ ആരംഭിക്കുക
Comment[mr]=पसंतीचे अनुप्रयोग दाखल करा
Comment[nb]=Start ditt yndlingsprogram
Comment[nds]=Dien leevst Programmen opropen
Comment[nl]=Uw favoriete programma's starten
Comment[nn]=Start favorittprogramma dine
Comment[or]=ଆପଣଙ୍କର ପ୍ରିୟ ପ୍ରୟୋଗଗୁଡ଼ିକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ ਚਲਾਓ
Comment[pl]=Uruchamianie ulubionych programów
Comment[pt]=Lança as suas aplicações favoritas
Comment[pt_BR]=Executa seus aplicativos favoritos
Comment[ro]=Lansator pentru aplicațiile favorite
Comment[ru]=Панель с избранными приложениями
Comment[si]=ඔබ කැමතීම යෙදුම් ආරම්ඹකය
Comment[sk]=Rýchle spustenie obľúbených aplikácií
Comment[sl]=Hitri zagon priljubljenih programov
Comment[sr]=Покрећите омиљене програме
Comment[sr@ijekavian]=Покрећите омиљене програме
Comment[sr@ijekavianlatin]=Pokrećite omiljene programe
Comment[sr@latin]=Pokrećite omiljene programe
Comment[sv]=Start dina favoritprogram
Comment[ta]=Launch your favourite Applications
Comment[tg]=Барномаи ksplash-ро иҷро кардан натавонист.
Comment[th]=เรียกใช้งานโปรแกรมที่คุณชื่นชอบ
Comment[tr]=Sevdiğiniz uygulamaları çalıştırın
Comment[ug]=دائىم ئىشلىتىدىغان پروگراممىلارنى ئىجرا قىلىدۇ
Comment[uk]=Запуск ваших улюблених програм
Comment[vi]=Chạy các ứng dụng yêu thích của bạn
Comment[wa]=Enonde vos programes eployîs voltî
Comment[x-test]=xxLaunch your favourite Applicationsxx
Comment[zh_CN]=启动您最常用的程序
Comment[zh_TW]=啟動您最常用的應用程式

Icon=fork
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_quicklaunch
X-KDE-PluginInfo-Author=Ingomar Wesp
X-KDE-PluginInfo-Email=ingomar@wesp.name
X-KDE-PluginInfo-Name=quicklaunch
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Required

