[Desktop Entry]
Name=Environment Canada
Name[az]=Environment Canada
Name[be@latin]=Environment Canada
Name[bg]=Environment Canada
Name[bs]=Prirodna sredina Kanada
Name[ca]=Medi ambient del Canadà
Name[ca@valencia]=Medi ambient de Canadà
Name[cs]=Meteorologický úřad Kanady (EC)
Name[da]=Environment Canada
Name[de]=Environment Canada
Name[el]=Περιβάλλον Καναδά
Name[en_GB]=Environment Canada
Name[eo]=Environment Canada
Name[es]=Medio ambiente de Canada
Name[et]=Environment Canada
Name[eu]=Kanadako Ingurumen Ministerioa
Name[fi]=Environment Canada -palvelu
Name[fr]=Météorologie du Canada
Name[fy]=Omjouwing Kanada
Name[ga]=Environment Canada
Name[gl]=Environment Canada
Name[gu]=એન્વાર્યમેન્ટ કેનેડા
Name[he]=Environment Canada
Name[hi]=एनवायरनमेंट कनाडा
Name[hne]=कनाडा मौसम
Name[hr]=Okoliš Kanade
Name[hu]=Environment Canada
Name[ia]=Environment Canada
Name[id]=Environment Canada
Name[is]=Environment Canada
Name[it]=Environment Canada
Name[ja]=Environment Canada
Name[kk]=Environment Canada
Name[km]=បរិស្ថាន​ប្រទេស​កាណាដា
Name[kn]=ಎನ್ವಯರನ್ಮೆಂಟ್ ಕೆನಡಾ
Name[ko]=캐나다 환경부
Name[lt]=Environment Canada
Name[lv]=Environment Canada
Name[mk]=Environment Canada
Name[ml]=കാനഡയുടെ പരിസ്ഥിതി
Name[mr]=हवामान कॅनडा
Name[nb]=Environment Canada
Name[nds]=Ümwelt Kanada
Name[ne]=वातावरण क्यानाडा
Name[nl]=Environment Canada
Name[nn]=Environment Canada
Name[pa]=ਇੰਨਵਾਇਰਮੈਂਟ ਕੇਨੈਡਾ
Name[pl]=Environment Canada
Name[pt]=Environment Canada
Name[pt_BR]=Environment Canada
Name[ro]=Environment Canada
Name[ru]=Environment Canada
Name[se]=Environment Canada
Name[si]=කැනඩා පාරිසරිකය
Name[sk]=Počasie - Environment Canada
Name[sl]=Environment Canada
Name[sr]=Природна средина Канада
Name[sr@ijekavian]=Природна средина Канада
Name[sr@ijekavianlatin]=Prirodna sredina Kanada
Name[sr@latin]=Prirodna sredina Kanada
Name[sv]=Environment Canada
Name[ta]=Environment Canada
Name[te]=కెనడా వాతావరణం
Name[th]=Environment Canada
Name[tr]=Environment Canada
Name[ug]=كانادا مۇھىتى
Name[uk]=Погода в Канаді
Name[vi]=Bộ Môi trường Canada
Name[wa]=Evironmint Canada
Name[x-test]=xxEnvironment Canadaxx
Name[zh_CN]=加拿大环境部
Name[zh_TW]=Environment Canada
Comment=XML Data from Environment Canada
Comment[az]=Environment Canada-dan XML formatında məlumatlar
Comment[be@latin]=Źviestki ŭ farmacie „XML” ad „Environment Canada”
Comment[bg]=XML данни от Environment Canada
Comment[bs]=IksML podaci Prirodne sredine Kanada
Comment[ca]=Dades XML des de Medi ambient del Canadà
Comment[ca@valencia]=Dades XML des de Medi ambient de Canadà
Comment[cs]=XML data z meteorologického úřadu Kanady (EC)
Comment[da]=XML-data fra Environment Canada
Comment[de]=XML-Daten von Environment Canada
Comment[el]=Δεδομένα XML για το περιβάλλον του Καναδά
Comment[en_GB]=XML Data from Environment Canada
Comment[eo]=XML-datumoj el Environment Canada
Comment[es]=Datos XML de medio ambiente de Canada
Comment[et]=Environment Canada XML-andmed
Comment[eu]=XML datuak Kanadako Ingurumen Ministeriotik
Comment[fi]=XML-tietoa Environment Canada -palvelusta
Comment[fr]=Données au format XML de la météorologie du Canada
Comment[fy]=XML Data fan omjouwing Kanada
Comment[ga]=Sonraí XML ó Environment Canada
Comment[gl]=Datos XML de Environment Canada
Comment[gu]=એન્વાર્યમેન્ટ કેનેડા તરફથી XML માહિતી
Comment[he]=מידע ב־XML מ־Environment Canada
Comment[hi]=एनवायरनमेंट कनाडा से एक्सएमएल डाटा
Comment[hne]=कनाडा मौसम से एक्सएमएल डाटा
Comment[hr]=XML podaci iz Okoliša Kanade
Comment[hu]=XML-adatok az Environment Canada szervezettől
Comment[ia]=Datos XML ex Environment Canada
Comment[id]=Data XML dari Environment Canada
Comment[is]=XML gögn frá Umhverfisstofnun Kanada
Comment[it]=Dati XML da Environment Canada
Comment[ja]=Environment Canada の XML データ
Comment[kk]=Environment Canada-ның XML дерегі
Comment[km]=ទិន្នន័យ XML ពី​បរិស្ថាន​ប្រទេស​កាណាដា
Comment[kn]=ಎನ್ವಯರನ್ಮೆಂಟ್ ಕೆನಡಾ ದಿಂದ XML ದತ್ತ
Comment[ko]=캐나다 환경부의 XML 데이터
Comment[lt]=XML duomenys iš Environment Canada
Comment[lv]=XML dati no Environment Canada
Comment[mk]=XML-податоци од „Environment Canada“
Comment[ml]=കാനഡയുടെ പരിസ്ഥിതിയില്‍ നിന്നുമുള്ള എക്സ്എംഎല്‍ ഡേറ്റാ
Comment[mr]=हवामान कॅनडा पासून XML माहिती
Comment[nb]=XML-data fra Environment Canada
Comment[nds]=XML-Daten vun Ümwelt Kanada
Comment[ne]=वातावरण क्यानाडाबाट एक्सएमएल डेटा
Comment[nl]=XML-gegevens van Environment Canada
Comment[nn]=XML-data frå Environment Canada
Comment[pa]=ਇੰਨਵਾਇਰਨਮੈਂਟ ਕੇਨੈਡਾ ਤੋਂ XML ਡਾਟਾ
Comment[pl]=Dane XML z Environment Canada
Comment[pt]=Dados em XML do Environment Canada
Comment[pt_BR]=Dados em XML do Environment Canada
Comment[ro]=Date XML de la Environment Canada
Comment[ru]=Данные в формате XML от Environment Canada
Comment[se]=XML-dáhtat Environment Canadas
Comment[si]=කැනඩා පාරිසරිකය වෙතින් XML දත්ත
Comment[sk]=XML dáta z Environment Canada
Comment[sl]=Podatki XML od Environment Canada
Comment[sr]=ИксМЛ подаци Природне средине Канада
Comment[sr@ijekavian]=ИксМЛ подаци Природне средине Канада
Comment[sr@ijekavianlatin]=XML podaci Prirodne sredine Kanada
Comment[sr@latin]=XML podaci Prirodne sredine Kanada
Comment[sv]=XML-data från Environment Canada
Comment[ta]=XML Data from Environment Canada
Comment[te]=కెనడా వాతావరణం నుండి XML డాటా
Comment[th]=ข้อมูล XML จาก Environment Canada
Comment[tr]=Environment Canada'dan XML Verisi
Comment[ug]=كانادا مۇھىتى تەمىنلىگەن XML سانلىق-مەلۇماتى
Comment[uk]=Дані XML з метеорологічного відділу Канади
Comment[vi]=Dữ liệu XML từ Bộ Môi trường Canada
Comment[wa]=Dinêyes XML da Evironmint Canada
Comment[x-test]=xxXML Data from Environment Canadaxx
Comment[zh_CN]=加拿大环境部提供的 XML 数据
Comment[zh_TW]=從 Environment Canada 來的 XML 資料
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_envcan
X-KDE-PluginInfo-Name=envcan
