[Desktop Entry]
Name=Wallpaper
Name[ca]=Fons d'escriptori
Name[de]=Hintergrundbild
Name[el]=Ταπετσαρία
Name[es]=Fondo del escritorio
Name[fi]=Tausta
Name[hu]=Háttérkép
Name[nb]=Tapet
Name[nl]=Achtergrond
Name[pl]=Tapeta
Name[pt_BR]=Papel de parede
Name[sk]=Tapeta
Name[sl]=Slika ozadja
Name[sr]=Тапет
Name[sv]=Skrivbordsunderlägg
Name[uk]=Зображення тла
Name[x-test]=xxWallpaperxx
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_wallpaper

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/Wallpaper
X-KDE-PluginInfo-Version=1
