[Desktop Entry]
Name=Wallpaper
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_packagestructure_wallpaper

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/Wallpaper
X-KDE-PluginInfo-Version=1
