[Desktop Entry]
Name=Debian Weather Service
Name[uk]=Служба погоди Debian
Name[x-test]=xxDebian Weather Servicexx
Comment=XML Data from edos.debian.net
Comment[uk]=Дані XML з edos.debian.net
Comment[x-test]=xxXML Data from edos.debian.netxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=debian
X-KDE-Library=ion_debianweather
X-KDE-PluginInfo-Name=DebianWeather
X-KDE-ParentApp=weatherengine
