[Desktop Entry]
Name=MPRIS2
Name[ast]=MPRIS2
Name[az]=MPRIS2
Name[bs]=MPRIS2
Name[ca]=MPRIS2
Name[ca@valencia]=MPRIS2
Name[cs]=MPRIS2
Name[da]=MPRIS2
Name[de]=MPRIS2
Name[el]=MPRIS2
Name[en_GB]=MPRIS2
Name[es]=MPRIS2
Name[et]=MPRIS2
Name[eu]=MPRIS2
Name[fi]=MPRIS2
Name[fr]=MPRIS2
Name[gl]=MPRIS2
Name[he]=MPRIS2
Name[hu]=MPRIS2
Name[ia]=MPRIS2
Name[id]=MPRIS2
Name[is]=MPRIS2
Name[it]=MPRIS2
Name[ja]=MPRIS2
Name[kk]=MPRIS2
Name[km]=MPRIS2
Name[ko]=MPRIS2
Name[lt]=MPRIS2
Name[mr]=MPRIS2
Name[nb]=MPRIS2
Name[nds]=MPRIS2
Name[nl]=MPRIS2
Name[nn]=MPRIS2
Name[pa]=MPRIS2
Name[pl]=MPRIS2
Name[pt]=MPRIS2
Name[pt_BR]=MPRIS2
Name[ro]=MPRIS2
Name[ru]=MPRIS2
Name[sk]=MPRIS2
Name[sl]=MPRIS2
Name[sr]=МПРИС 2
Name[sr@ijekavian]=МПРИС 2
Name[sr@ijekavianlatin]=MPRIS 2
Name[sr@latin]=MPRIS 2
Name[tg]=MPRIS2
Name[tr]=MPRIS2
Name[uk]=MPRIS2
Name[vi]=MPRIS2
Name[x-test]=xxMPRIS2xx
Name[zh_CN]=MPRIS2
Name[zh_TW]=MPRIS2
Comment=Provides information from and control over media players via MPRIS2
Comment[az]=MPRIS2 ilə media pleyerin idarəsini və onun haqqında məlumatları təmin edir
Comment[bs]=Pruža informacije putem i kontrolom medija plejera pomoću MPRIS2
Comment[ca]=Proporciona informació i controla els reproductors de suports via el MPRIS2
Comment[ca@valencia]=Proporciona informació i controla els reproductors de suports via el MPRIS2
Comment[cs]=Poskytuje informace a ovládání přehrávačů médií přes MPRIS2
Comment[da]=Giver information fra og kontrol over medieafspillere via MPRIS2
Comment[de]=Stellt Informationen über Medienspieler unter Verwendung von MPRIS2 bereit und ermöglicht deren Steuerung
Comment[el]=Παρέχει πληροφορίες και ελέγχει προγράμματα αναπαραγωγής πολυμέσων με το MPRIS2
Comment[en_GB]=Provides information from and control over media players via MPRIS2
Comment[es]=Proporciona información y control sobre reproductores multimedia vía MPRIS2
Comment[et]=Teabe hankimine meediamängijatest ja nende juhtimine MPRIS2 kaudu
Comment[eu]=Multimedia-jotzaileei buruzko informazioa ematen du eta haiek kontrolatzen ditu MPRIS2 bidez
Comment[fi]=Mahdollistaa MPRIS2-yhteensopivien mediasoittimien hallinnan sekä tiedon välittämisen
Comment[fr]=Fournit des informations sur les lecteurs de média et les contrôle avec « MPRIS2 »
Comment[gl]=Fornece información e control de reprodutores multimedia mediante MPRIS2
Comment[he]=מספק מידע ושליטה על מדיה דרך MPRIS2
Comment[hu]=Információkat szolgáltat és vezérli a médialejátszókat az MPRIS2-n keresztül
Comment[ia]=Il provide information ex e control super media players via MPRIS2
Comment[id]=Menyediakan informasi dari dan kendali pemutar media via MPRIS2
Comment[is]=Stýrir og gefur upplýsingar um margmiðlunarspilara með MPRIS2
Comment[it]=Fornisce le informazioni dai lettori multimediali e li controlla con MPRIS2
Comment[ja]=MPRIS2 を通して、メディアプレーヤーからの情報を提供し、メディアプレーヤーを制御します
Comment[kk]=MPRIS2 арқылы медиаплейер мәліметін алып оны басқару мүмкіндігі
Comment[km]=ផ្ដល់​ព័ត៌មាន​ពី និង​ត្រួតពិនិត្យ​លើ​កម្មវិធី​ចាក់​មេឌៀ​តាមរយៈ MPRIS2
Comment[ko]=MPRIS2를 통하여 미디어 재생기를 제어하고 정보 가져오기
Comment[lt]=Suteikia informaciją iš MPRIS2 ir per jį valdo medijos leistuves
Comment[mr]=MPRIS2 द्वारे मीडिया प्लेयर्स वर नियंत्रण व माहिती पुरवितो
Comment[nb]=Gir informasjon fra og kontroll over mediaspillere via MPRIS2-grensesnittet
Comment[nds]=Stellt Informatschonen ut un Kuntrull över Medienafspelers över MPRIS2 praat
Comment[nl]=Levert informatie uit en besturing aan mediaspelers via MPRIS2
Comment[nn]=Gjev informasjon frå, og kontroll over, mediespelarar via MPRIS2-grensesnittet
Comment[pl]=Dostarcza informacji z odtwarzaczy multimedialnych, a także steruje nimi przez MPRIS2
Comment[pt]=Fornece informações e controla leitores multimédia através de MPRIS2
Comment[pt_BR]=Fornece informações e controla leitores multimídia através de MPRIS2
Comment[ro]=Furnizează informații de la și controlează lectorii multimedia prin MPRIS2
Comment[ru]=Предоставление информации и управление медиапроигрывателем с помощью MPRIS2
Comment[sk]=Poskytuje informácie z, a ovláda prehrávače médií cez MPRIS2
Comment[sl]=Prikazuje informacije in omogoča nadzor predstavnostnih predvajalnikov prek MPRIS2
Comment[sr]=Подаци из медија плејера и управљање њима преко МПРИС‑а 2
Comment[sr@ijekavian]=Подаци из медија плејера и управљање њима преко МПРИС‑а 2
Comment[sr@ijekavianlatin]=Podaci iz medija plejera i upravljanje njima preko MPRIS‑a 2
Comment[sr@latin]=Podaci iz medija plejera i upravljanje njima preko MPRIS‑a 2
Comment[tr]=MPRIS2 kullanarak çoklu ortam oynatıcılara bilgi sağlar ve onları denetler
Comment[uk]=Надає дані з мультимедійних програвачів та керує ними за допомогою MPRIS2
Comment[vi]=Cung cấp thông tin của và cách điều khiển với các trình phát phương tiện thông qua MPRIS2
Comment[x-test]=xxProvides information from and control over media players via MPRIS2xx
Comment[zh_CN]=通过 MPRIS2 获取信息并控制播放器
Comment[zh_TW]=透過 MPRIS2 取得媒體播放器的資訊並控制

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=applications-multimedia
X-KDE-Library=plasma_engine_mpris2
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=mpris2
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=

