[Desktop Entry]
Type=Service
Name=Application menus daemon
Name[uk]=Фонова служба меню програм
Name[x-test]=xxApplication menus daemonxx
Comment=Transfers application's menu to the desktop
Comment[uk]=Передає меню програм на стільницю
Comment[x-test]=xxTransfers application's menu to the desktopxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=appmenu
X-KDE-DBus-ModuleName=appmenu
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false

