[Desktop Entry]
Type=Service
Name=Application menus daemon
Comment=Transfers application's menu to the desktop
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=appmenu
X-KDE-DBus-ModuleName=appmenu
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false

