[Desktop Entry]
Encoding=UTF-8
Name=RSS
Name[ast]=RSS
Name[be@latin]=RSS
Name[bg]=RSS
Name[bn]=RSS
Name[bn_IN]=RSS
Name[bs]=RSS
Name[ca]=RSS
Name[ca@valencia]=RSS
Name[cs]=RSS
Name[da]=RSS
Name[de]=RSS
Name[el]=RSS
Name[en_GB]=RSS
Name[eo]=RSS
Name[es]=RSS
Name[et]=RSS
Name[eu]=RSS
Name[fi]=RSS
Name[fr]=RSS
Name[fy]=RSS
Name[ga]=RSS
Name[gl]=RSS
Name[gu]=RSS
Name[he]=RSS
Name[hi]=आरएसएस
Name[hne]=आरएसएस
Name[hr]=RSS
Name[hu]=RSS-hírek
Name[ia]=RSS
Name[id]=RSS
Name[is]=RSS
Name[it]=RSS
Name[ja]=RSS
Name[ka]=RSS
Name[kk]=RSS
Name[km]=RSS
Name[kn]=RSS
Name[ko]=RSS
Name[ku]=RSS
Name[lt]=RSS
Name[lv]=RSS
Name[mai]=RSS
Name[mk]=RSS
Name[ml]=ആര്‍എസ്എസ്
Name[mr]=RSS
Name[nb]=RSS
Name[nds]=RSS
Name[nl]=RSS
Name[nn]=RSS
Name[or]=RSS
Name[pa]=RSS
Name[pl]=RSS
Name[pt]=RSS
Name[pt_BR]=RSS
Name[ro]=RSS
Name[ru]=Ленты новостей RSS
Name[si]=RSS
Name[sk]=RSS
Name[sl]=RSS
Name[sr]=РСС
Name[sr@ijekavian]=РСС
Name[sr@ijekavianlatin]=RSS
Name[sr@latin]=RSS
Name[sv]=RSS
Name[ta]=RSS
Name[te]=RSS
Name[tg]=Наворҳои RSS
Name[th]=หัวข้อข่าว (RSS)
Name[tr]=RSS
Name[ug]=RSS
Name[uk]=RSS
Name[wa]=RSS
Name[x-test]=xxRSSxx
Name[zh_CN]=RSS
Name[zh_TW]=RSS
Comment=RSS News Data Engine
Comment[ar]=محرّك بيانات أخبار RSS
Comment[ast]=Motor de datos RSS
Comment[be@latin]=Systema navinaŭ z žarołaŭ „RSS”
Comment[bg]=Зареждане на RSS емисии
Comment[bn_IN]=RSS খবরের ডাটা ইঞ্জিন
Comment[bs]=Datomotor RSS vesti
Comment[ca]=Motor de dades de notícies RSS
Comment[ca@valencia]=Motor de dades de notícies RSS
Comment[cs]=Služba RSS novinek
Comment[csb]=Mòtór pòdôwków dlô pòwrózków RSS
Comment[da]=Datamotor til RSS-nyheder
Comment[de]=Datentreiber für RSS-News
Comment[el]=Μηχανή δεδομένων ειδήσεων RSS
Comment[en_GB]=RSS News Data Engine
Comment[eo]=Datuma Motoro de RSS novaĵoj
Comment[es]=Motor de RSS
Comment[et]=RSS-voogude andmete mootor
Comment[eu]=RSS berrien datu-motorra
Comment[fi]=RSS-syötetietomoottori
Comment[fr]=Moteur de données des flux RSS
Comment[fy]=RSS nijs gegevens motor
Comment[ga]=Inneall Sonraí Nuachta RSS
Comment[gl]=Motor de datos de novas RSS
Comment[gu]=RSS સમાચાર માહિતી એન્જિન
Comment[he]=מנוע תוכן חדשות RSS
Comment[hi]=आरएसएस समाचार डाटा इंजिन
Comment[hne]=आरएसएस समाचार डाटा इंजन
Comment[hr]=Podatkovni mehanizam za vijesti preko RSS-a
Comment[hu]=RSS-hírkezelő
Comment[ia]=Motor de datos de novitates RSS
Comment[id]=Mesin Data Berita RSS
Comment[is]=RSS fréttagagnavél
Comment[it]=Motore di dati delle notizie RSS
Comment[ja]=RSS ニュースデータエンジン
Comment[kk]=RSS ақпарлар тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យព័ត៌មាន RSS
Comment[kn]=RSS ಸುದ್ದಿ ದತ್ತಾಂಶ ಎಂಜಿನ್
Comment[ko]=RSS 뉴스 데이터 엔진
Comment[ku]=Motora Dane yên Nûçe yên RSS
Comment[lt]=RSS naujienų duomenų variklis
Comment[lv]=RSS ziņu datu dzinējs
Comment[ml]=ആര്‍എസ്എസ് ന്യൂസ് ഡേറ്റാ എഞ്ചിന്‍
Comment[mr]=RSS समाचार डेटा इंजिन
Comment[nb]=RSS nyhets-datamotor
Comment[nds]=RSS-Stroom-Datenkarn
Comment[nl]=RSS-nieuws (gegevensengine)
Comment[nn]=Nyheitsmotor for RSS
Comment[or]=RSS ଖବର ତଥ୍ୟ ଯନ୍ତ୍ର
Comment[pa]=RSS ਖ਼ਬਰਾਂ ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Silnik danych wiadomości RSS
Comment[pt]=Motor de Dados de Notícias RSS
Comment[pt_BR]=Mecanismo de dados de notícias RSS
Comment[ro]=Motor de date pentru știri RSS
Comment[ru]=Показ новостей из лент RSS
Comment[si]=RSS ප්‍රවෘත්ති දත්ත එන්ජිම
Comment[sk]=Dátový nástroj RSS noviniek
Comment[sl]=Podatkovni pogon za novice RSS
Comment[sr]=Датомотор РСС вести
Comment[sr@ijekavian]=Датомотор РСС вести
Comment[sr@ijekavianlatin]=Datomotor RSS vesti
Comment[sr@latin]=Datomotor RSS vesti
Comment[sv]=Datagränssnitt för RSS-nyheter
Comment[ta]=RSS News Data Engine
Comment[tg]=Поставщик лент RSS
Comment[th]=กลไกข้อมูล รับหัวข้อข่าว (RSS)
Comment[tr]=RSS Haber Veri Motoru
Comment[ug]=RSS خەۋەر سانلىق-مەلۇمات ماتورى
Comment[uk]=Рушій даних новин RSS
Comment[wa]=Moteur di dnêyes des noveles RSS
Comment[x-test]=xxRSS News Data Enginexx
Comment[zh_CN]=RSS 新闻数据引擎
Comment[zh_TW]=RSS 新聞資料引擎
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-rss+xml
X-KDE-Library=plasma_engine_rss

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=rss
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

