[Desktop Entry]
Encoding=UTF-8
Name=RSS
Comment=RSS News Data Engine
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-rss+xml
X-KDE-Library=plasma_engine_rss

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=rss
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

