[Desktop Entry]
Name=Minimal Menu
Name[ar]=القائمة المصغرة
Name[ast]=Menú mínimu
Name[bg]=Малко меню
Name[bs]=najmanji meni
Name[ca]=Menú mínim
Name[ca@valencia]=Menú mínim
Name[cs]=Minimální nabídka
Name[da]=Minimal menu
Name[de]=Minimales Menü
Name[el]=Ελάχιστο μενού
Name[en_GB]=Minimal Menu
Name[es]=Menú mínimo
Name[et]=Minimaalne menüü
Name[eu]=Menu minimoa
Name[fi]=Minimaalinen valikko
Name[fr]=Menu minimum
Name[ga]=Roghchlár Íosta
Name[gl]=Menú mínimo
Name[he]=תפריט מינימלי
Name[hi]=न्युतम मीनु
Name[hr]=Minimalni izbornik
Name[hu]=Minimális menü
Name[ia]=Menu minime
Name[id]=Menu Minimal
Name[is]=Lágmarksvalmynd
Name[it]=Menu minimo
Name[ja]=最小メニュー
Name[ka]=მინიმალური მენიუ
Name[kk]=Minimal Menu
Name[km]=ម៉ឺនុយ​អប្បបរមា
Name[kn]=ಅತ್ಯಲ್ಪ ಪರಿವಿಡಿ
Name[ko]=최소 메뉴
Name[lt]=Minimalistinis meniu
Name[lv]=Minimāla izvēlne
Name[mk]=Минимално мени
Name[mr]=किमान मेन्यू
Name[nb]=Minimal meny
Name[nds]=Minimaalmenü
Name[nl]=Minimaal menu
Name[nn]=Liten meny
Name[pa]=ਘੱਟੋ-ਘੱਟ ਮੈਨੂ
Name[pl]=Menu minimalistyczne
Name[pt]=Menu Mínimo
Name[pt_BR]=Menu Minimalista
Name[ro]=Meniu minim
Name[ru]=Минимальное меню
Name[si]=අවම මෙනුව
Name[sk]=Minimálne menu
Name[sl]=Minimalen meni
Name[sr]=најмањи мени
Name[sr@ijekavian]=најмањи мени
Name[sr@ijekavianlatin]=najmanji meni
Name[sr@latin]=najmanji meni
Name[sv]=Minimal meny
Name[tg]=Менюи хурдтарин
Name[th]=เมนูย่อ
Name[tr]=Basit Menü
Name[ug]=ئەڭ كىچىك تىزىملىك
Name[uk]=Мінімальне меню
Name[wa]=Dressêye å pus ptit
Name[x-test]=xxMinimal Menuxx
Name[zh_CN]=最小化菜单
Name[zh_TW]=最小化選單
Type=Service
Icon=help-contextual
ServiceTypes=Plasma/ContainmentActions
NoDisplay=true

X-KDE-Library=plasma_containmentactions_minimalcontextmenu
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=minimalcontextmenu
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL

X-Plasma-HasConfigurationInterface=false
