[Desktop Entry]
Name=NEW Notifications
Name[de]=NEUE Benachrichtigungen
Comment=Display notifications and jobs
Comment[de]=Benachrichtigungen und Aktionen anzeigen

Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.newnotifications
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.notifications
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=plasma_applet_newnotifications

X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
