[Desktop Entry]
Name=paste.kde.org
Name[bs]=paste.kde.org
Name[ca]=paste.kde.org
Name[ca@valencia]=paste.kde.org
Name[cs]=paste.kde.org
Name[da]=paste.kde.org
Name[de]=paste.kde.org
Name[el]=paste.kde.org
Name[en_GB]=paste.kde.org
Name[es]=paste.kde.org
Name[et]=paste.kde.org
Name[eu]=paste.kde.org
Name[fi]=paste.kde.org
Name[fr]=paste.kde.org
Name[gl]=paste.kde.org
Name[he]=paste.kde.org
Name[hu]=paste.kde.org
Name[ia]=paste.kde.org
Name[id]=paste.kde.org
Name[is]=paste.kde.org
Name[it]=paste.kde.org
Name[ja]=paste.kde.org
Name[kk]=paste.kde.org
Name[ko]=paste.kde.org
Name[lt]=paste.kde.org
Name[mr]=paste.kde.org
Name[nb]=paste.kde.org
Name[nds]=paste.kde.org
Name[nl]=paste.kde.org
Name[nn]=paste.kde.org
Name[pa]=paste.kde.org
Name[pl]=paste.kde.org
Name[pt]=paste.kde.org
Name[pt_BR]=paste.kde.org
Name[ro]=paste.kde.org
Name[ru]=paste.kde.org
Name[sk]=paste.kde.org
Name[sl]=paste.kde.org
Name[sr]=paste.kde.org
Name[sr@ijekavian]=paste.kde.org
Name[sr@ijekavianlatin]=paste.kde.org
Name[sr@latin]=paste.kde.org
Name[sv]=paste.kde.org
Name[tr]=paste.kde.org
Name[uk]=paste.kde.org
Name[x-test]=xxpaste.kde.orgxx
Name[zh_CN]=paste.kde.org
Name[zh_TW]=paste.kde.org
Comment=Allows text to be shared using the kde.org service
Comment[ar]=يسمح بمشاركة النصوص عبر خدمة kde.org
Comment[bg]=Позволява споделянето на текст чрез kde.org
Comment[bs]=Dopušta ijeljenje teksta preko servisa wklej.org
Comment[ca]=Permet la compartició de text utilitzant el servei kde.org
Comment[ca@valencia]=Permet la compartició de text utilitzant el servei kde.org
Comment[cs]=Povolí sdílení textů pomocí služby kde.org
Comment[da]=Muliggør deling af tekst med tjenesten kde.org
Comment[de]=Ermöglicht die Veröffentlichung von Text über den kde.org-Dienst
Comment[el]=Επιτρέπει στο κείμενο να γίνει κοινόχρηστο χρησιμοποιώντας την υπηρεσία kde.org
Comment[en_GB]=Allows text to be shared using the kde.org service
Comment[es]=Permite compartir texto a través del servicio de kde.org
Comment[et]=Teksti jagamine kde.org teenuse kaudu
Comment[eu]=Testua kde.org zerbitzuaren bidez partekatzeko aukera ematen du
Comment[fi]=Mahdollistaa tekstin jakamisen kde.org-palvelussa
Comment[fr]=Permet le partage de texte à l'aide du service « kde.org »
Comment[gl]=Permite compartir texto mediante o servizo kde.org
Comment[he]=מאפשר שיתוף טקסט באמצעות השירות kde.org
Comment[hr]=Omogućuje dijeljenje teksta koristeći servis kde.org
Comment[hu]=Szöveg megosztása a kde.org szolgáltatás használatával
Comment[ia]=Il permitte texto de esser compartite per usar le servicio kde.org
Comment[id]=Memungkinkan teks dibagi menggunakan layanan kde.org
Comment[is]=Gerir kleift að deila texta með kde.org límklippusafninu
Comment[it]=Abilita la condivisione di immagini con il servizio kde.org
Comment[ja]=kde.org のサービスを用いたテキストの共有を有効にする
Comment[kk]=kde.org қызметі көмегімен мәтінді ортақ қылуды рұқсат ету
Comment[km]=បើក​ការ​ចែករំលែក​អត្ថបទ​ដោយ​ប្រើ​សេវា  kde.org
Comment[ko]=kde.org로 텍스트를 공유합니다
Comment[lt]=Įjungia dalinimąsį tekstu naudojant kde.org tarnybą
Comment[lv]=Ļauj kopīgot tekstu, izmantojot kde.org servisu
Comment[mr]=kde.org सेवा वापरुन पाठ्य शेअर करतो
Comment[nb]=Gjør det mulig å dele tekst via tjenesten kde.org
Comment[nds]=Text op "kde.org" praatstellen
Comment[nl]=Staat het delen van tekst toe met gebruik van de service kde.org
Comment[nn]=Gjer det mogleg å dela tekst via tenesta kde.org
Comment[pa]=kde.org ਸਰਵਿਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਟੈਕਸਟ ਸਾਂਝਾ ਕਰਨਾ ਯੋਗ
Comment[pl]=Udostępniania tekst przy użyciu usługi kde.org
Comment[pt]=Permite a partilha de texto com o serviço do 'kde.org'
Comment[pt_BR]=Permite o compartilhamento de texto usando o serviço do kde.org
Comment[ro]=Permite partajarea textului cu serviciul kde.org
Comment[ru]=Позволяет публиковать текст на сервере kde.org
Comment[sk]=Povolí zdieľanie textu pomocou služby kde.org
Comment[sl]=Omogoča deljenje besedila prek storitve kde.org
Comment[sr]=Дељење текста преко сервиса kde.org
Comment[sr@ijekavian]=Дијељење текста преко сервиса kde.org
Comment[sr@ijekavianlatin]=Dijeljenje teksta preko servisa kde.org
Comment[sr@latin]=Deljenje teksta preko servisa kde.org
Comment[sv]=Tillåter att text delas genom att använda tjänsten kde.org
Comment[tr]=kde.org servisini kullanarak metinleri paylaşmayı sağlar
Comment[ug]=تېكىستلەرنى kde.org مۇلازىمىتىنى ئىشلىتىپ ھەمبەھىرلەشكە ئىجازەت
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби kde.org
Comment[vi]=Cho phép chia sẻ văn bản qua dịch vụ kde.org
Comment[wa]=Permete li pårtaedje di scrijhaedje e s' siervant do siervice kde.org
Comment[x-test]=xxAllows text to be shared using the kde.org servicexx
Comment[zh_CN]=用 kde.org 服务共享文字
Comment[zh_TW]=允許使用 kde.org 服務分享文字
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=kde
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-Priority=100

