[Desktop Entry]
Name=paste.kde.org
Name[uk]=paste.kde.org
Name[x-test]=xxpaste.kde.orgxx
Comment=Allows text to be shared using the kde.org service
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби kde.org
Comment[x-test]=xxAllows text to be shared using the kde.org servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=kde
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-Priority=100

