[Desktop Entry]
Encoding=UTF-8
Name=Hard Disk I/O Monitor
Name[uk]=Монітор роботи жорсткого диска
Name[x-test]=xxHard Disk I/O Monitorxx

Comment=An applet that monitors hard disk throughput and input/output
Comment[uk]=Аплет, який стежить за даними, які записуються на жорсткий диск та читаються з жорсткого диска
Comment[x-test]=xxAn applet that monitors hard disk throughput and input/outputxx

Type=Service
Icon=drive-harddisk
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_hdd_activity
X-KDE-PluginInfo-Author=Shaun Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=sm_hdd_activity
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

