[Desktop Entry]
Encoding=UTF-8
Name=CPU Monitor
Comment=A CPU usage monitor
Type=Service
Icon=cpu
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_cpu
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_cpu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

