[Desktop Entry]
Encoding=UTF-8
Name=Hardware Info
Name[ar]=معلومات العتاد
Name[ast]=Información del hardware
Name[bg]=Хардуерни данни
Name[bs]=podaci o hardveru
Name[ca]=Informació del maquinari
Name[ca@valencia]=Informació del maquinari
Name[cs]=Informace o hardware
Name[da]=Hardwareinfo
Name[de]=Hardwareinformationen
Name[el]=Πληροφορίες υλικού
Name[en_GB]=Hardware Info
Name[es]=Información del hardware
Name[et]=Riistvara teave
Name[eu]=Hardwareari buruzko informazioa
Name[fi]=Laitteistotiedot
Name[fr]=Informations sur le matériel
Name[ga]=Faisnéis Crua-Earraí
Name[gl]=Información do hardware
Name[gu]=હાર્ડવેર જાણકારી
Name[he]=מידע אודות חומרה
Name[hi]=हार्डवेयर जानकारी
Name[hr]=Informacije o hardveru
Name[hu]=Hardverjellemzők
Name[ia]=Info de hardware
Name[id]=Info Peranti Keras
Name[is]=Vélbúnaðarupplýsingar
Name[it]=Informazioni sull'hardware
Name[ja]=ハードウェア情報
Name[kk]=Жабдық мәліметі
Name[km]=ព័ត៌មាន​ផ្នែក​រឹង
Name[kn]=ಯಂತ್ರಾಂಶ ಮಾಹಿತಿ
Name[ko]=하드웨어 정보
Name[lt]=Aparatinės įrangos informacija
Name[lv]=Aparatūras informācija
Name[mr]=हार्डवेअर माहिती
Name[nb]=Maskinvareinformasjon
Name[nds]=Reedschap-Informatschonen
Name[nl]=Hardware-informatie
Name[pa]=ਹਾਰਡਵੇਅਰ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o sprzęcie
Name[pt]=Informação do 'Hardware'
Name[pt_BR]=Informações do hardware
Name[ro]=Informații echipament
Name[ru]=Оборудование компьютера
Name[si]=දෘඩාංග තොරතුරු
Name[sk]=Informácie o hardvéri
Name[sl]=Podatki o strojni opremi
Name[sr]=подаци о хардверу
Name[sr@ijekavian]=подаци о хардверу
Name[sr@ijekavianlatin]=podaci o hardveru
Name[sr@latin]=podaci o hardveru
Name[sv]=Hårdvaruinformation
Name[tg]=Иттилооти сахтафзор
Name[th]=ข้อมูลของฮาร์ดแวร์
Name[tr]=Donanım Bilgileri
Name[ug]=قاتتىق دېتال ئۇچۇرى
Name[uk]=Відомості про обладнання
Name[vi]=Thông tin phần cứng
Name[wa]=Info so l' éndjolreye
Name[x-test]=xxHardware Infoxx
Name[zh_CN]=硬件信息
Name[zh_TW]=硬體資訊
Comment=Show hardware info
Comment[ar]=يظهر معلومات العتاد
Comment[ast]=Amosar información d'hardware
Comment[be@latin]=Pakazvaje źviestki pra aparaturu
Comment[bg]=Показване на данни за хардуера
Comment[bn]=হার্ডওয়্যার তথ্য দেখাও
Comment[bs]=Podaci o hardveru
Comment[ca]=Mostra la informació del maquinari
Comment[ca@valencia]=Mostra la informació del maquinari
Comment[cs]=Zobrazit informace o hardwaru
Comment[csb]=Wëskrzëniô wëdowiédzã ò hardwôrze
Comment[da]=Vis hardwareinformation
Comment[de]=Zeigt Informationen zu bestimmten Geräten an.
Comment[el]=Εμφάνιση πληροφοριών υλικού
Comment[en_GB]=Show hardware info
Comment[eo]=Montri aparatajn informojn
Comment[es]=Mostrar información de hardware
Comment[et]=Riistvarainfo näitamine
Comment[eu]=Erakutsi hardwareari buruzko informazioa
Comment[fi]=Näyttää laitteistotiedot
Comment[fr]=Affiche des informations sur le matériel
Comment[fy]=Hardware ynfo sjen litte
Comment[ga]=Taispeáin eolas faoi na crua-earraí
Comment[gl]=Mostra información acerca do hardware
Comment[gu]=હાર્ડવેર માહિતી બતાવો
Comment[he]=משמש להצגת מידע אודות חומרה
Comment[hi]=हार्डवेयर जानकारी दिखाएँ
Comment[hne]=हार्डवेयर जानकारी देखाव
Comment[hr]=Prikaz informacija o hardveru
Comment[hsb]=Pokazuje informaciju wo hardware
Comment[hu]=Hardverjellemzők
Comment[ia]=Monstra  info del hardware
Comment[id]=Tampilkan info peranti keras
Comment[is]=Sýna upplýsingar um vélbúnað
Comment[it]=Mostra informazioni sull'hardware
Comment[ja]=ハードウェアの情報を表示します
Comment[kk]=Жабдықтар мәліметін қарау
Comment[km]=បង្ហាញ​ព័ត៌មាន​ផ្នែក​រឹង
Comment[kn]=ಯಂತ್ರಾಂಶ ಮಾಹಿತಿಯನ್ನು ತೋರಿಸು
Comment[ko]=하드웨어 정보를 표시합니다
Comment[lt]=Rodyti aparatinės įrangos informaciją
Comment[lv]=Rāda aparatūras informāciju
Comment[mk]=Прикажува информации за хардверот
Comment[ml]=ഹാര്‍ഡ്വെവര്‍ വിവരം കാണിക്കുക
Comment[mr]=हार्डवेअर माहिती दर्शवा
Comment[nb]=Vis maskinvareinformasjon
Comment[nds]=Hardware-Infos wiesen
Comment[nl]=Geeft informatie over uw hardware
Comment[nn]=Vis maskinvareinfo
Comment[or]=ହାର୍ଡ଼ୱେର ସୂଚନା ଦର୍ଶାନ୍ତୁ
Comment[pa]=ਹਾਰਡਵੇਅਰ ਜਾਣਕਾਰੀ ਵੇਖੋ
Comment[pl]=Pokazywanie informacji o sprzęcie
Comment[pt]=Mostrar informações sobre o 'hardware'
Comment[pt_BR]=Mostra informações do hardware
Comment[ro]=Afișează informații despre echipamentul fizic
Comment[ru]=Показ сведений об оборудовании
Comment[si]=දෘඩාංග තොරතුරු පෙන්වන්න
Comment[sk]=Zobrazenie informácií o hardvéri
Comment[sl]=Prikaz podatkov o strojni opremi
Comment[sr]=Подаци о хардверу
Comment[sr@ijekavian]=Подаци о хардверу
Comment[sr@ijekavianlatin]=Podaci o hardveru
Comment[sr@latin]=Podaci o hardveru
Comment[sv]=Visa hårdvaruinformation
Comment[ta]=Show hardware info
Comment[te]=హార్డువేర్ సమాచారమును చూపుము
Comment[tg]=Намоиши иттилооти сахтафзор
Comment[th]=แสดงข้อมูลของฮาร์ดแวร์
Comment[tr]=Donanım bilgilerini göster
Comment[ug]=قاتتىق دېتال ئۇچۇرىنى كۆرسەت
Comment[uk]=Показати інформацію про обладнання
Comment[wa]=Mostrer les pondants et les djondants di l' éndjolreye
Comment[x-test]=xxShow hardware infoxx
Comment[zh_CN]=显示硬件信息
Comment[zh_TW]=顯示硬體資訊
Type=Service
Icon=hwinfo
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_hwinfo
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_hwinfo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

