[Desktop Entry]
Name=System Monitor
Name[af]=Stelsel Monitor
Name[ar]=مراقب النظام
Name[ast]=Monitor del sistema
Name[be]=Сістэмны назіральнік
Name[be@latin]=Systemny nazirańnik
Name[bg]=Наблюдение на системата
Name[bn]=সিস্টেম মনিটর
Name[bn_IN]=সিস্টেম নিরীক্ষণ ব্যবস্থা
Name[bs]=Monitor sistema
Name[ca]=Monitor del sistema
Name[ca@valencia]=Monitor del sistema
Name[cs]=Monitor systému
Name[csb]=Mònitór systemë
Name[da]=Systemovervågning
Name[de]=Systemmonitor
Name[el]=Επόπτης συστήματος
Name[en_GB]=System Monitor
Name[eo]=Sistemstato-programo
Name[es]=Monitor del sistema
Name[et]=Süsteemi jälgija
Name[eu]=Sistema-monitorea
Name[fa]=نمایشگر سیستم
Name[fi]=Järjestelmän valvonta
Name[fr]=Surveillance du système
Name[fy]=Systeemmonitor
Name[ga]=Monatóir an Chórais
Name[gl]=Vixilante do sistema
Name[gu]=સિસ્ટમ દેખરેખ
Name[he]=מוניטור המערכת
Name[hi]=तंत्र मॉनीटर
Name[hne]=तंत्र मानीटर
Name[hr]=Nadzor sustava
Name[hsb]=Systemowy monitor
Name[hu]=Rendszermonitor
Name[ia]=Monitor de systema
Name[id]=Monitor Sistem
Name[is]=Kerfiseftirlit
Name[it]=Monitor di sistema
Name[ja]=システムモニタ
Name[kk]=Жүйе мониторы
Name[km]=កម្មវិធី​ត្រួត​​ពិនិត្យ​ប្រព័ន្ធ
Name[kn]=ವ್ಯವಸ್ಥೆಯ ಪ್ರದರ್ಶಕ
Name[ko]=시스템 모니터
Name[ku]=Temaşekerê Pergalê
Name[lt]=Sistemos stebėtojas
Name[lv]=Sistēmas monitors
Name[mai]=सिस्टम मानीटर
Name[mk]=Системски монитор
Name[ml]=സിസ്റ്റം നിരീക്ഷകന്‍
Name[mr]=प्रणाली मॉनिटर
Name[nb]=Systemovervåker
Name[nds]=Systeemkieker
Name[ne]=प्रणाली मनिटर
Name[nl]=Systeemmonitor
Name[nn]=Systemovervaking
Name[oc]=Monitor sistèma
Name[pa]=ਸਿਸਟਮ ਮਾਨੀਟਰ
Name[pl]=Monitor systemu
Name[pt]=Monitor do Sistema
Name[pt_BR]=Monitor do sistema
Name[ro]=Monitor de sistem
Name[ru]=Системный монитор
Name[se]=Vuogádatgoziheaddji
Name[si]=පද්ධති නිරීක්‍ෂකය
Name[sk]=Monitor systému
Name[sl]=Sistemski nadzornik
Name[sr]=надзорник система
Name[sr@ijekavian]=надзорник система
Name[sr@ijekavianlatin]=nadzornik sistema
Name[sr@latin]=nadzornik sistema
Name[sv]=Systemövervakare
Name[ta]=கணினி நோட்டம்
Name[te]=సిస్టమ్ మానిటర్
Name[tg]=Назорати система
Name[th]=ติดตามการทำงานของระบบ
Name[tr]=Sistem İzleyici
Name[ug]=سىستېما كۆزەتكۈچ
Name[uk]=Монітор системи
Name[vi]=Bộ theo dõi hệ thống
Name[wa]=Corwaitoe do sistinme
Name[x-test]=xxSystem Monitorxx
Name[zh_CN]=系统监视器
Name[zh_TW]=系統監視器
Comment=System monitoring applet
Comment[ar]=بريمج مراقب النظام
Comment[ast]=Miniaplicación de monitorización del sistema
Comment[be@latin]=Aplet nazirańnia za systemaju
Comment[bg]=Аплет за наблюдение на системата
Comment[bn]=সিস্টেম মনিটর অ্যাপলেট
Comment[bn_IN]=সিস্টেম নিরীক্ষণের অ্যাপ্লেট
Comment[bs]=Aplet za nadgledanje sistema
Comment[ca]=Miniaplicació controladora del sistema
Comment[ca@valencia]=Miniaplicació controladora del sistema
Comment[cs]=Applet pro monitorování systému
Comment[csb]=Aplet mònitorowaniô systemë
Comment[da]=Applet til systemovervågning
Comment[de]=Allgemeiner Systemmonitor
Comment[el]=Μικροεφαρμογή εποπτείας συστήματος
Comment[en_GB]=System monitoring applet
Comment[es]=Miniaplicación de monitorización del sistema
Comment[et]=Süsteemi jälgimise aplett
Comment[eu]=Sistema kontrolatzeko miniaplikazioa
Comment[fi]=Järjestelmänvalvontasovelma
Comment[fr]=Applet de surveillance du système
Comment[fy]=systeemtempratuer applet
Comment[ga]=Feidhmchláirín mhonatóireacht an chórais
Comment[gl]=Applet de vixilancia do sistema
Comment[gu]=સિસ્ટમ દેખરેખ એપ્લેટ
Comment[he]=יישומון לניטור המערכת
Comment[hi]=तंत्र मॉनिटरिंग एप्लेट
Comment[hne]=तंत्र मानीटर एपलेट
Comment[hr]=Nadzor sustava
Comment[hsb]=Applet za systemowy monitor
Comment[hu]=Rendszermonitor kisalkalmazás
Comment[ia]=Applet per monitorar le systema
Comment[id]=Applet monitor sistem
Comment[is]=Eftirlitsforritlingur í kerfisbakka
Comment[it]=Programma di monitoraggio del sistema
Comment[ja]=システムの状態を監視するアプレット
Comment[kk]=Жүйені бақылау апплеті
Comment[km]=អាប់ភ្លេត​​ត្រួតពិនិត្យ​ប្រព័ន្ធ
Comment[kn]=ವ್ಯವಸ್ಥೆಯ ಮೇಲ್ವಿಚಾರಕ ಆಪ್ಲೆಟ್
Comment[ko]=시스템 모니터 애플릿
Comment[ku]=Sepanoka temaşe kirina pergalê
Comment[lt]=Sistemos stebėjimo įskiepis
Comment[lv]=Sistēmas novērošanas sīkrīks
Comment[mk]=Аплет за следење на системот
Comment[ml]=സിസ്റ്റം നിരീക്ഷണി ലഘുപ്രയോഗം
Comment[mr]=प्रणाली नियंत्रण ऍपलेट
Comment[nb]=Systemovervåker miniprogram
Comment[nds]=Systeemwachter-Lüttprogramm
Comment[nl]=Systeemmonitorapplet
Comment[nn]=Overvaking av systemet
Comment[or]=ତନ୍ତ୍ର ନିରିକ୍ଷଣ ଆପଲେଟ
Comment[pa]=ਸਿਸਟਮ ਮਾਨੀਟਰ ਐਪਲਿਟ
Comment[pl]=Aplet monitora systemu
Comment[pt]='Applet' de monitorização do sistema
Comment[pt_BR]=Miniaplicativo de monitoramento do sistema
Comment[ro]=Miniaplicație de monitorizare a sistemului
Comment[ru]=Системный монитор
Comment[si]=පද්ධති නිරික්‍ෂණ යෙදුම්පත
Comment[sk]=Aplet pre monitorovanie systému
Comment[sl]=Sistemski nadzornik
Comment[sr]=Аплет за надгледање система
Comment[sr@ijekavian]=Аплет за надгледање система
Comment[sr@ijekavianlatin]=Aplet za nadgledanje sistema
Comment[sr@latin]=Aplet za nadgledanje sistema
Comment[sv]=Miniprogram för systemövervakning
Comment[ta]=கணினி நோட்ட சிறுபயன்பாடு
Comment[tg]=Барномаи мониторинги система
Comment[th]=แอพเพล็ตติดตามการทำงานของระบบ
Comment[tr]=Sistem izleme programcığı
Comment[ug]=سىستېما كۆزىتىش قوللانچىقى
Comment[uk]=Аплет моніторингу системи
Comment[wa]=Aplikete di corwaitaedje do sistinme
Comment[x-test]=xxSystem monitoring appletxx
Comment[zh_CN]=系统监视器小程序
Comment[zh_TW]=系統監控小程式
Type=Service
Icon=utilities-system-monitor
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_system-monitor
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=system-monitor_applet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

