[Desktop Entry]
Name=System Monitor
Name[uk]=Монітор системи
Name[x-test]=xxSystem Monitorxx
Comment=System monitoring applet
Comment[uk]=Аплет моніторингу системи
Comment[x-test]=xxSystem monitoring appletxx
Type=Service
Icon=utilities-system-monitor
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_system-monitor
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=system-monitor_applet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

