[Desktop Entry]
Encoding=UTF-8
Name=CPU Monitor
Name[ar]=مراقب استعمال المعالج
Name[ast]=Monitor de CPU
Name[bg]=Наблюдение на процесора
Name[bs]=nadzor procesora
Name[ca]=Controlador de la CPU
Name[ca@valencia]=Controlador de la CPU
Name[cs]=Monitor CPU
Name[da]=CPU-overvågning
Name[de]=Überwachungsmonitor für Prozessoren
Name[el]=Επόπτης ΚΜΕ
Name[en_GB]=CPU Monitor
Name[es]=Monitor de CPU
Name[et]=Protsessori jälgija
Name[eu]=PUZaren monitorea
Name[fi]=Suoritinkäyttö
Name[fr]=Surveillance du processeur
Name[ga]=Monatóir an LAP
Name[gl]=Vixilante da CPU
Name[gu]=CPU મોનિટર
Name[he]=מוניטור המעבד
Name[hi]=सीपीयू नीरीक्षक
Name[hr]=Nadzornik CPU-a
Name[hu]=Processzorfigyelő
Name[ia]=Monitor de CPU
Name[id]=Monitor CPU
Name[is]=Eftirlit með notkun örgjörva
Name[it]=Monitor del processore
Name[ja]=CPU モニタ
Name[kk]=Процссорды бақылау
Name[km]=ត្រួតពិនិត្យ​ស៊ីភីយូ
Name[kn]=CPU ಮೇಲ್ವಿಚಾರಕ
Name[ko]=CPU 모니터
Name[lt]=CPU apkrovos stebėtojas
Name[lv]=Procesora novērotājs
Name[mr]=CPU नियंत्रक
Name[nb]=prosessor-overvåker
Name[nds]=CPU-Kieker
Name[nl]=Monitor voor CPU-gebruik
Name[pa]=CPU ਨਿਗਰਾਨ
Name[pl]=Monitor procesora
Name[pt]=Monitor do CPU
Name[pt_BR]=Monitor da CPU
Name[ro]=Monitor de procesor
Name[ru]=Использование процессора
Name[si]=CPU මොනිටරය
Name[sk]=Monitor CPU
Name[sl]=Nadzorovalnik procesorja
Name[sr]=надзор процесора
Name[sr@ijekavian]=надзор процесора
Name[sr@ijekavianlatin]=nadzor procesora
Name[sr@latin]=nadzor procesora
Name[sv]=Övervakning av processoranvändning
Name[tg]=Монитори CPU
Name[th]=ติดตามการใช้งานตัวประมวลผลกลาง
Name[tr]=İşlemci İzleyici
Name[ug]=CPU كۆزەتكۈچ
Name[uk]=Використання процесора
Name[vi]=Trình quản lý CPU
Name[wa]=Corwaitoe CPU
Name[x-test]=xxCPU Monitorxx
Name[zh_CN]=CPU 监视器
Name[zh_TW]=CPU 監視器
Comment=A CPU usage monitor
Comment[ar]=مراقب استعمال المعالج
Comment[ast]=Monitor d'usu de la CPU
Comment[be@latin]=Nazirańnik zaniataści „CPU”
Comment[bg]=Наблюдение натоварването на процесора
Comment[bs]=Nadgledanje upotrebe procesora
Comment[ca]=Un controlador d'ús de la CPU
Comment[ca@valencia]=Un controlador d'ús de la CPU
Comment[cs]=Monitor vytížení CPU
Comment[csb]=Mònitór brëkùnkù CPU
Comment[da]=Overvågning af CPU-forbrug
Comment[de]=Ein Überwachungsmonitor für Prozessoren
Comment[el]=Ένας επόπτης χρήσης ΚΜΕ
Comment[en_GB]=A CPU usage monitor
Comment[eo]=Monitoro de procezila uzo
Comment[es]=Monitor de uso de la CPU
Comment[et]=Protsessori kasutuse jälgija
Comment[eu]=PUZaren erabilera-monitorea
Comment[fi]=Näyttää suoritinten käytön
Comment[fr]=Une surveillance de l'usage du processeur
Comment[fy]=In CPU brûkme monitor
Comment[ga]=Monatóir úsáid an LAP
Comment[gl]=Un vixilante da utilización da CPU
Comment[gu]=CPU વપરાશ દેખરેખ
Comment[he]=מנטר שימוש במעבד
Comment[hi]=सीपीयू उपयो मॉनीटर
Comment[hne]=सीपीयू उपयोग देखइया
Comment[hr]=Nadzor korištenja procesora
Comment[hsb]=Monitor, kiž pokazuje wućeženosć procesora
Comment[hu]=Kijelzi a CPU állapotát
Comment[ia]=Un monitor del usage de CPU
Comment[id]=Monitor penggunaan CPU
Comment[is]=Eftirlit með notkun örgjörva
Comment[it]=Indica l'uso della CPU
Comment[ja]=CPU 使用率を監視します
Comment[kk]=Процессордың жүктелісін бақылау
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ​ការ​ប្រើប្រាស់​ស៊ីភីយូ
Comment[kn]=ಒಂದು CPU ಬಳಕೆಯ ಮೇಲ್ವಿಚಾರಕ
Comment[ko]=CPU 사용량 모니터
Comment[lt]=CPU apkrovos stebėtojas
Comment[lv]=Procesora noslogojuma novērotājs
Comment[mk]=Монитор на користењето на процесорот
Comment[ml]=സിപിയു ഉപയോഗ നിരീക്ഷകന്‍
Comment[mr]=CPU वापरणी नियंत्रक
Comment[nb]=En overvåker for prosessorbruk
Comment[nds]=En Kieker för den CPU-Bruuk
Comment[nl]=Volgt het CPU-gebruik
Comment[nn]=Overvaking av prosessorbruk
Comment[or]=ଗୋଟିଏ CPU ବ୍ୟବହାର ବିଧି ନିରିକ୍ଷକ
Comment[pa]=ਇੱਕ CPU ਵਰਤੋਂ ਮਾਨੀਟਰ
Comment[pl]=Monitor użycia procesora
Comment[pt]=Um monitor da utilização do CPU
Comment[pt_BR]=Um monitor de utilização da CPU
Comment[ro]=Monitor de utilizare a procesorului
Comment[ru]=Монитор использования процессора
Comment[si]=CPU භාවිතය නිරික්‍ෂකය
Comment[sk]=Monitor využitia CPU
Comment[sl]=Nadzornik obremenjenosti procesorja
Comment[sr]=Надгледање употребе процесора
Comment[sr@ijekavian]=Надгледање употребе процесора
Comment[sr@ijekavianlatin]=Nadgledanje upotrebe procesora
Comment[sr@latin]=Nadgledanje upotrebe procesora
Comment[sv]=Övervakning av processoranvändning
Comment[ta]=A CPU usage monitor
Comment[tg]=Монитори истифодабарии манбаъи система
Comment[th]=ตัวติดตามการใช้งานตัวประมวลผลกลาง
Comment[tr]=Bir işlemci kullanımı izleyici
Comment[ug]=CPU ئىشلىتىشنى كۆزەتكۈچ
Comment[uk]=Монітор використання процесора
Comment[wa]=On corwaitoe di l' eployaedje del CPU
Comment[x-test]=xxA CPU usage monitorxx
Comment[zh_CN]=CPU 利用率监视器
Comment[zh_TW]=CPU 使用量監視器
Type=Service
Icon=cpu
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_cpu
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_cpu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

