[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=soliduiserver
X-KDE-DBus-ModuleName=soliduiserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Hardware Detection
Name[ar]=اكتشاف العتاد
Name[ast]=Deteición del hardware
Name[bg]=Откриване на хардуер
Name[bn]=হার্ডওয়্যার উদ্ঘাটন
Name[bs]=Otkrivanje hardvera
Name[ca]=Detecció de maquinari
Name[ca@valencia]=Detecció de maquinari
Name[cs]=Detekce hardwaru
Name[da]=Hardware-detektion
Name[de]=Hardwareerkennung
Name[el]=Εντοπισμός υλικού
Name[en_GB]=Hardware Detection
Name[eo]=Detektado de aparataro
Name[es]=Detección del hardware
Name[et]=Riistvara tuvastamine
Name[eu]=Hardware-detekzioa
Name[fa]=تشخیص سخت‌افزار
Name[fi]=Laitteiston tunnistus
Name[fr]=Détection du matériel
Name[ga]=Brath Crua-Earraí
Name[gl]=Detección do hardware
Name[gu]=હાર્ડવેર ચકાસણી
Name[he]=זיהוי חומרה
Name[hi]=हार्डवेयर जाँच
Name[hr]=Detekcija hardvera
Name[hu]=Hardverfelismerés
Name[ia]=Relevamento de Hardware
Name[id]=Deteksi Peranti Keras
Name[is]=Vélbúnaðarskynjun
Name[it]=Rilevamento dell'hardware
Name[ja]=ハードウェア検出
Name[kk]=Жабдықты байқау
Name[km]=រកឃើញ​ផ្នែក​រឹង
Name[kn]=ಯಂತ್ರಾಂಶ ಪತ್ತೆಹಚ್ಚುವಿಕೆ
Name[ko]=하드웨어 감지
Name[lt]=Aparatinės įrangos aptikimas
Name[lv]=Aparatūras detektēšana
Name[ml]=ഹാര്‍ഡ്‌വെയര്‍ തിരിച്ചറിയല്‍
Name[mr]=हार्डवेअर शोध
Name[nb]=Maskinvarefinner
Name[nds]=Reedschappen opdecken
Name[nl]=Hardware-detectie
Name[nn]=Maskinvareoppdaging
Name[pa]=ਹਾਰਡਵੇਅਰ ਖੋਜ
Name[pl]=Wykrywanie sprzętu
Name[pt]=Detecção do 'Hardware'
Name[pt_BR]=Detecção de hardware
Name[ro]=Detectare hardware
Name[ru]=Обнаружение оборудования
Name[si]=දෘඩාංග හඳුනාගැනීම
Name[sk]=Detekcia hardvéru
Name[sl]=Zaznavanje strojne opreme
Name[sr]=Откривање хардвера
Name[sr@ijekavian]=Откривање хардвера
Name[sr@ijekavianlatin]=Otkrivanje hardvera
Name[sr@latin]=Otkrivanje hardvera
Name[sv]=Hårdvarudetektering
Name[tg]=Ҷустуҷӯи сахтафзор
Name[th]=ตรวจจับฮาร์ดแวร์
Name[tr]=Donanım Bulma
Name[ug]=قاتتىق دېتال بايقاش
Name[uk]=Виявлення обладнання
Name[vi]=Phát hiện phần cứng
Name[wa]=Deteccion di l' éndjolreye
Name[x-test]=xxHardware Detectionxx
Name[zh_CN]=硬件探测
Name[zh_TW]=硬體偵測
Comment=Provides a user interface for hardware events
Comment[ar]=يوفر واجهة المستخدم لأحداث العتاد
Comment[ast]=Ufre una interface d'usuariu pa eventos de hardware
Comment[bg]=Предоставяне на потребителски интерфейс за хардуерни събития
Comment[bn]=হার্ডওয়্যার সংক্রান্ত ঘটনাবলীরস জন্য একটি ব্যবহারকারী ইন্টারফেস দেয়
Comment[bs]=Daje korisničko sučelje za hardverske događaje
Comment[ca]=Proporciona una interfície d'usuari pels esdeveniments del maquinari
Comment[ca@valencia]=Proporciona una interfície d'usuari pels esdeveniments del maquinari
Comment[cs]=Poskytuje uživatelské rozhraní pro hardwarové události
Comment[da]=Giver en brugerflade til hardware-hændelser
Comment[de]=Stellt eine Benutzeroberfläche für Hardwareereignisse zur Verfügung
Comment[el]=Παρέχει ένα γραφικό περιβάλλον για τα συμβάντα του υλικού
Comment[en_GB]=Provides a user interface for hardware events
Comment[eo]=Ĝi provizas uzantinterfacon por eventoj de aparataro
Comment[es]=Proporciona una interfaz de usuario para eventos de hardware
Comment[et]=Riistvarasündmuste kasutajaliides
Comment[eu]=Hardware-gertaeretarako erabiltzaile-interfazea eskaintzen du
Comment[fi]=Tarjoaa käyttöliittymän laitteistotapahtumille
Comment[fr]=Fournit une interface utilisateur pour les évènements matériels
Comment[ga]=Soláthraíonn sé comhéadan úsáideora do theagmhais chrua-earraí
Comment[gl]=Fornece unha interface de usuario para os acontecementos do hardware
Comment[gu]=હાર્ડવેર ઘટનાઓ માટે વપરાશકર્તા દેખાવ પૂરો પાડે છે
Comment[he]=מספק ממשק משתמש עבור אירועי חומרה
Comment[hi]=हार्डवेयर घटनाएँ के लिए उपयोगकर्ता अंतराफलक उपलब्ध कराता है
Comment[hr]=Omogućuje korisničko sučelje za hardverske događaje
Comment[hu]=Felhasználói felületet biztosít a hardvereseményekhez
Comment[ia]=Il forni un interface de usator pro eventos hardware
Comment[id]=Menyediakan antarmuka pengguna untuk peristiwa peranti keras
Comment[is]=Sér um grafískt notandaviðmót vegna vélbúnaðartengdra atburða
Comment[it]=Dà un'interfaccia per l'utente agli eventi dell'hardware
Comment[ja]=ハードウェアイベントのためのユーザインターフェースを提供します
Comment[kk]=Жабықтағы оқиғаларына пайдаланушы интерфейсі
Comment[km]=ផ្ដល់​ចំណុច​ប្រទាក់អ្នកប្រើ​សម្រាប់​ព្រឹត្តិការណ៍​ផ្នែក​រឹង
Comment[ko]=하드웨어 이벤트 사용자 인터페이스를 제공합니다
Comment[lt]=Suteikia naudotojo sąsają su įvykiais techninėje įrangoje
Comment[lv]=Sniedz lietotāja saskarni aparatūras notikumiem
Comment[mr]=हार्डवेअर घटनांसाठी वापरकर्ता संवाद पुरवितो
Comment[nb]=En brukerflate for maskinvare-hendelser
Comment[nds]=Stellt en Bruker-Koppelsteed för Hardware-Begeefnissen praat.
Comment[nl]=Levert een gebruikersinterface voor hardware gebeurtenissen
Comment[nn]=Eit brukargrensesnitt for maskinvarehendingar
Comment[pa]=ਹਾਰਡਵੇਅਰ ਈਵੈਂਟ ਲਈ ਯੂਜ਼ਰ ਇੰਟਰਫੇਸ ਦਿੰਦਾ ਹੈ
Comment[pl]=Udostępnia interfejs użytkownika dla zdarzeń związanych ze sprzętem
Comment[pt]=Fornece uma interface de utilizador para os eventos do 'hardware'
Comment[pt_BR]=Fornece uma interface de usuário para os eventos do hardware
Comment[ro]=Pune la dispoziție o interfață grafică pentru evenimentele hardware
Comment[ru]=Обеспечивает пользовательский интерфейс для событий с оборудованием
Comment[si]=දෘඩාංග සිද්ධි සඳහා පරිශීලක අතුරු මුහුණතක් සපයයි
Comment[sk]=Poskytuje užívateľské rozhranie pre hardvérové udalosti
Comment[sl]=Ponuja uporabniški vmesnik za dogodke strojne opreme
Comment[sr]=Даје корисничко сучеље за хардверске догађаје
Comment[sr@ijekavian]=Даје корисничко сучеље за хардверске догађаје
Comment[sr@ijekavianlatin]=Daje korisničko sučelje za hardverske događaje
Comment[sr@latin]=Daje korisničko sučelje za hardverske događaje
Comment[sv]=Tillhandahåller ett användargränssnitt för hårdvaruhändelser
Comment[tg]=Интерфейси корбариро барои амалҳои сахтафзор нишон медиҳад
Comment[th]=ส่วนติดต่อผู้ใช้เมื่อมีเหตุการณ์ต่าง ๆ ของฮาร์ดแวร์
Comment[tr]=Donanım olayları için kullanıcı arayüzü sunar
Comment[ug]=قاتتىق دېتال ھادىسىسىگە ئىشلەتكۈچى ئارايۈزى تەمىنلەيدۇ
Comment[uk]=Інтерфейс користувача для сповіщень про події обладнання
Comment[vi]=Cung cấp một giao diện người dùng cho các sự kiện phần cứng
Comment[wa]=Dene èn eterface uzeu po ls etrevéns d' l' éndjolreye
Comment[x-test]=xxProvides a user interface for hardware eventsxx
Comment[zh_CN]=为硬件事件提供用户界面
Comment[zh_TW]=提供硬體事件的使用者介面
