[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=soliduiserver
X-KDE-DBus-ModuleName=soliduiserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Hardware Detection
Name[uk]=Виявлення обладнання
Name[x-test]=xxHardware Detectionxx
Comment=Provides a user interface for hardware events
Comment[uk]=Забезпечує роботу інтерфейсу користувача для подій, пов’язаних з обладнанням
Comment[x-test]=xxProvides a user interface for hardware eventsxx
