[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktimezoned
X-KDE-DBus-ModuleName=ktimezoned
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

Name=Time Zone
Name[uk]=Часовий пояс
Name[x-test]=xxTime Zonexx
Comment=Provides the system's time zone to applications
Comment[uk]=Надає дані щодо часового поясу системи програмам
Comment[x-test]=xxProvides the system's time zone to applicationsxx
