[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktimezoned
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

Name=Time Zone
Name[ar]=المنطقة الزمنية
Name[ast]=Fusu horariu
Name[az]=Saat Qurşağı
Name[bg]=Часови пояс
Name[bn]=টাইম জোন
Name[bs]=Vremenska zona
Name[ca]=Zona horària
Name[ca@valencia]=Zona horària
Name[cs]=Časové pásmo
Name[da]=Tidszone
Name[de]=Zeitzone
Name[el]=Ζώνη ώρας
Name[en_GB]=Time Zone
Name[eo]=Horzono
Name[es]=Zona horaria
Name[et]=Ajavöönd
Name[eu]=Ordu-eremua
Name[fa]=ناحیه زمانی
Name[fi]=Aikavyöhyke
Name[fr]=Fuseau horaire
Name[ga]=Crios Ama
Name[gl]=Fuso horario
Name[gu]=સમય વિસ્તાર
Name[he]=איזור זמן
Name[hi]=समय क्षेत्र
Name[hr]=Vremenska zona
Name[hu]=Időzóna
Name[ia]=Fuso horari
Name[id]=Zona Waktu
Name[is]=Tímabelti
Name[it]=Fuso orario
Name[ja]=タイムゾーン
Name[kk]=Уақыт белдеуі
Name[km]=​តំបន់​ពេល​វេលា
Name[kn]=ಸಮಯವಲಯ (ಟೈಮ್ ಜೋನ್)
Name[ko]=시간대
Name[lt]=Laiko juosta
Name[lv]=Laika josla
Name[mai]=समय क्षेत्र
Name[ml]=സമയമേഖല
Name[mr]=वेळ क्षेत्र
Name[nb]=Tidssone
Name[nds]=Tietrebeet
Name[nl]=Tijdzone
Name[nn]=Tidssone
Name[pa]=ਸਮਾਂ ਖੇਤਰ
Name[pl]=Strefa czasowa
Name[pt]=Fuso-Horário
Name[pt_BR]=Fuso horário
Name[ro]=Fus orar
Name[ru]=Часовой пояс
Name[si]=කාල කලාපය
Name[sk]=Časové pásmo
Name[sl]=Časovni pas
Name[sr]=Временска зона
Name[sr@ijekavian]=Временска зона
Name[sr@ijekavianlatin]=Vremenska zona
Name[sr@latin]=Vremenska zona
Name[sv]=Tidszon
Name[tg]=Минтақаи вақт
Name[th]=เขตเวลา
Name[tr]=Zaman Dilimi
Name[ug]=ۋاقىت رايونى
Name[uk]=Часовий пояс
Name[vi]=Múi giờ
Name[wa]=Coisse ås eures
Name[x-test]=xxTime Zonexx
Name[zh_CN]=时区
Name[zh_TW]=時區
Comment=Provides the system's time zone to applications
Comment[ar]=يوفّر منطقة النظام الزمنية للتطبيقات
Comment[az]=Tətbiqlərə sistemin saat qurşağını tətbiq edir
Comment[bg]=Предоставяне на системния часови пояс за програмите
Comment[bn]=সিস্টেম-এর টাইমজোন বিভিন্ন অ্যাপলিকেশন-কে জানায়
Comment[bs]=Ispostavlja programima sistemsku vremensku zonu
Comment[ca]=Proporciona la zona horària del sistema a les aplicacions
Comment[ca@valencia]=Proporciona la zona horària del sistema a les aplicacions
Comment[cs]=Poskytuje systémová časová pásma aplikacím
Comment[da]=Giver systemets tidszone til programmer
Comment[de]=Die Systemzeitzone den Anwendungen zur Verfügung stellen
Comment[el]=Παρέχει τη ζώνη ώρας του συστήματος στις εφαρμογές
Comment[en_GB]=Provides the system's time zone to applications
Comment[eo]=Ĝi provizas la horzonon de sistemo al aplikaĵoj
Comment[es]=Proporciona la zona horaria del sistema a las aplicaciones
Comment[et]=Süsteemi ajavööndi edastamine rakendustele
Comment[eu]=Sistemaren ordu-eremua adierazten die aplikazioei
Comment[fa]=منطقه زمانی سامانه را برای برنامه‌ها فراهم میکند
Comment[fi]=Tarjoaa järjestelmän aikavyöhyketiedon ohjelmille
Comment[fr]=Fournit le fuseau horaire du système aux applications
Comment[ga]=Soláthraíonn sé crios ama an chórais d'fheidhmchláir
Comment[gl]=Fornece o fuso horario do sistema ás aplicacións
Comment[gu]=સિસ્ટમનો સમય વિસ્તાર કાર્યક્રમોને પૂરો પાડે છે
Comment[he]=מספק את אזור הזמן של המערכת עבור יישומים
Comment[hi]=अनुप्रयोगों को तंत्र का समय क्षेत्र उपलब्ध कराता है
Comment[hr]=Omogućuje aplikacijama pristup sistemskoj vremenskoj zoni
Comment[hu]=A rendszer időzónájának biztosítása alkalmazásokhoz
Comment[ia]=Il forni le fuso horari de systema al applicationes
Comment[id]=Menyediakan zona waktu sistem untuk aplikasi
Comment[is]=Sér forritum fyrir stillingum á tímabelti kerfisins
Comment[it]=Fornisce il fuso orario di sistema alle applicazioni
Comment[ja]=アプリケーションにシステムのタイムゾーンを提供します
Comment[kk]=Қолданбаларға орнатылған уақыт белдеу мәліметін жеткізеді
Comment[km]=ផ្ដល់​តំបន់​ពេលវេលា​​ប្រព័ន្ធ​ឲ្យ​​កម្មវិធី
Comment[kn]=ವ್ಯವಸ್ಥೆಯ ಕಾಲವಲಯವನ್ನು ಅನ್ವಯಗಳಿಗೆ ಒದಗಿಸುತ್ತದೆ
Comment[ko]=프로그램에 시스템 시간대 정보 제공
Comment[lt]=Pateikia programoms sistemos laiko juostą
Comment[lv]=Sniedz informāciju par pašreizējo laika joslu dažādām programmām
Comment[ml]=സിസ്റ്റത്തിലെ സമയമേഖല പ്രയോഗങ്ങള്‍ക്കു് നല്‍കുന്നു
Comment[mr]=अनुप्रयोगांस प्रणालीचे वेळ क्षेत्र पुरवितो
Comment[nb]=Viser systemets tidssone til programmer
Comment[nds]=Stellt dat Systeem-Tietrebeet för Programmen praat.
Comment[nl]=Levert de tijdzone van het systeem aan applicaties
Comment[nn]=Gjev programma tilgang til systemtidssone
Comment[pa]=ਸਿਸਟਮ ਦਾ ਸਮਾਂ ਖੇਤਰ ਐਪਲੀਕੇਸ਼ਨ ਨੂੰ ਦਿੰਦਾ ਹੈ
Comment[pl]=Udostępnia systemową strefę czasową programom
Comment[pt]=Fornece o fuso-horário do sistema às aplicações
Comment[pt_BR]=Fornece o fuso horário do sistema para os aplicativos
Comment[ro]=Oferă aplicațiilor fusul orar al sistemului
Comment[ru]=Предоставляет данные о системном часовом поясе приложениям
Comment[si]=යෙදුම් වලට පද්ධතියේ කාල කලාපය සපයයි
Comment[sk]=Poskytuje systémové časové pásma aplikáciám
Comment[sl]=Programom omogoča dostop do sistemskega časovnega pasu
Comment[sr]=Испоставља програмима системску временску зону
Comment[sr@ijekavian]=Испоставља програмима системску временску зону
Comment[sr@ijekavianlatin]=Ispostavlja programima sistemsku vremensku zonu
Comment[sr@latin]=Ispostavlja programima sistemsku vremensku zonu
Comment[sv]=Tillhandahåller systemets tidszon till program
Comment[th]=กำหนดเขตเวลาของระบบให้กับโปรแกรมต่าง ๆ
Comment[tr]=Sistem zaman dilimini uygulamalara sunar
Comment[ug]=پروگراممىغا سىستېما ۋاقىت رايون ئۇچۇرى تەمىنلەيدۇ
Comment[uk]=Надає дані щодо часового поясу системи програмам
Comment[vi]=Cung cấp múi giờ hệ thống cho các ứng dụng
Comment[wa]=Dene ås programes li coisse ås eures då sistinme
Comment[x-test]=xxProvides the system's time zone to applicationsxx
Comment[zh_CN]=为应用程序提供系统时区信息
Comment[zh_TW]=提供系統的時區給應用程式
