[Desktop Entry]
Name=Software Center
Name[ca]=Centre de programari
Name[ca@valencia]=Centre de programari
Name[el]=Κέντρο λογισμικού
Name[es]=Centro de software
Name[nl]=Softwarecentrum
Name[pl]=Ośrodek programów
Name[pt]=Centro de Aplicações
Name[sk]=Softvérové centum
Name[sl]=Programsko središče
Name[sr]=софтверски центар
Name[sr@ijekavian]=софтверски центар
Name[sr@ijekavianlatin]=softverski centar
Name[sr@latin]=softverski centar
Name[sv]=Programvarucenter
Name[tr]=Yazılım Merkezi
Name[uk]=Центр програм
Name[x-test]=xxSoftware Centerxx
Name[zh_TW]=軟體中心
Comment=Lets you find software
Comment[ca]=Permet cercar programari
Comment[ca@valencia]=Permet buscar programari
Comment[el]=Σας δίνει τη δυνατότητα να βρείτε λογισμικό
Comment[es]=Le permite encontrar software
Comment[nl]=Laat u software vinden
Comment[pl]=Umożliwia wyszukiwanie programów
Comment[pt]=Permite-lhe procurar por aplicações
Comment[sk]=Umožní vám nájsť softvér
Comment[sl]=Omogoča iskanje programske opreme
Comment[sr]=Налажење жељеног софтвера
Comment[sr@ijekavian]=Налажење жељеног софтвера
Comment[sr@ijekavianlatin]=Nalaženje željenog softvera
Comment[sr@latin]=Nalaženje željenog softvera
Comment[sv]=Låter dig söka efter programvara
Comment[tr]=Yazılım bulmanıza izin verir
Comment[uk]=Допомагає вам шукати програми
Comment[x-test]=xxLets you find softwarexx
Comment[zh_TW]=讓您尋找軟體
Icon=applications-other
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=appstreamrunner
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@blue-systems.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
