[Desktop Entry]
Name=wetter.com
Name[uk]=wetter.com
Name[x-test]=xxwetter.comxx
Comment=Weather forecast by wetter.com
Comment[uk]=Прогноз погоди з wetter.com
Comment[x-test]=xxWeather forecast by wetter.comxx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_wettercom
X-KDE-PluginInfo-Name=wettercom
