[Desktop Entry]
Name=wetter.com
Name[ast]=wetter.com
Name[az]=wetter.com
Name[bg]=wetter.com
Name[bn]=wetter.com
Name[bs]=wetter.com
Name[ca]=wetter.com
Name[ca@valencia]=wetter.com
Name[cs]=wetter.com
Name[da]=wetter.com
Name[de]=wetter.com
Name[el]=wetter.com
Name[en_GB]=wetter.com
Name[eo]=wetter.com
Name[es]=wetter.com
Name[et]=wetter.com
Name[eu]=wetter.com
Name[fi]=wetter.com
Name[fr]=wetter.com
Name[fy]=wetter.com
Name[ga]=wetter.com
Name[gl]=wetter.com
Name[gu]=wetter.com
Name[he]=wetter.com
Name[hi]=wetter.com
Name[hr]=wetter.com
Name[hu]=wetter.com
Name[ia]=wetter.com
Name[id]=wetter.com
Name[is]=wetter.com
Name[it]=wetter.com
Name[ja]=wetter.com
Name[ka]=wetter.com
Name[kk]=wetter.com
Name[km]=wetter.com
Name[kn]=wetter.com
Name[ko]=wetter.com
Name[lt]=wetter.com
Name[lv]=wetter.com
Name[mk]=wetter.com
Name[ml]=വെറ്റര്‍.കൊം
Name[mr]=wetter.com
Name[nb]=wetter.com
Name[nds]=wetter.com
Name[nl]=wetter.com
Name[nn]=wetter.com
Name[pa]=wetter.com
Name[pl]=wetter.com
Name[pt]=wetter.com
Name[pt_BR]=wetter.com
Name[ro]=wetter.com
Name[ru]=wetter.com
Name[si]=wetter.com
Name[sk]=wetter.com
Name[sl]=wetter.com
Name[sr]=wetter.com
Name[sr@ijekavian]=wetter.com
Name[sr@ijekavianlatin]=wetter.com
Name[sr@latin]=wetter.com
Name[tg]=wetter.com
Name[th]=wetter.com
Name[tr]=wetter.com
Name[ug]=wetter.com
Name[uk]=wetter.com
Name[vi]=wetter.com
Name[wa]=wetter.com
Name[x-test]=xxwetter.comxx
Name[zh_CN]=wetter.com
Name[zh_TW]=wetter.com
Comment=Weather forecast by wetter.com
Comment[ar]=نشرة الطقس الجوية من wetter.com
Comment[az]=wetter.com tərəfindən hava məlumatı
Comment[bg]=Прогноза за времето от wetter.com
Comment[bs]=Prognoza vremena sa wetter.com
Comment[ca]=Previsió meteorològica per wetter.com
Comment[ca@valencia]=Previsió meteorològica per wetter.com
Comment[cs]=Předpověď počasí od wetter.com
Comment[da]=Vejrudsigt fra wetter.com
Comment[de]=Wettervorhersage von wetter.com
Comment[el]=Πρόγνωση καιρού από το wetter.com
Comment[en_GB]=Weather forecast by wetter.com
Comment[es]=Previsión meteorológica de wetter.com
Comment[et]=Wetter.com-i ilmateade
Comment[eu]=wetter.com-en eguraldi-iragarpena
Comment[fi]=Sääennustus osoitteesta wetter.com
Comment[fr]=Prévisions météorologiques par « wetter.com »
Comment[fy]=Waarberjocht fan wetter.com
Comment[ga]=Réamhaisnéis aimsire ó wetterm.com
Comment[gl]=Prognóstico meteorolóxico de wetter.com
Comment[he]=תחזית מזג אוויר על־ידי wetter.com
Comment[hi]=wetter.com द्वारा मोसम पूर्वानुमान
Comment[hr]=Prognoza vremena s wetter.com
Comment[hu]=Időjárás-előrejelzés a wetter.com-ról
Comment[ia]=Prevision Meteorologic per wetter.com
Comment[id]=Prakiraan cuaca oleh wetter.com
Comment[is]=Veðurspá frá wetter.com
Comment[it]=Previsioni del tempo di wetter.com
Comment[ja]=wetter.com による天気予報
Comment[kk]=wetter.com дегеннің ауа райы болжамы.
Comment[km]=ព្យាករណ៍​អាកាស​ធាតុ​ដោយ wetter.com
Comment[kn]=wetter.com ನಿಂದ ಹವಾಮಾನ ಮುನ್ಸೂಚನೆ
Comment[ko]=wetter.com 일기예보
Comment[lt]=Orų prognozės iš wetter.com
Comment[lv]=wetter.com laikapstākļu prognoze
Comment[mk]=Временска прогноза од wetter.com
Comment[ml]=വെറ്റര്‍.കോമിന്റെ കാലാവസ്ഥാ പ്രവചനം
Comment[mr]=wetter.com वरील हवामान पूर्वानुमान
Comment[nb]=Værmelding fra wetter.com
Comment[nds]=Wederutsichten vun "wetter.com"
Comment[nl]=Weersvoorspelling door wetter.com
Comment[nn]=Vêrmelding
Comment[pa]=wetter.com ਤੋਂ ਮੌਸਮ ਭਵਿੱਖਬਾਣੀ
Comment[pl]=Prognoza pogody z wetter.com
Comment[pt]=Previsão meteorológica da wetter.com
Comment[pt_BR]=Previsão do tempo por wetter.com
Comment[ro]=Prognoza vremii de la wetter.com
Comment[ru]=Прогноз погоды с wetter.com
Comment[si]=wetter.com මඟින් කාළගුණ අනාවැකිය
Comment[sk]=Predpoveď počasia z wetter.com
Comment[sl]=Vremenska napoved iz wetter.com
Comment[sr]=Прогноза времена са wetter.com
Comment[sr@ijekavian]=Прогноза времена са wetter.com
Comment[sr@ijekavianlatin]=Prognoza vremena sa wetter.com
Comment[sr@latin]=Prognoza vremena sa wetter.com
Comment[th]=พยากรณ์อากาศ โดย wetter.com
Comment[tr]=wetter.com'dan hava tahmini
Comment[ug]=wetter.com تەمىنلىگەن ھاۋارايىدىن ئالدىن مەلۇمات
Comment[uk]=Прогноз погоди з wetter.com
Comment[vi]=Dự báo thời tiết của wetter.com
Comment[wa]=Prédijhaedjes del meteyo pa wetter.com
Comment[x-test]=xxWeather forecast by wetter.comxx
Comment[zh_CN]=wetter.com 网站提供的天气预报
Comment[zh_TW]=氣象預報，由 wetter.com 提供
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_wettercom
X-KDE-PluginInfo-Name=wettercom
