[Desktop Entry]
Name=Places
Name[ar]=أماكن
Name[ast]=Llugares
Name[az]=Giriş Nöqtələri
Name[be@latin]=Miescy
Name[bg]=Места
Name[bn]=স্থান
Name[bs]=Mjesta
Name[ca]=Llocs
Name[ca@valencia]=Llocs
Name[cs]=Místa
Name[csb]=Place
Name[da]=Steder
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[en_GB]=Places
Name[eo]=Lokoj
Name[es]=Lugares
Name[et]=Asukohad
Name[eu]=Tokiak
Name[fi]=Sijainnit
Name[fr]=Emplacements
Name[fy]=Places
Name[ga]=Áiteanna
Name[gl]=Lugares
Name[gu]=જગ્યાઓ
Name[he]=מקומות
Name[hi]=स्थान
Name[hne]=प्लेसेस
Name[hr]=Mjesta
Name[hu]=Helyek
Name[ia]=Placias
Name[id]=Tempat
Name[is]=Staðir
Name[it]=Risorse
Name[ja]=場所
Name[ka]=ადგილები
Name[kk]=Орындар
Name[km]=កន្លែង
Name[kn]=ಸ್ಥಳಗಳು
Name[ko]=위치
Name[ku]=Cih
Name[lt]=Vietos
Name[lv]=Vietas
Name[mai]=स्थान
Name[mk]=Места
Name[ml]=സ്ഥലങ്ങള്‍
Name[mr]=जागा
Name[nb]=Steder
Name[nds]=Steden
Name[nl]=Locaties
Name[nn]=Stadar
Name[or]=ସ୍ଥାନଗୁଡ଼ିକ
Name[pa]=ਥਾਵਾਂ
Name[pl]=Miejsca
Name[pt]=Locais
Name[pt_BR]=Locais
Name[ro]=Locuri
Name[ru]=Точки входа
Name[si]=ස්ථාන
Name[sk]=Miesta
Name[sl]=Mesta
Name[sr]=места
Name[sr@ijekavian]=мјеста
Name[sr@ijekavianlatin]=mjesta
Name[sr@latin]=mesta
Name[sv]=Platser
Name[ta]=Places
Name[tg]=Ҷойҳо
Name[th]=ที่หลัก ๆ
Name[tr]=Konumlar
Name[ug]=ئورۇنلار
Name[uk]=Місця
Name[vi]=Địa điểm
Name[wa]=Plaeces
Name[x-test]=xxPlacesxx
Name[zh_CN]=位置
Name[zh_TW]=地方
Comment=Places, as seen in the file manager and in file dialogs.
Comment[ar]=الأماكن، كما في مدير الملفات وحواريات الملفات.
Comment[az]=Fayl menecerində və fayl dialoqlarında görünən Giriş Nöqtələri.
Comment[bg]=Местата, както се виждат във файловия мениджър и прозорците.
Comment[bs]=Mjesta, kako se vide u menadžeru datoteka i datotečnim dijalozima.
Comment[ca]=Llocs, com es veuen en el gestor de fitxers i en els diàlegs de fitxer.
Comment[ca@valencia]=Llocs, com es veuen en el gestor de fitxers i en els diàlegs de fitxer.
Comment[cs]=Umístění, jak je vidíte ve správci souborů a souborových dialozích.
Comment[da]=Steder, som de ses i filhåndteringen og fildialoger.
Comment[de]=Orte, wie sie in der Dateiverwaltung und in Dateiauswahl-Dialogen zu sehen sind.
Comment[el]=Τοποθεσίες, όπως εμφανίζονται στη διαχείριση αρχείων και στους διαλόγους αρχείων.
Comment[en_GB]=Places, as seen in the file manager and in file dialogues.
Comment[es]=Lugares, como se ven en el gestor de archivos y en los diálogos de archivos.
Comment[et]=Asukohad, nagu neid näeb failihalduris ja -dialoogides.
Comment[eu]=Tokiak, fitxategi-kudeatzailean eta fitxategien elkarrizketa-koadroetan ikusi bezala.
Comment[fi]=Paikat, kuten nähdään tiedostohallinnassa ja tiedostovalintaikkunoissa.
Comment[fr]=Emplacements, tel que vus par le gestionnaire de fichiers et les boîtes de dialogue de fichiers.
Comment[fy]=Plakken, lykas yn de triembehearder en triem dialogen.
Comment[ga]=Áiteanna, mar a fheictear sa bhainisteoir comhad agus  i ndialóga comhad.
Comment[gl]=Os lugares tal como se ven no xestor de ficheiros e nos diálogos de ficheiros.
Comment[he]=מיקומים, כפי שהם נראים במנהל הקבצים ובתיבות דו־שיח של קבצים.
Comment[hr]=Mjesta, kao što ih se vidi u pregledniku datoteka i dialozima za izbor datoteka
Comment[hu]=Helyek panel (ahogy a fájlkezelőben és a fájlmegnyitó ablakokban látható).
Comment[ia]=Placias, tal como vidite in le gerente de file e in le dialogos de file
Comment[id]=Tempat, seperti terlihat di pengelola file dan di dialog file.
Comment[is]=Staðir, eins og sýnt er í skráastjóra og samskiptagluggum.
Comment[it]=Risorse, come si vedono nel gestore dei file e nelle finestre di selezione dei file.
Comment[ja]=ファイルマネージャやファイル選択ダイアログに表示される場所
Comment[kk]=Файл менеджерде және диалогында көрсетілетін орындар.
Comment[km]=កន្លែង ដូច​ដែល​បានឃើញ​នៅ​ក្នុង​កម្មវិធី​គ្រប់គ្រង​ឯកសារ និង​ប្រអប់​ឯកសារ ។
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕದಲ್ಲಿ ಹಾಗು ಕಡತ ಸಂವಾದಗಳಲ್ಲಿ ಕಾಣಿಸುವ ಸ್ಥಳಗಳು.
Comment[ko]=파일 관리자와 파일 대화 상자에 나타나는 위치입니다.
Comment[lt]=Vietos, kaip jos yra matomos failų tvarkytuvėje ir failų dialoguose.
Comment[lv]=Vietas, kas redzamas datņu pārvaldniekā un datņu atvēršanas logos.
Comment[mk]=Места, како што се гледаат во менаџерот на датотеки и во дијалозите за датотеки
Comment[ml]=ഫയല്‍ കാര്യസ്ഥനിലും ഫയല്‍ സംഭാഷണങ്ങളിലും കാണുന്നപോലെയുള്ള ഇടങ്ങള്‍.
Comment[mr]=फाईल व्यवस्थापक व फाईल संवादामध्ये दिसणाऱ्या जागा.
Comment[nb]=Steder, som sett i filbehandleren og fildialogene.
Comment[nds]=Steden, as för den Dateipleger un binnen Dateidialogen
Comment[nl]=Plaatsen, zoals deze gezien worden in de bestandsbeheerder en in bestandsdialogen.
Comment[nn]=Stadar, slik ein kan sjå dei i filhandsamaren og dialogvindauge for filer.
Comment[pa]=ਥਾਵਾਂ, ਜਿਵੇਂ ਕਿ ਫਾਈਲ ਮੈਨੇਜਰ ਅਤੇ ਹੋਰ ਫਾਈਲ ਡਾਇਲਾਗ ਵਿੱਚ ਦਿਸਦੀਆਂ ਹਨ।
Comment[pl]=Wyświetla miejsca, tak jak w przeglądarce plików i oknach dialogowych plików.
Comment[pt]=Os locais vistos nas janelas e gestores de ficheiros.
Comment[pt_BR]=Locais, como visto no gerenciador de arquivo e nos diálogos de arquivo.
Comment[ro]=Locuri, așa cum sunt văzute în gestionarul de fișiere și în dialogurile de fișier.
Comment[ru]=Точки входа, показываемые в диспетчере файлов и файловых диалогах.
Comment[si]=ස්ථාන, ගොනු පාලකයේ මෙන්ම ගොනු සංවාද වල පෙනෙන ආකාරයට
Comment[sk]=Miesta, ako sú vidieť v správcovi súborov a súborových dialógoch.
Comment[sl]=Mesta, kot jih je mogoče videti v upravljalniku datotek in pogovornih oknih za datoteke.
Comment[sr]=Места, како се виде у менаџеру фајлова и фајл дијалозима.
Comment[sr@ijekavian]=Места, како се виде у менаџеру фајлова и фајл дијалозима.
Comment[sr@ijekavianlatin]=Mesta, kako se vide u menadžeru fajlova i fajl dijalozima.
Comment[sr@latin]=Mesta, kako se vide u menadžeru fajlova i fajl dijalozima.
Comment[sv]=Platser som visas i filhanterare och fildialogrutor.
Comment[th]=ที่หลัก ๆ ที่จะถูกเห็นในเครื่องมือจัดการแฟ้มและในกล่องเลือกแฟ้ม
Comment[tr]=Konumlar, dosya yöneticisinde ve dosya açma pencerelerinde görünür.
Comment[ug]=ھۆججەت باشقۇرغۇچ ۋە ھۆججەت سۆزلەشكۈدە كۆرەلەيدىغان ئورۇننى تەمىنلەيدۇ.
Comment[uk]=Місця, так, як їх показано у менеджері файлів і діалогових вікнах.
Comment[vi]=Địa điểm, như trong trình quản lí tệp và các hộp thoại tệp.
Comment[wa]=Eplaeçmints, come i sont veyous e manaedjeu des fitchîs eyet ezès purneas di dvize des fitchîs.
Comment[x-test]=xxPlaces, as seen in the file manager and in file dialogs.xx
Comment[zh_CN]=提供文件管理器和文件对话框里能看到的位置。
Comment[zh_TW]=在檔案管理員與檔案對話框中看到的「地方」項目。
Type=Service
Icon=folder-favorites

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_places

X-KDE-PluginInfo-Author=Alex Merry
X-KDE-PluginInfo-Email=alex.merry@kdemail.net
X-KDE-PluginInfo-Name=places
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

