[Desktop Entry]
Type=Service
Name=Status Notifier Manager
Comment=Manages services that provide status notifier user interfaces

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=statusnotifierwatcher
X-KDE-DBus-ModuleName=statusnotifierwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

