[Desktop Entry]
Type=Service
Name=Status Notifier Manager
Name[ar]=مدير مُخطِر الحالة
Name[ast]=Xestor del avisador d'estaos
Name[az]=Vəziyyət Bildirişləri Meneceri
Name[bn]=স্ট্যাটাস বিজ্ঞপ্তি ম্যানেজার
Name[bs]=Menadžer izveštavača o stanju
Name[ca]=Gestor del notificador d'estat
Name[ca@valencia]=Gestor del notificador d'estat
Name[cs]=Správce oznamování stavu
Name[da]=Håndtering af statusbekendtgørelser
Name[de]=Statusbenachrichtigungs-Verwaltung
Name[el]=Διαχειριστής των ειδοποιήσεων κατάστασης
Name[en_GB]=Status Notifier Manager
Name[es]=Gestor del notificador del estado
Name[et]=Oleku märguannete haldur
Name[eu]=Egoera-jakinarazlearen kudeatzailea
Name[fi]=Tilailmoittimen hallinta
Name[fr]=Gestionnaire du notificateur d'état
Name[gl]=Xestor das notificacións de estado
Name[he]=מנהל שירותי הודעות מצב
Name[hi]=स्थिति संकेत प्रबंधक
Name[hr]=Upravitelj glasnika stanja
Name[hu]=Állapotértesítés-kezelő
Name[ia]=Gerente de notificator de stato
Name[id]=Pengelola Penotifikasi Status
Name[is]=Stöðutilkynningaþjónn
Name[it]=Gestore del notificatore di stato
Name[ja]=ステータス通知マネージャ
Name[kk]=Күй-жайы туралы құлақтандырғыш менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​ធាតុជូន​ដំណឹង​អំពី​ស្ថានភាព
Name[kn]= ಸ್ಥಿತಿ ಸೂಚನಾ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=상태 알림 관리자
Name[lt]=Būsenos pranešėjo tvarkytuvė
Name[lv]=Statusa paziņojumu pārvaldītājs
Name[mr]=स्थिती निदर्शक व्यवस्थापक
Name[nb]=Håndtering av statusvarsler
Name[nds]=Statusbescheed-Beluern
Name[nl]=Statusmeldingenbeheerder
Name[nn]=Handsaming av statusvarslingar
Name[pa]=ਹਾਲਤ ਨੋਟੀਫਾਇਰ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie powiadomieniami o stanie
Name[pt]=Gestor das Notificações de Estado
Name[pt_BR]=Gerenciador de notificações de status
Name[ro]=Gestionar notificator de stare
Name[ru]=Диспетчер уведомлений о состоянии
Name[si]=තත්ව දැන්වීමේ කළමනාකරු
Name[sk]=Správca oznámení stavu
Name[sl]=Upravljalnik obvestilnika o stanju
Name[sr]=Менаџер извештавача о стању
Name[sr@ijekavian]=Менаџер извјештавача о стању
Name[sr@ijekavianlatin]=Menadžer izvještavača o stanju
Name[sr@latin]=Menadžer izveštavača o stanju
Name[sv]=Hantering av statusunderrättelser
Name[th]=ตัวจัดการการแจ้งสถานะให้ทราบ
Name[tr]=Durum Bildirim Yöneticisi
Name[ug]=ھالەت بىلدۈرگۈ باشقۇرغۇچ
Name[uk]=Керування сповіщенням про стан
Name[vi]=Trình quản lí thông báo trạng thái
Name[wa]=Manaedjeu do notifiaedje d' estat
Name[x-test]=xxStatus Notifier Managerxx
Name[zh_CN]=状态通知管理器
Name[zh_TW]=狀態通知管理員
Comment=Manages services that provide status notifier user interfaces
Comment[ar]=أدِر الخدمات التي توفّر واجهات مستخدِم لمُخطِر الحالة
Comment[az]=İstifadəçi interfeysinin vəziyyəti haqqında bildirişləri təmin edən xidmətlər menecri
Comment[bs]=Upravljanje servisima koji pružaju sučelje izveštavača o stanju
Comment[ca]=Gestiona serveis que proporcionen notificacions d'estat a les interfícies d'usuari
Comment[ca@valencia]=Gestiona serveis que proporcionen notificacions d'estat a les interfícies d'usuari
Comment[cs]=Nastavení služeb poskytujících rozhraní pro oznamování stavu
Comment[da]=Håndterer tjenester der giver brugerflader til statusbekendtgørelser
Comment[de]=Verwaltet Dienste, die eine Schnittstelle für Status-Informationen bereitstellen
Comment[el]=Διαχειρίζεται υπηρεσίες που παρέχουν περιβάλλοντα χρήστη για τις ειδοποιήσεις κατάστασης
Comment[en_GB]=Manages services that provide status notifier user interfaces
Comment[es]=Gestiona servicios que proporcionan interfaces de usuario para el notificador de estado
Comment[et]=Teenuste haldamine, mis pakuvad olekumärguannete kasutajaliidest
Comment[eu]=Egora-jakinarazlerako erabiltzaile-interfazeak hornitzen dituen zerbitzuak kudeatzen ditu
Comment[fi]=Hallitsee palveluja, jotka tarjoavat tilailmoitinkäyttöliittymät
Comment[fr]=Gère les services fournissant des interfaces utilisateurs pour la notification d'état
Comment[gl]=Xestiona servizos que fornecen interfaces de usuario para o notificador de estado
Comment[he]=ניהול שירותים המספקים ממשקי משתמש להודעות מצב
Comment[hr]=Upravlja uslugama koje omogućuju obavještavanje o stanju korisničkog sučelja
Comment[hu]=Kezeli az állapotértesítést nyújtó szolgáltatásokat
Comment[ia]=Il gere servicios que forni interfacies de usator pro notificator de stato
Comment[id]=Mengelola layanan yang menyediakan penotifikasi status antarmuka pengguna
Comment[is]=Stjórnar þjónustum sem sjá um stöðutilkynningar notendaviðmóta
Comment[it]=Gestisce i servizi che forniscono le interfacce utente al notificatore di stato
Comment[ja]=ステータス通知ユーザインターフェースを提供するサービスを管理
Comment[kk]=Күй-жайы туралы құлақтандыру интерфейсін қамтамасыз ететін қызметін басқару
Comment[km]=គ្រប់គ្រង​សារ​ដែល​ផ្ដល់​កម្មវិធី​​ជូនដំណឹង​អំពី​ស្ថានភាព​ចំណុច​ប្រទាក់​អ្នកប្រើ
Comment[kn]=ಸ್ಥಿತಿಯನ್ನು ಸೂಚಿಸುವ ಬಳಕೆದಾರ ಸಂಪರ್ಕಸಾಧನಗಳನ್ನು ಒದಗಿಸುವ ಸೇವೆಗಳನ್ನು ನಿರ್ವಹಿಸುತ್ತದೆ
Comment[ko]=상태 알림 인터페이스를 제공하는 서비스를 관리합니다
Comment[lt]=Valdo tarnybas, teikiančias būsenos pranešėjo naudotojo sąsajas
Comment[lv]=Pārvalda servisus, kas sniedz statusa paziņojumu lietotāja saskarni
Comment[mr]=स्थितीबाबत सूचना दैणाऱ्या सेवांचे व्यवस्थापन करतो
Comment[nb]=Håndterer tjenester som tilbyr brukerflater for statusvarsler
Comment[nds]=Deensten plegen, de Statusbescheed-Brukerkoppelsteden praatstellt
Comment[nl]=Beheert services die statusmeldingen leveren aan gebruikersinterfaces
Comment[nn]=Handterer tenester som tilbyr brukargrensesnitt for statusvarslingar
Comment[pa]=ਸਰਵਿਸਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰਦਾ ਹੈ, ਜੋ ਕਿ ਹਾਲਤ ਨੋਟੀਫਾਇਰ ਵਰਤੋਂਕਾਰ ਇੰਟਰਫੇਸ ਦਿੰਦਾ ਹੈ
Comment[pl]=Zarządzanie usługami, które dostarczają powiadomień o stanie poprzez interfejs użytkownika
Comment[pt]=Faz a gestão dos serviços que fornecem interface de notificação do estado
Comment[pt_BR]=Gerencia os serviços que fornecem interfaces de notificação do status
Comment[ro]=Administrează serviciile care furnizează interfețe utilizator pentru notificări de stare
Comment[ru]=Управление службами интерфейсов уведомлений о состоянии
Comment[si]=පරිශීලක අතුරු මුහුණත් වලට තත්ව දැනුම් දීම් සපයන සේවා කළමනාකරනය කරයි
Comment[sk]=Spravuje služby, ktoré poskytujú užívateľské rozhrania pre oznámenie stavu
Comment[sl]=Upravlja s storitvami, ki ponujajo uporabniške vmesnike obvestilnika o stanju
Comment[sr]=Управљање сервисима који пружају сучеље извештавача о стању
Comment[sr@ijekavian]=Управљање сервисима који пружају сучеље извјештавача о стању
Comment[sr@ijekavianlatin]=Upravljanje servisima koji pružaju sučelje izvještavača o stanju
Comment[sr@latin]=Upravljanje servisima koji pružaju sučelje izveštavača o stanju
Comment[sv]=Hanterar tjänster som tillhandahåller användargränssnitt för statusunderrättelser
Comment[th]=จัดการบริการต่าง ๆ ที่แจ้งสถานะมาให้ผู้ใช้รับทราบ
Comment[tr]=Durum bildirimi kullanıcı arayüzünü sunan servisleri yönetir
Comment[ug]=ھالەت بىلدۈرگۈ ئىشلەتكۈچى ئارايۈزىنى تەمىنلەشنى باشقۇرۇش مۇلازىمىتى
Comment[uk]=Керує службами інтерфейсів користувача для сповіщення про стан
Comment[vi]=Quản lí các dịch vụ cung cấp giao diện thông báo trạng thái
Comment[wa]=Manaedje les siervices ki dnèt ls eterfaces uzeu d' notifiaedje di l' estat
Comment[x-test]=xxManages services that provide status notifier user interfacesxx
Comment[zh_CN]=状态通知协议的管理服务
Comment[zh_TW]=管理提供狀態通知使用者介面的服務

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=statusnotifierwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

