[Desktop Entry]
Type=Service
Name=Status Notifier Manager
Name[uk]=Керування сповіщенням про стан
Name[x-test]=xxStatus Notifier Managerxx
Comment=Manages services that provide status notifier user interfaces
Comment[uk]=Керує службами інтерфейсів користувача для сповіщення про стан
Comment[x-test]=xxManages services that provide status notifier user interfacesxx

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=statusnotifierwatcher
X-KDE-DBus-ModuleName=statusnotifierwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

