# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
#This .desktop file is never shown in a menu, hence no Exec
#it's here mostly so wayland can get an icon on popups
Name=Secret Prompter
Name[ar]=ملقن كلمات السر
Name[bg]=Секретен команден ред
Name[ca]=Petició de secrets
Name[ca@valencia]=Petició de secrets
Name[de]=Gehemnisabfrage
Name[es]=Solicitar contraseña
Name[fr]=Invite secrète
Name[he]=מבקש סודות
Name[is]=Leynikvaðning
Name[it]=Richiesta segreto
Name[ka]=საიდუმლო მკითხავი
Name[lt]=Slaptas pasakinėtojas
Name[nb]=Hemmelig spørring
Name[nl]=Vrager om geheim
Name[pl]=Poufny wiersz zapytania
Name[pt_BR]=Solicitador de segredos
Name[ro]=Cerător de parole
Name[ru]=Запрос секрета
Name[sk]=Tajný našepkávač
Name[sl]=Skriti Prompter
Name[sv]=Hemlig prompt
Name[ta]=கடவுச்சொற்களைக் கோரும் சேவை
Name[tr]=Giz İstemi
Name[uk]=Засіб показу запитів щодо паролів
Name[zh_CN]=密码提示器
Name[zh_TW]=祕密詢問提示工具
Type=Application
Icon=system-user-prompt
NoDisplay=true
