# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
#This .desktop file is never shown in a menu, hence no Exec
#it's here mostly so wayland can get an icon on popups
Name=Secret Prompter
Type=Application
Icon=system-user-prompt
NoDisplay=true
