[Desktop Entry]
Name=Keyboard and Mouse State
Name[uk]=Стан клавіатури і миші
Name[x-test]=xxKeyboard and Mouse Statexx
Comment=Keyboard modifier and mouse buttons states
Comment[uk]=Стан модифікаторів клавіатури і кнопок миші
Comment[x-test]=xxKeyboard modifier and mouse buttons statesxx
Type=Service
Icon=input-keyboard

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_keystate

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=keystate
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
