[Desktop Entry]
Name=Keyboard and Mouse State
Name[ar]=حالة الفارة ولوحة المفاتيح
Name[ast]=Estáu del tecláu y mur
Name[az]=Klaviatura və Siçan vəziyyəti
Name[bg]=Състояние на клавиатура и мишка
Name[bn]=কীবোর্ড ও মাউস অবস্থা
Name[bs]=Stanje tastature i miša
Name[ca]=Estat del teclat i ratolí
Name[ca@valencia]=Estat del teclat i del ratolí
Name[cs]=Stav klávesnice a myši
Name[csb]=Stón klawiaturë ë mëszë
Name[da]=Tilstand for tastatur og mus
Name[de]=Status von Tastatur und Maus
Name[el]=Κατάσταση πληκτρολογίου  και ποντικιού
Name[en_GB]=Keyboard and Mouse State
Name[eo]=Stato de klavaro kaj muso
Name[es]=Estado del teclado y del ratón
Name[et]=Klaviatuuri ja hiire olek
Name[eu]=Teklatuaren eta saguaren egoera
Name[fi]=Näppäimistön ja hiiren tila
Name[fr]=États du clavier et de la souris
Name[fy]=Toetseboerd en mûs tastân
Name[ga]=Staid an Mhéarchláir agus na Luiche
Name[gl]=Estado do teclado e do rato
Name[gu]=કીબોર્ડ અને માઉસ સ્થિતિ
Name[he]=מצב מקלדת ועכבר
Name[hi]=कुंजीपट व माउस स्थिति
Name[hr]=Stanje tipkovnice i miša
Name[hu]=Egér- és billentyűzetállapot-jelző
Name[ia]=Stato del mus e del claviero
Name[id]=Keadaan Mouse dan Keyboard
Name[is]=Staða lyklaborðs og músar
Name[it]=Stato di tastiera e mouse
Name[ja]=キーボードとマウスの状態
Name[kk]=Перенетақта мен тышқанның күй-жайы
Name[km]=ស្ថានភាព​ក្ដារចុច និង​កណ្ដុល
Name[kn]=ಕೀಲಿಮಣೆ ಮತ್ತು ಮೌಸ್‌ನ ಸ್ಥಿತಿ
Name[ko]=키보드와 마우스 상태
Name[lt]=Klaviatūros ir pelės būsena
Name[lv]=Tastatūra un peles stāvoklis
Name[mk]=Состојба на тастатура и глушец
Name[ml]=കീബോര്‍ഡിന്റേയും മൌസിന്റേയും അവസ്ഥ
Name[mr]=कळफलक व माऊस स्थिती
Name[nb]=Tilstand for tastatur og mus
Name[nds]=Tastatuur- un Muus-Status
Name[nl]=Toetsenbord en muisstatus
Name[nn]=Status for tastatur og mus
Name[pa]=ਕੀ-ਬੋਰਡ ਅਤੇ ਮਾਊਂਸ ਹਾਲਤ
Name[pl]=Stan klawiatury i myszy
Name[pt]=Estado do Teclado e Rato
Name[pt_BR]=Estado do teclado e mouse
Name[ro]=Starea tastaturii și mausului
Name[ru]=Состояние клавиатуры и мыши
Name[si]=යතුරුපුවරුව සහ මවුස තත්වය
Name[sk]=Stav klávesnice a myši
Name[sl]=Stanje tipkovnice in miške
Name[sr]=стање тастатуре и миша
Name[sr@ijekavian]=стање тастатуре и миша
Name[sr@ijekavianlatin]=stanje tastature i miša
Name[sr@latin]=stanje tastature i miša
Name[sv]=Tillstånd för tangentbord och mus
Name[tg]=Клавиатура ва муш
Name[th]=สถานะของแป้นพิมพ์และเมาส์
Name[tr]=Klavye ve Fare Durumu
Name[ug]=ھەرپتاختا ۋە چاشقىنەك ھالىتى
Name[uk]=Стан клавіатури і миші
Name[vi]=Trạng thái bàn phím và chuột
Name[wa]=Estat del taprece et del sori
Name[x-test]=xxKeyboard and Mouse Statexx
Name[zh_CN]=键盘和鼠标状态
Name[zh_TW]=鍵盤與滑鼠狀態
Comment=Keyboard modifier and mouse buttons states
Comment[ar]=حالات مُعدِّل لوحة المفاتيح وأزرار الفأرة
Comment[ast]=Estaos de los botones del mur y modificadores del tecláu
Comment[az]=Dəyişdirici klaviatura düyməsi və siçan düymələri vəziyyəti
Comment[bg]=Състояние на клавиатурни модификатори и бутони на мишката
Comment[bs]=Stanja modifikatora na tastaturi i dugmadi miša
Comment[ca]=Modificador de l'estat del teclat i dels botons del ratolí
Comment[ca@valencia]=Modificador de l'estat del teclat i dels botons del ratolí
Comment[cs]=Stavy modifikátorů klávesnice a tlačítek myši
Comment[csb]=Mòdifikatora klawiaturë ë stónu klawiszów mëszë
Comment[da]=Tilstand for tastaturets ændringstaster og museknapper
Comment[de]=Status von Modifizierer- und Maustasten
Comment[el]=Τροποποιητής πληκτρολογίου και κατάστασης κουμπιών ποντικιού
Comment[en_GB]=Keyboard modifier and mouse buttons states
Comment[es]=Estado del modificador de teclado y botones del ratón
Comment[et]=Klaviatuuri muuteklahvide ja hiirenuppude olekud
Comment[eu]=Teklatuaren aldatzailearen eta saguaren botoien egoerak
Comment[fi]=Näppäimistömääre ja hiiren painikkeiden tilat
Comment[fr]=Modificateur du clavier et des états des boutons de souris
Comment[fy]=Toetseboerd bewurker en mûsknop tastân
Comment[gl]=Estados das modificadoras do teclado e dos botóns do rato
Comment[he]=המצב של לחצני מקלדת משני מצב ולחצני עכבר
Comment[hr]=Stanja tipaka ctrl, alt, shift i tipaka miša
Comment[hu]=Módosítóbillentyűk és egérgombok
Comment[ia]=Modificator de claviero e statos de buttones del mus
Comment[id]=Pemodif keyboard dan keadaan tombol mouse
Comment[is]=Breytingar á lyklaborði og músarhnöppum
Comment[it]=Stati dei modificatori della tastiera e dei pulsanti del mouse
Comment[ja]=キーボードの修飾キーとマウスボタンの状態
Comment[kk]=Перенетақта түрлендіргіш және тышқан батырмаларының күй-жайы
Comment[km]=កម្មវិធី​កែប្រែ​ក្ដារចុច និង​ស្ថានភាព​ប៊ូតុង​កណ្ដុរ
Comment[kn]=ಕೀಲಿಮಣೆ ಮಾರ್ಪಡಕ ಹಾಗು ಮೌಸ್ ಗುಂಡಿಗಳ ಸ್ಥಿತಿಗಳು
Comment[ko]=키보드 수정자 키 및 마우스 단추 상태
Comment[lt]=Klaviatūros modifikatorių ir pelės mygtukų būsenos
Comment[lv]=Tastatūras modifikatoru un peles pogu stāvoklis
Comment[ml]=കീബോര്‍ഡ് മോഡിഫയറിന്റേയും മൌസ് ബട്ടണിന്റെയും സ്ഥിതി
Comment[mr]=कळफलक परिवर्तक व माऊस बटन स्थिती
Comment[nb]=Tilstand for modifikatortaster og museknapper
Comment[nds]=Sünnertasten- un Muusknoop-Tostänn
Comment[nl]=Wijzigt toetsenbord en muisknoptoestanden
Comment[nn]=Status for valtastar og museknappar
Comment[pa]=ਕੀਬੋਰਡ ਸੋਧਕ ਅਤੇ ਮਾਊਂਸ ਬਟਨ ਹਾਲਤ
Comment[pl]=Wyświetla stany modyfikatorów klawiatury i przycisków myszy
Comment[pt]=Estados das teclas modificadoras e dos botões do rato
Comment[pt_BR]=Estados do modificador de teclado e botões do mouse
Comment[ro]=Stările modificatorului de tastatură și a butoanelor mausului
Comment[ru]=Состояния клавиш-модификаторов на клавиатуре и кнопок мыши
Comment[si]=යතුරුපුවරු වෙනස්කිරීම් හා මවුස බොත්තම් තත්ව
Comment[sk]=Stavy modifikátorov klávesnice a tlačidiel myši
Comment[sl]=Stanje spremenilnih tipk tipkovnice in tipk miške
Comment[sr]=Стања модификатора на тастатури и дугмади миша
Comment[sr@ijekavian]=Стања модификатора на тастатури и дугмади миша
Comment[sr@ijekavianlatin]=Stanja modifikatora na tastaturi i dugmadi miša
Comment[sr@latin]=Stanja modifikatora na tastaturi i dugmadi miša
Comment[sv]=Tillstånd för väljartangenter och musknappar
Comment[th]=สถานะปุ่มเปลี่ยนหน้าที่ของแป้นพิมพ์และสถานะปุ่มของเมาส์
Comment[tr]=Farenin ve klavyenin değiştirici tuşlarının durumları
Comment[ug]=ھەرپتاختا ئۆزگىرىشى ۋە چاشقىنەك توپچا ھالىتى
Comment[uk]=Стан модифікаторів клавіатури і кнопок миші
Comment[vi]=Trạng thái phím bổ trợ và nút chuột
Comment[wa]=Candjaedje el taprece eyet estat des botons del sori
Comment[x-test]=xxKeyboard modifier and mouse buttons statesxx
Comment[zh_CN]=显示键盘修饰健及鼠标按键状态
Comment[zh_TW]=鍵盤變更鍵與滑鼠按鍵狀態
Type=Service
Icon=input-keyboard

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_keystate

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=keystate
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
