# SPDX-FileCopyrightText: 2023 Fushan Wen <qydwhotmail@gmail.com>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=Dark Wallpaper (For test purpose, don't translate!)

X-KDE-PluginInfo-Name=F36
X-KDE-PluginInfo-Author=Fedora KDE-SIG
X-KDE-PluginInfo-Email=kde@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA
