[Desktop Entry]
Name=Dark Wallpaper (For test purpose, don't translate!)

X-KDE-PluginInfo-Name=F36
X-KDE-PluginInfo-Author=Fedora KDE-SIG
X-KDE-PluginInfo-Email=kde@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA
