[Desktop Entry]
Name=Applications
Name[uk]=Програми
Name[x-test]=xxApplicationsxx
Comment=Find applications, control panels and services
Comment[uk]=Знайти програми, панелі керування та служби
Comment[x-test]=xxFind applications, control panels and servicesxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-other
X-KDE-Library=krunner_services
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=services
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
