[Desktop Entry]
Name=BBC Weather
Name[ca]=BBC Weather
Name[gl]=BBC Weather
Name[nl]=BBC Weather
Name[pt]=Meteorologia da BBC
Name[pt_BR]=BBC Weather
Name[sv]=BBC Weather
Name[uk]=Погода BBC
Name[x-test]=xxBBC Weatherxx
Comment=XML Data from the British Broadcasting Corporation
Comment[ca]=Dades XML de la British Broadcasting Corporation
Comment[gl]=Datos XML da British Broadcasting Corporation
Comment[nl]=XML-gegevens van de British Broadcasting Corporation
Comment[pt]=Dados em XML da BBC (British Broadcasting Corporation)
Comment[pt_BR]=Dados em XML da BBC (British Broadcasting Corporation)
Comment[sv]=XML-data från British Broadcasting Corporation
Comment[uk]=Дані XML від BBC
Comment[x-test]=xxXML Data from the British Broadcasting Corporationxx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_bbcukmet
X-KDE-PluginInfo-Name=bbcukmet
