[Desktop Entry]
Exec=gmenudbusmenuproxy
Name=GMenuDBusMenuProxy
Name[ast]=GMenuDBusMenuProxy
Name[az]=GMenuDBusMenuProxy
Name[ca]=GMenuDBusMenuProxy
Name[ca@valencia]=GMenuDBusMenuProxy
Name[da]=GMenuDBusMenuProxy
Name[de]=GMenuDBusMenuProxy
Name[el]=GMenuDBusMenuProxy
Name[en_GB]=GMenuDBusMenuProxy
Name[es]=GMenuDBusMenuProxy
Name[et]=GMenuDBusMenuProxy
Name[eu]=GMenuDBusMenuProxy
Name[fi]=GMenuDBusMenuProxy
Name[fr]=GMenuDBusMenuProxy
Name[gl]=Proxy de menú por D-Bus para GMenu.
Name[hu]=GMenuDBusMenuProxy
Name[id]=GMenuDBusMenuProxy
Name[it]=GMenuDBusMenuProxy
Name[ko]=GMenuDBusMenuProxy
Name[lt]=GMenuDBusMenuProxy
Name[nl]=GMenuDBusMenuProxy
Name[nn]=GMenuDBusMenuProxy
Name[pa]=GMenuDBusMenuProxy
Name[pl]=GMenuDBusMenuProxy
Name[pt]=GMenuDBusMenuProxy
Name[pt_BR]=GMenuDBusMenuProxy
Name[ro]=GMenuDBusMenuProxy
Name[ru]=GMenuDBusMenuProxy
Name[sk]=GMenuDBusMenuProxy
Name[sl]=GMenuDBusMenuProxy
Name[uk]=Проксі-меню GMenu D-Bus
Name[vi]=GMenuDBusMenuProxy
Name[x-test]=xxGMenuDBusMenuProxyxx
Name[zh_CN]=GMenuDBusMenuProxy
Name[zh_TW]=GMenuDBusMenuProxy
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=1
