[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=phononserver
X-KDE-DBus-ModuleName=phononserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Sound Policy
Name[ar]=سياسة الصوت
Name[ast]=Política de soníu
Name[bg]=Звукова политика
Name[bn]=সাউণ্ড পলিসি
Name[bs]=Smjernice zvuka
Name[ca]=Política de so
Name[ca@valencia]=Política de so
Name[cs]=Chování zvuku
Name[da]=Lydpolitik
Name[de]=Audioregelungen
Name[el]=Πολιτική ήχου
Name[en_GB]=Sound Policy
Name[eo]=Politiko de sono
Name[es]=Política de sonido
Name[et]=Helireeglid
Name[eu]=Soinu-politika
Name[fa]=سیاست صوتی
Name[fi]=Äänikäytäntö
Name[fr]=Politique des sons
Name[ga]=Polasaí Fuaime
Name[gl]=Política de son
Name[gu]=ધ્વનિ નિતી
Name[he]=מדיניות שמע
Name[hi]=ध्वनि पोलिसी
Name[hr]=Pravila za zvuk
Name[hu]=Hangrendszer irányelv
Name[ia]=Politica de Sono
Name[id]=Kebijakan Suara
Name[is]=Stjórnun hljóðmeðhöndlunar
Name[it]=Gestione del suono
Name[ja]=サウンドポリシー
Name[kk]=Дыбыс ережелері
Name[km]=​គោលនយោបាយ​សំឡេង
Name[kn]=ಧ್ವನಿ ಕಾರ್ಯನೀತಿ (ಪಾಲಿಸಿ)
Name[ko]=소리 정책
Name[lt]=Garso nuostatų tipas
Name[lv]=Skaņu politika
Name[ml]=ശബ്ദ നയം
Name[mr]=आवाज धोरण
Name[nb]=Lydpraksis
Name[nds]=Klangregeln
Name[nl]=Beleid voor geluid
Name[nn]=Lydpraksis
Name[pa]=ਸਾਊਂਡ ਪਾਲਸੀ
Name[pl]=Zarządzanie dźwiękiem
Name[pt]=Política de Som
Name[pt_BR]=Política de som
Name[ro]=Politică de sunet
Name[ru]=Звуковой сервер
Name[si]=ශ්‍රව්‍ය ප්‍රතිපත්තිය
Name[sk]=Politika zvuku
Name[sl]=Pravilnik za zvok
Name[sr]=Смернице звука
Name[sr@ijekavian]=Смјернице звука
Name[sr@ijekavianlatin]=Smjernice zvuka
Name[sr@latin]=Smernice zvuka
Name[sv]=Ljudpolicy
Name[tg]=Идоракунии овозҳо
Name[th]=ข้อกำหนดระบบเสียง
Name[tr]=Ses Politikası
Name[ug]=ئاۋاز تەدبىرى
Name[uk]=Правила доступу до звукових пристроїв
Name[vi]=Chế độ âm thanh
Name[wa]=Politike do son
Name[x-test]=xxSound Policyxx
Name[zh_CN]=声音策略
Name[zh_TW]=音效政策
Comment=Provides sound system policy to applications
Comment[ar]=يوفر سياسة نظام الصوت للبرامج
Comment[ast]=Ufre les polítiques de soníu del sistema a les aplicaciones
Comment[bg]=Предоставяне на правила за звукова системата на приложенията
Comment[bs]=Ispostavlja programima smjernice zvučnog sistema
Comment[ca]=Proporciona la política del sistema de so a les aplicacions
Comment[ca@valencia]=Proporciona la política del sistema de so a les aplicacions
Comment[cs]=Poskytuje aplikacím systémové zásady pro zvuk
Comment[da]=Giver lydsystem-politik til programmer
Comment[de]=Audiosystemregeln den Anwendungen zur Verfügung stellen
Comment[el]=Παρέχει την πολιτική ήχου του συστήματος στις εφαρμογές
Comment[en_GB]=Provides sound system policy to applications
Comment[eo]=Ĝi provizas sisteman politikon de sono al aplikaĵoj
Comment[es]=Proporciona políticas de sonido del sistema a las aplicaciones
Comment[et]=Helisüsteemi reeglite edastamine rakendustele
Comment[eu]=Soinu-sistemaren politika adierazten die aplikazioei
Comment[fi]=Tarjoaa äänijärjestelmäkäytännön sovelluksille
Comment[fr]=Fournit une politique de système sonore aux applications
Comment[ga]=Soláthraíonn sé polasaí fuaime d'fheidhmchláir
Comment[gl]=Fornece a política so sistema de son aos programas
Comment[gu]=કાર્યક્રમોને ધ્વનિ સિસ્ટમ નિતી પૂરી પાડે છે
Comment[he]=מספק מדיניות מערכת השמע עבור יישומים
Comment[hi]=अनुप्रयोगों के लिए ध्वनि प्रणाली नीति उपलब्ध कराता है
Comment[hr]=Omogućuje aplikacijama pristup pravilima zvučnog sustava
Comment[hu]=Hangrendszer irányelv biztosítása alkalmazásokhoz
Comment[ia]=Il forni le politica de sono del systema a le applicationes
Comment[id]=Menyediakan kebijakan sistem suara untuk aplikasi
Comment[is]=Þjónn sem stýrir hljóðmeðhöndlun forrita
Comment[it]=Dà le linee guida di sistema per il suono alle applicazioni
Comment[ja]=アプリケーションにサウンドシステムポリシーを提供します
Comment[kk]=Қолданбаларға арналған дыбыс шығару ережелері
Comment[km]=ផ្ដល់​គោលការណ៍​ប្រព័ន្ធ​សំឡេង​ឲ្យ​កម្មវិធី
Comment[kn]=ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯ ಕಾರ್ಯನೀತಿಯನ್ನು ಅನ್ವಯಗಳಿಗೆ ಒದಗಿಸುತ್ತದೆ.
Comment[ko]=프로그램에 소리 정책을 알려 줍니다
Comment[lt]=Nurodo programoms garso nuostatų tipą
Comment[lv]=Nodrošina skaņas sistēmas politiku priekš programmām
Comment[mr]=अनुप्रयोगास आवाज प्रणाली धोरण आखुन देतो
Comment[nb]=Forsyner programmer med systemets lydpraksis
Comment[nds]=Stellt Klangregeln för Programmen praat.
Comment[nl]=Levert het systeembeleid aan applicaties voor het geluid
Comment[nn]=Gjev programma lydpraksis
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ ਨੂੰ ਸਾਊਂਡ ਸਿਸਟਮ ਪਾਲਸੀ ਦਿੰਦਾ ਹੈ
Comment[pl]=Sposób udostępniania systemu dźwięku programom
Comment[pt]=Fornece uma política do sistema de som para as aplicações
Comment[pt_BR]=Fornece uma política do sistema de som para os aplicativos
Comment[ro]=Oferă applicațiilor politica sistemului de sunet
Comment[ru]=Правила доступа к звуковой системе для приложений
Comment[si]=යෙදුම් වලට ශ්‍රව්‍ය පද්ධති ප්‍රතිපත්ති සපයයි
Comment[sk]=Poskytuje systémovú politiku zvuku aplikáciám
Comment[sl]=Programom omogoča dostop do sistemskih pravilnikov za zvok
Comment[sr]=Испоставља програмима смернице звучног система
Comment[sr@ijekavian]=Испоставља програмима смјернице звучног система
Comment[sr@ijekavianlatin]=Ispostavlja programima smjernice zvučnog sistema
Comment[sr@latin]=Ispostavlja programima smernice zvučnog sistema
Comment[sv]=Tillhandahåller systemets ljudpolicy till program
Comment[tg]=Имконоти овози системаро дар барномаҳо идора мекунад
Comment[th]=กำหนดข้อนโยบายของระบบเสียงให้กับโปรแกรมต่าง ๆ
Comment[tr]=Uygulamalara ses sistemi politikası sunar
Comment[ug]=پروگراممىغا ئاۋاز سىستېما تەدبىرى بىلەن تەمىنلەيدۇ
Comment[uk]=Права доступу до звукової системи для програм
Comment[vi]=Cung cấp chế độ âm thanh hệ thống cho các ứng dụng
Comment[wa]=Dene åzès programes li politike do son do sistinme
Comment[x-test]=xxProvides sound system policy to applicationsxx
Comment[zh_CN]=为应用程序提供系统声音策略
Comment[zh_TW]=提供音效系統政策給應用程式

