[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=phononserver
X-KDE-DBus-ModuleName=phononserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Sound Policy
Comment=Provides sound system policy to applications

