[Desktop Entry]
Name=Switch Activity
Type=Service
Icon=dashboard-show
Comment=Switch to another activity

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_switchactivity
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=switchactivity
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

