[Desktop Entry]
Name=Device Notifications
Name[ar]=إخطارات الأجهزة
Name[az]=Qurğular haqqında məlumatlar
Name[bg]=Уведомления от устройства
Name[bn]=ডিভাইস বিজ্ঞপ্তি
Name[bs]=Obavještenja o uređajima
Name[ca]=Notificacions dels dispositius
Name[ca@valencia]=Notificacions dels dispositius
Name[cs]=Upozornění zařízení
Name[da]=Enhedsbekendtgørelser
Name[de]=Geräte-Benachrichtigungen
Name[el]=Ειδοποιήσεις συσκευών
Name[en_GB]=Device Notifications
Name[es]=Notificaciones de dispositivo
Name[et]=Seadmete märguanded
Name[eu]=Gailu-jakinarazpenak
Name[fi]=Laiteilmoitukset
Name[fr]=Notifications des périphériques
Name[ga]=Fógraí Gléasanna
Name[gl]=Notificacións dos dispositivos
Name[he]=הודעות של התקנים
Name[hi]=औज़ार सूचनाएँ
Name[hr]=Obavijesti uređaja
Name[hu]=Eszközértesítések
Name[ia]=Notificationes de dispositivo
Name[id]=Notifikasi Perangkat
Name[is]=Tilkynningar um tæki
Name[it]=Notifiche dei dispositivi
Name[ja]=デバイスの通知
Name[kk]=Құрылғы құлақтандырулары
Name[km]=ការ​​ជូន​ដំណឹង​​ឧបករណ៍
Name[kn]=ಸಾಧನ ಸೂಚನೆಗಳು
Name[ko]=장치 알림
Name[lt]=Pranešimai apie įrenginius
Name[lv]=Iekārtu paziņojumi
Name[ml]=ഡിവൈസിനെപറ്റിയുള്ള അറിയിപ്പുകള്‍
Name[mr]=साधन सूचना
Name[nb]=Enhetsvarslinger
Name[nds]=Reedschap-Bescheden
Name[nl]=Meldingen van apparaten
Name[nn]=Einingssvarslingar
Name[pa]=ਜੰਤਰ ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia urządzeń
Name[pt]=Notificações de Dispositivos
Name[pt_BR]=Notificações de dispositivos
Name[ro]=Notificări dispozitive
Name[ru]=Уведомления об устройствах
Name[si]=මෙවලම් දැනුම් දීම්
Name[sk]=Upozornenia zariadení
Name[sl]=Obvestila o napravah
Name[sr]=Обавештења о уређајима
Name[sr@ijekavian]=Обавјештења о уређајима
Name[sr@ijekavianlatin]=Obavještenja o uređajima
Name[sr@latin]=Obaveštenja o uređajima
Name[tg]=Огоҳиҳои дастгоҳ
Name[th]=การแจ้งเกี่ยวกับอุปกรณ์
Name[tr]=Aygıt Bildirimleri
Name[ug]=ئۈسكۈنە ئۇقتۇرۇشلىرى
Name[uk]=Сповіщення про пристрої
Name[vi]=Thông báo của thiết bị
Name[wa]=Notifiaedjes des éndjins
Name[x-test]=xxDevice Notificationsxx
Name[zh_CN]=设备通知
Name[zh_TW]=裝置通知
Comment=Passive device notifications for the user.
Comment[az]=Bu istifadəçi üçün qurğuların passiv bildirişləri.
Comment[bg]=Пасивни уведомления от устройствата за потребителя.
Comment[bs]=Pasivna obavještenja o uređajima za korisnika.
Comment[ca]=Notificacions passives de dispositius per a l'usuari.
Comment[ca@valencia]=Notificacions passives de dispositius per a l'usuari.
Comment[cs]=Pasivní upozornění zařízení pro uživatele.
Comment[da]=Passive enhedsbekendtgørelser til brugeren.
Comment[de]=Passive Benachrichtigungen für den Anwender.
Comment[el]=Παθητικές ειδοποιήσεις συσκευής για τον χρήστη.
Comment[en_GB]=Passive device notifications for the user.
Comment[es]=Notificaciones pasivas de dispositivos para el usuario.
Comment[et]=Passiivsed seadmete märguanded kasutajale.
Comment[eu]=Erabiltzailearentzako gailu-jakinarazpen pasiboak.
Comment[fi]=Passiivisia laiteilmoituksia käyttäjälle.
Comment[fr]=Notifications passives de périphériques pour l'utilisateur.
Comment[gl]=Notificacións pasivas dos dispositivos para o usuario.
Comment[he]=הודעות פאסיביות של התקנים למשתמש.
Comment[hr]=Pasivne obavijesti uređaja za korisnika.
Comment[hu]=Passzív eszközértesítések a felhasználónak.
Comment[ia]=Notificationes de dispositivo passive pro le usator.
Comment[id]=Notifikasi perangkat pasif untuk pengguna.
Comment[is]=Hlutlausar sjónrænar tilkynningar til notandans.
Comment[it]=Notifiche dei dispositivi passive per l'utente.
Comment[ja]=ユーザ用の受動的デバイス通知です。
Comment[kk]=Құрылғы пайдаланушысына құлақтандырулары
Comment[km]=ការ​ជូនដំណឹង​ឧបករណ៍​សកម្ម​សម្រាប់​អ្នក​ប្រើ ។
Comment[kn]=ಬಳಕೆದಾರನಿಗಾಗಿ ನಿಷ್ಕ್ರಿಯವಾಗಿರುವ ಸಾಧನ ಸೂಚನೆಗಳು.
Comment[ko]=사용자에게 보이는 수동적인 장치 알림입니다.
Comment[lt]=Pasyvūs pranešimai naudotojui apie įrenginius.
Comment[lv]=Pasīvi iekārtu paziņojumi lietotājam.
Comment[mr]=वापरकर्त्यासाठी साधन सूचना.
Comment[nb]=Passive enhetsvarslinger for brukeren.
Comment[nds]=Passiev Reedschap-Bescheden för den Bruker
Comment[nl]=Passieve meldingen van apparaten voor de gebruiker.
Comment[nn]=Passive einingsvarslingar for brukaren.
Comment[pa]=ਵਰਤੋਂਕਾਰ ਲਈ ਪੈਸਿਵ ਜੰਤਰ ਨੋਟੀਫਿਕੇਸ਼ਨ।
Comment[pl]=Powiadamia biernie użytkownika o urządzeniach.
Comment[pt]=Notificações passivas de dispositivos para o utilizador.
Comment[pt_BR]=Notificações passivas de dispositivos para o usuário.
Comment[ro]=Notificări de dispozitiv pasive pentru utilizator.
Comment[ru]=Пассивные уведомления об оборудовании для пользователя.
Comment[si]=පරිශීලකයන් සඳහා නිශ්ක්‍රීය මෙවලම් දැනුම්දීම්.
Comment[sk]=Pasívne upozornenia zariadení pre užívateľa.
Comment[sl]=Pasivna obvestila o napravah za uporabnika.
Comment[sr]=Пасивна обавештења о уређајима за корисника.
Comment[sr@ijekavian]=Пасивна обавјештења о уређајима за корисника.
Comment[sr@ijekavianlatin]=Pasivna obavještenja o uređajima za korisnika.
Comment[sr@latin]=Pasivna obaveštenja o uređajima za korisnika.
Comment[th]=การแจ้งอุปกรณ์ที่ไม่มีปฏิกิริยาแก่ผู้ใช้
Comment[tr]=Kullanıcı için pasif aygıt bildirimleri.
Comment[ug]=ئىشلەتكۈچىگە پاسسىپ كۆرۈنىدىغان ئۈسكۈنىلەرنى ئۇقتۇرىدۇ.
Comment[uk]=Пасивні сповіщення користувача щодо пристроїв.
Comment[vi]=Thông báo thiết bị thụ động dành cho người dùng.
Comment[wa]=Notifiaedjes doirmants des éndjins po l' uzeu.
Comment[x-test]=xxPassive device notifications for the user.xx
Comment[zh_CN]=为用户提供被动出现的设备通知。
Comment[zh_TW]=給使用者的被動裝置通知。
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=device-notifier
X-KDE-Library=plasma_engine_devicenotifications

X-KDE-PluginInfo-Author=Jacopo De Simoi
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=devicenotifications
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
