[Desktop Entry]
Type=Service
Name=Directory Watcher
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=desktopnotifier
X-KDE-FactoryName=desktopnotifier
X-KDE-DBus-ModuleName=desktopnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false
Comment=Monitors directories for changes

