[Desktop Entry]
Type=Service
Name=Directory Watcher
Name[ar]=مراقب المجلّدات
Name[bg]=Наблюдение на директории
Name[bn]=ডিরেক্টরি ওয়াচার
Name[bs]=Nadzornik fascikli
Name[ca]=Vigilant de directori
Name[ca@valencia]=Vigilant de directori
Name[cs]=Sledování adresářů
Name[da]=Mappeovervåger
Name[de]=Ordnerüberwachung
Name[el]=Επόπτης φακέλων
Name[en_GB]=Directory Watcher
Name[eo]=Kontrolilo de dosierujoj
Name[es]=Vigilante de directorios
Name[et]=Kataloogijälgija
Name[eu]=Direktorio-behatzailea
Name[fa]=دیده‌بان پوشه
Name[fi]=Kansion tarkkailija
Name[fr]=Surveillance des dossiers
Name[ga]=Fairtheoir Comhadlann
Name[gl]=Vixilante do directorio
Name[gu]=ડિરેક્ટરી દેખરેખ
Name[he]=מנטר התיקיות
Name[hi]=डॉयरेक्ट्री चौकीदार
Name[hr]=Nadglednik direktorija
Name[hu]=Könyvtárfigyelő
Name[ia]=Observator de Directorio
Name[id]=Pengawas Direktori
Name[is]=Möppuskoðunartól
Name[it]=Guardia delle cartelle
Name[ja]=ディレクトリウォッチゃ
Name[kk]=Каталог бақылаушысы
Name[km]=កម្មវិធីមើល​ថត
Name[kn]=ಕಡತಕೋಶ ನೋಡುಗ(ವಾಚರ್)
Name[ko]=디렉터리 감시기
Name[lt]=Aplanko stebėtojas
Name[lv]=Mapju novērotājs
Name[mai]=निर्देशिकाक देखनिहार
Name[ml]=തട്ടുകളുടെ നിരീക്ഷകന്‍
Name[mr]=संचयीका नोंदकर्ता
Name[nb]=Mappeovervåker
Name[nds]=Ornern beluern
Name[nl]=Mappenbewaker
Name[nn]=Mappeovervaking
Name[pa]=ਡਾਇਰੈਕਟਰੀ ਵਾਂਚਰ
Name[pl]=Monitorowanie katalogów
Name[pt]=Vigilante de Pastas
Name[pt_BR]=Monitor de pastas
Name[ro]=Supraveghetor dosare
Name[ru]=Наблюдение за каталогом
Name[si]=නාමාවලි විශ්ලේෂකය
Name[sk]=Sledovanie adresárov
Name[sl]=Opazovalnik map
Name[sr]=Надзорник фасцикли
Name[sr@ijekavian]=Надзорник фасцикли
Name[sr@ijekavianlatin]=Nadzornik fascikli
Name[sr@latin]=Nadzornik fascikli
Name[sv]=Katalogövervakare
Name[tg]=Намоишгари феҳрастҳо
Name[th]=เครื่องมือสอดส่องไดเรกทอรี
Name[tr]=Dizin İzleyici
Name[ug]=مۇندەرىجە كۆزەتكۈچ
Name[uk]=Нагляд за каталогами
Name[vi]=Trình theo dõi thư mục
Name[wa]=Waiteu des ridants
Name[x-test]=xxDirectory Watcherxx
Name[zh_CN]=目录监视器
Name[zh_TW]=目錄監控器
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=desktopnotifier
X-KDE-FactoryName=desktopnotifier
X-KDE-DBus-ModuleName=desktopnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false
Comment=Monitors directories for changes
Comment[ar]=يراقب التّغييرات في المجلّدات
Comment[bg]=Наблюдение на директории за промени
Comment[bn]=বিভিন্ন ডিরেক্টরিতে কোন পরিবর্তন হচ্ছে কি না লক্ষ্য রাখে
Comment[bs]=Nadgledanje izmjena u fasciklama
Comment[ca]=Controla els canvis en els directoris
Comment[ca@valencia]=Controla els canvis en els directoris
Comment[cs]=Monitoruje změny v adresářích
Comment[da]=Overvåger mapper for ændringer
Comment[de]=Ordner auf Änderungen überwachen
Comment[el]=Επίβλεψη φακέλων για αλλαγές
Comment[en_GB]=Monitors directories for changes
Comment[eo]=Ĝi kontrolas ŝanĝojn de dosierujoj
Comment[es]=Monitoriza los cambios en directorios
Comment[et]=Kataloogide muutuste jälgimine
Comment[eu]=Direktorioetako aldaketak kontrolatzen ditu
Comment[fa]=پوشه‌ها را برای تغییرات دیده‌بانی میکند
Comment[fi]=Tarkkailee muutoksia kansioissa
Comment[fr]=Surveille les modifications des dossiers
Comment[ga]=Déan monatóireacht ar chomhadlanna le haghaidh athruithe
Comment[gl]=Vixía os cambios en directorios
Comment[gu]=ફેરફારો માટે ડિરેક્ટરીઓ પર નજર રાખે છે
Comment[he]=מנטר תיקיות לשינויים
Comment[hi]=डॉयरेक्ट्री में बदलाव के लिए जाँचता है
Comment[hr]=Nadzire promjene u direktorijima
Comment[hu]=Könyvtárak változásainak figyelése
Comment[ia]=Il monitora le directorios pro variationes
Comment[id]=Monitor direktori terhadap perubahan
Comment[is]=Fylgist með breytingum í möppum
Comment[it]=Sorveglia i cambiamenti nelle cartelle
Comment[ja]=ディレクトリ中の変更を監視
Comment[kk]=Каталог өзгеруін бақылау
Comment[km]=ពិនិត្យ​មើល​ថត​ដើម្បី​ផ្លាស់ប្ដូរ
Comment[kn]=ಕಡತಕೋಶ ಬದಲಾವಣೆಗಳನ್ನು ಪರಿಶೀಲಿಸುತ್ತದೆ
Comment[ko]=디렉터리 변경 사항을 감시합니다
Comment[lt]=Stebi aplanko pakeitimus
Comment[lv]=Novēro izmaiņas mapēs
Comment[ml]=തട്ടുകളില്‍ മാറ്റങ്ങളുണ്ടോ എന്നു് നിരീക്ഷിയ്ക്കുന്നു
Comment[mr]=संचयीकांतील बदलावर नजर ठेवतो 
Comment[nb]=Overvåker mapper etter endringer.
Comment[nds]=Ornern op Ännern beluern
Comment[nl]=Mappen monitoren op wijzigingen
Comment[nn]=Overvakar mapper for endringar
Comment[pa]=ਬਦਲਣ ਲਈ ਮਾਨੀਟਰਾਂ ਦੀਆਂ ਦਿਸ਼ਾਵਾਂ
Comment[pl]=Monitoruje katalogi w poszukiwaniu zmian
Comment[pt]=Vigia as alterações nas pastas
Comment[pt_BR]=Monitora as alterações nas pastas
Comment[ro]=Monitorizează dosarele după modificări
Comment[ru]=Наблюдение за изменениями в каталоге
Comment[si]=වෙනස්කම් සඳහා නාමාවලි නිරීක්ෂණය කරයි
Comment[sk]=Monitoruje zmeny v adresároch
Comment[sl]=Nadzira mape za spremembami
Comment[sr]=Надгледање измена у фасциклама
Comment[sr@ijekavian]=Надгледање измијена у фасциклама
Comment[sr@ijekavianlatin]=Nadgledanje izmijena u fasciklama
Comment[sr@latin]=Nadgledanje izmena u fasciklama
Comment[sv]=Övervakar katalogändringar
Comment[tg]=Тағйиротро дар феҳрастҳо тафтиш мекунад
Comment[th]=คอยตรวจสอบการเปลี่ยนแปลงของไดเรกทอรีต่าง ๆ
Comment[tr]=Dizinleri değişiklik için izler.
Comment[ug]=مۇندەرىجە ئۆزگىرىشىنى كۆزەتكۈچ
Comment[uk]=Спостереження за змінами у каталогах
Comment[vi]=Theo dõi sự thay đổi của các thư mục
Comment[wa]=Corwaite les candjmints ezès ridants
Comment[x-test]=xxMonitors directories for changesxx
Comment[zh_CN]=监视目录的更改
Comment[zh_TW]=監控目錄的改變

