[Desktop Entry]
Encoding=UTF-8
Name=Home
Name[ca]=Inici
Name[de]=Persönlicher Ordner
Name[en_GB]=Home
Name[es]=Inicio
Name[fi]=Koti
Name[gl]=Cartafol persoal
Name[nl]=Home
Name[nn]=Heim
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta Pessoal
Name[sk]=Domov
Name[sl]=Dom
Name[sr]=Домаће
Name[sr@ijekavian]=Домаће
Name[sr@ijekavianlatin]=Domaće
Name[sr@latin]=Domaće
Name[sv]=Hem
Name[uk]=Домівка
Name[x-test]=xxHomexx
GenericName=Personal Files
GenericName[ca]=Fitxers personals
GenericName[de]=Persönliche Dateien
GenericName[en_GB]=Personal Files
GenericName[es]=Archivos personales
GenericName[fi]=Omat tiedostot
GenericName[gl]=Ficheiros persoais
GenericName[nl]=Persoonlijke bestanden
GenericName[nn]=Personlege filer
GenericName[pl]=Pliki osobiste
GenericName[pt]=Ficheiros Pessoais
GenericName[pt_BR]=Arquivos pessoais
GenericName[sk]=Osobné súbory
GenericName[sl]=Osebne datoteke
GenericName[sr]=Лични фајлови
GenericName[sr@ijekavian]=Лични фајлови
GenericName[sr@ijekavianlatin]=Lični fajlovi
GenericName[sr@latin]=Lični fajlovi
GenericName[sv]=Personliga filer
GenericName[uk]=Особисті файли
GenericName[x-test]=xxPersonal Filesxx
URL[$e]=$HOME
Icon=user-home
Type=Link

