[Desktop Entry]
Encoding=UTF-8
Name=Home
Name[ca]=Inici
Name[de]=Persönlicher Ordner
Name[es]=Inicio
Name[gl]=Cartafol persoal
Name[nl]=Home
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta Pessoal
Name[sl]=Dom
Name[sv]=Hem
Name[uk]=Домівка
Name[x-test]=xxHomexx
GenericName=Personal Files
GenericName[ca]=Fitxers personals
GenericName[de]=Persönliche Dateien
GenericName[es]=Archivos personales
GenericName[gl]=Ficheiros persoais
GenericName[nl]=Persoonlijke bestanden
GenericName[pl]=Pliki osobiste
GenericName[pt]=Ficheiros Pessoais
GenericName[pt_BR]=Arquivos pessoais
GenericName[sl]=Osebne datoteke
GenericName[sv]=Personliga filer
GenericName[uk]=Особисті файли
GenericName[x-test]=xxPersonal Filesxx
URL[$e]=$HOME
Icon=user-home
Type=Link

