[Desktop Entry]
Encoding=UTF-8
Name=Favicons
Comment=Data Engine for getting favicons of web sites
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=view-web-browser-dom-tree
X-KDE-Library=plasma_engine_favicons

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=favicons
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
