[Desktop Entry]
Encoding=UTF-8
Name=Digital Clock
Name[af]=Digitale horlosie
Name[ar]=ساعة رقمية
Name[ast]=Reló dixital
Name[be]=Лічбавы гадзіннік
Name[be@latin]=Ličbavy hadzińnik
Name[bg]=Цифров часовник
Name[bn]=ডিজিটাল ঘড়ি
Name[bn_IN]=ডিজিট্যাল ঘড়ি
Name[bs]=digitalni sat
Name[ca]=Rellotge digital
Name[ca@valencia]=Rellotge digital
Name[cs]=Digitální hodiny
Name[csb]=Cyfrowi zédżer
Name[da]=Digitalt ur
Name[de]=Digitale Uhr
Name[el]=Ψηφιακό ρολόι
Name[en_GB]=Digital Clock
Name[eo]=Cifereca horloĝo
Name[es]=Reloj digital
Name[et]=Digikell
Name[eu]=Erloju digitala
Name[fi]=Digitaalinen kello
Name[fr]=Horloge numérique
Name[fy]=Digitale klok
Name[ga]=Clog Digiteach
Name[gl]=Reloxo dixital
Name[gu]=ડિજીટલ ઘડિયાળ
Name[he]=שעון דיגיטלי
Name[hi]=डिजिटल घड़ी
Name[hne]=डिजिटल घड़ी
Name[hr]=Digitalni sat
Name[hsb]=Digitalny časnik
Name[hu]=Digitális óra
Name[ia]=Horologio digital
Name[id]=Jam Digital
Name[is]=Stafræn klukka
Name[it]=Orologio digitale
Name[ja]=デジタル時計
Name[kk]=Цифрлық сағат
Name[km]=នាឡិកា​ឌីជីថល
Name[kn]=ಅಂಕೀಯ (ಡಿಜಿಟಲ್) ಗಡಿಯಾರ
Name[ko]=디지털 시계
Name[ku]=Demjimêra Dîjîtal
Name[lt]=Skaitmeninis laikrodis
Name[lv]=Ciparu pulkstenis
Name[mai]=डिजिटल घडी
Name[mk]=Дигитален часовник
Name[ml]=ഡിജിറ്റല്‍ ഘടികാരം
Name[mr]=डिजिटल घड्याळ
Name[nb]=Digital klokke
Name[nds]=Digitaal Klock
Name[ne]=डिजिटल घडी
Name[nl]=Digitale klok
Name[nn]=Digital klokke
Name[oc]=Relòtge numeric
Name[or]=ସାଂଖିକ ଘଡ଼ି
Name[pa]=ਡਿਜਿਟਲ ਘੜੀ
Name[pl]=Zegar cyfrowy
Name[pt]=Relógio Digital
Name[pt_BR]=Relógio digital
Name[ro]=Ceas digital
Name[ru]=Цифровые часы
Name[se]=Digitálalaš diibmu
Name[si]=අංකිත ඔරලෝසුව
Name[sk]=Digitálne hodiny
Name[sl]=Digitalna ura
Name[sr]=дигитални сат
Name[sr@ijekavian]=дигитални сат
Name[sr@ijekavianlatin]=digitalni sat
Name[sr@latin]=digitalni sat
Name[sv]=Digitalklocka
Name[ta]=எண்ணுரு கடிகாரம்
Name[te]=డిజిటల్ గడియారం
Name[tg]=Соати рақамӣ
Name[th]=นาฬิกาดิจิทัล
Name[tr]=Dijital Saat
Name[ug]=رەقەملىك سائەت
Name[uk]=Цифровий годинник
Name[uz]=Raqamli soat
Name[uz@cyrillic]=Рақамли соат
Name[vi]=Đồng hồ số
Name[wa]=Ôrlodje didjitåle
Name[x-test]=xxDigital Clockxx
Name[zh_CN]=数字钟
Name[zh_TW]=數位時鐘
Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Heena
X-KDE-PluginInfo-Email=heena393@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.digitalclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=
