[Desktop Entry]
Name=CPU Load Monitor
Name[ar]=مرقاب حِمل المعالج
Name[ca]=Monitor de càrrega de la CPU
Name[ca@valencia]=Monitor de càrrega de la CPU
Name[cs]=Monitor zatížení CPU
Name[da]=Overvågning af CPU-belastning
Name[de]=Monitor für Prozessor-Last
Name[el]=Επόπτης φόρτου ΚΜΕ
Name[en_GB]=CPU Load Monitor
Name[es]=Monitor de carga de la CPU
Name[et]=Protsessori koormuse jälgija
Name[eu]=PUZ zamaren begiralea
Name[fi]=Suoritinkäyttö
Name[fr]=Surveillance du processeur
Name[gl]=Monitor da carga da CPU
Name[he]=מנטר מעבד
Name[hu]=Processzorfigyelő
Name[id]=CPU Load Monitor
Name[is]=Eftirlit með notkun örgjörva
Name[it]=Monitor del carico del processore
Name[ja]=CPU 負荷モニタ
Name[ko]=CPU 사용량 모니터
Name[lt]=CPU apkrovos stebėtojas
Name[nl]=Monitor voor CPU-gebruik
Name[nn]=Prosessorlast-overvaking
Name[pa]=CPU ਲੋਡ ਲਈ ਨਿਗਰਾਨ
Name[pl]=Monitor obciążenia procesora
Name[pt]=Monitor de Carga do CPU
Name[pt_BR]=Monitor de carga da CPU
Name[ru]=Монитор нагрузки процессора
Name[sk]=Monitor zaťaženia CPU
Name[sl]=Nadzornik obremenitve procesorja
Name[sr]=надзор оптерећења процесора
Name[sr@ijekavian]=надзор оптерећења процесора
Name[sr@ijekavianlatin]=nadzor opterećenja procesora
Name[sr@latin]=nadzor opterećenja procesora
Name[sv]=Övervakning av processorlast
Name[tr]=İşlemci Yükü İzleyici
Name[uk]=Використання процесорів
Name[x-test]=xxCPU Load Monitorxx
Name[zh_CN]=CPU 负载监视器
Name[zh_TW]=CPU 負載監視器
Comment=Monitor the load of the CPUs
Comment[ar]=راقِب حِمل المعالجات لديك
Comment[ca]=Controla la càrrega de les CPU
Comment[ca@valencia]=Controla la càrrega de les CPU
Comment[cs]=Monitorovat zatížení procesor(ů)
Comment[da]=Overvåg belastningen af CPU'erne
Comment[de]=Überwacht die Auslastung der Prozessoren
Comment[el]=Παρακολούθηση του φόρτου των ΚΜΕ
Comment[en_GB]=Monitor the load of the CPUs
Comment[es]=Monitoriza la carga de las CPU
Comment[et]=Protsessorite koormuse jälgimine
Comment[eu]=Gainbegiratu PUZen zama
Comment[fi]=Seuraa suoritinten kuormaa
Comment[fr]=Surveille la charge des processeurs
Comment[gl]=Monitorizar a carga das CPU.
Comment[he]=צג שימוש במעבד
Comment[hu]=A processzorterhelés monitorozása
Comment[id]=Pemantau muatan CPU
Comment[is]=Fylgjast með álagi á örgjörva
Comment[it]=Indica il carico dei processori
Comment[ja]=CPU の負荷を監視します
Comment[ko]=CPU 사용량 모니터
Comment[lt]=Stebėti CPU apkrovą
Comment[nl]=Het gebruik van de CPU's monitoren
Comment[nn]=Overvaking av prosessorbruk
Comment[pa]=CPU ਦੇ ਲੋਡ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Monitoruje obciążenie procesora
Comment[pt]=Vigia a carga dos CPU's
Comment[pt_BR]=Monitora a carga das CPUs
Comment[ru]=Мониторинг степени загрузки процессоров
Comment[sk]=Kontrola zaťaženia CPU
Comment[sl]=Nadzor nad obremenitvijo procesorjev
Comment[sr]=Надгледајте оптерећење процесора
Comment[sr@ijekavian]=Надгледајте оптерећење процесора
Comment[sr@ijekavianlatin]=Nadgledajte opterećenje procesora
Comment[sr@latin]=Nadgledajte opterećenje procesora
Comment[sv]=Övervaka processorernas last
Comment[tr]=İşlemcilerin yüklerini izleyin
Comment[uk]=Монітор навантаження на процесори
Comment[x-test]=xxMonitor the load of the CPUsxx
Comment[zh_CN]=监视 CPU 负载
Comment[zh_TW]=監視 CPU 的負載

Type=Service
Icon=cpu

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/cpu.qml
X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.cpu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-FormFactors=tablet,mediacenter,desktop
