[Desktop Entry]
Name=Total CPU Use
Name[ca]=Ús total de CPU
Name[es]=Uso total de CPU
Name[et]=Protsessori kogukasutus
Name[fr]=Utilisation globale du processeur
Name[it]=Utilizzo totale CPU
Name[lt]=Bendras procesoriaus naudojimas
Name[nl]=Totaal CPU-gebruik
Name[pt]=Carga Total do CPU
Name[sk]=Celkové využitie CPU
Name[sv]=Total processoranvändning
Name[uk]=Загальне використання процесора
Name[x-test]=xxTotal CPU Usexx
Name[zh_TW]=總 CPU 用量
Comment=System monitor Widget that shows the total CPU usage
Comment[ca]=Estri del monitor del sistema que mostra l'ús total de la CPU
Comment[es]=Elemento gráfico del monitor del sistema que muestra el uso total de CPU
Comment[et]=Süsteemi jälgija vidin, mis näitab protsessori kogukasutust
Comment[fr]=Composant graphique de surveillance du système, affichant l'utilisation globale du processeur
Comment[it]=Oggetto di monitoraggio del sistema che mostra l'utilizzo totale del processo
Comment[lt]=Sistemos prižiūryklės valdiklis, kuris rodo bendrą procesoriaus naudojimą
Comment[nl]=Systeemmonitorwidget die het totale gebruik toont de CPU toont
Comment[pt]=Elemento de monitorização do sistema que mostra a carga total do CPU
Comment[sk]=Miniaplikácia monitorovania systému, ktorá zobrazuje celkové využitie CPU
Comment[sv]=Grafisk systemövervakningskomponent som visar total processoranvändning
Comment[uk]=Віджет нагляду за системою, який показує загальне використання процесора
Comment[x-test]=xxSystem monitor Widget that shows the total CPU usagexx
Comment[zh_TW]=顯示總 CPU 用量的系統監視器元件
Type=Service
Icon=cpu
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.systemmonitor
X-Plasma-RootPath=org.kde.plasma.systemmonitor

X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.cpu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=kde.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=System Information
