[Desktop Entry]
Name=Total CPU Use
Name[de]=Gesamte Prozessorauslastung
Comment=System monitor Widget that shows the total CPU usage
Type=Service
Icon=cpu
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.systemmonitor
X-Plasma-RootPath=org.kde.plasma.systemmonitor

X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.systemmonitor.cpu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=kde.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=System Information

[Config]
chartFace=org.kde.ksysguard.piechart
sensorIds=cpu/system/TotalLoad
totalSensor=cpu/system/TotalLoad
textOnlySensorIds=cpu/system/processors,cpu/system/cores

[FaceConfig]
rangeAuto=false
rangeFrom=0
rangeTo=100
