[Desktop Entry]
X-KDE-Solid-Predicate=[ [ [ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ] OR [ IS StorageAccess AND StorageDrive.driveType == 'Floppy' ] ] OR StorageAccess.ignored == false ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with File Manager
Name[uk]=Відкрити за допомогою менеджера файлів
Name[x-test]=xxOpen with File Managerxx
Exec=kioclient exec %f
Icon=system-file-manager
