[Desktop Entry]
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/formats/index.html

X-KDE-Library=kcm_formats
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=50

Name=Formats
Name[az]=Formatlar
Name[ca]=Formats
Name[cs]=Formáty
Name[de]=Formate
Name[en_GB]=Formats
Name[es]=Formatos
Name[fi]=Muotoilu
Name[fr]=Formats
Name[ia]=Formatos
Name[it]=Formati
Name[ko]=형식
Name[nl]=Formaten
Name[pl]=Formaty
Name[pt]=Formatos
Name[pt_BR]=Formatos
Name[ru]=Форматы
Name[sk]=Formáty
Name[sl]=Formati
Name[sv]=Format
Name[uk]=Формати
Name[vi]=Định dạng
Name[x-test]=xxFormatsxx
Name[zh_CN]=格式
Comment=Numeric, Currency and Time Formats
Comment[az]=Say, Valyuta və Vaxt formatları
Comment[ca]=Format numèric, monetari i horari
Comment[cs]=Formáty čísel, měny a času
Comment[de]=Formate für Zahlen, Währung und Zeitangaben
Comment[en_GB]=Numeric, Currency and Time Formats
Comment[es]=Formatos numérico, de moneda y de hora
Comment[fi]=Lukujen, rahasummien ja ajanilmausten muotoilu
Comment[fr]=Format numérique, de monnaie et d'heure
Comment[ia]=Formatos numeric, de numerario e de tempore
Comment[it]=Formati numerici, delle valute e dell'orario
Comment[ko]=숫자, 통화, 시간 형식
Comment[nl]=Indeling voor numerieke getallen, valuta en tijd
Comment[pl]=Formaty liczb, waluty i czasu
Comment[pt]=Formatos Numéricos, Monetários e de Datas
Comment[pt_BR]=Formatos de data/hora, numérico e monetário
Comment[ru]=Форматы записи чисел, времени и денежных сумм
Comment[sk]=Numerické, mena a časové formáty
Comment[sl]=Številski, valuta in oblike časa
Comment[sv]=Numeriska format, valutaformat och tidsformat
Comment[uk]=Формати запису чисел, грошових сум та часу
Comment[vi]=Định dạng số, tiền tệ và thời gian
Comment[x-test]=xxNumeric, Currency and Time Formatsxx
Comment[zh_CN]=数字、货币和时间格式

X-KDE-Keywords=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[az]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,dil,tərcümə,say formatı,yerli, Ölkə,tablolar,simvol dəstləri,Onluqlar simvolu,Minlik ayırıcı,simvol,ayırıcı,işarə,müsbət,mənfi,valyuta,pul,kəsirrəqəmləri,təqvim,vaxt,tarix,formatlar,həftə, həftənin başlanğıcı,ilk,kağız,ölçü,məktub,A4,ölçü,metrik,İngilis,İmperator
X-KDE-Keywords[ca]=idioma,traducció,format numèric,configuració regional,país,jocs de caràcters,joc de caràcters,símbol decimal,separador de milers,símbol,separador,signe,positiu,negatiu,moneda,diners,dígits fraccionaris,calendari,hora,data,formats,setmana,inici de setmana,primer,paper,mida,carta,A4,mesura,mètric,Anglès,Imperial
X-KDE-Keywords[cs]=jazyk,překlad,formát čísel,locale,Země,znakové sady,sady znaků,Decimální symbol,Oddělovač tisíců,symbol,oddělovač,znaménko,kladné,záporné,měna, peníze,zlomky, kalendář,čas,datum,formáty,týden,začátek týdne,první,papír,velikost,dopis,A4,míry,metrické,Anglické,Imperiální
X-KDE-Keywords[de]=Sprachen,Übersetzung,Zahlenformat,Währung,Zeit,Datum,Formate,Regionales,Land,Zeichensätze,Dezimalzeichen,Tausendertrennzeichen,Symbole,Zeichen,Vorzeichen,Positiv,Negativ,Bruchzahlen,Wochenanfang,Papierformat,A4,Letter,Metrisch,Imperial,Maßeinheiten
X-KDE-Keywords[en_GB]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[es]=idioma,traducción,formato numérico,local,país,conjuntos de caracteres,símbolo decimal,separador de miles,separador de millares,símbolo,separador,signo,positivo,negativo,divisa,moneda,dígitos fraccionarios,calendario,hora,fecha,formatos,semana,inicio de la semana,primero,papel,tamaño,letter,folio,A4,medida,métrica,inglés,imperial
X-KDE-Keywords[fi]=kieli,käännös,kääntäminen,lukujen muotoilu,numeroiden muotoilu,locale,alue,alueasetukset,maa,merkistöt,desimaalierotin,tuhaterotin,symboli,erotin,merkki,positiivinen,negatiivinen,valuutta,raha,desimaalipaikkoja,desimaalipaikat,kalenteri,aika,kellonaika,päiväys,päivämäärä,muodot,viikko,viikon alku,viikon ensimmäinen päivä,ensimmäinen,paperi,koko,letter,A4,mittajärjestelmä,mittaaminen,metrinen,anglosaksinen
X-KDE-Keywords[fr]=langue, traduction, format numérique, paramètres régionaux, pays, jeu de caractères, jeux de caractères, symbole décimal, séparateur des milliers, symbole, séparateur, signe, positif, négatif, devise, monnaie, chiffres après la virgule, calendrier, heure, date, formats, semaine, début de semaine, premier, papier, taille, lettre, A4, mesure, métrique, Français, Impérial
X-KDE-Keywords[ia]=linguage,traduction,formato de numero,locale,Pais,charsets,insimul de characteres, Symbolo decimal,separator de milles,symbolo,separator,signo,positive,negative,numerario,moneta,cifras fractional,calendario,tempore,data,formatos,septimana,initio de septimana, prime,papiro,grandor,littera,A4,me 
X-KDE-Keywords[it]=lingua,traduzione,formato dei numeri,localizzazione,nazione,codifica,insieme dei caratteri,simbolo decimale,separatore delle migliaia,simbolo,separatore,segno,positivo,negativo,valuta,moneta,cifre decimali,calendario,ora,data,formati,settimana,inizio settimana,primo,carta,dimensione,lettera,A4,misura,metrico,inglese,imperiale
X-KDE-Keywords[ko]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,언어,번역,숫자,로캘,로케일,국가,나라,지역,문자셋,문자 인코딩,인코딩,소숫점,기호,구분자,양수,음수,통화,화폐,돈,달력,시간,시각,날짜,주,시작 요일,요일,종이,크기,미터법
X-KDE-Keywords[nl]=taal,vertaling,getalformaat,locale,land,tekensets,decimaalsymbool,duizendscheidingsteken,symbool,scheidingsteken,teken,positief,negatief,valuta,geld,decimale cijfers,agenda,tijd,datum,formaten,week,weekbegin,eerst,papier,grootte,letter,A4,afmeting,metrisch,Engels,Imperiaal
X-KDE-Keywords[pl]=język,tłumaczenie,format liczb,regionalność,kraj,zestaw znaków,symbol dziesiętny,separator tysięcy,symbol,separator,znak,dodatni,ujemny,waluta,pieniądze,ułamkowe cyfry,kalendarz,czas,data,formaty,tydzień,początek tygodnia,pierwszy,papier,rozmiar,list,A4,miara,metryczna,Angielski,Cesarskie
X-KDE-Keywords[pt]=língua,tradução,formato numérico,região,país,codificações,conjuntos de caracteres,símbolo decimal,separador dos milhares,símbolo,separador,sinal,positivo,negativo,moeda,dinheiro,casas decimais,calendário,hora,data,formatos,semana,início da semana,primeiro,papel,tamanho,carta,A4,medida,métrica,inglês,imperial
X-KDE-Keywords[pt_BR]=idioma,tradução,formato de números,localização,país,codificações,codificações de caracteres,símbolo decimal,separador de milhares,símbolo,separador,sinal,positivo,negativo,moeda,monetário,casas decimais,calendário,hora,data,formatos,semana,início da semana,primeiro,papel,tamanho,carta,A4,medida,medir,Inglês,Imperial
X-KDE-Keywords[ru]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,язык,перевод,формат чисел,локаль,страна,кодировка,наборы символов,десятичный разделитель,тысячный разделитель,символ,разделитель,подпись,положительный, отрицательный,валюта, деньги, дробные цифры, календарь, время, дата,формат, неделя,начало недели,бумага,размер, буквы,измерение,система мера,метрика
X-KDE-Keywords[sk]=jazyk,preklad,formát čísel,lokalizácia,Krajina,znaky,miestne,Desatinný znak,Oddeľovač tisícov,znak,oddeľovač,znak,kladné,záporné,mena,peniaze,desatinné číslice,kalendár,čas,dátum,formáty,týždeň,začiatok týždňa,prvý,papier,veľkosť,list,A4,merať,metrické,Anglický,Imperiálne
X-KDE-Keywords[sl]=jezik,prevod,format števil,lokalno,država,nabor znakov,kodna tabela,decimalni simbol,ločilnik tisočic,simbol,ločilnik,predznak,pozitivno,negativno,valuta,denar,ulomek,koledar,čas,datum,formati,teden,začetni teden,prvi,papir,velikost,letter,A4,mera,metrično,angleško,imperialno
X-KDE-Keywords[sv]=språk,översättning,nummerformat,plats,Land,teckenuppsättningar,decimalsymbol,tusentalsavgränsare,symbol,avgränsare,tecken,positivt,negativt,valuta,pengar,bråkdelssiffror,kalender,tid,datum,format,vecka, veckostart,först,papper,storlek,letter,A4,mått,meter,engelska
X-KDE-Keywords[uk]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,мова,мови,переклад,переклади,числа,формат,число,локаль,країна,набір,символ,кодування,розряд,тисяч,дробовий,дробова частина,роздільник,символ,знак,додатне,додатний,додатній,від’ємний,від’ємне,валюта,гроші,грошова одиниця,календар,час,дата,формати,тиждень,робочий тиждень,початок тижня,перший,папір,аркуш,вимір,виміри,вимірювання,одиниці вимірювання,метричний,метричні,метр,англійські,імперські
X-KDE-Keywords[vi]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,ngôn ngữ,biên dịch,định dạng số,vùng,quốc gia,bộ mã tự,bộ chữ,dấu thập phân,dấu phân cách hàng nghìn,kí hiệu,phần phân cách,dấu,dương,âm,tiền tệ,tiền,chữ số thập phân,lịch,thời gian,ngày,định dạng,tuần,bắt đầu tuần,đầu tiên,giấy,cỡ,thư,đo,theo hệ mét,theo hệ Anh
X-KDE-Keywords[x-test]=xxlanguagexx,xxtranslationxx,xxnumber formatxx,xxlocalexx,xxCountryxx,xxcharsetsxx,xxcharacter setsxx,xxDecimal symbolxx,xxThousands separatorxx,xxsymbolxx,xxseparatorxx,xxsignxx,xxpositivexx,xxnegativexx,xxcurrencyxx,xxmoneyxx,xxfractional digitsxx,xxcalendarxx,xxtimexx,xxdatexx,xxformatsxx,xxweekxx,xxweek startxx,xxfirstxx,xxpaperxx,xxsizexx,xxletterxx,xxA4xx,xxmeasurexx,xxmetricxx,xxEnglishxx,xxImperialxx
X-KDE-Keywords[zh_CN]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,语言,翻译,数字格式,语系,国家,字符集,千分符,十进制符号,符号,分隔符,正数,负数,现金,钱,日历,分号,时间,日期,星期,周,第一,纸张,大小,信件,度量,度量衡,英制,公制

Categories=Qt;KDE;X-KDE-settings-translations;
