[Desktop Entry]
Name=Formats
Name[ar]=التنسيقات
Name[az]=Formatlar
Name[ca]=Formats
Name[cs]=Formáty
Name[da]=Formater
Name[de]=Formate
Name[en_GB]=Formats
Name[es]=Formatos
Name[eu]=Formatuak
Name[fi]=Muotoilu
Name[fr]=Formats
Name[hi]=प्रारूप 
Name[hsb]=Formaty
Name[hu]=Formátumok
Name[ia]=Formatos
Name[it]=Formati
Name[ja]=形式
Name[ko]=형식
Name[lt]=Formatai
Name[ml]=ഫോർമാറ്റുകൾ
Name[nl]=Formaten
Name[nn]=Format
Name[pa]=ਫਾਰਮੈਟ
Name[pl]=Formaty
Name[pt]=Formatos
Name[pt_BR]=Formatos
Name[ro]=Formate
Name[ru]=Форматы
Name[sk]=Formáty
Name[sl]=Formati
Name[sv]=Format
Name[ta]=படிவங்கள்
Name[tr]=Biçimler
Name[uk]=Формати
Name[vi]=Dạng thức
Name[x-test]=xxFormatsxx
Name[zh_CN]=格式
Comment=Numeric, Currency and Time Formats
Comment[ar]=تنسيقات الأرقام والعملات والوقت 
Comment[az]=Say, Valyuta və Vaxt formatları
Comment[ca]=Format numèric, monetari i horari
Comment[cs]=Formáty čísel, měny a času
Comment[da]=Formater for tal, valuta og tid
Comment[de]=Formate für Zahlen, Währung und Zeitangaben
Comment[en_GB]=Numeric, Currency and Time Formats
Comment[es]=Formatos numérico, de moneda y de hora
Comment[eu]=Zenbakizko, diruzko eta denborazko formatuak
Comment[fi]=Lukujen, rahasummien ja ajanilmausten muotoilu
Comment[fr]=Format numérique, de monnaie et d'heure
Comment[hi]=संख्यात्मक, मुद्रा और समय प्रारूप
Comment[hsb]=Numeriske, pjenježne a časowe formaty
Comment[hu]=Numerikus,Pénznem- és időformátumok
Comment[ia]=Formatos numeric, de numerario e de tempore
Comment[it]=Formati numerici, delle valute e dell'orario
Comment[ko]=숫자, 통화, 시간 형식
Comment[lt]=Skaitmenų, valiutos ir laiko formatai
Comment[ml]=സംഖ്യ, കറൻസി, സമയ ഫോർമാറ്റുകൾ
Comment[nl]=Indeling voor numerieke getallen, valuta en tijd
Comment[nn]=Format for tal, valuta og tid
Comment[pa]=ਅੰਕੀ, ਕਰੰਸੀ ਅਤੇ ਸਮੇਂ ਦੇ ਫਾਰਮੈਟ
Comment[pl]=Formaty liczb, waluty i czasu
Comment[pt]=Formatos Numéricos, Monetários e de Datas
Comment[pt_BR]=Formatos de data/hora, numérico e monetário
Comment[ro]=Formate numerice, valutare și orare
Comment[ru]=Форматы записи чисел, времени и денежных сумм
Comment[sk]=Numerické, mena a časové formáty
Comment[sl]=Številski, valuta in oblike časa
Comment[sv]=Numeriska format, valutaformat och tidsformat
Comment[ta]=எண்களும் பண மதிப்புகளும் நேரங்களும் எழுதப்படும் விதம்
Comment[tr]=Sayısal, Para Birimi ve Saat Biçimleri
Comment[uk]=Формати запису чисел, грошових сум та часу
Comment[vi]=Dạng thức số, tiền tệ và thời gian
Comment[x-test]=xxNumeric, Currency and Time Formatsxx
Comment[zh_CN]=数字、货币和时间格式

Icon=preferences-desktop-locale
Type=Application
Exec=systemsettings kcm_formats
NoDisplay=true
