[Desktop Entry]
Name=Switch Desktop
Type=Service
Icon=user-desktop
Comment=Switch to another virtual desktop

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_switchdesktop
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.switchdesktop
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

