[Desktop Entry]
Name=Panel Spacer
Name[ar]=مُباعِد لوحة
Name[az]=Panel Ayırıcısı
Name[bg]=Разделител за панела
Name[bs]=Panelska razmaknica
Name[ca]=Espaiador del plafó
Name[ca@valencia]=Espaiador del plafó
Name[cs]=Mezera v panelu
Name[da]=Panel-afstandsstykke
Name[de]=Abstandhalter
Name[el]=Κενό πίνακα
Name[en_GB]=Panel Spacer
Name[eo]=Spacigilo de Panelo
Name[es]=Espaciador
Name[et]=Paneeliruumi korraldaja
Name[eu]=Paneleko bereizlea
Name[fi]=Paneelivälilevy
Name[fr]=Espaceur de tableau de bord
Name[fy]=Paniel spaasje
Name[ga]=Scarthóir Painéil
Name[gl]=Espazador do panel
Name[he]=מרווח לוח
Name[hr]=Razmak na traci
Name[hu]=Panelelválasztó
Name[ia]=Spatiator de pannello
Name[id]=Panel Spacer
Name[is]=Spjaldabil
Name[it]=Spaziatore del pannello
Name[ja]=パネルのスペーサー
Name[kk]=Панель бос орын бөлгіші
Name[km]=ចន្លោះ​បន្ទះ
Name[kn]=ಫಲಕ ಸ್ಪೇಸರ್
Name[ko]=패널 공백
Name[lt]=Skydelio skirtukas
Name[lv]=Paneļa atdalītājs
Name[mai]=पटल स्पेसर
Name[mk]=Разграничувач на панели
Name[ml]=പാളിയില്‍ ഒഴിഞ്ഞസ്ഥലമിടാന്‍
Name[mr]=पटल स्पेसर
Name[nb]=Avstandsholder for panel
Name[nds]=Paneel-Platzmaker
Name[nl]=Paneelscheider
Name[nn]=Panelmellomrom
Name[pa]=ਪੈਨਲ ਸਪੇਸਰ
Name[pl]=Odstęp w panelu
Name[pt]=Espaço do Painel
Name[pt_BR]=Espaçador do painel
Name[ro]=Spațiator panou
Name[ru]=Разделитель
Name[si]=පැනල ඉඩතැබීම
Name[sk]=Medzera v paneli
Name[sl]=Praznina za na pult
Name[sr]=панелска размакница
Name[sr@ijekavian]=панелска размакница
Name[sr@ijekavianlatin]=panelska razmaknica
Name[sr@latin]=panelska razmaknica
Name[sv]=Panelavskiljare
Name[th]=ตัวสร้างพื้นที่ว่าง
Name[tr]=Panel Ayırıcı
Name[ug]=تاختا ئارىلىقى
Name[uk]=Розпірка панелі
Name[vi]=Khoảng trống bảng
Name[wa]=Separateu e scriftôr
Name[x-test]=xxPanel Spacerxx
Name[zh_CN]=面板间距
Name[zh_TW]=面板間隔器
Comment=Reserve empty spaces within the panel.
Comment[ar]=يحجز مساحات فارغة في اللوحة.
Comment[az]=Paneldə boş yeri doldurur.
Comment[bg]=Запазване на празни места в панела.
Comment[bs]=Rezervišite prazne poteze na panelu.
Comment[ca]=Reserva espais buits en el plafó.
Comment[ca@valencia]=Reserva espais buits en el plafó.
Comment[cs]=Rezervovat prázdné místo v panelu.
Comment[da]=Reservér tom plads i panelet.
Comment[de]=Reserviert freien Platz in der Kontrollleiste.
Comment[el]=Διατήρηση κενού χώρου μέσα στον πίνακα.
Comment[en_GB]=Reserve empty spaces within the panel.
Comment[eo]=Rezervi malplenan spacon en la panelo.
Comment[es]=Reservar espacios vacíos en el panel.
Comment[et]=Tühja ruumi reserveerimine paneelil.
Comment[eu]=Gorde leku hutsak panel barruan.
Comment[fi]=Varaa tyhjiä tiloja paneelin sisälle.
Comment[fr]=Réserve des espaces vides dans le tableau de bord
Comment[fy]=Romte yn paniel frijhâlde
Comment[ga]=Cuir spásanna folmha in áirithe sa phainéal.
Comment[gl]=Reserva espazos baleiros no panel.
Comment[he]=משמש לשמירת מקום פנוי על הלוח.
Comment[hr]=Rezervacija praznog mjesta na traci
Comment[hu]=Üres helyet választ le egy panelen belül.
Comment[ia]=Reserva spatios vacue intra le pannello.
Comment[id]=Cadangan ruang kosong di dalam panel.
Comment[is]=Taka frá auð svæði innan spjaldsins.
Comment[it]=Lascia dello spazio vuoto nel pannello.
Comment[ja]=パネルに空のスペースを確保します
Comment[kk]=Панельде бос орын қалдырады.
Comment[km]=បម្រុងទុក​ចន្លោះទំនេរ​នៅ​ក្នុង​បន្ទះ ។
Comment[kn]=ಫಲಕದ ಒಳಗೆ ಖಾಲಿ ಜಾಗಗಳನ್ನು ಕಾದಿರಿಸು.
Comment[ko]=패널의 빈 공간을 채웁니다.
Comment[lt]=Rezervuoti skydelyje tuščią vietą.
Comment[lv]=Aizpilda pieejamo tukšo vietu uz paneļa.
Comment[mai]=पटलक अंदर रिक्त स्थान खाली राखू.
Comment[mk]=Резервира празни места во рамките на панелот
Comment[ml]=പാനലിലെ ഒഴിഞ്ഞ ഇടങ്ങള്‍ കരുതിവെയ്ക്കുക.
Comment[mr]=पटल मध्ये रिकाम्या जागा आरक्षित करा.
Comment[nb]=Reserver tomme rom inni panelet.
Comment[nds]=Ruum op't Paneel freehollen
Comment[nl]=Reserveer lege ruimte in het paneel.
Comment[nn]=Reserver tomme plassar i panelet.
Comment[pa]=ਪੈਨਲ ਵਿੱਚ ਖਾਲੀ ਥਾਂ ਬਦਲੋ।
Comment[pl]=Rezerwuje wolną przestrzeń na panelu.
Comment[pt]=Reserva espaços vazios dentro do painel.
Comment[pt_BR]=Reserva espaços vazios no painel.
Comment[ro]=Rezervează spații goale în cadrul panoului.
Comment[ru]=Занимает свободное место на панели
Comment[si]=පැනලය තුල හිස් ඉඩ වෙන් කරන්න
Comment[sk]=Rezervuje prázdne miesto v paneli.
Comment[sl]=Rezerviraj prazne prostorčke na pultu.
Comment[sr]=Резервишите празне потезе на панелу.
Comment[sr@ijekavian]=Резервишите празне потезе на панелу.
Comment[sr@ijekavianlatin]=Rezervišite prazne poteze na panelu.
Comment[sr@latin]=Rezervišite prazne poteze na panelu.
Comment[sv]=Reservera tomt utrymme inne i panelen.
Comment[th]=สร้างพื้นที่ว่างไว้ภายในแถบพาเนล
Comment[tr]=Paneldeki boş alanları koruyun.
Comment[ug]=تاختادا بوشلۇق قالدۇرىدۇ.
Comment[uk]=Створює прогалини на панелі.
Comment[vi]=Giữ các khoảng trống trong bảng.
Comment[wa]=Wårdez des vudes espåces e scriftôr.
Comment[x-test]=xxReserve empty spaces within the panel.xx
Comment[zh_CN]=在面板中预留空白。
Comment[zh_TW]=在面板內保留空間。

X-KDE-ServiceTypes=Plasma/Applet
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

NoDisplay=true

X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.panelspacer
X-KDE-Library=org.kde.plasma.panelspacer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
