[Desktop Entry]
Name=System Tray Plasmoid Test
Name[bs]=Test plazmoida u sistemskom uglu
Name[ca]=Prova del plasmoide Safata del sistema
Name[ca@valencia]=Prova del plasmoide Safata del sistema
Name[cs]=Test Plasmoidu systémové části panelu
Name[da]=Statusområde Plasmoid-test
Name[de]=Plasmoid-Test im Systemabschnitt der Kontrollleiste
Name[el]=Πλαίσιο συστήματος
Name[es]=Prueba de plasmoide de la bandeja del sistema
Name[eu]=Sistema-erretilu plasmoidearen proba
Name[fi]=Ilmoitusalueplasmoidin testi
Name[fr]=Test des plasmoïdes dans la boîte à miniatures
Name[gl]=Proba do Plasmoide da bandexa do sistema
Name[hu]=Paneltálca Plasmoid teszt
Name[ia]=Essayo de Plasmoid de Tabuliero de systema
Name[kk]=Плазмоид жүйелік сөре сынағы
Name[ko]=시스템 트레이 Plasmoid 시험
Name[nb]=Test Systemkurv-plasmoide
Name[nds]=Plasmalüttprogramm-Systeemafsnitt-Test
Name[nl]=Plasmoid test in systeemvak
Name[pa]=ਸਿਸਟਮ ਟਰੇ ਪਲਾਜ਼ਮੋਡ ਟੈਸਟ
Name[pl]=Test plazmoidu tacki systemowej
Name[pt]=Plasmóide de Testes da Bandeja do Sistema
Name[pt_BR]=Plasmoide de teste da área de notificação
Name[sk]=Plazmoidový test systémovej lišty
Name[sl]=Preizkusni Plasmoid sistemske vrstice
Name[sr]=проба плазмоида системске касете
Name[sr@ijekavian]=проба плазмоида системске касете
Name[sr@ijekavianlatin]=proba plazmoida sistemske kasete
Name[sr@latin]=proba plazmoida sistemske kasete
Name[sv]=Test av Plasmoid för systembricka
Name[tr]=Sistem Çekmecesi Plasmoid Sınaması
Name[uk]=Перевірка плазмоїду системного лотка
Name[x-test]=xxSystem Tray Plasmoid Testxx
Name[zh_CN]=系统托盘控件测试
Name[zh_TW]=Plasmoid 測試系統匣
Comment=Test the system tray
Comment[bs]=Testiraj sistemski ugao
Comment[ca]=Prova de la Safata del sistema
Comment[ca@valencia]=Prova de la Safata del sistema
Comment[da]=Test af statusområde
Comment[de]=Test des Systemabschnitts der Kontrollleiste
Comment[el]=Έλεγχος του πλαισίου συστήματος
Comment[es]=Probar la bandeja del sistema
Comment[eu]=Probatu sistemaren-erretilua
Comment[fi]=Ilmoitusalueen testi
Comment[fr]=Tester la boîte à miniature
Comment[gl]=Probar a bandexa do sistema
Comment[hu]=A rendszertálca tesztelése
Comment[ia]=Essaya le tabuliero de systema
Comment[kk]=Жүйелік сөре сынағы
Comment[ko]=시스템 트레이 시험
Comment[nb]=Test systemkurven
Comment[nds]=Den Systeemafsnitt utproberen
Comment[nl]=Test het systeemvak
Comment[pa]=ਸਿਸਟਮ ਟਰੇ ਟੈਸਟ
Comment[pl]=Wypróbuj tackę systemową
Comment[pt]=Testar a bandeja do sistema
Comment[pt_BR]=Testar a área de notificação
Comment[ro]=Testează tava de sistem
Comment[sk]=Testovať systémovú lištu
Comment[sl]=Preizkusite sistemsko vrstico
Comment[sr]=Испробајте системску касету
Comment[sr@ijekavian]=Испробајте системску касету
Comment[sr@ijekavianlatin]=Isprobajte sistemsku kasetu
Comment[sr@latin]=Isprobajte sistemsku kasetu
Comment[sv]=Testa systembrickan
Comment[tr]=Sistem çekmecesini sına
Comment[uk]=Перевірка системного лотка
Comment[x-test]=xxTest the system trayxx
Comment[zh_CN]=测试系统托盘
Comment[zh_TW]=測試系統匣
Icon=preferences-desktop-notification
Type=Service

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.systrayplasmoidtest
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-NotificationArea=true
X-Plasma-MainScript=ui/main.qml
