[Desktop Entry]
Name=System Tray Plasmoid Test
Name[uk]=Перевірка плазмоїду системного лотка
Name[x-test]=xxSystem Tray Plasmoid Testxx
Comment=Test the system tray
Comment[uk]=Перевірка системного лотка
Comment[x-test]=xxTest the system trayxx
Icon=preferences-desktop-notification
Type=Service

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.systrayplasmoidtest
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-NotificationArea=true
X-Plasma-MainScript=ui/main.qml
