[Desktop Entry]
Name=pastebin.com
Name[uk]=pastebin.com
Name[x-test]=xxpastebin.comxx
Comment=Allows text to be shared using the pastebin.com service
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби pastebin.com
Comment[x-test]=xxAllows text to be shared using the pastebin.com servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pastebincom
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

