[Desktop Entry]
Name=pastebin.com
Name[ast]=pastebin.com
Name[bg]=pastebin.com
Name[bs]=pastebin.com
Name[ca]=pastebin.com
Name[ca@valencia]=pastebin.com
Name[cs]=pastebin.com
Name[da]=pastebin.com
Name[de]=pastebin.com
Name[el]=pastebin.com
Name[en_GB]=pastebin.com
Name[es]=pastebin.com
Name[et]=pastebin.com
Name[eu]=pastebin.com
Name[fi]=pastebin.com
Name[fr]=pastebin.com
Name[ga]=pastebin.com
Name[gl]=pastebin.com
Name[gu]=pastebin.com
Name[he]=pastebin.com
Name[hi]=pastebin.com
Name[hr]=pastebin.com
Name[hu]=pastebin.com
Name[ia]=pastebin.com
Name[id]=pastebin.com
Name[is]=pastebin.com
Name[it]=pastebin.com
Name[ja]=pastebin.com
Name[kk]=pastebin.com
Name[km]=pastebin.com
Name[ko]=pastebin.com
Name[lt]=pastebin.com
Name[lv]=pastebin.com
Name[mr]=pastebin.com
Name[nb]=pastebin.com
Name[nds]=pastebin.com
Name[nl]=pastebin.com
Name[nn]=pastebin.com
Name[pa]=pastebin.com
Name[pl]=pastebin.com
Name[pt]=pastebin.com
Name[pt_BR]=pastebin.com
Name[ro]=pastebin.com
Name[ru]=pastebin.com
Name[sk]=pastebin.com
Name[sl]=pastebin.com
Name[sr]=pastebin.com
Name[sr@ijekavian]=pastebin.com
Name[sr@ijekavianlatin]=pastebin.com
Name[sr@latin]=pastebin.com
Name[sv]=pastebin.com
Name[tg]=pastebin.com
Name[th]=pastebin.com
Name[tr]=pastebin.com
Name[ug]=pastebin.com
Name[uk]=pastebin.com
Name[wa]=pastebin.com
Name[x-test]=xxpastebin.comxx
Name[zh_CN]=pastebin.com
Name[zh_TW]=pastebin.com
Comment=Allows text to be shared using the pastebin.com service
Comment[ar]=يسمح بمشاركة النصوص عبر خدمة pastebin.com
Comment[bg]=Позволява споделянето на текст чрез pastebin.com
Comment[bs]=Omogućava dijeljenje teksta preko servisa pastebin.com
Comment[ca]=Permet la compartició de text utilitzant el servei pastebin.com
Comment[ca@valencia]=Permet la compartició de text utilitzant el servei pastebin.com
Comment[cs]=Povolí sdílení textů pomocí služby pastebin.com
Comment[da]=Muliggør deling af tekst med tjenesten pastebin.com
Comment[de]=Ermöglicht die Veröffentlichung von Text über den pastebin.com-Dienst
Comment[el]=Επιτρέπει στο κείμενο να γίνει κοινόχρηστο χρησιμοποιώντας την υπηρεσία pastebin.com
Comment[en_GB]=Allows text to be shared using the pastebin.com service
Comment[es]=Permite compartir texto a través del servicio de pastebin.com
Comment[et]=Teksti jagamine pastebin.com teenuse kaudu
Comment[eu]=Testua pastebin.com zerbitzuaren bidez partekatzeko aukera ematen du
Comment[fi]=Mahdollistaa tekstin jakamisen pastebin.com-palvelussa
Comment[fr]=Permet le partage de texte à l'aide du service « pastebin.com »
Comment[gl]=Permite compartir texto mediante o servizo pastebin.org
Comment[he]=מאפשר שיתוף טקסט באמצעות השירות pastebin.com
Comment[hr]=Omogućuje dijeljenje teksta koristeći servis pastebin.com
Comment[hu]=Szöveg megosztása a pastebin.com szolgáltatás használatával
Comment[ia]=Il permitte texto de esser compartite per usar le servicio pastebin.com
Comment[id]=Memungkinkan teks dibagi menggunakan layanan pastebin.com
Comment[is]=Gerir kleift að deila texta með pastebin.com límklippusafninu
Comment[it]=Abilita la condivisione di testo con il servizio pastebin.com
Comment[ja]=pastebin.com のサービスを用いたテキストの共有を有効にする
Comment[kk]=pastebin.com қызметі көмегімен мәтінді ортақ қылуды рұқсат ету
Comment[km]=បើក​ការ​ចែករំលែក​អត្ថបទ ដោយ​ប្រើ​សេវា pastebin.com
Comment[ko]=pastebin.com으로 텍스트를 공유합니다
Comment[lt]=Įjungia dalinimąsį tekstu naudojant pastebin.com tarnybą
Comment[lv]=Ļauj kopīgot tekstu, izmantojot pastebin.com servisu
Comment[mr]=pastebin.com सेवा वापरुन पाठ्य शेअर करतो
Comment[nb]=Gjør det mulig å dele tekst via tjenesten pastebin.com
Comment[nds]=Text op "pastebin.com" praatstellen
Comment[nl]=Staat het delen van tekst toe met gebruik van de service pastebin.com
Comment[nn]=Gjer det mogleg å dela tekst via tenesta pastebin.com
Comment[pa]=pastebin.com ਸਰਵਿਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਟੈਕਸਟ ਸਾਂਝਾ ਕਰੋ
Comment[pl]=Udostępniania tekst przy użyciu usługi pastebin.com
Comment[pt]=Permite a partilha de texto com o serviço do 'pastebin.com'
Comment[pt_BR]=Permite o compartilhamento de texto usando o serviço do pastebin.com
Comment[ro]=Permite partajarea textului cu serviciul pastebin.com
Comment[ru]=Позволяет публиковать текст на сервере pastebin.com
Comment[sk]=Povolí zdieľanie textu pomocou služby pastebin.com
Comment[sl]=Omogoča deljenje besedila prek storitve pastebin.com
Comment[sr]=Дељење текста преко сервиса pastebin.com
Comment[sr@ijekavian]=Дијељење текста преко сервиса pastebin.com
Comment[sr@ijekavianlatin]=Dijeljenje teksta preko servisa pastebin.com
Comment[sr@latin]=Deljenje teksta preko servisa pastebin.com
Comment[sv]=Tillåter att text delas genom att använda tjänsten pastebin.com
Comment[tr]=pastebin.com servisini kullanarak metinleri paylaşmayı sağlar
Comment[ug]=تېكىستلەرنى pastebin.com مۇلازىمىتىنى ئىشلىتىپ ھەمبەھىرلەشكە ئىجازەت
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби pastebin.com
Comment[vi]=Cho phép chia sẻ văn bản qua dịch vụ pastebin.com
Comment[wa]=Permete li pårtaedje di scrijhaedje e s' siervant do siervice pastebin.com
Comment[x-test]=xxAllows text to be shared using the pastebin.com servicexx
Comment[zh_CN]=用 pastebin.com 服务共享文字
Comment[zh_TW]=允許使用 pastebin.com 服務分享文字
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pastebincom
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

