[Desktop Entry]
Name=Broken Wallpaper (For test purpose, don't translate!)

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=Ken Vermette <vermette@gmail.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
