[Desktop Entry]
Icon=preferences-desktop-plasma-theme
Exec=kcmshell5 kcm_desktoptheme

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=20
X-DocPath=kcontrol/desktopthemedetails/index.html

Name=Plasma Style
Comment=Choose Plasma style
X-KDE-Keywords=Desktop Theme,Plasma Theme
