[Desktop Entry]
Name=wklej.org
Name[bg]=wklej.org
Name[bs]=wklej.org
Name[ca]=wklej.org
Name[ca@valencia]=wklej.org
Name[cs]=wklej.org
Name[da]=wklej.org
Name[de]=wklej.org
Name[el]=wklej.org
Name[en_GB]=wklej.org
Name[es]=wklej.org
Name[et]=wklej.org
Name[eu]=wklej.org
Name[fi]=wklej.org
Name[fr]=wklej.org
Name[ga]=wklej.org
Name[gl]=wklej.org
Name[gu]=wklej.org
Name[he]=wklej.org
Name[hi]=wklej.org
Name[hr]=wklej.org
Name[hu]=wklej.org
Name[ia]=wklej.org
Name[id]=wklej.org
Name[is]=wklej.org
Name[it]=wklej.org
Name[ja]=wklej.org
Name[kk]=wklej.org
Name[km]=wklej.org
Name[ko]=wklej.org
Name[lt]=wklej.org
Name[lv]=wklej.org
Name[mr]=wklej.org
Name[nb]=wklej.org
Name[nds]=wklej.org
Name[nl]=wklej.org
Name[nn]=wklej.org
Name[pa]=wklej.org
Name[pl]=wklej.org
Name[pt]=wklej.org
Name[pt_BR]=wklej.org
Name[ro]=wklej.org
Name[ru]=wklej.org
Name[sk]=wklej.org
Name[sl]=wklej.org
Name[sr]=wklej.org
Name[sr@ijekavian]=wklej.org
Name[sr@ijekavianlatin]=wklej.org
Name[sr@latin]=wklej.org
Name[sv]=wklej.org
Name[tg]=wklej.org
Name[th]=wklej.org
Name[tr]=wklej.org
Name[ug]=wklej.org
Name[uk]=wklej.org
Name[wa]=wklej.org
Name[x-test]=xxwklej.orgxx
Name[zh_CN]=wklej.org
Name[zh_TW]=wklej.org
Comment=Allows text to be shared using the wklej.org service
Comment[ar]=يسمح بمشاركة النصوص عبر خدمة wklej.org
Comment[bg]=Позволява споделянето на текст чрез wklej.org
Comment[bs]=Dopušta dijeljenje teksta preko servisa wklej.org
Comment[ca]=Permet la compartició de text utilitzant el servei wklej.org
Comment[ca@valencia]=Permet la compartició de text utilitzant el servei wklej.org
Comment[cs]=Povolí sdílení textů pomocí služby wklej.org
Comment[da]=Muliggør deling af tekst med tjenesten wklej.org
Comment[de]=Ermöglicht die Veröffentlichung von Text über den wklej.org-Dienst
Comment[el]=Επιτρέπει στο κείμενο να γίνει κοινόχρηστο χρησιμοποιώντας την υπηρεσία wklej.org
Comment[en_GB]=Allows text to be shared using the wklej.org service
Comment[es]=Permite compartir texto a través del servicio de wklej.org
Comment[et]=Teksti jagamine wklej.org teenuse kaudu
Comment[eu]=Testua wklej.org zerbitzuaren bidez partekatzeko aukera ematen du
Comment[fi]=Mahdollistaa tekstin jakamisen wklej.org-palvelussa
Comment[fr]=Permet le partage de texte à l'aide du service « wklej.org »
Comment[gl]=Permite compartir texto mediante o servizo wklej.org
Comment[he]=מאפשר שיתוף טקסט באמצעות השירות wklej.org
Comment[hr]=Omogućuje dijeljenje teksta koristeći servis wklej.org
Comment[hu]=Szöveg megosztása a wklej.org szolgáltatás használatával
Comment[ia]=Il permitte texto de esser compartite per usar le servicio wklej.org
Comment[id]=Memungkinkan teks dibagi menggunakan layanan wklej.org
Comment[is]=Gerir kleift að deila texta með wklej.org þjónustunni
Comment[it]=Abilita la condivisione di testo con il servizio wklej.org
Comment[ja]=wklej.org のサービスを用いたテキストの共有を有効にする
Comment[kk]=wklej.org қызметі көмегімен мәтінді ортақ қылуды рұқсат ету
Comment[km]=បើក​ការ​ចែករំលែក​អត្ថបទ​ដោយ​ប្រើ​សេវា wklej.org
Comment[ko]=wklej.org로 텍스트를 공유합니다
Comment[lt]=Įjungia dalinimąsį tekstu naudojant wklej.org tarnybą
Comment[lv]=Ļauj kopīgot tekstu, izmantojot wklej.org servisu
Comment[mr]=wklej.org सेवा वापरुन पाठ्य शेअर करतो
Comment[nb]=Gjør det mulig å dele tekst via tjenesten wklej.org
Comment[nds]=Text op "wklej.org" praatstellen
Comment[nl]=Staat het delen van tekst toe met gebruik van de service wklej.org
Comment[nn]=Gjer det mogleg å dela tekst via tenesta wklej.org
Comment[pa]=wklej.org ਸਰਵਿਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਟੈਕਸਟ ਸਾਂਝਾ ਕਰਨਾ ਯੋਗ
Comment[pl]=Udostępniania tekst przy użyciu usługi wklej.org
Comment[pt]=Permite a partilha de texto com o serviço do 'wklej.org'
Comment[pt_BR]=Permite o compartilhamento de texto com o serviço do wklej.org
Comment[ro]=Permite partajarea textului cu serviciul wklej.org
Comment[ru]=Позволяет публиковать текст на сервере wklej.org
Comment[sk]=Povolí zdieľanie textu pomocou služby wklej.org
Comment[sl]=Omogoča deljenje besedila prek storitve wklej.org
Comment[sr]=Дељење текста преко сервиса wklej.org
Comment[sr@ijekavian]=Дијељење текста преко сервиса wklej.org
Comment[sr@ijekavianlatin]=Dijeljenje teksta preko servisa wklej.org
Comment[sr@latin]=Deljenje teksta preko servisa wklej.org
Comment[sv]=Tillåter att text delas genom att använda tjänsten wklej.org
Comment[tr]=wklej.org servisini kullanarak metinleri paylaşmayı sağlar
Comment[ug]=تېكىستلەرنى wklej.org مۇلازىمىتىنى ئىشلىتىپ ھەمبەھىرلەشكە ئىجازەت
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби wklej.org
Comment[vi]=Cho phép chia sẻ văn bản qua dịch vụ wklej.org
Comment[wa]=Permete li pårtaedje di scrijhaedje e s' siervant do siervice wklej.org
Comment[x-test]=xxAllows text to be shared using the wklej.org servicexx
Comment[zh_CN]=用 wklej.org服务共享文字
Comment[zh_TW]=允許使用 wklej.org 服務分享文字
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=wklej
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop

