[Desktop Entry]
Exec=kcmshell5 kcm_kwin_virtualdesktops
Icon=preferences-desktop-virtual
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kwin_virtualdesktops/index.html

X-KDE-Library=kcm_kwin_virtualdesktops
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=desktop

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=60

Name=Virtual Desktops

Comment=Configure navigation, number and layout of virtual desktops
X-KDE-Keywords=desktop,desktops,number,virtual desktop,multiple desktops,pager,pager widget,pager applet,pager settings

Categories=Qt;KDE;X-KDE-settings-translations;
