[Desktop Entry]
Type=Application
Exec=konsole
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewWindow;NewTab;
X-DocPath=konsole/index.html
X-DBUS-StartupType=Unique
StartupNotify=true
X-KDE-AuthorizeAction=shell_access

Name=Konsole ServiceRunnerTest

GenericName=Terminal ServiceRunnerTest

Comment=Command line access ServiceRunnerTest

[Desktop Action NewWindow]
Name=Open a New Window
Exec=konsole

[Desktop Action NewTab]
Name=Open a New Tab
Exec=konsole --new-tab
