# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Exec=plasma-emojier
Name=Emoji Selector ServiceRunnerTest
GenericName=Emoji Selector
Comment=Copy emojis to the clipboard
OnlyShowIn=KDE;
Type=Application
Icon=preferences-desktop-emoticons
X-DBUS-StartupType=Unique
X-KDE-Shortcuts=Meta+.,Meta+Ctrl+Alt+Shift+Space
Categories=Qt;KDE;Utility;
Keywords=characters;unicode;punctuation;letters;emoji;emoticon;symbols;smiley face;
