# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Image Manipulation Program ServiceRunnerTest
GenericName=Image Editor
Comment=Create images and edit photographs
Keywords=GIMP;graphic;design;illustration;painting;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gimp-3.0 --file-forwarding org.gimp.GIMP @@u %U @@
Icon=org.gimp.GIMP
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/svg+xml;image/x-compressed-xcf;image/x-fits;image/x-gimp-gbr;image/x-gimp-gih;image/x-gimp-pat;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xwindowdump;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/qoi;image/x-ilbm;image/x-exr;image/x-webp;image/webp;image/heif;image/heic;image/avif;application/pdf;image/x-wmf;image/jp2;image/jpeg2000;image/jpx;image/jxl;image/x-xcursor;image/fits;image/openraster
StartupWMClass=gimp-3.0
X-Flatpak-RenamedFrom=gimp.desktop;
X-Flatpak-Tags=GTK+3;stable;
X-Flatpak=org.gimp.GIMP
