# SPDX-FileCopyrightText: 2022 Alexander Lohnau <alexander.lohnau@gmx.de>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=KPatience
Exec=true -qwindowtitle %c %u
Type=Application
Icon=kpat
X-DocPath=kpat/index.html
GenericName=Patience Card Game
Comment=Solitaire card game
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;CardGame;
MimeType=application/vnd.kde.kpatience.savedstate;
X-DBUS-ServiceName=org.kde.kpat
