[Desktop Entry]
Name=Virtual Machine Manager ServiceRunnerTest
Comment=Manage virtual machines
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Categories=System;
