# This file is no longer installed by default,
# but left here for historical reasons :)
# (it used to be renamed to klipperrc and put in $INSTALL_DIR/share/config)
# Just in case anyone will want to take a look.
# At the moment klipper automatically determines actions depending on mimetype,
# so there's actually no need to supply some defaults.

# Maybe this file should be removed later
#  - dimsuz 31.03.2009
[General]
Number of Actions=7

[Action_0]
Description=Jpeg-Image
Number of commands=1
Regexp=^\\/.+\\.jpg$

[Action_0/Command_0]
Commandline=gwenview %s
Description=Launch &Gwenview
Enabled=true

[Action_1]
Description=Web-URL
Number of commands=6
Regexp=^https?://.

[Action_1/Command_0]
Commandline=kfmclient exec %s
Description=Open with &default Browser
Enabled=true

[Action_1/Command_1]
Commandline=konqueror %s
Description=Open with &Konqueror
Enabled=true

[Action_1/Command_2]
Commandline=ps x |grep -q '[m]ozilla' && "mozilla -remote openURL(%s, new-window)" || mozilla %s
Icon=mozilla
Description=Open with &Mozilla
Enabled=true

[Action_1/Command_3]
Commandline=kmail --body  %s
Description=Send &URL
Enabled=true

[Action_1/Command_4]
Commandline=ps x |grep -q '[f]irefox' && "firefox -remote openURL(%s, new-window)" || firefox "%s"
Icon=firefox
Description=Open with &Firefox
Enabled=true

[Action_1/Command_5]
Commandline=kmail  --attach %s
Description=Send &Page
Enabled=true

[Action_2]
Description=Mail-URL
Number of commands=2
Regexp=^mailto:.

[Action_2/Command_0]
Commandline=kmail --composer `echo %s | sed 's/mailto://g'`
Description=Launch &Kmail
Enabled=true

[Action_2/Command_1]
Commandline=konsole -e mutt `echo %s | sed 's/mailto://g'`
Description=Launch &mutt
Enabled=true

[Action_3]
Description=Text File
Number of commands=1
Regexp=^\\/.+\\.txt$

[Action_3/Command_0]
Commandline=kwrite %s
Description=Launch K&Write
Enabled=true

[Action_4]
Description=Local file URL
Number of commands=2
Regexp=^file:.

[Action_4/Command_0]
Commandline=kmail --body  %s
Description=Send &URL
Enabled=true

[Action_4/Command_1]
Commandline=kmail  --attach %s
Description=Send &File
Enabled=true

[Action_5]
Description=Gopher URL
Number of commands=2
Regexp=^gopher:.

[Action_5/Command_0]
Commandline=kmail --body %s
Description=Send &URL
Enabled=true

[Action_5/Command_1]
Commandline=kmail  --attach %s
Description=Send &File
Enabled=true

[Action_6]
Description=ftp URL
Number of commands=5
Regexp=^ftp://.

[Action_6/Command_0]
Commandline=kfmclient exec %s
Description=Open with &default Browser
Enabled=true

[Action_6/Command_1]
Commandline=konqueror %s
Description=Open with &Konqueror
Enabled=true

[Action_6/Command_2]
Commandline=mozilla -remote openURL(%s, new-window)
Description=Open with &Mozilla
Enabled=true

[Action_6/Command_3]
Commandline=kmail --body  %s
Description=Send &URL
Enabled=true

[Action_6/Command_4]
Commandline=kmail  --attach %s
Description=Send &File
Enabled=true
