[Desktop Entry]
Name=Clipboard
Name[ar]=الحافظة
Name[ast]=Cartafueyu
Name[az]=Mübadilə buferi
Name[bs]=Klipbord
Name[ca]=Porta-retalls
Name[ca@valencia]=Porta-retalls
Name[cs]=Schránka
Name[da]=Udklipsholder
Name[de]=Zwischenablage
Name[el]=Πρόχειρο
Name[en_GB]=Clipboard
Name[es]=Portapapeles
Name[et]=Lõikepuhver
Name[eu]=Arbela
Name[fi]=Leikepöytä
Name[fr]=Presse-papiers
Name[gl]=Portapapeis
Name[he]=לוח העתקה
Name[hu]=Vágólap
Name[ia]=Area de transferentia
Name[id]=PapanKlip
Name[is]=Klippispjald
Name[it]=Appunti
Name[ja]=クリップボード
Name[ko]=클립보드
Name[lt]=Iškarpinė
Name[lv]=Starpliktuve
Name[ml]=ക്ലിപ്ബോര്‍ഡ്
Name[nb]=Utklippstavle
Name[nds]=Twischenaflaag
Name[nl]=Klembord
Name[nn]=Utklippstavle
Name[pa]=ਕਲਿੱਪਬੋਰਡ
Name[pl]=Schowek
Name[pt]=Área de Transferência
Name[pt_BR]=Área de transferência
Name[ro]=Clipboard
Name[ru]=Буфер обмена
Name[sk]=Schránka
Name[sl]=Odložišče
Name[sr]=клипборд
Name[sr@ijekavian]=клипборд
Name[sr@ijekavianlatin]=klipbord
Name[sr@latin]=klipbord
Name[sv]=Klippbord
Name[tg]=Ҳофизаи муваққатӣ
Name[tr]=Pano
Name[uk]=Буфер обміну
Name[vi]=Bảng nháp
Name[x-test]=xxClipboardxx
Name[zh_CN]=剪贴板
Name[zh_TW]=剪貼簿
Comment=Clipboard Tool.
Comment[az]=Mübadilə buferi Aləti.
Comment[bs]=Klipbord alat.
Comment[ca]=Eina de porta-retalls.
Comment[ca@valencia]=Eina de porta-retalls.
Comment[cs]=Program pro práci se schránkou.
Comment[da]=Udklipsholderværktøj.
Comment[de]=Verwaltung der Zwischenablage.
Comment[el]=Εργαλείο πρόχειρου.
Comment[en_GB]=Clipboard Tool.
Comment[es]=Herramienta del portapapeles.
Comment[et]=Lõikepuhvri haldamine.
Comment[eu]=Arbelako tresna.
Comment[fi]=Leikepöytätyökalu.
Comment[fr]=Presse-papiers
Comment[gl]=Utilidade de portapapeis.
Comment[he]=כלי לוח העתקה
Comment[hu]=Vágólapkezelő.
Comment[ia]=Instrumento de  Area de transferentia
Comment[id]=Alat Papan-klip.
Comment[is]=Klippispjaldstól.
Comment[it]=Strumento per gli appunti.
Comment[ja]=クリップボードツール
Comment[ko]=클립보드 도구.
Comment[lt]=Iškarpinės įrankis.
Comment[lv]=Starpliktuves rīks.
Comment[nb]=Utklippstavle-verktøy.
Comment[nds]=Twischenaflaag-Warktüüch
Comment[nl]=Klembordbeheer.
Comment[nn]=Utklippstavleverktøy.
Comment[pa]=ਕਲਿੱਪਬੋਰਡ ਟੂਲ ਹੈ।
Comment[pl]=Narzędzie schowka.
Comment[pt]=Ferramenta da Área de Transferência.
Comment[pt_BR]=Ferramenta da área de transferência.
Comment[ro]=Utilitar de clipboard.
Comment[ru]=Монитор буфера обмена
Comment[sk]=Nástroj pre schránku.
Comment[sl]=Orodje za odložišče.
Comment[sr]=Алатка за клипборд
Comment[sr@ijekavian]=Алатка за клипборд
Comment[sr@ijekavianlatin]=Alatka za klipbord
Comment[sr@latin]=Alatka za klipbord
Comment[sv]=Klippbordsverktyg.
Comment[tg]=Абзори ҳофизаи муваққатӣ.
Comment[tr]=Pano Aracı.
Comment[uk]=Утиліта буфера даних.
Comment[vi]=Công cụ bảng nháp.
Comment[x-test]=xxClipboard Tool.xx
Comment[zh_CN]=剪贴板工具。
Comment[zh_TW]=剪貼簿工具。
Type=Service
Icon=klipper

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_clipboard

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
