[Desktop Entry]
Name=Clipboard
Name[ca]=Porta-retalls
Name[cs]=Schránka
Name[en_GB]=Clipboard
Name[es]=Portapapeles
Name[fi]=Leikepöytä
Name[nds]=Twischenaflaag
Name[nl]=Klembord
Name[pl]=Schowek
Name[pt_BR]=Área de transferência
Name[sk]=Schránka
Name[sl]=Odložišče
Name[sr]=клипборд
Name[sr@ijekavian]=клипборд
Name[sr@ijekavianlatin]=klipbord
Name[sr@latin]=klipbord
Name[sv]=Klippbord
Name[uk]=Буфер обміну
Name[x-test]=xxClipboardxx
Comment=Clipboard Tool.
Comment[ca]=Eina de porta-retalls.
Comment[cs]=Program pro práci se schránkou.
Comment[en_GB]=Clipboard Tool.
Comment[es]=Herramienta del portapapeles.
Comment[fi]=Leikepöytätyökalu.
Comment[nds]=Twischenaflaag-Warktüüch
Comment[nl]=Klembordbeheer.
Comment[pl]=Narzędzie schowka.
Comment[pt_BR]=Ferramenta da área de transferência.
Comment[sk]=Nástroj pre schránku.
Comment[sl]=Orodje za odložišče.
Comment[sr]=Алатка за клипборд
Comment[sr@ijekavian]=Алатка за клипборд
Comment[sr@ijekavianlatin]=Alatka za klipbord
Comment[sr@latin]=Alatka za klipbord
Comment[sv]=Klippbordsverktyg.
Comment[uk]=Утиліта буфера даних.
Comment[x-test]=xxClipboard Tool.xx
Type=Service
Icon=klipper

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_clipboard

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
