[Desktop Entry]
Name=Device Notifier
Name[ar]=مُخطِر الأجهزة
Name[be@latin]=Infarmavańnie pra novyja pryłady
Name[bg]=Уведомяване за нови устройства
Name[bn]=ডিভাইস নোটিফায়ার
Name[bn_IN]=ডিভাইসের সূচনা ব্যবস্থা
Name[bs]=Izveštavač o uređajima
Name[ca]=Notificador de dispositius
Name[ca@valencia]=Notificador de dispositius
Name[cs]=Upozornění na zařízení
Name[csb]=Dôwôcz wiédzë ò ùrządzeniach
Name[da]=Enhedsbekendtgørelse
Name[de]=Geräteüberwachung
Name[el]=Ειδοποίηση νέας συσκευής
Name[en_GB]=Device Notifier
Name[eo]=Atentigilo pri nova aparato
Name[es]=Notificador de dispositivos
Name[et]=Seadmete teadustaja
Name[eu]=Gailu-jakinarazlea
Name[fa]=اخطار دهنده‌ی دستگاه
Name[fi]=Laiteilmoitin
Name[fr]=Notification de nouveau périphérique
Name[fy]=Apparaat meidieler
Name[ga]=Fógróir Gléis
Name[gl]=Notificador de dispositivos
Name[gu]=ઉપકરણ નોંધ કરનાર
Name[he]=מודיע על התקנים
Name[hi]=उपकरण सूचक
Name[hne]=उपकरन बतइया
Name[hr]=Glasnik uređaja
Name[hsb]=Zdźělenki wo gratach
Name[hu]=Eszközértesítő
Name[ia]=Notificator de dispositivo
Name[id]=Pemberitahu Peranti
Name[is]=Tilkynningar um ný tæki
Name[it]=Notificatore dei dispositivi
Name[ja]=デバイスの通知
Name[kk]=Құрылғы құлақтандырғышы
Name[km]=កម្មវិធី​ជូនដំណឹង​ឧបករណ៍​
Name[kn]=ಹೊಸ ಸಾಧನ ಸೂಚಕ
Name[ko]=장치 알림이
Name[ku]=Hişyarkerê Cîhaz
Name[lt]=Pranešimai apie įrenginius
Name[lv]=Ierīču paziņotājs
Name[mk]=Известувач за уреди
Name[ml]=പുതിയ ഡിവൈസ് അറിയിക്കുന്നതിനുള്ള സംവിധാനം
Name[mr]=साधन निदर्शक
Name[nb]=Enhetsvarsler
Name[nds]=Bescheden över Reedschappen
Name[nl]=Apparaatmelder
Name[nn]=Einingsvarslar
Name[pa]=ਜੰਤਰ ਨੋਟੀਫਾਇਰ
Name[pl]=Powiadomienia o urządzeniach
Name[pt]=Notificação de Dispositivos
Name[pt_BR]=Notificação de dispositivos
Name[ro]=Notificare dispozitive
Name[ru]=Подключаемые устройства
Name[si]=උපාංග දැනුම් දීම
Name[sk]=Monitor zariadení
Name[sl]=Obvestila o napravah
Name[sr]=извештавач о уређајима
Name[sr@ijekavian]=извјештавач о уређајима
Name[sr@ijekavianlatin]=izvještavač o uređajima
Name[sr@latin]=izveštavač o uređajima
Name[sv]=Underrättelse om enheter
Name[ta]=கருவி நோட்டம்
Name[tg]=Извещение о новых устройствах
Name[th]=แจ้งให้ทราบถึงอุปกรณ์
Name[tr]=Aygıt Bildirici
Name[ug]=ئۈسكۈنە ئۇقتۇرۇشى
Name[uk]=Сповіщення про пристрої
Name[vi]=Trình thông báo thiết bị
Name[wa]=Notifiaedje d' éndjin
Name[x-test]=xxDevice Notifierxx
Name[zh_CN]=设备通知器
Name[zh_TW]=裝置通知
Comment=Notifications and access for new devices
Comment[ar]=إخطارات ووصول الأجهزة الجديدة
Comment[be@latin]=Infarmavańnie j dostup da novych pryładaŭ
Comment[bg]=Уведомления и достъп до новите устройства
Comment[bs]=Obavještavanje i pristup novim uređajima
Comment[ca]=Notificacions i accés als dispositius nous
Comment[ca@valencia]=Notificacions i accés als dispositius nous
Comment[cs]=Upozorňování a přístup k novým zařízením
Comment[csb]=Dôwanié wiédzë ë przëstãp do nowich ùrządzeniów
Comment[da]=Bekendtgørelse om og adgang til nye enheder
Comment[de]=Benachrichtigungen über neue Geräte und Zugriff darauf
Comment[el]=Ειδοποιήσεις και πρόσβαση νέων συσκευών
Comment[en_GB]=Notifications and access for new devices
Comment[eo]=Atentigoj kaj atingo por novaj aparatoj
Comment[es]=Notificaciones y accesos de nuevos dispositivos
Comment[et]=Uutest seadmetest teatamine ja nende kasutamine
Comment[eu]=Gailu berrien jakinarazpenak eta sarbideak
Comment[fi]=Ilmoitukset ja pääsy uusille laitteille
Comment[fr]=Notifications et accès aux nouveaux périphériques
Comment[fy]=Notifikaasjes en tagong foar nije apparaten
Comment[ga]=Fógairt agus rochtain ar ghléasanna nua
Comment[gl]=Notificacións e acceso a novos dispositivos
Comment[gu]=નવા ઉપકરણો માટે નોંધણી અને પ્રવેશ
Comment[he]=הודעות על התקנים חדשים וגישה אליהם
Comment[hi]=नए उपकरणों के लिए सूचनाएँ व पहुँच
Comment[hne]=नवा उपकरन बर सूचना अउ पहुंच
Comment[hr]=Obavijesti i pristup novim uređajima
Comment[hsb]=Zdźělenki a spřistupnjenje nowych gratow
Comment[hu]=Új eszközök elérése, értesítő üzenetek kezelése
Comment[ia]=Notificationes e accesso pro nove dispositivos
Comment[id]=Notifikasi dan akses untuk peranti baru
Comment[is]=Tilkynningar um og aðgangur að nýjum tækjum
Comment[it]=Notifiche e accesso ai nuovi dispositivi
Comment[ja]=新しいデバイスの通知とアクセスを提供します
Comment[kk]=Жаңа құрылғылар туралы құлақтандыру және олаға қатынау
Comment[km]=កា​រជូន​ដំណឹង និង​ចូល​ដំណើរការ​សម្រាប់​ឧបករណ៍​ថ្មី
Comment[kn]=ಹೊಸ ಸಾಧನಗಳಿಗೆ ಸೂಚನೆಗಳು ಮತ್ತು ನಿಲುಕಣೆ
Comment[ko]=새 장치가 연결된 것을 알려 주고 접근할 수 있도록 합니다
Comment[ku]=Hişyarî û gihîştin ji bo cîhazên nû
Comment[lt]=Pranešimų apie įrenginius ir jų atvėrimo priemonė
Comment[lv]=Paziņojumi un piekļuve jaunām ierīcēm
Comment[mk]=Известувања и пристап до нови уреди
Comment[ml]=പുതിയ ഉപകരണങ്ങളുടെ അറിയിപ്പുകളും സമീപനവും
Comment[mr]=नवीन साधन करिता सूचना व प्रवेश
Comment[nb]=Varslinger om og tilgang til nye enheter
Comment[nds]=Bescheden un Togriep för nieg Reedschappen
Comment[nl]=Maakt melding van nieuwe apparaten en biedt toegang tot deze apparaten
Comment[nn]=Varsling og tilgang til nye einingar
Comment[pa]=ਨਵੇਂ ਜੰਤਰਾਂ ਲਈ ਨੋਟੀਫਿਕੇਸ਼ਨ ਅਤੇ ਵਰਤੋਂ
Comment[pl]=Powiadamia i daje dostęp do nowych urządzeń
Comment[pt]=Notificações e acesso aos dispositivos novos
Comment[pt_BR]=Notificações e acesso aos novos dispositivos
Comment[ro]=Notificări și acces pentru dispozitivele noi
Comment[ru]=Уведомление о подключаемых устройствах и доступ к ним
Comment[si]=නව උපකරණ සඳහා පිවිසීම හා දැන්වීම්
Comment[sk]=Upozornenia a prístup k novým zariadeniam
Comment[sl]=Obvestila o novih napravah in dostop do njih
Comment[sr]=Обавештавање и приступ новим уређајима
Comment[sr@ijekavian]=Обавјештавање и приступ новим уређајима
Comment[sr@ijekavianlatin]=Obavještavanje i pristup novim uređajima
Comment[sr@latin]=Obaveštavanje i pristup novim uređajima
Comment[sv]=Underrättelser och åtkomst av nya enheter
Comment[ta]=Notifications and access for new devices
Comment[te]=కొత్త పరికరముల కొరకు నోటీసులు మరియు యాక్సెస్
Comment[tg]=Огоҳиҳо ва дастрасӣ ба дастгоҳҳои нав
Comment[th]=การแจ้งให้ทราบและเข้าใช้งานอุปกรณ์ใหม่
Comment[tr]=Yeni donanım bildirimleri ve yeni donanımlara erişim
Comment[ug]=يېڭى ئۈسكۈنە ئۇقتۇرۇشى ۋە زىيارىتى
Comment[uk]=Сповіщення і доступ до нових пристроїв
Comment[wa]=Notifiaedjes eyet accès ås noveas éndjins
Comment[x-test]=xxNotifications and access for new devicesxx
Comment[zh_CN]=通知和访问新设备
Comment[zh_TW]=通知與存取新裝置

Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/devicenotifier.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-Provides=org.kde.plasma.removabledevices

X-KDE-PluginInfo-Author=Viranch Mehta, Jacopo De Simoi
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.devicenotifier
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/DeviceNotifier
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
