[Desktop Entry]
Name=Disks & Devices
Name[ca]=Discs i dispositius
Name[es]=Discos y dispositivos
Name[nl]=Schijven & apparaten
Name[pt]=Discos & Dispositivos
Name[sv]=Diskar och enheter
Name[uk]=Диски і пристрої
Name[x-test]=xxDisks & Devicesxx
Comment=Notifications and access for devices
Comment[ca]=Notificacions i accés als dispositius
Comment[es]=Notificaciones y accesos de dispositivos
Comment[nl]=Meldingen en toegang voor apparaten
Comment[pt]=Notificações e acesso aos dispositivos
Comment[sv]=Underrättelser och åtkomst av enheter
Comment[uk]=Сповіщення і доступ до пристроїв
Comment[x-test]=xxNotifications and access for devicesxx

Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/devicenotifier.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-Provides=org.kde.plasma.removabledevices

X-KDE-PluginInfo-Author=Viranch Mehta, Jacopo De Simoi
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.devicenotifier
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://userbase.kde.org/Plasma/DeviceNotifier
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=tablet,desktop
