[Desktop Entry]
Name=Screen Locking
Name[ar]=يقفل الشاشة
Name[ca]=Bloqueig de la pantalla
Name[cs]=Uzamykání obrazovky
Name[da]=Låsning af skærm
Name[de]=Bildschirmsperre
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de la pantalla
Name[fi]=Näytön lukitseminen
Name[fr]=Verrouillage de l'écran
Name[hu]=Képernyőzárolás
Name[id]=Mengunci Layar
Name[ko]=화면 잠금
Name[nb]=Skjermlåsing
Name[nds]=Schirm afsluten
Name[nl]=Scherm vergrendelen
Name[pl]=Blokowanie ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[ru]=Блокировщик экрана
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_TW]=螢幕鎖定
Comment=Screen Locking Themes
Comment[ca]=Temes per a bloquejar la pantalla
Comment[cs]=Motiv uzamykání obrazovky
Comment[en_GB]=Screen Locking Themes
Comment[es]=Temas de bloqueo de la pantalla
Comment[fi]=Näytön lukitsemisen teemat
Comment[hu]=Képernyőzároló téma
Comment[ko]=화면 잠금 테마
Comment[nb]=Skjermlåsingstemaer
Comment[nds]=Schirmafslut-Mustern
Comment[nl]=Thema's van scherm vergrendelen
Comment[pl]=Wystroje zablokowanego ekranu
Comment[pt]=Temas de Bloqueio do Ecrã
Comment[pt_BR]=Temas para bloqueio de tela
Comment[ru]=Темы блокировщика экрана
Comment[sk]=Témy zamykania obrazovky
Comment[sl]=Teme za zaklep zaslona
Comment[sr]=Теме закључавања екрана
Comment[sr@ijekavian]=Теме закључавања екрана
Comment[sr@ijekavianlatin]=Teme zaključavanja ekrana
Comment[sr@latin]=Teme zaključavanja ekrana
Comment[sv]=Skärmlåsningsteman
Comment[uk]=Теми вікон блокування екрана
Comment[x-test]=xxScreen Locking Themesxx
Comment[zh_TW]=螢幕鎖定主題
Icon=preferences-system
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=screenlocker_kcm
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
