[Desktop Entry]
Name=Screen Locking
Name[ar]=يقفل الشاشة
Name[ca]=Bloqueig de la pantalla
Name[cs]=Uzamykání obrazovky
Name[de]=Bildschirmsperre
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de la pantalla
Name[fi]=Näytön lukitseminen
Name[fr]=Verrouillage de l'écran
Name[id]=Mengunci Layar
Name[nds]=Schirm afsluten
Name[nl]=Scherm vergrendelen
Name[pl]=Blokowanie ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio da tela
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Comment=Screen Locking Themes
Icon=preferences-system
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=screenlocker_kcm
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
