[Desktop Entry]
Name=paste.opensuse.org
Comment=Paste text with openSUSE
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pasteopensuseorg
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@suse.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

