[Desktop Entry]
Name=paste.opensuse.org
Name[ar]=paste.opensuse.org
Name[ast]=paste.opensuse.org
Name[bg]=paste.opensuse.org
Name[bs]=paste.opensuse.org
Name[ca]=paste.opensuse.org
Name[ca@valencia]=paste.opensuse.org
Name[cs]=paste.opensuse.org
Name[da]=paste.opensuse.org
Name[de]=paste.opensuse.org
Name[el]=paste.opensuse.org
Name[en_GB]=paste.opensuse.org
Name[es]=paste.opensuse.org
Name[et]=paste.opensuse.org
Name[eu]=paste.opensuse.org
Name[fi]=paste.opensuse.org
Name[fr]=paste.opensuse.org
Name[ga]=paste.opensuse.org
Name[gl]=paste.opensuse.org
Name[gu]=paste.opensuse.org
Name[he]=paste.opensuse.org
Name[hi]=paste.opensuse.org
Name[hr]=paste.opensuse.org
Name[hu]=paste.opensuse.org
Name[ia]=paste.opensuse.org
Name[is]=paste.opensuse.org
Name[it]=paste.opensuse.org
Name[ja]=paste.opensuse.org
Name[kk]=paste.opensuse.org
Name[km]=paste.opensuse.org
Name[ko]=paste.opensuse.org
Name[lt]=paste.opensuse.org
Name[lv]=paste.opensuse.org
Name[mr]=paste.opensuse.org
Name[nb]=paste.opensuse.org
Name[nds]=paste.opensuse.org
Name[nl]=paste.opensuse.org
Name[pa]=paste.opensuse.org
Name[pl]=paste.opensuse.org
Name[pt]=paste.opensuse.org
Name[pt_BR]=paste.opensuse.org
Name[ro]=paste.opensuse.org
Name[ru]=paste.opensuse.org
Name[sk]=paste.opensuse.org
Name[sl]=paste.opensuse.org
Name[sr]=paste.opensuse.org
Name[sr@ijekavian]=paste.opensuse.org
Name[sr@ijekavianlatin]=paste.opensuse.org
Name[sr@latin]=paste.opensuse.org
Name[sv]=paste.opensuse.org
Name[tg]=paste.opensuse.org
Name[th]=paste.opensuse.org
Name[tr]=paste.opensuse.org
Name[ug]=paste.opensuse.org
Name[uk]=paste.opensuse.org
Name[wa]=paste.opensuse.org
Name[x-test]=xxpaste.opensuse.orgxx
Name[zh_CN]=paste.opensuse.org
Name[zh_TW]=paste.opensuse.org
Comment=Paste text with openSUSE
Comment[ast]=Apegar testu con openSUSE
Comment[bg]=Поставяне на текст през openSUSE
Comment[bs]=Opensuseov servis za naljepljivanje teksta
Comment[ca]=Enganxa text amb openSUSE
Comment[ca@valencia]=Apega text amb openSUSE
Comment[cs]=Vložit text s využitím openSUSE
Comment[da]=Indsæt tekst med openSUSE
Comment[de]=Text auf paste.opensuse.org veröffentlichen
Comment[el]=Επικόλληση κειμένου με το openSUSE
Comment[en_GB]=Paste text with openSUSE
Comment[es]=Pegar texto con openSUSE
Comment[et]=Teksti asetamine openSUSE abil
Comment[eu]=Itsatsi testua OpenSUSE-rekin
Comment[fi]=Liitä tekstiä openSUSEn avulla
Comment[fr]=Colle du texte avec Open-SUSE
Comment[gl]=Apega texto con openSUSE
Comment[he]=שיתוף קטעי טקסט באמצעות openSUSE
Comment[hr]=Zalijepi tekst pomoću openSUSE-a
Comment[hu]=Szöveg beillesztése openSUSE-val
Comment[ia]=Colla texto con openSUSE
Comment[is]=Líma texta með openSUSE
Comment[it]=Incolla testo con openSUSE
Comment[ja]=openSUSE でテキストを貼りつける
Comment[kk]=openSUSE-ден мәтіді алып орналастыру
Comment[km]=បិទភ្ជាប់​​នៅ​ក្នុង​អូផឹនស៊ូស៊ី
Comment[ko]=openSUSE 텍스트 공유 서비스
Comment[lt]=Padėti tekstą naudojant openSUSE
Comment[lv]=Ielīmēt tekstu ar openSUSE
Comment[mr]=openSUSE वापरुन पाठ्य चिटकवा
Comment[nb]=Lim inn tekst med openSUSE
Comment[nds]=Text op "openSUSE" praatstellen
Comment[nl]=Plak tekst met openSUSE
Comment[pa]=openSUSE ਨਾਲ ਟੈਕਸਟ ਚੇਪੋopenSUSE ਨਾਲ ਟੈਕਸਟ ਚਪੇ
Comment[pl]=Wklejanie tekstu z openSUSE
Comment[pt]=Colar texto com o openSUSE
Comment[pt_BR]=Colar texto com o openSUSE
Comment[ro]=Lipește text cu openSUSE
Comment[ru]=Позволяет публиковать текст на сервере openSUSE
Comment[sk]=Vloží text pomocou služby openSUSE
Comment[sl]=Prilepite besedilo z openSUSE
Comment[sr]=Опенсусеов сервис за налепљивање текста
Comment[sr@ijekavian]=Опенсусеов сервис за наљепљивање текста
Comment[sr@ijekavianlatin]=OpenSuSE‑ov servis za naljepljivanje teksta
Comment[sr@latin]=OpenSuSE‑ov servis za nalepljivanje teksta
Comment[sv]=Klistra in text med openSUSE
Comment[tg]=Часпондани матн бо openSUSE
Comment[th]=แปะข้อความไปยังบริการของ openSUSE
Comment[tr]=Metinleri openSUSE servini kullanarak paylaş
Comment[ug]=openSUSE تىن تېكىست چاپلا
Comment[uk]=Вставити фрагмент тексту з openSUSE
Comment[wa]=Aclaper do tecse avou openSUSE
Comment[x-test]=xxPaste text with openSUSExx
Comment[zh_CN]=用 openSUSE 粘贴文字
Comment[zh_TW]=用 openSUSE 貼上文字
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pasteopensuseorg
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@suse.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

