[Desktop Entry]
Name=Switch Window
Name[uk]=Перемкнути вікно
Name[x-test]=xxSwitch Windowxx
Type=Service
Icon=preferences-system-windows
Comment=Show a list of windows to switch to
Comment[uk]=Показує список вікон для перемикання
Comment[x-test]=xxShow a list of windows to switch toxx

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_switchwindow
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=switchwindow
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true

