[Desktop Entry]
Type=Service
Name=ColorCorrect Geolocation Updater
Name[ca]=Actualitzador de la geolocalització del ColorCorrect
Name[ca@valencia]=Actualitzador de la geolocalització del ColorCorrect
Name[da]=Opdatering af geolokalisering til ColorCorrect Geolocation
Name[en_GB]=ColourCorrect Geolocation Updater
Name[es]=Actualizador de geolocalización ColorCorrect
Name[eu]=ColorCorrect geokokapen eguneratzailea
Name[fr]=Actualisation de géolocalisation ColorCorrect
Name[gl]=Actualizador de geolocalización de ColorCorrect
Name[it]=ColorCorrect Geolocation Updater
Name[nl]=Bijwerker van kleurgecorrigeerde geo-locatie
Name[nn]=ColorCorrect geolokasjonsoppdaterar
Name[pl]=Uaktualnianie położenia geograficznego dla poprawnej barwy
Name[pt]=Actualização da Geo-Localização da Correcção de Cores
Name[pt_BR]=Atualizador de geolocalização do ColorCorrect
Name[sl]=Posodobilnik popravkov barve glede na zemljepisno lego
Name[sr]=Ажурирање географске локације за поправку боје
Name[sr@ijekavian]=Ажурирање географске локације за поправку боје
Name[sr@ijekavianlatin]=Ažuriranje geografske lokacije za popravku boje
Name[sr@latin]=Ažuriranje geografske lokacije za popravku boje
Name[sv]=Färgriktig uppdatering av geografisk plats
Name[uk]=Засіб оновлення географічного розташування для ColorCorrect
Name[x-test]=xxColorCorrect Geolocation Updaterxx
Name[zh_CN]=ColorCorrect 地理位置更新器
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=colorcorrectlocationupdater
X-KDE-FactoryName=colorcorrectlocationupdater
X-KDE-DBus-ModuleName=colorcorrectlocationupdater
X-KDE-Kded-autoload=true
Comment=Sends updated location data to the compositor
Comment[ca]=Envia les dades actualitzades de la ubicació al compositor
Comment[ca@valencia]=Envia les dades actualitzades de la ubicació al compositor
Comment[da]=Sender opdaterede lokaliseringsdata til compositoren
Comment[en_GB]=Sends updated location data to the compositor
Comment[es]=Envía datos de posicionamiento actualizados al compositor
Comment[eu]=kokapen datu eguneratuak bidaltzen dizkio konposatzaileari
Comment[fi]=Lähettää päivitetyn sijaintitiedon koostajalle
Comment[fr]=Envoie des données de localisation actualisées au compositeur
Comment[gl]=Envía datos de localización actualizados ao compositor.
Comment[it]=Invia i dati di posizione aggiornati al compositore
Comment[nl]=Verstuurt bijgewerkte locatiegegevens naar de compositeur
Comment[nn]=Send oppdater staddata til samansetjaren
Comment[pl]=Wysyła uaktualnione dane położenia do kompozytora
Comment[pt]=Envia os dados de localização actualizados para o compositor
Comment[pt_BR]=Envia dados de localização atualizados para o computador.
Comment[sl]=Pošlje posodobljene podatke o legi v upravljalnik skladnje
Comment[sr]=Шаље слагачу ажуриране податке о локацији
Comment[sr@ijekavian]=Шаље слагачу ажуриране податке о локацији
Comment[sr@ijekavianlatin]=Šalje slagaču ažurirane podatke o lokaciji
Comment[sr@latin]=Šalje slagaču ažurirane podatke o lokaciji
Comment[sv]=Skickar uppdaterad platsinformation till sammansättare
Comment[uk]=Надсилає оновлені дані щодо розташування на комп'ютер
Comment[x-test]=xxSends updated location data to the compositorxx
Comment[zh_CN]=发送更新后的位置数据到合成器
