[Desktop Entry]
Type=Service
Name=ColorCorrect Geolocation Updater
Name[de]=ColorCorrect Ortsaktualisierer
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=colorcorrectlocationupdater
X-KDE-FactoryName=colorcorrectlocationupdater
X-KDE-DBus-ModuleName=colorcorrectlocationupdater
X-KDE-Kded-autoload=true
Comment=Sends updated location data to the compositor
Comment[de]=Sendet aktualisierte Ortsdaten an den Compositor
