[Desktop Entry]
Name=Terminate Applications
Comment=Stop applications that are currently running
Icon=application-exit

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kill
X-KDE-PluginInfo-Author=Jan Gerrit Marker
X-KDE-PluginInfo-Email=jangerrit@weiler-marker.com
X-KDE-PluginInfo-Name=Kill Runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
