[Desktop Entry]
Name=Terminate Applications
Name[ar]=أنهِ التطبيقات
Name[az]=Tətbiqləri dayandırmaq
Name[bg]=Прекъсване на програми
Name[bn]=অ্যাপলিকেশন থামাও
Name[bs]=Obustavljanje programa
Name[ca]=Finalitza aplicacions
Name[ca@valencia]=Finalitza aplicacions
Name[cs]=Ukončit aplikace
Name[csb]=Zamëkô apliakcëje
Name[da]=Afslut programmer
Name[de]=Programme beenden
Name[el]=Τερματισμός εφαρμογών
Name[en_GB]=Terminate Applications
Name[eo]=Terminalaj Aplikaĵoj
Name[es]=Cerrar aplicaciones
Name[et]=Rakenduste töö lõpetamine
Name[eu]=Amaitu aplikazioak
Name[fa]=پایان دادن به برنامه‌ها
Name[fi]=Sovellusten lopetus
Name[fr]=Terminer des applications
Name[fy]=Programma's ôfbrekke
Name[ga]=Scoir ó Fheidhmchláir
Name[gl]=Terminar aplicacións
Name[gu]=કાર્યક્રમો બંધ કરો
Name[he]=סיום פעולת יישומים
Name[hi]=अनुप्रयोग खतम करो
Name[hr]=Prekini aplikacije
Name[hu]=Program félbeszakítása
Name[ia]=Termina applicationes
Name[id]=Mengakhiri Aplikasi
Name[is]=Loka forritum
Name[it]=Termina applicazioni
Name[ja]=アプリケーションを終了
Name[kk]=Қолданбалары аяқтау
Name[km]=កម្មវិធី​ស្ថានីយ
Name[kn]=ಅನ್ವಯಗಳನ್ನು ಅಂತ್ಯಗೊಳಿಸು
Name[ko]=프로그램 끝내기
Name[lt]=Baigti programų darbą
Name[lv]=Pārtraukt programmas
Name[mk]=Запирање на апликации
Name[ml]=പ്രയോഗങ്ങളെ ഇല്ലാതാക്കുക
Name[mr]=अनुप्रयोग बंद करा
Name[nb]=Avslutt programmer
Name[nds]=Programmen utmaken
Name[nl]=Toepassingen afsluiten
Name[nn]=Avslutt program
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਖਤਮ ਕਰੋ
Name[pl]=Zamykanie programów
Name[pt]=Terminar as Aplicações
Name[pt_BR]=Terminar aplicativos
Name[ro]=Termină aplicații
Name[ru]=Завершение приложений
Name[si]=යෙදුම් මර්‍ධනය
Name[sk]=Ukončenie aplikácií
Name[sl]=Končaj programe
Name[sr]=обустављање програма
Name[sr@ijekavian]=обустављање програма
Name[sr@ijekavianlatin]=obustavljanje programa
Name[sr@latin]=obustavljanje programa
Name[th]=ยุติการทำงานของโปรแกรม
Name[tr]=Uygulamaları Bitir
Name[ug]=پروگراممىلارنى توختات
Name[uk]=Переривання програм
Name[vi]=Kết thúc ứng dụng
Name[wa]=Fé fini des programes
Name[x-test]=xxTerminate Applicationsxx
Name[zh_CN]=终止程序
Name[zh_TW]=終端機應用程式
Comment=Stop applications that are currently running
Comment[ar]=أوقف التطبيقات التي تعمل حاليًا
Comment[az]=Hal-hazırda işləyən tətbiqləri dayandırmaq
Comment[bg]=Спиране на работещи в момента програми
Comment[bs]=Zaustavlja programe trenutno u pogonu
Comment[ca]=Atura les aplicacions que estan en execució
Comment[ca@valencia]=Para aplicacions que estan actualment en execució
Comment[cs]=Ukončit aktuálně spuštěné aplikace
Comment[csb]=Zamëkô prawie robiącé aplikacëje
Comment[da]=Stop programmer der kører i øjeblikket
Comment[de]=Gerade laufende Anwendungen beenden
Comment[el]=Σταμάτημα των εκτελούμενων εργασιών
Comment[en_GB]=Stop applications that are currently running
Comment[es]=Parar aplicaciones que se están ejecutando
Comment[et]=Töötavate rakenduste töö lõpetamine
Comment[eu]=Gelditu une honetan exekutatzen ari diren aplikazioak
Comment[fi]=Pysäytä sovellukset, joita parhaillaan suoritetaan
Comment[fr]=Arrête des applications en cours d'exécution
Comment[fy]=Lit applikaasje dy't no rinne ophâlde
Comment[ga]=Scoir ó fheidhmchláir atá ag rith faoi láthair
Comment[gl]=Detén aplicacións que están a executarse
Comment[he]=עצירת יישומים הפועלים כעת
Comment[hr]=Zaustavi aplikacije koje su trenutno pokrenute
Comment[hu]=Jelenleg futó alkalmazások leállítása
Comment[ia]=Stoppa applicationes que il es currentemente executante
Comment[id]=Menghentikan aplikasi yang saat ini tengah berjalan
Comment[is]=Stöðva forrit sem eru keyrandi
Comment[it]=Ferma le applicazioni attualmente in esecuzione
Comment[ja]=実行中のアプリケーションを停止します
Comment[kk]=Орындалып жатқан қолданбаларды тоқтату
Comment[km]=បញ្ឈប់​កម្មវិធី​ដែលបច្ចុប្បន្ន​កំពុង​តែ​រត់
Comment[kn]=ಪ್ರಸ್ತುತ ಚಾಲನೆಯಲ್ಲಿರುವ ಅನ್ವಯಗಳನ್ನು ನಿಲ್ಲಿಸು
Comment[ko]=현재 실행 중인 프로그램을 끝냅니다
Comment[lt]=Stabdyti šiuo metu veikiančias programas
Comment[lv]=Apturēt šobrīd darbojošās programmas
Comment[mk]=Ги запира апликациите што моментално се активни
Comment[ml]=ഇപ്പോള്‍ പ്രവര്‍ത്തിയ്ക്കുന്ന പ്രയോഗങ്ങള്‍ നിര്‍ത്തുക
Comment[mr]=चालू असणारे अनुप्रयोग बंद करा
Comment[nb]=Stopp programmer som kjører nå
Comment[nds]=Opstunns lopen Programmen utmaken
Comment[nl]=Beëindig toepassingen die momenteel draaien
Comment[nn]=Stopp program som køyrer
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ ਰੋਕੋ, ਜੋ ਇਸ ਸਮੇਂ ਚੱਲ ਰਹੀਆਂ ਹਨ
Comment[pl]=Zamyka obecnie uruchomione programy
Comment[pt]=Parar as aplicações actualmente em execução
Comment[pt_BR]=Interrompe aplicativos em execução
Comment[ro]=Oprește aplicații ce rulează momentan
Comment[ru]=Завершение работы запущенных в данный момент приложений
Comment[si]=දැනට ක්‍රියාකරන යෙදුම් නැවතීම
Comment[sk]=Zastavenie práve bežiacich aplikácií
Comment[sl]=Zaustavite trenutno zagnane programe
Comment[sr]=Зауставља програме тренутно у погону
Comment[sr@ijekavian]=Зауставља програме тренутно у погону
Comment[sr@ijekavianlatin]=Zaustavlja programe trenutno u pogonu
Comment[sr@latin]=Zaustavlja programe trenutno u pogonu
Comment[th]=หยุดการทำงานของโปรแกรมที่กำลังทำงานอยู่ในปัจจุบัน
Comment[tr]=Şu anda çalışan uygulamaları durdur
Comment[ug]=نۆۋەتتە ئىجرا بولۇۋاتقان پروگراممىلارنى توختىتىدۇ
Comment[uk]=Завершує роботу запущених програм
Comment[vi]=Dừng các ứng dụng đang chạy
Comment[wa]=Arester des programes k' ovrèt pol moumint
Comment[x-test]=xxStop applications that are currently runningxx
Comment[zh_CN]=停止正在运行的应用程序
Comment[zh_TW]=停止目前執行中的應用程式
Icon=application-exit

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-PluginInfo-Author=Jan Gerrit Marker
X-KDE-PluginInfo-Email=jangerrit@weiler-marker.com
X-KDE-PluginInfo-Name=Kill Runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
