[Desktop Entry]
Name=paste.ubuntu.com
Name[bg]=paste.ubuntu.com
Name[bs]=paste.ubuntu.com
Name[ca]=paste.ubuntu.com
Name[ca@valencia]=paste.ubuntu.com
Name[cs]=paste.ubuntu.com
Name[da]=paste.ubuntu.com
Name[de]=paste.ubuntu.com
Name[el]=paste.ubuntu.com
Name[en_GB]=paste.ubuntu.com
Name[es]=paste.ubuntu.com
Name[et]=paste.ubuntu.com
Name[eu]=paste.ubuntu.com
Name[fi]=paste.ubuntu.com
Name[fr]=paste.ubuntu.com
Name[ga]=paste.ubuntu.com
Name[gl]=paste.ubuntu.com
Name[gu]=paste.ubuntu.com
Name[he]=paste.ubuntu.com
Name[hi]=paste.ubuntu.com
Name[hr]=paste.ubuntu.com
Name[hu]=paste.ubuntu.com
Name[ia]=paste.ubuntu.com
Name[id]=paste.ubuntu.com
Name[is]=paste.ubuntu.com
Name[it]=paste.ubuntu.com
Name[ja]=paste.ubuntu.com
Name[kk]=paste.ubuntu.com
Name[km]=paste.ubuntu.com
Name[ko]=paste.ubuntu.com
Name[lt]=paste.ubuntu.com
Name[lv]=paste.ubuntu.com
Name[mr]=paste.ubuntu.com
Name[nb]=paste.ubuntu.com
Name[nds]=paste.ubuntu.com
Name[nl]=paste.ubuntu.com
Name[nn]=paste.ubuntu.com
Name[pa]=paste.ubuntu.com
Name[pl]=paste.ubuntu.com
Name[pt]=paste.ubuntu.com
Name[pt_BR]=paste.ubuntu.com
Name[ro]=paste.ubuntu.com
Name[ru]=paste.ubuntu.com
Name[sk]=paste.ubuntu.com
Name[sl]=paste.ubuntu.com
Name[sr]=paste.ubuntu.com
Name[sr@ijekavian]=paste.ubuntu.com
Name[sr@ijekavianlatin]=paste.ubuntu.com
Name[sr@latin]=paste.ubuntu.com
Name[sv]=paste.ubuntu.com
Name[th]=paste.ubuntu.com
Name[tr]=paste.ubuntu.com
Name[ug]=paste.ubuntu.com
Name[uk]=paste.ubuntu.com
Name[wa]=paste.ubuntu.com
Name[x-test]=xxpaste.ubuntu.comxx
Name[zh_CN]=paste.ubuntu.com
Name[zh_TW]=paste.ubuntu.com
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pasteubuntucom
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=apachelogger@ubuntu.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.ubuntu.com
