[Unit]
Description=KDE Plasma Workspace
Requires=plasma-core.target
Requires=graphical-session.target
Wants=plasma-geoclue-agent.service
Wants=plasma-restoresession.service
Wants=plasma-xembedsniproxy.service
Wants=plasma-gmenudbusmenuproxy.service
Wants=plasma-powerdevil.service
Wants=plasma-ksplash-ready.service
Wants=plasma-polkit-agent.service
Wants=kde-baloo.service
Wants=plasma-foreground-booster.service
Wants=plasma-kwallet-pam.service
Wants=plasma-kglobalaccel.service
Wants=plasma-kaccess.service
Wants=xdg-desktop-autostart.target
BindsTo=graphical-session.target
Before=graphical-session.target
Before=xdg-desktop-autostart.target
Before=plasma-ksplash-ready.service
Before=plasma-restoresession.service
RefuseManualStart=yes
StopWhenUnneeded=true
