[Unit]
Description=KDE Plasma Workspace Core
Wants=plasma-plasmashell.service
Wants=plasma-kcminit.service
Wants=plasma-kded6.service
Wants=plasma-kcminit-phase1.service
Wants=graphical-session-pre.target
Requires=plasma-ksmserver.service
After=graphical-session-pre.target
After=plasma-kwin_wayland.service
RefuseManualStart=yes
StopWhenUnneeded=true
