[Desktop Entry]
Exec=kcmshell5 style
Icon=preferences-desktop-theme-applications
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/kcmstyle/index.html

X-KDE-Library=kcm_style
X-KDE-Init-Symbol=kcminit_style
X-KDE-Init-Phase=0
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=applicationstyle
X-KDE-Weight=0

Name=Application Style
Name[az]=Tətbiq Üslubu
Name[ca]=Estil de l'aplicació
Name[es]=Estilo de las aplicaciones
Name[eu]=Aplikazioaren estiloa
Name[fr]=Style d'applications
Name[nl]=Stijl van toepassing
Name[pt]=Estilo das Aplicações
Name[pt_BR]=Estilo do aplicativo
Name[sl]=Slog aplikacije
Name[sv]=Programstil
Name[uk]=Стиль вікон програм
Name[x-test]=xxApplication Stylexx
Comment=Configure application style and behavior
Comment[az]=Tətbiq üslubu və davranışlarını tənzimləmək
Comment[ca]=Configura l'estil i el comportament de les aplicacions
Comment[es]=Configurar el estilo y el comportamiento de las aplicaciones
Comment[eu]=Konfiguratu aplikazioaren estiloa eta jokabidea
Comment[fr]=Configurer le style et le comportement des applications
Comment[nl]=Toepassingstijl en gedrag configureren
Comment[pt]=Configurar o estilo e comportamento das aplicações
Comment[pt_BR]=Configurar o estilo e comportamento do aplicativo
Comment[sl]=Nastavi slog aplikacije in obnašanje
Comment[sv]=Anpassa programstil och beteende
Comment[uk]=Налаштовування стилю і поведінки вікон програм
Comment[x-test]=xxConfigure application style and behaviorxx

X-KDE-Keywords=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,menu,global menu
X-KDE-Keywords[az]=üslub,növ,baxmaq,vidjet,ikonlar,alətlər çubuğu,mətn,işıqlanan,tətbiqlər,KDE tətbiqləri,mövzu,menyu,qlobal menyu,style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,menu,global menu
X-KDE-Keywords[ca]=estil,estils,aspecte,estri,icones,barres d'eines,text,ressaltat,aplicacions,aplicacions del KDE,tema,plasma,menu,menu global
X-KDE-Keywords[es]=estilo,estilos,apariencia,controles,iconos,barras de herramientas,texto,resaltado,aplicaciones,aplicaciones de KDE,tema,plasma,menú,menú global
X-KDE-Keywords[eu]=estiloa,estiloak,itxura,trepeta,ikonoak,tresna-barrak,testua,nabarmentzea,aplikazioak,KDE aplikazioak,gaia,plasma,menua,menu orokorra
X-KDE-Keywords[fr]=style, styles, apparence, composant graphique, icônes, barres d'outil, texte, surlignement, applications, applications KDE, thème, plasma, menu, menu global
X-KDE-Keywords[nl]=stijl,stijlen,uiterlijk,widget,pictogrammen,werkbalk,tekst,accentuering,apps,KDE-toepassingen,thema,plasma, menu,globaal menu
X-KDE-Keywords[pt]=estilo,estilos,aparência,elemento,ícones,barras de ferramentas,texto,realce,aplicações,aplicações do KDE,tema,plasma,menu,menu global
X-KDE-Keywords[pt_BR]=estilo,estilos,aparência,widget,ícones,barras de ferramentas,texto,realce,aplicativos,aplicativos do KDE,tema,plasma, menu, menu global
X-KDE-Keywords[sl]=slog,slogi,videz,gradnik,ikone,orodne vrstice,besedilo,osvetljevanje,aplikacije,aplikacije KDE,tema,plasma,meni,globalni meni
X-KDE-Keywords[sv]=stil,stilar,utseende,grafisk komponent,ikoner,verktygsrader,text,markering,program,KDE-program,tema,plasma,meny,global meny
X-KDE-Keywords[uk]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,menu,global menu,стиль,стилі,вигляд,віджет,піктограма,піктограми,значок,значки,іконки,панель,панель інструментів,текст,підсвічування,позначення,програма,програми,тема,плазма,меню,загальне меню
X-KDE-Keywords[x-test]=xxstylexx,xxstylesxx,xxlookxx,xxwidgetxx,xxiconsxx,xxtoolbarsxx,xxtextxx,xxhighlightxx,xxappsxx,xxKDE applicationsxx,xxthemexx,xxplasmaxx,xxmenuxx,xxglobal menuxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
