[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/GeolocationProvider
Comment=Plasma Geolocation Provider
Comment[uk]=Інструмент геопозиціювання Плазми
Comment[x-test]=xxPlasma Geolocation Providerxx

