[Desktop Entry]
Encoding=UTF-8
Name=Geolocation
Comment=Geolocation Data Engine
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=applications-internet
X-KDE-Library=plasma_engine_geolocation

X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=geolocation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma@kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

