[Desktop Entry]
Name=Geolocation GPS
Comment=Geolocation from GPS address.
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-gps
X-KDE-PluginInfo-Name=gps
