[Desktop Entry]
Name=Geolocation IP
Name[uk]=Геопозиціювання за IP
Name[x-test]=xxGeolocation IPxx
Comment=Geolocation from IP address.
Comment[uk]=Геопозиціювання за IP-адресою
Comment[x-test]=xxGeolocation from IP address.xx
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-ip
X-KDE-PluginInfo-Name=ip
