[Desktop Entry]
Name=Geolocation IP
Comment=Geolocation from IP address.
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-ip
X-KDE-PluginInfo-Name=ip
