[Desktop Entry]
Name=Activities Engine
Name[ar]=محرّك الأنشطة
Name[ast]=Motor d'actividaes
Name[az]=İş Otağı üçün məlumat mənbəyi
Name[bg]=Ядро за дейности
Name[bs]=Motor aktivnosti
Name[ca]=Motor d'activitats
Name[ca@valencia]=Motor d'activitats
Name[cs]=Stroj aktivit
Name[da]=Aktivitetsmotor
Name[de]=Aktivitätenverwaltung
Name[el]=Μηχανή δραστηριοτήτων
Name[en_GB]=Activities Engine
Name[es]=Motor de actividades
Name[et]=Tegevuste mootor
Name[eu]=Jarduera-motorra
Name[fi]=Aktiviteettimoottori
Name[fr]=Moteur d'activités
Name[ga]=Inneall Gníomhaíochta
Name[gl]=Motor de actividades
Name[he]=מנוע הפעילויות
Name[hr]=Mehanizam aktivnosti
Name[hu]=Aktivitások modul
Name[ia]=Motor de activitate
Name[id]=Mesin Activities
Name[is]=Virknivél
Name[it]=Motore delle attività
Name[ja]=アクティビティエンジン
Name[kk]=Белсенділік тетігі
Name[km]=ម៉ាស៊ីន​សកម្មភាព
Name[kn]=ಚಟುವಟಿಕೆ ಎಂಜಿನ್
Name[ko]=활동 엔진
Name[lt]=Veiklų variklis
Name[lv]=Aktivitāšu dzinējs
Name[ml]=ആക്ടിവിറ്റീസ് എന്‍ജിന്‍
Name[mr]=कार्यपध्दती इंजिन
Name[nb]=Aktivitetsmotor
Name[nds]=Aktivitetenpleger
Name[nl]=Activiteiten-engine
Name[nn]=Aktivitetsmotor
Name[pa]=ਸਰਗਰਮੀ ਇੰਜਣ
Name[pl]=Silnik aktywności
Name[pt]=Motor de Actividades
Name[pt_BR]=Mecanismo de atividades
Name[ro]=Motor de activități
Name[ru]=Источник данных для комнат
Name[sk]=Nástroj aktivít
Name[sl]=Pogon za dejavnosti
Name[sr]=мотор активности
Name[sr@ijekavian]=мотор активности
Name[sr@ijekavianlatin]=motor aktivnosti
Name[sr@latin]=motor aktivnosti
Name[tg]=Низоми фаъолиятҳо
Name[th]=กลไกจัดการกิจกรรม
Name[tr]=Etkinlik Motoru
Name[ug]=پائالىيەت ماتورى
Name[uk]=Рушій просторів дій
Name[vi]=Dụng cụ "Hoạt động"
Name[wa]=Moteur d' activités
Name[x-test]=xxActivities Enginexx
Name[zh_CN]=活动引擎
Name[zh_TW]=活動引擎
Comment=Information on Plasma Activities
Comment[ar]=معلومات أنشطة بلازما
Comment[az]=Plasma İş Otaqları məlumatları
Comment[bg]=Данни за дейности в Plasma
Comment[bs]=Podaci o plazma aktivnostima
Comment[ca]=Informació quant a activitats del Plasma
Comment[ca@valencia]=Informació quant a activitats de Plasma
Comment[cs]=Informace o Plasma aktivitách.
Comment[da]=Information om Plasma-aktiviteter
Comment[de]=Informationen über Plasma-Aktivitäten
Comment[el]=Πληροφορίες για τις δραστηριότητες Plasma
Comment[en_GB]=Information on Plasma Activities
Comment[es]=Información sobre las actividades de Plasma
Comment[et]=Teave Plasma tegevuste kohta.
Comment[eu]=Plasmaren jarduerei buruzko informazioa
Comment[fi]=Tietoja Plasma-aktiviteeteista
Comment[fr]=Informations sur les activités de Plasma
Comment[gl]=Información sobre as actividades de Plasma
Comment[he]=מידע אודות הפעילויות של Plasma
Comment[hr]=Informacije o Plasminim aktivnostima
Comment[hu]=Információk a Plasma aktivitásokról
Comment[ia]=Information re activitates de Plasma
Comment[id]=Informasi tentang Activities Plasma
Comment[is]=Upplýsingar um Plasma virkni
Comment[it]=Informazioni sulle attività di Plasma
Comment[ja]=Plasma アクティビティの情報
Comment[kk]=Plasma белсенділігі туралы мәлімет
Comment[km]=ព័ត៌មាន​អំពី​សកម្មភាព​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಚಟುವಟಿಕೆಗಳ ಬಗೆಗೆ ಮಾಹಿತಿ.
Comment[ko]=Plasma 활동 정보
Comment[lt]=Informacija apie Plasma veiklas
Comment[lv]=Informācija par Plasma aktivitātēm
Comment[ml]=പ്ലാസ്മ ആക്ടിവിറ്റീസിനെപറ്റിയുള്ള വിവരങ്ങള്‍
Comment[mr]=प्लाज्मा कार्यपध्दती बद्दल माहिती
Comment[nb]=Informasjon om Plasma-aktiviteter
Comment[nds]=Informatschonen över Plasma-Aktiviteten
Comment[nl]=Informatie over Plasma activiteiten
Comment[nn]=Informasjon om Plasma-aktivitetar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸਰਗਰਮੀਆਂ ਲਈ ਜਾਣਕਾਰੀ
Comment[pl]=Wyświetla informacje o aktywnościach Plazmy
Comment[pt]=Informação sobre as Actividades do Plasma
Comment[pt_BR]=Informações sobre as atividades do Plasma
Comment[ro]=Informații despre activitățile Plasma
Comment[ru]=Сведения о комнатах Plasma
Comment[sk]=Informácie o Plasma aktivitách
Comment[sl]=Informacije o dejavnostih za Plasmo
Comment[sr]=Подаци о плазма активностима
Comment[sr@ijekavian]=Подаци о плазма активностима
Comment[sr@ijekavianlatin]=Podaci o plasma aktivnostima
Comment[sr@latin]=Podaci o plasma aktivnostima
Comment[th]=ข้อมูลเกี่ยวกับกิจกรรมต่างๆ ของพลาสมา
Comment[tr]=Plasma Etkinliklerindeki Bilgiler
Comment[ug]=پلازما پائالىيىتىدىكى ئۇچۇر
Comment[uk]=Інформація про простори дій Плазми
Comment[vi]=Thông tin về chức năng Hoạt động của Plasma
Comment[wa]=Pondants et djondants so les activités di Plasma
Comment[x-test]=xxInformation on Plasma Activitiesxx
Comment[zh_CN]=关于 Plasma 活动的信息
Comment[zh_TW]=Plasma 活動的資訊
Type=Service
Icon=preferences-desktop-activities

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_activities
X-Plasma-EngineName=activities
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.activities
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
