[Desktop Entry]
Name=Cursors
Name[az]=Kursorlar
Name[ca]=Cursors
Name[es]=Cursores
Name[fr]=Pointeurs
Name[nl]=Cursors
Name[pt]=Cursores
Name[pt_BR]=Cursores
Name[sl]=Kazalke
Name[sv]=Pekare
Name[uk]=Вказівники
Name[x-test]=xxCursorsxx
Comment=Choose mouse cursor theme
Comment[az]=Siçan kursoru mövzusunu seçmək
Comment[ca]=Trieu el tema del cursor del ratolí
Comment[es]=Escoger un tema de cursores para el ratón
Comment[fr]=Choisissez le thème du pointeur de souris
Comment[nl]=Muiscursorthema kiezen
Comment[pt]=Escolher o tema de cursores do rato
Comment[pt_BR]=Escolha o tema do cursor do mouse
Comment[sl]=Izberite temo kazalke miši
Comment[sv]=Välj muspekartema
Comment[uk]=Вибір теми вказівника миші
Comment[x-test]=xxChoose mouse cursor themexx
Icon=edit-select
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cursortheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
