[Desktop Entry]
# ctxt: plasma runner
Name=Devices
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx
Comment=Manage removable devices
Comment[uk]=Керування портативними пристроями
Comment[x-test]=xxManage removable devicesxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=device-notifier
X-KDE-Library=krunner_solid
X-KDE-PluginInfo-Author=Jacopo De Simoi
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=solid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
