[Desktop Entry]
# ctxt: plasma runner
Name=Devices
Name[ar]=الأجهزة
Name[ast]=Preseos
Name[bg]=Устройства
Name[bn]=ডিভাইস
Name[bs]=uređaji
Name[ca]=Dispositius
Name[ca@valencia]=Dispositius
Name[cs]=Zařízení
Name[csb]=Ùrządzenia
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[en_GB]=Devices
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Gailuak
Name[fa]=دستگاهها
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[fy]=Apparaten
Name[ga]=Gléasanna
Name[gl]=Dispositivos
Name[gu]=ઉપકરણો
Name[he]=התקנים
Name[hi]=औज़ार
Name[hr]=Uređaji
Name[hu]=Eszközök
Name[ia]=Dispositivos
Name[id]=Divais
Name[is]=Tæki
Name[it]=Dispositivi
Name[ja]=デバイス
Name[kk]=Құрылғылар
Name[km]=ឧបករណ៍
Name[kn]=ಸಾಧನಗಳು
Name[ko]=장치
Name[lt]=Įrenginiai
Name[lv]=Ierīces
Name[mk]=Уреди
Name[ml]=ഉപകരണങ്ങള്‍
Name[mr]=साधने
Name[nb]=Enhet
Name[nds]=Reedschappen
Name[nl]=Apparaten
Name[nn]=Einingar
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[si]=මෙවලම්
Name[sk]=Zariadenia
Name[sl]=Naprave
Name[sr]=уређаји
Name[sr@ijekavian]=уређаји
Name[sr@ijekavianlatin]=uređaji
Name[sr@latin]=uređaji
Name[sv]=Enheter
Name[tg]=Дастгоҳҳо
Name[th]=อุปกรณ์ต่าง ๆ
Name[tr]=Aygıtlar
Name[ug]=ئۈسكۈنىلەر
Name[uk]=Пристрої
Name[vi]=Thiết bị
Name[wa]=Éndjins
Name[x-test]=xxDevicesxx
Name[zh_CN]=设备
Name[zh_TW]=裝置
Comment=Manage removable devices
Comment[ar]=أدر الأجهزة القابلة للإزالة
Comment[ast]=Xestionar preseos estrayibles
Comment[bn]=অপসারণযোগ্য ডিভাইস ব্যবস্থাপনা
Comment[bs]=Upravljanje uklonjivim uređajima
Comment[ca]=Gestiona dispositius extraïbles
Comment[ca@valencia]=Gestiona dispositius extraïbles
Comment[cs]=Spravovat odpojitelná zařízení
Comment[csb]=Sprôwiôj przenosnyma ùrządzeniama
Comment[da]=Håndtér flytbare enheder
Comment[de]=Wechselmedien verwalten
Comment[el]=Διαχείριση αφαιρούμενων συσκευών
Comment[en_GB]=Manage removable devices
Comment[es]=Gestionar dispositivos extraíbles
Comment[et]=Eemaldatavate seadmete haldamine
Comment[eu]=Kudeatu gailu eramangarriak
Comment[fi]=Hallitse irrotettavia laitteita
Comment[fr]=Gère les périphériques amovibles
Comment[fy]=Utnimbere apparaten beheare
Comment[ga]=Bainistigh gléasanna inbhainte
Comment[gl]=Xestiona os dispositivos extraíbeis
Comment[he]=משמש לניהול התקנים נשלפים
Comment[hr]=Upravlja uklonjivim uređajima
Comment[hu]=Cserélhető eszközök kezelése
Comment[ia]=Gere dispositivos removibile
Comment[id]=Kelola divais dapat dilepas
Comment[is]=Sýsla með fjarlægjanleg tæki
Comment[it]=Gestisci i dispositivi rimovibili
Comment[ja]=リムーバブルデバイスを管理します
Comment[kk]=Ауыстырмалы құрылғыларды басқару
Comment[km]=គ្រប់គ្រង​ឧបករណ៍​ដែល​ចល័ត​បាន
Comment[kn]=ತೆಗೆದು ಹಾಕಬಹುದಾದ ಸಾಧನಗಳನ್ನು ವ್ಯವಸ್ಥಾಪಿಸಿ
Comment[ko]=이동식 장치를 관리합니다
Comment[lt]=Tvarkyti keičiamuosius įrenginius
Comment[lv]=Pārvaldīt noņemamās iekārtas
Comment[mk]=Ракувајте со подвижните уреди
Comment[ml]=നീക്കം ചെയ്യാവുന്ന ഉപകരണങ്ങള്‍ നോക്കി നടത്തല്‍
Comment[mr]=काढता येणाऱ्या साधनांचे व्यवस्थापन करा
Comment[nb]=Flyttbar
Comment[nds]=Tuuschbor Reedschappen plegen
Comment[nl]=Verwijderbare apparaten beheren
Comment[nn]=Handter flyttbare einingar
Comment[pa]=ਹਟਾਉਣਯੋਗ ਜੰਤਰ ਪਰਬੰਧ
Comment[pl]=Zarządzanie urządzeniami wymiennymi
Comment[pt]=Gerir os dispositivos removíveis
Comment[pt_BR]=Gerencia dispositivos removíveis
Comment[ro]=Gestionează dispozitive amovibile
Comment[ru]=Управление подключаемыми устройствами
Comment[si]=ඉවත් කල හැකි මෙවලම් කළමනාකරනය කරන්න
Comment[sk]=Správa vymeniteľných zariadení
Comment[sl]=Upravljanje odstranljivih naprav
Comment[sr]=Управљање уклоњивим уређајима
Comment[sr@ijekavian]=Управљање уклоњивим уређајима
Comment[sr@ijekavianlatin]=Upravljanje uklonjivim uređajima
Comment[sr@latin]=Upravljanje uklonjivim uređajima
Comment[sv]=Hantera flyttbara enheter
Comment[tg]=Идоракунии дастгоҳҳои ҷудошаванда
Comment[th]=จัดการอุปกรณ์ที่สามารถถอด/เสียบได้
Comment[tr]=Çıkarılabilir aygıtları yönet
Comment[ug]=كۆچمە ئۈسكۈنىلەرنى باشقۇرۇش
Comment[uk]=Керування портативними пристроями
Comment[vi]=Quản lý thiết bị gắn ngoài
Comment[wa]=Manaedjî oiståves éndjins
Comment[x-test]=xxManage removable devicesxx
Comment[zh_CN]=管理移动设备
Comment[zh_TW]=管理可移除裝置
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=device-notifier
X-KDE-Library=krunner_solid
X-KDE-PluginInfo-Author=Jacopo De Simoi
X-KDE-PluginInfo-Email=wilderkde@gmail.com
X-KDE-PluginInfo-Name=solid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
