[Desktop Entry]
Name=Akonadi
Name[ar]=أكونادي
Name[ast]=Akonadi
Name[bg]=Akonadi
Name[bs]=Akonadi
Name[ca]=Akonadi
Name[ca@valencia]=Akonadi
Name[cs]=Akonadi
Name[da]=Akonadi
Name[de]=Akonadi
Name[el]=Akonadi
Name[en_GB]=Akonadi
Name[eo]=Akonadi
Name[es]=Akonadi
Name[et]=Akonadi
Name[eu]=Akonadi
Name[fi]=Akonadi
Name[fr]=Akonadi
Name[fy]=Akonadi
Name[ga]=Akonadi
Name[gl]=Akonadi
Name[gu]=Akonadi
Name[he]=Akonadi
Name[hi]=अकोनादी
Name[hr]=Akonadi
Name[hu]=Akonadi
Name[ia]=Akonadi
Name[id]=Akonadi
Name[is]=Akonadi
Name[it]=Akonadi
Name[ja]=Akonadi
Name[ka]=Akonadi
Name[kk]=Akonadi
Name[km]=Akonadi
Name[kn]=Akonadi
Name[ko]=Akonadi
Name[lt]=Akonadi
Name[lv]=Akonadi
Name[mai]=Akonadi
Name[mk]=Akonadi
Name[ml]=അകോനാഡി
Name[mr]=आकोनाडी
Name[nb]=Akonadi
Name[nds]=Akonadi
Name[nl]=Akonadi
Name[nn]=Akonadi
Name[pa]=ਅਕੌਂਡੀ
Name[pl]=Akonadi
Name[pt]=Akonadi
Name[pt_BR]=Akonadi
Name[ro]=Akonadi
Name[ru]=Akonadi
Name[si]=Akonadi
Name[sk]=Akonadi
Name[sl]=Akonadi
Name[sr]=Аконади
Name[sr@ijekavian]=Аконади
Name[sr@ijekavianlatin]=Akonadi
Name[sr@latin]=Akonadi
Name[sv]=Akonadi
Name[tg]=Akonadi
Name[th]=Akonadi
Name[tr]=Akonadi
Name[ug]=Akonadi
Name[uk]=Akonadi
Name[vi]=Akonadi
Name[wa]=Akonadi
Name[x-test]=xxAkonadixx
Name[zh_CN]=Akonadi
Name[zh_TW]=Akonadi
Comment=Akonadi PIM data engine
Comment[ast]=Motor de datos Akonadi PIM
Comment[bg]=Ядро за данни Akonadi PIM
Comment[bs]=PIM datomotor Akonadija
Comment[ca]=Motor de dades PIM de l'Akonadi
Comment[ca@valencia]=Motor de dades PIM de l'Akonadi
Comment[cs]=Datový nástroj Akonadi PIM
Comment[csb]=Czérownik pòdôwków Akonadi PIM
Comment[da]=Akonadi datamotor til PIM
Comment[de]=PIM-Datentreiber für Akonadi
Comment[el]=Μηχανή δεδομένων Akonadi PIM
Comment[en_GB]=Akonadi PIM data engine
Comment[eo]=Datuma Motoro de Akonadi PIM
Comment[es]=Motor de datos Akonadi PIM
Comment[et]=Akonadi PIM-i andmete mootor
Comment[eu]=Akonadi PIM datuen motorra
Comment[fi]=Akonadi PIM -tietomoottori
Comment[fr]=Moteur de données PIM d'Akonadi
Comment[fy]=Akonadi PIM gegevensmotor
Comment[ga]=Inneall sonraí PIM Akonadi
Comment[gl]=Motor de datos PIM de Akonadi
Comment[he]=מנוע תוכן של Akonadi PIM
Comment[hi]=अकोनाडी PIM डाटा इंजिन
Comment[hr]=Akonadi mehanizam za upravljanje osobnim informacijama
Comment[hu]=Akonadi adatkezelő modul
Comment[ia]=Motor de datos de Akonadi PIM
Comment[id]=Mesin data PIM Akonadi
Comment[is]=Akonadi gagnavél fyrir persónuupplýsingar (PIM)
Comment[it]=Motore dei dati PIM di Akonadi
Comment[ja]=Akonadi PIM データエンジン
Comment[kk]=Akonadi PIM деректер тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ Akonadi PIM
Comment[kn]=Akonadi PIM ದತ್ತ ಸಾಧನ
Comment[ko]=Akonadi PIM 데이터 엔진
Comment[lt]=Akonadi PIM duomenų variklis
Comment[lv]=Akonadi PIM datu dzinējs
Comment[mk]=Податочна машина Akonadi PIM
Comment[ml]=അകോനാഡി പിം ഡേറ്റാ എഞ്ചിന്‍
Comment[mr]=आकोनाडी PIM डेटा इन्जीन
Comment[nb]=Akonadi PIM datamotor
Comment[nds]=De PIM-Datenkarn Akonadi
Comment[nl]=Akonadi PIM gegevensengine
Comment[nn]=Akonadi PIM-datamotor
Comment[pa]=ਅਕੌਂਡੀ PIM ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Silnik danych PIM Akonadi
Comment[pt]=Motor de dados PIM do Akonadi
Comment[pt_BR]=Mecanismo de dados PIM do Akonadi
Comment[ro]=Motor de date Akonadi PIM
Comment[ru]=Источник данных Plasma для работы с личными данными, хранящимися в Akonadi
Comment[si]=Akonadi PIM දත්ත එන්ජිම
Comment[sk]=Dátový nástroj Akonadi PIM
Comment[sl]=Podatkovni pogon za upravljanje z osebnimi podatki
Comment[sr]=ПИМ датомотор Аконадија
Comment[sr@ijekavian]=ПИМ датомотор Аконадија
Comment[sr@ijekavianlatin]=PIM datomotor Akonadija
Comment[sr@latin]=PIM datomotor Akonadija
Comment[sv]=Akonadi datagränssnitt för personlig information
Comment[tg]=Системаи санаи Python
Comment[th]=กลไกข้อมูล Akonadi PIM
Comment[tr]=Akonadi PIM veri motoru
Comment[ug]=Akonadi PIM سانلىق-مەلۇمات ماتورى
Comment[uk]=Рушій даних Akonadi PIM
Comment[vi]=Cơ chế dữ liệu Akonadi PIM
Comment[wa]=Éndjin d' dinêyes PIM Akonadi
Comment[x-test]=xxAkonadi PIM data enginexx
Comment[zh_CN]=Akonadi 个人信息管理数据引擎
Comment[zh_TW]=Akonadi PIM 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=akonadi
X-KDE-Library=plasma_engine_akonadi

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=akonadi
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

