[Desktop Entry]
Name=Akonadi
Comment=Akonadi PIM data engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=akonadi
X-KDE-Library=plasma_engine_akonadi

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=akonadi
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

