[Desktop Entry]
Name=Night Color
Name[az]=Gecə Rəngi
Name[ca]=Color de nit
Name[cs]=Noční barva
Name[de]=Nachtfarben
Name[en_GB]=Night Colour
Name[es]=Color nocturno
Name[fi]=Yöväri
Name[fr]=Couleur de nuit
Name[ia]=Color de Nocte
Name[it]=Colore notturno
Name[ko]=야간 색상
Name[nl]=Nachtkleur
Name[pl]=Barwy nocne
Name[pt]=Cor Nocturna
Name[pt_BR]=Cor noturna
Name[ru]=Ночная цветовая схема
Name[sk]=Nočná farba
Name[sl]=Nočna barva
Name[sv]=Nattfärg
Name[uk]=Нічні кольори
Name[vi]=Màu buổi tối
Name[x-test]=xxNight Colorxx
Name[zh_CN]=夜间颜色
Comment=Adjust color temperature at night to reduce eye strain
Comment[az]=Gözə mənfi təsirini azaltmaq üçün gecə rəng temperaturunu ayarlayın
Comment[ca]=Ajusta la temperatura del color per a la nit per reduir la tensió ocular
Comment[de]=Farbtemperatur nachts anpassen, um die Belastung für die Augen zu reduzieen
Comment[en_GB]=Adjust colour temperature at night to reduce eye strain
Comment[es]=Ajustar la temperatura del color durante la noche para reducir la fatiga visual
Comment[fi]=Säädä värilämpötilaa yöllä silmien rasituksen vähentämiseksi
Comment[fr]=Ajuster la température de couleurs vers le mode « Nuit » pour réduire la fatigue visuelle.
Comment[ia]=Adapta temperatura de color a nocte per reducer stresse de oculo
Comment[it]=Regola la temperatura dei colori nelle ore notturne per ridurre l'affaticamento degli occhi
Comment[ko]=눈의 피로를 줄이려고 야간에 색 온도 조절
Comment[nl]=Kleurtemperatuur bij nacht aanpassen on vermoeidheid van de ogen te vermijden
Comment[pl]=Dostosuj temperaturę barwy w nocy, aby zmniejszyć wytężenie oka
Comment[pt]=Ajustar a temperatura da cor à noite para reduzir o cansaço ocular
Comment[pt_BR]=Ajustar a temperatura de cor a noite para reduzir a tensão visual
Comment[ru]=Изменение цветовой температуры в ночное время для снижения нагрузки на глаза
Comment[sk]=Nastaviť nočnú teplotu farieb, aby sa znížilo namáhanie očí
Comment[sl]=Prilagodi temperaturo barve ponoči za zmanjševanje obremenitev oči
Comment[sv]=Justera färgtemperatur på natten för att reducera ögonbelastning
Comment[uk]=Коригування температури кольорів для зменшення навантаження на очі вночі
Comment[vi]=Điều chỉnh nhiệt độ màu vào buổi tối để giảm căng thẳng cho mắt
Comment[x-test]=xxAdjust color temperature at night to reduce eye strainxx
Comment[zh_CN]=在夜间调整色温以减少视觉疲劳

Icon=preferences-desktop
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Roman Gilg
X-KDE-PluginInfo-Email=subdiff@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_nightcolor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-KDE-FormFactors=tablet,handset,desktop

X-Plasma-MainScript=ui/main.qml
