[Desktop Entry]
Name=Pointer Position
Name[uk]=Позиція вказівника
Name[x-test]=xxPointer Positionxx
Comment=Mouse position and cursor
Comment[uk]=Позиція вказівника миші і курсора
Comment[x-test]=xxMouse position and cursorxx
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=input-mouse
X-KDE-Library=plasma_engine_mouse

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=mouse
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

