[Desktop Entry]
Name=Individual Core Usage
Comment=System monitor Widget that shows usage of individual CPU cores
Type=Service
Icon=ksysguardd
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.systemmonitor
X-Plasma-RootPath=org.kde.plasma.systemmonitor

X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.plasma.systemmonitor.cpucore
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=kde.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=System Information

