[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Panel Test
Name[de]=Kontrollleistentest
Name[nl]=Test van paneel
Name[pt]=Teste de Painel
Name[pt_BR]=Teste de painel
Name[uk]=Тестування панелі
Name[x-test]=xxPanel Testxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.testpanel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=PanelContainment
