[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kglobalaccel5
X-KDE-autostart-phase=1
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=
X-KDE-StartupNotify=false

Name=KDED Global Shortcuts Server
Name[uk]=Сервер загальних клавіатурних скорочень KDED
Name[x-test]=xxKDED Global Shortcuts Serverxx
