[Desktop Entry]
Name=Plasma Style
Name[pt]=Estilo do Plasma
Name[pt_BR]=Estilo do Plasma
Name[uk]=Стиль Плазми
Name[x-test]=xxPlasma Stylexx
Comment=Choose Plasma theme
Comment[pt]=Escolher o tema do Plasma
Comment[pt_BR]=Escolha o tema do Plasma
Comment[uk]=Вибір теми Плазми
Comment[x-test]=xxChoose Plasma themexx
Icon=preferences-desktop-theme
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_desktoptheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
