[Desktop Entry]
Type=Link
URL=fonts:/
Icon=preferences-desktop-font
Name=Fonts
Name[az]=Şriftlər
Name[ca]=Tipus de lletra
Name[de]=Schriftarten
Name[es]=Tipos de letra
Name[eu]=Letra-tipoak
Name[fr]=Polices
Name[it]=Caratteri
Name[nl]=Lettertypen
Name[nn]=Skrifter
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[sk]=Písma
Name[sl]=Pisave
Name[sv]=Teckensnitt
Name[tg]=Ҳуруф
Name[uk]=Шрифти
Name[x-test]=xxFontsxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
