[Desktop Entry]
Type=Link
URL=fonts:/
Icon=preferences-desktop-font
Name=Fonts
Name[az]=Şriftlər
Name[ca]=Tipus de lletra
Name[es]=Tipos de letra
Name[fr]=Polices
Name[nl]=Lettertypen
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[sl]=Pisave
Name[sv]=Teckensnitt
Name[uk]=Шрифти
Name[x-test]=xxFontsxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
