[Desktop Entry]
Name=Autostart
Name[ar]=بدء تلقائي
Name[az]=Avtomatik başlama
Name[ca]=Inici automàtic
Name[cs]=Automatické spuštění
Name[da]=Autostart
Name[de]=Autostart
Name[en_GB]=Autostart
Name[es]=Inicio automático
Name[eu]=Abio automatikoa
Name[fi]=Automaattikäynnistys
Name[fr]=Démarrage automatique
Name[hi]=स्वतः चालू
Name[hsb]=Awtostart
Name[hu]=Automatikus indítás
Name[ia]=Auto starta
Name[it]=Avvio automatico
Name[ko]=자동 시작
Name[lt]=Automatinis paleidimas
Name[ml]=സ്വയം തുടങ്ങുന്നവ
Name[nl]=Autostart
Name[nn]=Autostart
Name[pa]=ਆਟੋ-ਸਟਾਰਟ
Name[pl]=Samo-uruchamiane
Name[pt]=Arranque
Name[pt_BR]=Iniciar automaticamente
Name[ro]=Pornire automată
Name[ru]=Автозапуск
Name[sk]=Automatické spustenie
Name[sl]=Samodejni zagon
Name[sv]=Automatisk start
Name[ta]=சுயதுவக்கம்
Name[tr]=Otomatik başlatma
Name[uk]=Автозапуск
Name[vi]=Khởi động tự động
Name[x-test]=xxAutostartxx
Name[zh_CN]=自动启动
Comment=Automatically Started Applications
Comment[ar]=التطبيقات التي تبدأ آليا
Comment[az]=Avtomatik işə düşən tətbiqlər
Comment[ca]=Aplicacions iniciades automàticament
Comment[cs]=Automaticky spouštěné aplikace
Comment[da]=Automatisk startede programmer
Comment[de]=Automatisch zu startende Anwendungen
Comment[en_GB]=Automatically Started Applications
Comment[es]=Aplicaciones que se inician automáticamente
Comment[eu]=Automatikoki abiatutako aplikazioak
Comment[fi]=Automaattisesti käynnistetyt ohjelmat
Comment[fr]=Applications automatiquement démarrées
Comment[hi]=स्वचालित रूप से शुरू किए गए अनुप्रयोग
Comment[hsb]=Awtomatisce startowane aplikacije
Comment[hu]=Automatikusan indított alkalmazások
Comment[ia]=Applicationes initiate automaticamente
Comment[it]=Applicazioni avviate automaticamente
Comment[ko]=자동으로 시작되는 프로그램
Comment[lt]=Automatiškai paleidžiamos programos
Comment[ml]=താനേ തുടങ്ങിയ ആപ്പുകൾ
Comment[nl]=Automatisch gestarte toepassingen
Comment[nn]=Program som vert starta automatisk
Comment[pa]=ਆਪਣੇ-ਆਪ ਸ਼ੁਰੂ ਹੋਣ ਵਾਲੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ
Comment[pl]=Samoczynnie uruchamiane programy
Comment[pt]=Aplicações Iniciadas Automaticamente
Comment[pt_BR]=Aplicativos iniciados automaticamente
Comment[ro]=Aplicații pornite automat
Comment[ru]=Автоматический запуск приложений
Comment[sk]=Automaticky spúšťané aplikácie
Comment[sl]=Samodejno zagnani programi
Comment[sv]=Program som startas automatiskt
Comment[ta]=தானாக துவக்கப்படும் செயலிகள்
Comment[tr]=Otomatik Başlatılan Uygulamalar
Comment[uk]=Програми, що запускаються автоматично
Comment[vi]=Các ứng dụng được khởi động tự động
Comment[x-test]=xxAutomatically Started Applicationsxx
Comment[zh_CN]=自动启动的应用程序
Encoding=UTF-8
Type=Service
Icon=system-run
X-KDE-Library=kcm_autostart
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=tablet,handset,desktop
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=session
X-KDE-ParentApp=kcontrol
X-KDE-Keywords=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session
X-KDE-Keywords[ar]=مدير بدء, بدء آلي, بدء النظام, بدء بلازما, بدء,إقلاع
X-KDE-Keywords[az]=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session,Avtomatik başlama meneceri, avtomatik başlama, sistemin işə salınması Plasmanın başladılması,öz-özünə,başlatma,önyükləmə,yükləmək, sessiaya
X-KDE-Keywords[ca]=Gestor de l'inici automàtic,inici del sistema,inici del Plasma,cron,automàtic,inici,engegar,engegada,càrrega,sessió
X-KDE-Keywords[cs]=Správce automatického spuštění,spuštění systému,spuštění plasma,cron,automaticky,spuštění,start,nastartování,načten,sezení
X-KDE-Keywords[da]=Autostarthåndtering,systemstart,plasma start,cron,auto,start,opstart,boot,load,session
X-KDE-Keywords[en_GB]=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session
X-KDE-Keywords[es]=Gestor de inicio automático,inicio del sistema,inicio de plasma,cron,automático,inicio,arranque,cargar,sesión
X-KDE-Keywords[eu]=Abio automatiko kudeatzailea,sistemaren abioa,plasmaren hastea,cron, automatikoa,hasi,abiatzea,abioa,zamatu,saioa
X-KDE-Keywords[fi]=automaattikäynnistys,hallinta,käynnistys,järjestelmän käynnistys,Plasman käynnistys,cron,buuttaus,buutti,lataus,istunto
X-KDE-Keywords[fr]=Gestionnaire de démarrage automatique, démarrage du système, démarrage de Plasma, cron, auto, démarrage, boot, chargement, session
X-KDE-Keywords[hi]=स्वतः चालू प्रबंधक,तंत्र प्रारंभ,प्लाज़्मा प्रारंभ,क्रोन,स्वतः,प्रारंभ,स्टार्ट अप,बूट,लोड,सत्र
X-KDE-Keywords[hsb]=Rjadowak za awtostart,system startup,plasma start,cron,auto,start,start up,boot,load,session
X-KDE-Keywords[hu]=Automatikus indítás kezelő,rendszerindítás,plasma indítása,cron,auto,start,indítás,boot,betöltés,munkamenet
X-KDE-Keywords[ia]=Gerente de Autoinitio,systema de initio,initio de plasma,cron,initio,initiar, boot,carga,session
X-KDE-Keywords[it]=Gestore avvio automatico,avvio del sistema,avvio di plasma,cron,automatico,avvio,sessione
X-KDE-Keywords[nl]=Autostartbeheerder,systeem,opstarten systeem,opstarten plasma,automatisch,starten,opstarten,systeemopstart, boot,laden,sessie
X-KDE-Keywords[nn]=autostart-handsaming,systemstart,plasma-start,cron
X-KDE-Keywords[pl]=Zarządzanie rozruchem,rozruch systemu,rozruch plazmy,cron,auto,start,uruchamianie, rozruch,wczytywanie,sesja
X-KDE-Keywords[pt]=Gestor de Arranque Automático,arranque automático,arranque do sistema,início do plasma,cron,automático,iniciar,início,arranque,carregar,sessão
X-KDE-Keywords[pt_BR]=Gerenciado de inicialização,inicialização do sistema,início do plasma,cron, automático,início,inicialização,boot,carregar,sessão
X-KDE-Keywords[ru]=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session,диспетчер автоматического запуска,загрузка системы,запуск Plasma,загрузка,сеанс
X-KDE-Keywords[sk]=Správca automatického spustenia,spustenie systému,spustenie Plasmy, cron,auto,štart,spustenie,bootovanie,načítanie,sedenie
X-KDE-Keywords[sl]=Upravljalnik samodejnega zagona,zagon sistema,autostart,startup,system startup,plasma start,cron,nalaganje,seja
X-KDE-Keywords[sv]=Hantering av autostart,systemstart,plasma start,cron,auto,start,ladda,session
X-KDE-Keywords[ta]=Autostart Manager, system startup, plasma start, cron, auto,start,start up,boot,load,session,சுயதுவக்கம், தொடக்கம், சுயதொடக்கம், தொடக்கம், துவக்கம், ஏற்று, ஏற்றம், அமர்வு
X-KDE-Keywords[uk]=AAutostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session,керування автозапуском,автозапуск,запуск,запуск системи,запуск плазми,завантаження,сеанс
X-KDE-Keywords[vi]=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session,trình quản lí khởi động tự động,khởi động hệ thống,khởi động plasma,khởi động,tự động,tải,phiên
X-KDE-Keywords[x-test]=xxAutostart Managerxx,xxsystem startupxx,xxplasma startxx,xxcronxx,xxautoxx,xxstartxx,xxstart upxx,xxbootxx,xxloadxx,xxsessionxx
X-KDE-Keywords[zh_CN]=Autostart Manager,system startup,plasma start,cron,auto,start,start up,boot,load,session,自动启动管理器,系统启动,开机,plasma 启动,定时任务,计划任务,启动,加载,会话
X-DocPath=kcontrol/autostart/index.html
X-KDE-Weight=30
