[Desktop Entry]
Name=NOAA's National Weather Service
Comment=XML Data from NOAA's National Weather Service
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_noaa
X-KDE-PluginInfo-Name=noaa
