[Desktop Entry]
Name=Windowed widgets
Name[uk]=Віджети-вікна
Name[x-test]=xxWindowed widgetsxx


Comment=Find Plasma widgets that can be run as standalone windows
Comment[uk]=Пошук віджетів Плазми, які можна запускати у окремих вікнах
Comment[x-test]=xxFind Plasma widgets that can be run as standalone windowsxx


X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_windowedwidgets
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.windowedwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
