[Desktop Entry]
Name=Windowed widgets


Comment=Find Plasma widgets that can be run as standalone windows


X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_windowedwidgets
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.windowedwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
