[Desktop Entry]
Name=Application Notifications
Name[ar]=إخطارات التطبيقات
Name[az]=Tətbiq bildirişləri
Name[be@latin]=Infarmavańni aplikacyj
Name[bg]=Програмни съобщения
Name[bn]=অ্যাপলিকেশন বিজ্ঞপ্তি
Name[bn_IN]=অ্যাপ্লিকেশনের সূচনাবার্তা
Name[bs]=Obavještenja programa
Name[ca]=Notificacions de les aplicacions
Name[ca@valencia]=Notificacions de les aplicacions
Name[cs]=Upozornění aplikací
Name[csb]=Dôwanié wiédzë ò aplikacëjach
Name[da]=Programbekendtgørelser
Name[de]=Anwendungs-Benachrichtigungen
Name[el]=Ειδοποιήσεις εφαρμογών
Name[en_GB]=Application Notifications
Name[eo]=Aplikaĵaj Atentigoj
Name[es]=Notificaciones de aplicaciones
Name[et]=Rakenduste märguanded
Name[eu]=Aplikazioen jakinarazpenak
Name[fi]=Sovellusilmoitukset
Name[fr]=Notifications des applications
Name[fy]=Applikaasje ntifikaasjes
Name[ga]=Fógairtí Feidhmchláir
Name[gl]=Notificacións das aplicacións
Name[gu]=કાર્યક્રમ નોંધણીઓ
Name[he]=הודעות יישומים
Name[hi]=अनुप्रयोग सूचनाएँ
Name[hne]=अनुपरयोग सूचना
Name[hr]=Obavijesti aplikacija
Name[hu]=Értesítő üzenetek
Name[ia]=Notificationes de application
Name[id]=Notifikasi Aplikasi
Name[is]=Tilkynningar forrita
Name[it]=Notifiche delle applicazioni
Name[ja]=アプリケーションの通知
Name[kk]=Қолданба құлақтандырулары
Name[km]=ការ​ជូនដំណឹង​កម្មវិធី​
Name[kn]=ಅನ್ವಯ ಸೂಚನೆಗಳು
Name[ko]=프로그램 알림
Name[ku]=Hişyariyên Sepanê
Name[lt]=Programų pranešimai
Name[lv]=Programmu paziņojumi
Name[mk]=Известувања за апликации
Name[ml]=പ്രയോഗ അറിയിപ്പുകള്‍
Name[mr]=अनुप्रयोग सूचना
Name[nb]=Programvarslinger
Name[nds]=Programm-Bescheden
Name[nl]=Programmameldingen
Name[nn]=Programvarsel
Name[or]=ପ୍ରୟୋଗ ବିଜ୍ଞପ୍ତିଗୁଡ଼ିକ
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia programów
Name[pt]=Notificações das Aplicações
Name[pt_BR]=Notificações do aplicativo
Name[ro]=Notificări aplicații
Name[ru]=Уведомления приложений
Name[si]=යෙදුම් දැනුම් දීම්
Name[sk]=Upozornenia aplikácií
Name[sl]=Obvestila programov
Name[sr]=обавештења програма
Name[sr@ijekavian]=обавјештења програма
Name[sr@ijekavianlatin]=obavještenja programa
Name[sr@latin]=obaveštenja programa
Name[sv]=Programunderrättelser
Name[ta]=அமைப்பு குறிப்பகள்
Name[tg]=Огоҳиҳои барнома
Name[th]=การแจ้งให้ทราบของโปรแกรม
Name[tr]=Uygulama Bildirimleri
Name[ug]=پروگرامما ئۇقتۇرۇشى
Name[uk]=Сповіщення програм
Name[vi]=Thông báo của ứng dụng
Name[wa]=Notifiaedjes do programe
Name[x-test]=xxApplication Notificationsxx
Name[zh_CN]=应用程序通知
Name[zh_TW]=應用程式通知
Comment=Passive visual notifications for the user.
Comment[ast]=Avisos visuales pasivos pal usuariu.
Comment[az]=Bu istifadəçi üçün qurğuların passiv vizual bildirişləri.
Comment[bg]=Пасивни визуални съобщения за потребителя.
Comment[bs]=Pasivna vizuelna obavještenja za korisnika.
Comment[ca]=Notificacions visuals passives per a l'usuari.
Comment[ca@valencia]=Notificacions visuals passives per a l'usuari.
Comment[cs]=Pasivní vizuální upozornění pro uživatele.
Comment[da]=Passive visuelle bekendtgørelser til brugeren.
Comment[de]=Passive sichtbare Benachrichtigungen für den Anwender.
Comment[el]=Παθητικές οπτικές ειδοποιήσεις για τον χρήστη.
Comment[en_GB]=Passive visual notifications for the user.
Comment[es]=Notificaciones visuales pasivas para el usuario.
Comment[et]=Passiivsed visuaalsed märguanded kasutajale.
Comment[eu]=Erabiltzailearentzako ikusizko jakinarazpen pasiboak.
Comment[fi]=Passiivinen visuaali-ilmoitus käyttäjälle.
Comment[fr]=Notifications visuelles passives pour l'utilisateur
Comment[fy]=Pasive fisuele notifikaasje foar de brûker.
Comment[gl]=Notificacións visuais pasivas para o usuario.
Comment[he]=הודעות ויזאוליות פאסיביות עבור המשתמש.
Comment[hr]=Pasivne vizualne obavijesti korisniku.
Comment[hu]=Passzív értesítő üzeneteket tud küldeni a felhasználónak.
Comment[ia]=Notificationes visual passive pro le usator.
Comment[id]=Notifikasi visual pasif untuk pengguna.
Comment[is]=Hlutlausar sjónrænar tilkynningar til notandans.
Comment[it]=Notifiche visuali passive per l'utente.
Comment[ja]=ユーザ用の受動的ビジュアル通知
Comment[kk]=Үнсіз көрсетілетін құлақтандыру.
Comment[km]=ការ​ជូនដំណឹង​ដែល​មើល​សម្រាប់​អ្នកប្រើ ។
Comment[kn]=ಬಳಕೆದಾರನ ನಿಷ್ಕ್ರಿಯವಾಗಿರುವ ದೃಶ್ಯ ಸೂಚನೆಗಳು.
Comment[ko]=사용자에게 보이는 수동적인 알림입니다.
Comment[lt]=Pasyvūs vaizdiniai pranešimai naudotojui.
Comment[lv]=Pasīvi vizuālie paziņojumi lietotājam.
Comment[mk]=Пасивни визуелни известувања за корисникот.
Comment[ml]=ഉപയോക്താവിനുള്ള നടപടി വേണ്ടാത്ത ദൃശ്യ സൂചനകള്‍
Comment[mr]=वापरकर्त्यासाठी दर्शनीय सूचना.
Comment[nb]=Passive visuelle varslinger for brukeren.
Comment[nds]=Passiev sichtbor Bescheden för den Bruker
Comment[nl]=Passieve visuele meldingen voor de gebruiker.
Comment[nn]=Passive visuelle varsel for brukaren.
Comment[pa]=ਵਰਤੋਂਕਾਰ ਲਈ ਪੈਸਿਵ ਦਿੱਖ ਨੋਟੀਫਿਕੇਸ਼ਨ।
Comment[pl]=Bierne i graficznie powiadamia użytkownika.
Comment[pt]=Notificações passivas visuais para o utilizador.
Comment[pt_BR]=Notificações visuais passivas para o usuário.
Comment[ro]=Notificări vizuale pasive pentru utilizator.
Comment[ru]=Пассивные визуальные уведомления для пользователя.
Comment[si]=පරිශීලකයන් සඳහා නිශ්ක්‍රීය දෘශ්‍ය දැන්වීම්.
Comment[sk]=Pasívne vizuálne upozornenia pre užívateľa.
Comment[sl]=Pasivna vidna obvestila za uporabnika.
Comment[sr]=Пасивна визуелна обавештења за корисника.
Comment[sr@ijekavian]=Пасивна визуелна обавјештења за корисника.
Comment[sr@ijekavianlatin]=Pasivna vizuelna obavještenja za korisnika.
Comment[sr@latin]=Pasivna vizuelna obaveštenja za korisnika.
Comment[sv]=Passiva visuella underrättelser för användaren.
Comment[th]=ระบบการแจ้งให้ผู้ใช้งานทราบถึงเหตุการณ์ต่าง ๆ
Comment[tr]=Kullanıcı için pasif görsel bildirimler.
Comment[ug]=ئىشلەتكۈچىگە پاسسىپ كۆرۈنىدىغان كۆرۈش ئۈنۈم ئۇقتۇرۇشىنى تەمىنلەيدۇ
Comment[uk]=Пасивні візуальні сповіщення для користувача.
Comment[vi]=Thông báo trực quan thụ động dành cho người dùng.
Comment[wa]=Notifiaedjes doirmants veyåves po l' uzeu.
Comment[x-test]=xxPassive visual notifications for the user.xx
Comment[zh_CN]=为用户提供被动出现的视觉通知。
Comment[zh_TW]=給使用者的被動視覺通知。
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=preferences-desktop-notification-bell
X-KDE-Library=plasma_engine_notifications

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=notifications
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=
