[Desktop Entry]
Name=Application Notifications
Name[uk]=Сповіщення програм
Name[x-test]=xxApplication Notificationsxx
Comment=Passive visual notifications for the user.
Comment[uk]=Пасивні візуальні сповіщення для користувача.
Comment[x-test]=xxPassive visual notifications for the user.xx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=preferences-desktop-notification
X-KDE-Library=plasma_engine_notifications

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=notifications
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
