[Desktop Entry]
Name=Global Theme
Name[az]=Qlobal Plasma Görünüşü
Name[ca]=Tema global
Name[cs]=Celkový motiv
Name[da]=Globalt tema
Name[de]=Globales Design
Name[en_GB]=Global Theme
Name[es]=Tema global
Name[et]=Globaalne teema
Name[eu]=Gai orokorra
Name[fr]=Thème global
Name[it]=Tema globale
Name[ko]=전역 테마
Name[nl]=Globaal thema
Name[nn]=Globalt tema
Name[pl]=Globalny wygląd
Name[pt]=Tema Global
Name[pt_BR]=Tema global
Name[ro]=Tematică globală
Name[ru]=Оформление рабочей среды
Name[sk]=Globálna téma
Name[sl]=Globalna tema
Name[tg]=Мавзӯи умумӣ
Name[uk]=Загальна тема
Name[vi]=Chủ đề toàn cục
Name[x-test]=xxGlobal Themexx
Name[zh_CN]=全局主题
Comment=Choose global look and feel
Comment[az]=Qlobal Plasma Görünüşünü seçin
Comment[ca]=Trieu l'aspecte i comportament global
Comment[cs]=Zvolte celkový vzhled a chování
Comment[da]=Vælg globalt udseende og fremtoning
Comment[de]=Globales Erscheinungsbild auswählen
Comment[en_GB]=Choose global look and feel
Comment[es]=Escoger el aspecto visual global
Comment[et]=Üleüldise välimuse valimine
Comment[eu]=Aukeratu itxura eta izaera orokorra
Comment[fr]=Sélectionnez l'apparence et le comportement globaux
Comment[it]=Scegli l'aspetto globale
Comment[ko]=전역 모습과 느낌 선택
Comment[nl]=Globaal uiterlijk en gedrag kiezen
Comment[nn]=Vel globalt tema for utsjånad og åtferd
Comment[pl]=Nadaj wygląd globalnie
Comment[pt]=Escolher a aparência e comportamento global
Comment[pt_BR]=Escolha a aparência e comportamento globais
Comment[ro]=Alege aspectul și comportamentul global
Comment[ru]=Выбор оформления рабочей среды
Comment[sk]=Vyberte is globálnu tému
Comment[sl]=Izberi globalni videz in občutek
Comment[uk]=Вибір загального вигляду і поведінки
Comment[vi]=Chọn cách nhìn và cảm toàn cục
Comment[x-test]=xxChoose global look and feelxx
Comment[zh_CN]=选择全局观感
Icon=preferences-desktop-theme-style
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=kcm_lookandfeel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
